Repository athasdev/athas: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-fmt-workspace, typescript-check, biome-check

.pre-commit-config.yaml:

# Pre-commit hooks configuration for Rust + TypeScript/React project
# See https://pre-commit.com for more information

repos:
  # Rust hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-toml
      - id: check-json
        exclude: 'tsconfig.*\.json$'
      - id: check-merge-conflict

  # Rust formatting only (clippy/check too heavy for CI)
  - repo: local
    hooks:
      - id: rust-fmt-workspace
        name: Rust format (workspace)
        entry: cargo fmt
        args: ['--all', '--check']
        language: system
        files: '\.rs$'
        pass_filenames: false

  # TypeScript/JavaScript with Biome and type checking
  - repo: local
    hooks:
      - id: typescript-check
        name: TypeScript check
        entry: bun
        args: ['typecheck']
        language: system
        files: \.(ts|tsx)$
        pass_filenames: false
      - id: biome-check
        name: Biome check
        entry: bun
        args: ['check', '--write']
        language: system
        files: \.(js|jsx|ts|tsx|json)$
        pass_filenames: false

  # Commit message validation
  - repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
    rev: v9.18.0
    hooks:
      - id: commitlint
        stages: [commit-msg]
        additional_dependencies: ['@commitlint/cli']

Scope project state by workspace runtime
  src/features/editor/stores/buffer-session-persistence.ts
  src/features/editor/stores/buffer.store.ts
  src/features/file-explorer/stores/file-explorer-tree.store.ts
  src/features/file-system/controllers/file-operations.ts
  src/features/file-system/stores/file-system.store.ts
  src/features/file-system/stores/file-watcher.store.ts
  src/features/git/stores/git-blame.store.ts
  src/features/git/stores/git.store.ts
  src/features/layout/components/main-layout.tsx
  src/features/panes/stores/pane.store.ts
  src/features/terminal/components/terminal-container.tsx
  src/features/terminal/components/terminal-host.tsx
  src/features/terminal/hooks/use-terminal-tabs.ts
  src/features/terminal/stores/terminal-tabs.store.ts
  src/features/terminal/stores/terminal.store.ts
  src/features/window/stores/project.store.ts
  src/features/window/stores/ui-state.store.ts
  src/features/window/stores/ui-state/panel-slice.ts
  src/features/window/stores/ui-state/view-slice.ts
  src/features/window/stores/workspace-ui-defaults.ts
  src/features/window/stores/workspace-ui-session.ts
  src/features/workspace/persistence/workspace-session-repository.ts
  src/features/workspace/runtime/workspace-runtime-registry.ts
  src/features/workspace/services/workspace-lifecycle.ts
  src/features/workspace/stores/create-workspace-scoped-store.ts
  src/features/workspace/tests/workspace-lifecycle.test.ts
  src/features/workspace/tests/workspace-runtime-registry.test.ts
  src/features/workspace/tests/workspace-scoped-stores.test.ts
  src/features/workspace/tests/workspace-session-repository.test.ts
  src/features/workspace/types/workspace-runtime.types.ts
Due: typescript-check, biome-check

Make GitHub authentication failures recoverable
  crates/github/src/api.rs
  src/features/github/components/github-auth-status.tsx
  src/features/github/stores/github.store.ts
  src/features/window/services/auth-api.ts
  src/features/window/tests/auth-api.test.ts
Due: rust-fmt-workspace, typescript-check, biome-check

Improve GitHub sidebar navigation
  src/features/editor/stores/buffer-content-factory.ts
  src/features/editor/stores/buffer.store.ts
  src/features/github/components/comment-item.tsx
  src/features/github/components/commit-item.tsx
  src/features/github/components/github-actions-view.tsx
  src/features/github/components/github-issue-viewer.tsx
  src/features/github/components/github-issues-view.tsx
  src/features/github/components/github-markdown.tsx
  src/features/github/components/github-pr-viewer.tsx
  src/features/github/components/github-prs-view.tsx
  src/features/github/components/github-sidebar-row.tsx
  src/features/github/components/github-sidebar-section.tsx
  src/features/github/components/pr-activity-panel.tsx
  src/features/github/styles/github-markdown.css
  src/features/github/tests/github-link-utils.test.ts
  src/features/github/tests/github-markdown-content.test.ts
  src/features/github/tests/github-sidebar-groups.test.ts
  src/features/github/utils/github-link-utils.ts
  src/features/github/utils/github-markdown-content.ts
  src/features/github/utils/github-sidebar-groups.ts
  src/features/panes/types/pane-content.types.ts
Due: typescript-check, biome-check

Consolidate extension domain ownership
  package.json
  src/extensions/catalog/grammar-sources.json
  src/extensions/catalog/query-sources.json
  src/extensions/icon-themes/icon-theme-normalization.ts
  src/extensions/icon-themes/icon-theme-registry.ts
  src/extensions/icon-themes/icon-theme.types.ts
  src/extensions/icon-themes/use-registered-icon-themes.ts
  src/extensions/runtime/extension-contribution-runtime.ts
  src/extensions/tests/extension-workspace.test.ts
  src/extensions/themes/base-theme-extension.ts
  src/extensions/themes/default-theme.ts
  src/extensions/themes/theme-file.ts
  src/extensions/themes/theme-loader.ts
  src/extensions/themes/theme-registry.ts
  src/extensions/themes/theme.types.ts
  src/extensions/themes/use-registered-themes.ts
  src/extensions/tooling/build-extensions-index.ts
  src/extensions/tooling/build-grammars.ts
  src/extensions/tooling/bun-env.d.ts
  src/extensions/tooling/deploy-extensions-cdn.ts
  src/extensions/tooling/download-grammars.ts
  src/extensions/tooling/extension-workspace.ts
  src/extensions/tooling/generate-manifests.ts
  src/extensions/tooling/package-database-sidecars.ts
  src/extensions/tooling/package-extensions.ts
  src/extensions/tooling/stage-cdn-assets.ts
  src/extensions/tooling/sync-upstream-queries.ts
  src/extensions/tooling/upload-grammars.ts
  src/extensions/tooling/validate.ts
  src/extensions/tooling/verify-installable-packages.ts
  src/extensions/ui/components/extensions-sidebar.tsx
  src/features/editor/engines/monaco/theme.ts
  src/features/panes/components/pane-container.tsx
  src/features/settings/components/custom-theme-creator-dialog.tsx
  src/features/settings/lib/appearance-bootstrap.ts
  src/features/settings/utils/theme-upload.ts
Due: typescript-check, biome-check

Repair extension workflow paths
  .github/workflows/extensions.yml
Due: none

Reopen closed tabs by content type (#669)
  src/features/editor/stores/buffer.store.ts
  src/features/editor/tests/buffer-reopen.test.ts
Due: typescript-check, biome-check

Remove obsolete brand assets
  brand/foundations.json
Due: biome-check

Fix workspace symbol search scope
  src/features/editor/lsp/lsp-client.ts
  src/features/quick-open/components/quick-open.tsx
  src/features/quick-open/hooks/use-quick-open.ts
  src/features/quick-open/hooks/use-workspace-symbol-search.test.ts
  src/features/quick-open/hooks/use-workspace-symbol-search.ts
Due: typescript-check, biome-check

Add workspace-wide Go to Symbol via # mode in quick-open (#726)
  crates/lsp/src/client.rs
  crates/lsp/src/manager.rs
  crates/lsp/src/manager_state.rs
  src-tauri/src/commands/development/lsp/commands.rs
  src-tauri/src/commands/development/lsp/convert.rs
  src-tauri/src/commands/development/lsp/types.rs
  src-tauri/src/main.rs
  src/features/editor/lsp/lsp-client.ts
  src/features/quick-open/components/quick-open.tsx
  src/features/quick-open/components/symbol-list-item.tsx
  src/features/quick-open/hooks/use-quick-open.ts
  src/features/quick-open/hooks/use-workspace-symbol-search.test.ts
  src/features/quick-open/hooks/use-workspace-symbol-search.ts
Due: rust-fmt-workspace, typescript-check, biome-check

Organize repository scripts by workflow
  package.json
  scripts/benchmark-file-open.ts
  scripts/check-service-config.ts
  scripts/check/frontend.sh
  scripts/check/service-config.ts
  scripts/check/tests/service-config.test.ts
  scripts/postinstall.ts
  scripts/release/assets/cli.mjs
  scripts/release/assets/policy.mjs
  scripts/release/generate-notes.mjs
  scripts/release/macos/prepare-tauri-signing.mjs
  scripts/release/notes/generate.mjs
  scripts/release/package-linux-native.sh
  scripts/release/package-linux-tarball.sh
  scripts/release/packaging/linux/cef.sh
  scripts/release/packaging/linux/native.sh
  scripts/release/packaging/linux/tarball.sh
  scripts/release/packaging/macos/prepare-signing.mjs
  scripts/release/packaging/windows/prepare-signing.mjs
  scripts/release/pre-release-check.ts
  scripts/release/preflight/run.ts
  scripts/release/release-assets.mjs
  scripts/release/run.ts
  scripts/release/tests/policy.test.ts
  scripts/release/tests/version.test.ts
  scripts/release/version.ts
  scripts/release/windows/prepare-tauri-signing.mjs
  scripts/setup.ts
  scripts/setup/macos.sh
  scripts/setup/run.ts
  scripts/setup/target.ts
  scripts/setup/tests/target.test.ts
  scripts/smoke-app.ts
  scripts/smoke/config.ts
  scripts/smoke/run.ts
  scripts/smoke/tests/config.test.ts
  src/extensions/tooling/setup-runtime-assets.ts
Due: typescript-check, biome-check

Adopt compound context menus
  src/extensions/ui/components/extensions-sidebar.tsx
  src/features/collaboration/components/collaboration-sidebar.tsx
  src/features/database/components/context-menus.tsx
  src/features/database/components/data-grid.tsx
  src/features/diagnostics/components/diagnostics-pane.tsx
  src/features/editor/components/monaco-editor.tsx
  src/features/editor/context-menu/context-menu.tsx
  src/features/editor/context-menu/editor-context-menu-items.tsx
  src/features/file-explorer/components/file-explorer-tree-item.tsx
  src/features/file-explorer/hooks/use-file-explorer-context-menu.tsx
  src/features/file-system/components/project-name-menu.tsx
  src/features/git/components/git-actions-menu.tsx
  src/features/git/components/status/git-status-panel.tsx
  src/features/github/components/github-prs-view.tsx
  src/features/image-viewer/components/image-context-menu.tsx
  src/features/layout/components/footer/footer.tsx
  src/features/layout/components/sidebar/main-sidebar.tsx
  src/features/notifications/components/notifications-command.tsx
  src/features/outline/components/outline-sidebar.tsx
  src/features/panes/components/empty-editor-state.tsx
  src/features/remote/components/connection-list.tsx
  src/features/tabs/components/tab-bar-item.tsx
  src/features/tabs/components/tab-bar.tsx
  src/features/tabs/components/tab-context-menu.tsx
  src/features/terminal/components/terminal-tab-context-menu.tsx
  src/features/window/components/title-bar/project-tabs.tsx
  src/features/window/components/title-bar/title-bar.tsx
  src/ui/context-menu.tsx
  src/ui/control-field.ts
  src/ui/dropdown.tsx
  src/ui/input.tsx
  src/ui/sidebar.tsx
  src/ui/tests/context-menu.test.tsx
  src/ui/tests/dropdown.test.tsx
Due: typescript-check, biome-check

Harden Windows runtime configuration
  src-tauri/capabilities/main.json
  src-tauri/tauri.windows.conf.json
  src/features/window/hooks/use-platform-setup.ts
  src/features/window/tests/windows-runtime-config.test.ts
Due: typescript-check, biome-check

Keep inline blame aligned with edits
  crates/version-control/src/git/blame.rs
  crates/version-control/src/git/types.rs
  src-tauri/src/commands/version_control/git.rs
  src/features/file-system/stores/file-system.store.ts
  src/features/git/api/git-blame-api.ts
  src/features/git/components/git-branch-manager.tsx
  src/features/git/components/git-commit-panel.tsx
  src/features/git/components/git-inline-blame.tsx
  src/features/git/components/git-tag-manager.tsx
  src/features/git/hooks/use-git-blame.ts
  src/features/git/stores/git-blame.store.ts
  src/features/git/tests/git-blame-api.test.ts
  src/features/git/tests/git-blame-store.test.ts
  src/features/git/types/git.types.ts
Due: rust-fmt-workspace, typescript-check, biome-check

Preserve inline rename cancellation
  src/features/layout/components/sidebar/main-sidebar.tsx
Due: typescript-check, biome-check

Improve rendering performance on Windows (#728)
  src-tauri/capabilities/main.json
  src-tauri/tauri.windows.conf.json
  src/features/window/hooks/use-platform-setup.ts
  src/features/window/tests/windows-runtime-config.test.ts
  src/styles/window-transparency.css
  src/ui/menubar.tsx
Due: typescript-check, biome-check

Remove UI primitive tests
  src/ui/tests/action-menu.test.tsx
  src/ui/tests/avatar.test.tsx
  src/ui/tests/button.test.ts
  src/ui/tests/command-navigation.test.ts
  src/ui/tests/command.test.tsx
  src/ui/tests/context-menu.test.tsx
  src/ui/tests/dropdown.test.tsx
  src/ui/tests/tab-drag.test.tsx
  src/ui/tests/tabs.test.tsx
Due: typescript-check, biome-check

Enable global file and folder drops (#714)
  src/features/file-system/hooks/use-file-system-folder-drop.ts
  src/features/file-system/tests/file-system-drop-controller.test.ts
  src/features/file-system/utils/file-system-drop-controller.ts
  src/features/layout/components/main-layout.tsx
Due: typescript-check, biome-check

Replace segmented controls with toggle groups
  src/features/settings/components/settings-section.tsx
  src/features/settings/components/tabs/ai-settings.tsx
  src/features/settings/components/tabs/keyboard-settings.tsx
  src/ui/segmented-control.tsx
  src/ui/toggle-group.tsx
Due: typescript-check, biome-check

Add Nix flake with dev shell and prebuilt run target (#712)
  .github/workflows/nix.yml
  .github/workflows/update-nix.yml
  .gitignore
  flake.nix
  nix/README.md
  nix/dev-shell.nix
  nix/package.nix
  vite.config.ts
Due: typescript-check, biome-check

Consolidate tab primitives
  src/features/tabs/components/tab-bar.tsx
  src/features/tabs/components/tab-drag-preview.tsx
  src/features/terminal/components/terminal-tab-bar.tsx
  src/styles/utilities.css
  src/ui/tab-drag.tsx
  src/ui/tabs.css
  src/ui/tabs.tsx
Due: typescript-check, biome-check

Replace split actions with button groups
  src/features/git/components/git-commit-panel.tsx
  src/features/git/components/git-view.tsx
  src/features/git/components/status/git-status-panel.tsx
  src/ui/button-group.tsx
  src/ui/separator.tsx
  src/ui/split-action-button.tsx
Due: typescript-check, biome-check

Adopt the Kbd primitive for shortcuts
  src/features/command-palette/components/command-palette.tsx
  src/features/editor/components/toolbar/editor-status-actions.tsx
  src/features/editor/context-menu/editor-context-menu-items.tsx
  src/features/keymaps/components/keybinding-input.tsx
  src/features/keymaps/components/keybinding-row.tsx
  src/features/keymaps/components/keybinding.tsx
  src/features/keymaps/hooks/use-keybinding-recorder.ts
  src/features/keymaps/tests/keybinding-display.test.ts
  src/features/keymaps/utils/keybinding-display.ts
  src/features/tabs/components/tab-context-menu.tsx
  src/features/terminal/components/terminal-tab-context-menu.tsx
  src/ui/kbd.tsx
  src/ui/keybinding.tsx
  src/ui/menubar.tsx
  src/ui/tooltip.tsx
Due: typescript-check, biome-check

Replace the custom Slot with useRender
  src/ui/button.tsx
  src/ui/item.tsx
  src/ui/slot.tsx
Due: typescript-check, biome-check

Add the canonical dropdown menu primitive
  src/ui/dropdown-menu.tsx
Due: typescript-check, biome-check

Keep the UI directory component-only
  src/design-system/control-variants.ts
  src/design-system/motion-presets.ts
  src/features/git/components/stash/git-stash-modal.tsx
  src/features/settings/components/tabs/file-tree-settings.tsx
  src/features/settings/components/tabs/keyboard-settings.tsx
  src/ui/button.tsx
  src/ui/chrome-control.ts
  src/ui/combobox.tsx
  src/ui/command-navigation.ts
  src/ui/command.tsx
  src/ui/dialog.tsx
  src/ui/dropdown.tsx
  src/ui/icons.tsx
  src/ui/input.tsx
  src/ui/motion.ts
  src/ui/number-input.tsx
  src/ui/popover.tsx
  src/ui/select.tsx
Due: typescript-check, biome-check

Polish the update experience
  src/features/editor/markdown/markdown-preview.tsx
  src/features/editor/markdown/styles.css
  src/features/layout/components/app-update-control.tsx
  src/features/layout/config/item-order.ts
  src/features/settings/lib/whats-new.ts
  src/features/settings/stores/whats-new.store.ts
  src/features/settings/tests/whats-new.test.ts
  src/features/tabs/components/tab-bar-item.tsx
  src/features/window/components/title-bar/title-bar.tsx
Due: typescript-check, biome-check

Consolidate sidebar feature structure
  src/features/ai/components/input/chat-input-bar.tsx
  src/features/file-explorer/components/file-explorer-tree-item.tsx
  src/features/file-explorer/hooks/use-file-explorer-drag-drop.ts
  src/features/git/components/git-commit-history.tsx
  src/features/git/components/status/git-status-file-item.tsx
  src/features/git/components/status/git-status-panel.tsx
  src/features/github/components/github-actions-view.tsx
  src/features/github/components/github-issues-view.tsx
  src/features/github/components/github-prs-view.tsx
  src/features/outline/components/outline-symbol-row.tsx
  src/features/panes/components/pane-container.tsx
  src/features/sidebar/components/sidebar-tree.tsx
  src/features/sidebar/components/tree-row.tsx
  src/features/sidebar/styles/sidebar-tree.css
  src/features/sidebar/utils/open-sidebar-resource.ts
  src/features/sidebar/utils/sidebar-resource-drag.ts
Due: typescript-check, biome-check

Move motion presets into shared utilities
  src/features/git/components/stash/git-stash-modal.tsx
  src/features/settings/components/tabs/keyboard-settings.tsx
  src/ui/command.tsx
  src/ui/dialog.tsx
  src/ui/dropdown.tsx
  src/ui/popover.tsx
  src/utils/motion-presets.ts
Due: typescript-check, biome-check

Remove obsolete design system directories
  brand/foundations.json
  src/ui/combobox.tsx
  src/ui/input.tsx
  src/ui/number-input.tsx
  src/ui/select.tsx
  src/utils/control-variants.ts
Due: typescript-check, biome-check

Modernize workspace file search
  .github/workflows/ci.yml
  .github/workflows/linux-build.yml
  .github/workflows/nightly-preview-release.yml
  .github/workflows/release.yml
  Cargo.lock
  crates/fff-search/Cargo.toml
  crates/fff-search/src/lib.rs
  crates/fff-search/src/types.rs
  crates/fff-search/tests/search_service.rs
  flake.lock
  flake.nix
  nix/dev-shell.nix
  src-tauri/src/commands/editor/search.rs
  src-tauri/src/commands/fuzzy.rs
  src-tauri/src/main.rs
  src/features/ai/components/mentions/ai-file-selector.tsx
  src/features/file-explorer/components/file-explorer-tree.tsx
  src/features/file-search/hooks/use-fff-search.ts
  src/features/file-search/lib/file-search-api.ts
  src/features/file-search/services/workspace-file-search.ts
  src/features/file-search/tests/file-search-paths.test.ts
  src/features/file-search/utils/file-search-paths.ts
  src/features/file-system/stores/file-system.store.ts
  src/features/global-search/hooks/use-content-search.ts
  src/features/global-search/hooks/use-file-search.ts
  src/features/global-search/services/provider-content-search.ts
  src/features/global-search/tests/search-excerpts.test.ts
  src/features/global-search/utils/content-search-results.ts
  src/features/global-search/utils/search-excerpts.ts
  src/features/quick-open/hooks/use-fff-search.ts
  src/features/quick-open/hooks/use-file-loader.ts
  src/features/quick-open/hooks/use-file-search.ts
  src/features/quick-open/hooks/use-quick-open.ts
Due: rust-fmt-workspace, typescript-check, biome-check

Consolidate dropdown primitives
  src/ui/dropdown-menu.tsx
  src/ui/dropdown.tsx
Due: typescript-check, biome-check

Complete shared primitive migrations
  src/features/ai/components/mentions/file-mention-dropdown.tsx
  src/features/editor/components/toolbar/editor-status-actions.tsx
  src/features/editor/stores/buffer.store.ts
  src/features/git/components/git-branch-manager.tsx
  src/features/layout/components/footer/footer-tab-control.tsx
  src/features/layout/components/sidebar/sidebar-pane-selector.tsx
  src/features/notifications/components/notifications-trigger.tsx
  src/features/window/components/account-menu.tsx
  src/features/window/components/run-actions-button.tsx
  src/features/window/components/title-bar/project-tabs.tsx
  src/features/window/components/title-bar/title-bar.tsx
  src/features/window/components/title-bar/window-controls.tsx
  src/ui/tabs.tsx
Due: typescript-check, biome-check

Consolidate viewer feature ownership
  src/features/binary-viewer/components/binary-file-viewer.tsx
  src/features/image-viewer/components/image-viewer-footer.tsx
  src/features/panes/components/pane-container.tsx
  src/features/pdf-viewer/components/pdf-viewer-footer.tsx
  src/features/tabs/components/tab-bar.tsx
  src/features/viewer/binary/components/binary-file-viewer.tsx
  src/features/viewer/binary/lib/binary-metadata.ts
  src/features/viewer/binary/tests/binary-metadata.test.ts
  src/features/viewer/components/viewer-footer.tsx
  src/features/viewer/components/viewer-header.tsx
  src/features/viewer/components/viewer-layout.tsx
  src/features/viewer/components/viewer-state.tsx
  src/features/viewer/components/viewer-zoom-controls.tsx
  src/features/viewer/hooks/use-viewer-zoom.ts
  src/features/viewer/image/components/image-context-menu.tsx
  src/features/viewer/image/components/image-viewer.tsx
  src/features/viewer/image/editor/components/image-editor-toolbar.tsx
  src/features/viewer/image/editor/components/image-format-dialog.tsx
  src/features/viewer/image/editor/components/image-resize-dialog.tsx
  src/features/viewer/image/editor/constants/image-formats.ts
  src/features/viewer/image/editor/hooks/use-image-operations.ts
  src/features/viewer/image/editor/types/image-operation.types.ts
  src/features/viewer/image/editor/utils/canvas-utils.ts
  src/features/viewer/image/editor/utils/image-conversion.ts
  src/features/viewer/image/editor/utils/image-file-utils.ts
  src/features/viewer/image/editor/utils/image-transforms.ts
  src/features/viewer/pdf/components/pdf-viewer.tsx
  src/features/viewer/web/components/web-viewer-toolbar.tsx
  src/features/viewer/web/components/web-viewer.tsx
  src/features/viewer/web/hooks/use-embedded-webview.ts
  src/features/viewer/web/stores/web-viewer-navigation.store.ts
  src/features/viewer/web/tests/embedded-webview-visibility.test.ts
  src/features/viewer/web/tests/web-viewer-url.test.ts
  src/features/viewer/web/utils/embedded-webview-visibility.ts
  src/features/viewer/web/utils/web-viewer-overlay.ts
  src/features/viewer/web/utils/web-viewer-profile.ts
  src/features/viewer/web/utils/web-viewer-url.ts
  src/ui/scroll-area.tsx
  src/utils/format-file-size.ts
  src/utils/tests/format-file-size.test.ts
Due: typescript-check, biome-check

Rebuild the AI chat experience
  bun.lock
  package.json
  src/features/ai/components/chat/acp-inline-event.tsx
  src/features/ai/components/chat/agent-shortcuts.tsx
  src/features/ai/components/chat/ai-chat.tsx
  src/features/ai/components/chat/chat-activity-line.tsx
  src/features/ai/components/chat/chat-header.tsx
  src/features/ai/components/chat/chat-loading-indicator.tsx
  src/features/ai/components/chat/chat-message.tsx
  src/features/ai/components/chat/chat-messages.tsx
  src/features/ai/components/elements/conversation.tsx
  src/features/ai/components/elements/message.tsx
  src/features/ai/components/elements/prompt-input.tsx
  src/features/ai/components/elements/tool.tsx
  src/features/ai/components/input/chat-input-bar.tsx
  src/features/ai/components/input/composer-attached-panel.tsx
  src/features/ai/components/mentions/file-mention-dropdown.tsx
  src/features/ai/components/mentions/slash-command-dropdown.tsx
  src/features/ai/components/messages/markdown-renderer.tsx
  src/features/ai/components/messages/tool-call-display.tsx
  src/features/ai/components/selectors/agent-selector.tsx
  src/features/ai/components/selectors/context-selector.tsx
  src/features/ai/components/skills/skills-command.tsx
  src/features/ai/hooks/use-chat-store.ts
  src/features/ai/services/acp-stream-handler.ts
  src/features/ai/stores/ai-chat.store.ts
  src/features/ai/tests/acp-stream-handler.test.ts
  src/features/ai/types/ai-chat-store.types.ts
  src/styles/utilities.css
  src/ui/attachment.tsx
  src/ui/bubble.tsx
  src/ui/input.tsx
  src/ui/marker.tsx
  src/ui/message-scroller.tsx
  src/ui/message.tsx
  src/ui/sidebar.tsx
Due: typescript-check, biome-check

Refresh the built-in Athas theme
  src/extensions/themes/builtin/athas.json
Due: biome-check
