Repository athasdev/athas: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-fmt-workspace, typescript-check, biome-check

rust-fmt-workspace:
  name: Rust format (workspace)
  entry: cargo fmt
  args:
  - --all
  - --check
  language: system
  pass_filenames: false

typescript-check:
  name: TypeScript check
  entry: bun
  args:
  - typecheck
  language: system
  pass_filenames: false

biome-check:
  name: Biome check
  entry: bun
  args:
  - check
  - --write
  language: system
  pass_filenames: false

Show and keep the agent's ACP plan in chat
  crates/ai/src/chat_history.rs
  src/features/ai/components/chat/ai-chat.tsx
  src/features/ai/components/chat/chat-message.tsx
  src/features/ai/components/messages/agent-plan.tsx
  src/features/ai/lib/acp-plan.ts
  src/features/ai/services/ai-chat-history-service.ts
  src/features/ai/tests/acp-plan.test.ts
  src/features/ai/types/acp.types.ts
  src/features/ai/types/ai-chat.types.ts
Due: rust-fmt-workspace, typescript-check, biome-check

Keep the ACP connection responsive while agents wait on the user
  crates/ai/src/acp/bridge.rs
  crates/ai/src/acp/bridge_init.rs
  crates/ai/src/acp/client.rs
  crates/ai/src/acp/types.rs
  src/features/ai/components/chat/acp-question-prompt.tsx
  src/features/ai/components/chat/ai-chat.tsx
  src/features/ai/hooks/use-acp-questions.ts
  src/features/ai/services/acp-stream-handler.ts
  src/features/ai/stores/acp-questions.store.ts
  src/features/ai/tests/acp-questions-store.test.ts
  src/features/ai/tests/acp-stream-handler.test.ts
  src/features/ai/types/acp.types.ts
Due: rust-fmt-workspace, typescript-check, biome-check

Let agents ask the user to open a link
  crates/ai/src/acp/bridge_init.rs
  src/features/ai/components/chat/acp-question-prompt.tsx
  src/features/ai/components/chat/acp-url-question-prompt.tsx
  src/features/ai/components/chat/ai-chat.tsx
  src/features/ai/lib/acp-elicitation.ts
  src/features/ai/stores/acp-questions.store.ts
  src/features/ai/tests/acp-elicitation.test.ts
  src/features/ai/tests/acp-questions-store.test.ts
Due: rust-fmt-workspace, typescript-check, biome-check

Handle every elicitation form shape agents send
  src/features/ai/components/chat/acp-question-prompt.tsx
  src/features/ai/components/chat/acp-url-question-prompt.tsx
  src/features/ai/lib/acp-elicitation.ts
  src/features/ai/tests/acp-elicitation.test.ts
Due: typescript-check, biome-check

Keep terminal output across terminal/output reads
  crates/ai/src/acp/client.rs
  crates/ai/src/acp/terminal_state.rs
Due: rust-fmt-workspace

Show tool call content even when agents send raw output
  crates/ai/src/acp/client.rs
  crates/ai/src/acp/types.rs
  src/features/ai/components/chat/ai-chat.tsx
  src/features/ai/lib/tool-call-state.ts
  src/features/ai/tests/tool-call-state.test.ts
  src/features/ai/types/acp.types.ts
  src/features/ai/types/ai-chat.types.ts
Due: rust-fmt-workspace, typescript-check, biome-check

Keep Cancel and Stop working when an agent stops replying
  crates/ai/src/acp/bridge.rs
  crates/ai/src/acp/bridge_commands.rs
Due: rust-fmt-workspace

Explain why an agent turn ended early
  crates/ai/src/chat_history.rs
  src/features/ai/components/chat/ai-chat.tsx
  src/features/ai/components/chat/chat-message.tsx
  src/features/ai/components/input/chat-input-bar.tsx
  src/features/ai/components/messages/agent-stop-notice.tsx
  src/features/ai/lib/agent-stop-notice.ts
  src/features/ai/lib/assistant-response.ts
  src/features/ai/lib/follow-up-actions.ts
  src/features/ai/services/acp-stream-handler.ts
  src/features/ai/services/ai-chat-history-service.ts
  src/features/ai/tests/acp-stream-handler.test.ts
  src/features/ai/tests/agent-stop-notice.test.ts
  src/features/ai/types/acp.types.ts
  src/features/ai/types/agent-completion.types.ts
  src/features/ai/types/ai-chat.types.ts
Due: rust-fmt-workspace, typescript-check, biome-check

Let stopped agent turns wind down instead of cutting them off
  crates/ai/src/acp/bridge.rs
  crates/ai/src/acp/bridge_commands.rs
  crates/ai/src/acp/bridge_init.rs
  crates/ai/src/acp/bridge_prompt.rs
  crates/ai/src/acp/client.rs
  src/features/ai/components/chat/ai-chat.tsx
  src/features/ai/components/chat/chat-message.tsx
  src/features/ai/components/messages/tool-call-display.tsx
  src/features/ai/lib/conversation-history.ts
  src/features/ai/lib/tool-call-state.ts
  src/features/ai/lib/tool-call-summary.ts
  src/features/ai/services/acp-stream-handler.ts
  src/features/ai/services/ai-chat-service.ts
  src/features/ai/stores/acp-questions.store.ts
  src/features/ai/tests/acp-questions-store.test.ts
  src/features/ai/tests/acp-stream-handler.test.ts
  src/features/ai/tests/tool-call-state.test.ts
  src/features/ai/types/ai-chat.types.ts
Due: rust-fmt-workspace, typescript-check, biome-check

Let users choose how to sign in to ACP agents
  crates/ai/src/acp/auth.rs
  crates/ai/src/acp/bridge.rs
  crates/ai/src/acp/bridge_commands.rs
  crates/ai/src/acp/bridge_init.rs
  crates/ai/src/acp/bridge_prompt.rs
  crates/ai/src/acp/mod.rs
  crates/ai/src/acp/types.rs
  src-tauri/src/commands/ai/acp.rs
  src-tauri/src/main.rs
  src/features/ai/components/chat/ai-chat.tsx
  src/features/ai/components/messages/acp-auth-choice.tsx
  src/features/ai/components/messages/markdown-renderer.tsx
  src/features/ai/lib/acp-terminal-auth.ts
  src/features/ai/services/acp-stream-handler.ts
  src/features/ai/stores/acp-auth.store.ts
  src/features/ai/tests/acp-auth-store.test.ts
  src/features/ai/tests/acp-stream-handler.test.ts
  src/features/ai/types/acp.types.ts
  src/features/terminal/components/terminal.tsx
  src/features/terminal/constants/terminal-events.ts
  src/features/terminal/hooks/use-terminal-connection.ts
  src/features/terminal/types/terminal.types.ts
Due: rust-fmt-workspace, typescript-check, biome-check

Let users log out of ACP agents
  src/features/ai/components/input/chat-preferences-menu.tsx
  src/features/ai/lib/acp-logout.ts
  src/features/ai/tests/acp-logout.test.ts
  src/features/command-palette/components/command-palette.tsx
  src/features/command-palette/constants/advanced-actions.tsx
Due: typescript-check, biome-check

Show what ACP agents ask permission for
  crates/ai/src/acp/client.rs
  crates/ai/src/acp/types.rs
  src/features/ai/components/chat/acp-permission-prompt.tsx
  src/features/ai/components/chat/ai-chat.tsx
  src/features/ai/components/messages/tool-call-display.tsx
  src/features/ai/lib/acp-permission-preview.ts
  src/features/ai/lib/open-tool-location.ts
  src/features/ai/tests/acp-permission-preview.test.ts
  src/features/ai/types/acp.types.ts
Due: rust-fmt-workspace, typescript-check, biome-check

Report missing files to ACP agents as resource not found
  crates/ai/src/acp/client.rs
  crates/ai/src/acp/file_access.rs
  crates/ai/src/acp/mod.rs
Due: rust-fmt-workspace

Keep line endings when agents read part of a file
  crates/ai/src/acp/client.rs
  crates/ai/src/acp/file_access.rs
Due: rust-fmt-workspace

Send agent file writes to the file watcher in its own shape
  crates/ai/src/acp/client.rs
  crates/ai/src/acp/file_access.rs
Due: rust-fmt-workspace

Ask before agents touch files outside the workspace
  crates/ai/src/acp/client.rs
  crates/ai/src/acp/file_access.rs
  crates/ai/src/acp/workspace_path.rs
  src/features/ai/tests/acp-permission-preview.test.ts
Due: rust-fmt-workspace, typescript-check, biome-check

Let agents read unsaved editor changes
  crates/ai/src/acp/bridge.rs
  crates/ai/src/acp/client.rs
  crates/ai/src/acp/types.rs
  src-tauri/src/commands/ai/acp.rs
  src-tauri/src/main.rs
  src/features/ai/services/acp-buffer-reads.ts
  src/features/ai/tests/acp-buffer-reads.test.ts
  src/features/ai/types/acp.types.ts
  src/features/bootstrap/use-app-bootstrap.ts
Due: rust-fmt-workspace, typescript-check, biome-check

Keep unsaved edits when a file changes under the editor
  crates/ai/src/acp/client.rs
  src/features/file-system/services/file-watcher-listener.ts
  src/features/file-system/tests/file-watcher-listener.test.ts
Due: rust-fmt-workspace, typescript-check, biome-check

Offer configured MCP servers to ACP agents
  crates/ai/src/acp/bridge.rs
  crates/ai/src/acp/bridge_commands.rs
  crates/ai/src/acp/bridge_init.rs
  crates/ai/src/acp/mcp_servers.rs
  crates/ai/src/acp/mod.rs
  crates/ai/src/acp/types.rs
  crates/ai/src/lib.rs
  src-tauri/src/commands/ai/acp.rs
  src-tauri/src/commands/ai/mcp.rs
  src-tauri/src/commands/ai/mod.rs
  src-tauri/src/main.rs
Due: rust-fmt-workspace

Let users configure MCP servers for agents
  src/features/ai/components/mcp/mcp-server-dialog.tsx
  src/features/ai/components/mcp/mcp-server-settings.tsx
  src/features/ai/lib/mcp-servers.ts
  src/features/ai/services/mcp-server-secrets.ts
  src/features/ai/tests/mcp-servers.test.ts
  src/features/ai/types/mcp-server.types.ts
  src/features/settings/components/tabs/ai-settings.tsx
  src/features/settings/config/default-settings.ts
  src/features/settings/config/search-index.ts
  src/features/settings/lib/settings-normalization.ts
  src/features/settings/types/settings.types.ts
Due: typescript-check, biome-check

Start agents with the enabled MCP servers
  src/features/ai/services/acp-stream-handler.ts
  src/features/ai/tests/acp-mcp-server-startup.test.ts
  src/features/ai/tests/acp-stream-handler.test.ts
  src/features/ai/types/acp.types.ts
Due: typescript-check, biome-check

Separate agent startup from ACP session setup
  crates/ai/src/acp/bridge_init.rs
Due: rust-fmt-workspace

Release agent terminals when their session ends
  crates/ai/src/acp/bridge.rs
  crates/ai/src/acp/client.rs
  crates/ai/src/acp/terminal_state.rs
Due: rust-fmt-workspace

Run every chat on its own session of a shared agent process
  crates/ai/src/acp/bridge.rs
  crates/ai/src/acp/bridge_commands.rs
  crates/ai/src/acp/bridge_init.rs
  crates/ai/src/acp/client.rs
  crates/ai/src/acp/mod.rs
  crates/ai/src/acp/sessions.rs
  crates/ai/src/acp/types.rs
  crates/ai/src/lib.rs
  src-tauri/src/app_setup.rs
  src-tauri/src/commands/ai/acp.rs
  src-tauri/src/main.rs
  src/features/ai/components/chat/ai-chat.tsx
  src/features/ai/components/input/chat-input-bar.tsx
  src/features/ai/components/input/chat-preferences-menu.tsx
  src/features/ai/lib/acp-logout.ts
  src/features/ai/lib/acp-session-state.ts
  src/features/ai/services/acp-stream-handler.ts
  src/features/ai/stores/ai-chat.store.ts
  src/features/ai/stores/ai-chat/acp-actions.ts
  src/features/ai/stores/ai-chat/ai-chat-state.ts
  src/features/ai/stores/ai-chat/ai-chat-store.types.ts
  src/features/ai/stores/ai-chat/chat-actions.ts
  src/features/ai/tests/acp-logout.test.ts
  src/features/ai/tests/acp-mcp-server-startup.test.ts
  src/features/ai/tests/acp-stream-handler.test.ts
  src/features/ai/types/acp.types.ts
  src/features/command-palette/components/command-palette.tsx
  src/features/command-palette/constants/advanced-actions.tsx
  src/features/settings/components/tabs/ai-settings.tsx
Due: rust-fmt-workspace, typescript-check, biome-check

Close a chat's agent session when the chat is deleted
  src/features/ai/lib/acp-session-state.ts
  src/features/ai/stores/ai-chat/chat-actions.ts
  src/features/ai/tests/acp-session-state.test.ts
Due: typescript-check, biome-check

Shut down agents that sat idle for half an hour
  crates/ai/src/acp/bridge.rs
  crates/ai/src/acp/bridge_commands.rs
  crates/ai/src/acp/client.rs
  crates/ai/src/acp/sessions.rs
Due: rust-fmt-workspace

Refuse agents that speak another ACP protocol version
  crates/ai/src/acp/bridge_init.rs
  src/features/ai/services/acp-stream-handler.ts
  src/features/ai/tests/acp-stream-handler.test.ts
Due: rust-fmt-workspace, typescript-check, biome-check

Reopen chat sessions by what the agent advertises
  crates/ai/src/acp/bridge.rs
  crates/ai/src/acp/bridge_commands.rs
  crates/ai/src/acp/bridge_init.rs
  crates/ai/src/acp/client.rs
  crates/ai/src/acp/mod.rs
  crates/ai/src/acp/replay.rs
  crates/ai/src/acp/types.rs
  src/features/ai/services/acp-stream-handler.ts
  src/features/ai/tests/acp-session-restore.test.ts
  src/features/ai/types/acp.types.ts
Due: rust-fmt-workspace, typescript-check, biome-check

Import an agent's session into a new chat with its history
  crates/ai/src/acp/bridge.rs
  crates/ai/src/acp/bridge_init.rs
  crates/ai/src/acp/replay.rs
  crates/ai/src/acp/types.rs
  src-tauri/src/commands/ai/acp.rs
  src/features/ai/lib/acp-session-history.ts
  src/features/ai/lib/import-agent-session.ts
  src/features/ai/services/acp-stream-handler.ts
  src/features/ai/tests/acp-session-history.test.ts
  src/features/ai/tests/import-agent-session.test.ts
  src/features/ai/types/acp.types.ts
Due: rust-fmt-workspace, typescript-check, biome-check

Browse and import an agent's own sessions
  src/features/ai/components/chat/chat-header.tsx
  src/features/ai/components/history/agent-sessions-dialog.tsx
  src/features/ai/components/history/chat-history-dropdown.tsx
  src/features/ai/lib/import-agent-session.ts
  src/features/ai/lib/open-agent-sessions.ts
  src/features/ai/tests/open-agent-sessions.test.ts
  src/features/ai/types/acp.types.ts
  src/features/command-palette/components/command-palette.tsx
  src/features/command-palette/constants/advanced-actions.tsx
  src/workbench-app.tsx
Due: typescript-check, biome-check

Record each agent process's ACP traffic
  Cargo.lock
  crates/ai/Cargo.toml
  crates/ai/src/acp/bridge.rs
  crates/ai/src/acp/bridge_commands.rs
  crates/ai/src/acp/bridge_init.rs
  crates/ai/src/acp/mod.rs
  crates/ai/src/acp/traffic.rs
Due: rust-fmt-workspace

Expose ACP traffic logs to the frontend
  src-tauri/src/commands/ai/acp_traffic.rs
  src-tauri/src/commands/ai/mod.rs
  src-tauri/src/main.rs
Due: rust-fmt-workspace

Show ACP agent traffic in an inspector tab
  src/features/ai/acp-inspector/components/acp-capabilities-panel.tsx
  src/features/ai/acp-inspector/components/acp-inspector-view.tsx
  src/features/ai/acp-inspector/components/acp-json-block.tsx
  src/features/ai/acp-inspector/components/acp-traffic-log.tsx
  src/features/ai/acp-inspector/hooks/use-acp-traffic.ts
  src/features/ai/acp-inspector/lib/acp-traffic-messages.ts
  src/features/ai/acp-inspector/types/acp-traffic.types.ts
  src/features/ai/services/acp-stream-handler.ts
  src/features/ai/tests/acp-inspector-panels.test.tsx
  src/features/ai/tests/acp-traffic-messages.test.ts
  src/features/editor/stores/buffer-content-factory.ts
  src/features/editor/stores/buffer.store.ts
  src/features/panes/components/pane-container.tsx
  src/features/panes/constants/tool-buffers.ts
  src/features/panes/types/pane-content.types.ts
  src/features/tabs/components/tab-bar-item.tsx
Due: typescript-check, biome-check

Open the ACP inspector from the command palette
  src/features/command-palette/constants/advanced-actions.tsx
Due: typescript-check, biome-check

Read the ACP Registry and keep an offline copy
  Cargo.lock
  crates/ai/Cargo.toml
  crates/ai/src/acp/mod.rs
  crates/ai/src/acp/registry/mod.rs
  crates/ai/src/acp/registry/schema.rs
  crates/ai/src/acp/registry/store.rs
Due: rust-fmt-workspace

Install registry agents into verified, versioned directories
  Cargo.lock
  crates/ai/Cargo.toml
  crates/ai/src/acp/registry/archive.rs
  crates/ai/src/acp/registry/install.rs
  crates/ai/src/acp/registry/mod.rs
Due: rust-fmt-workspace

List and install agents from the ACP Registry
  crates/ai/src/acp/config.rs
  crates/ai/src/acp/mod.rs
  crates/ai/src/acp/registry/catalog.rs
  crates/ai/src/acp/registry/mod.rs
  crates/ai/src/acp/types.rs
  crates/ai/src/lib.rs
  src-tauri/src/commands/ai/acp.rs
  src-tauri/src/commands/ai/acp_registry.rs
  src-tauri/src/commands/ai/mod.rs
  src-tauri/src/main.rs
Due: rust-fmt-workspace

Show ACP Registry details before installing an agent
  src/extensions/tests/extension-browser-catalog.test.ts
  src/extensions/ui/components/build-extension-catalog.ts
  src/extensions/ui/components/extension-catalog-types.ts
  src/extensions/ui/components/extension-detail-view.tsx
  src/features/ai/lib/agent-options.ts
  src/features/ai/stores/agent-catalog.store.ts
  src/features/ai/tests/agent-options.test.ts
  src/features/ai/types/acp.types.ts
Due: typescript-check, biome-check

Show queued messages above the composer and let one be sent now
  src/features/ai/components/agent-launch-input.tsx
  src/features/ai/components/chat/ai-chat.tsx
  src/features/ai/components/input/agent-message-queue.tsx
  src/features/ai/components/input/chat-input-bar.tsx
  src/features/ai/hooks/use-chat-store.ts
  src/features/ai/lib/agent-message-queue.ts
  src/features/ai/stores/ai-chat/ai-chat-store.types.ts
  src/features/ai/stores/ai-chat/chat-actions.ts
  src/features/ai/tests/agent-message-queue.test.tsx
  src/features/ai/tests/chat-input-bar.test.tsx
  src/features/ai/tests/composer-ime.test.tsx
  src/features/ai/types/ai-chat.types.ts
Due: typescript-check, biome-check

Show how full the agent's context window is and what it cost
  crates/ai/src/acp/client.rs
  crates/ai/src/acp/types.rs
  src/features/ai/components/chat/ai-chat.tsx
  src/features/ai/components/input/acp-context-meter.tsx
  src/features/ai/components/input/chat-input-bar.tsx
  src/features/ai/lib/acp-session-state.ts
  src/features/ai/lib/acp-usage.ts
  src/features/ai/stores/ai-chat/acp-actions.ts
  src/features/ai/stores/ai-chat/ai-chat-store.types.ts
  src/features/ai/stores/ai-chat/chat-actions.ts
  src/features/ai/tests/acp-session-state.test.ts
  src/features/ai/tests/acp-usage.test.ts
  src/features/ai/types/acp.types.ts
  src/ui/progress.tsx
Due: rust-fmt-workspace, typescript-check, biome-check

Path conditions:
  rust-fmt-workspace: any of: \.rs$
  typescript-check: any of: \.(ts|tsx)$
  biome-check: any of: \.(js|jsx|ts|tsx|json)$
