Repository athasdev/athas: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-fmt-workspace, typescript-check, biome-check

rust-fmt-workspace:
  name: Rust format (workspace)
  entry: cargo fmt
  args:
  - --all
  - --check
  language: system
  pass_filenames: false

typescript-check:
  name: TypeScript check
  entry: bun
  args:
  - typecheck
  language: system
  pass_filenames: false

biome-check:
  name: Biome check
  entry: bun
  args:
  - check
  - --write
  language: system
  pass_filenames: false

Edit issues in place
  src/features/github/components/github-inline-editors.tsx
  src/features/github/components/github-issue-viewer.tsx
Due: typescript-check, biome-check

Add a rich Markdown document command
  src/features/command-palette/components/command-palette.tsx
  src/features/command-palette/constants/file-actions.tsx
  src/features/command-palette/tests/file-actions.test.tsx
  src/features/editor/markdown/markdown-document-view.tsx
  src/features/editor/stores/buffer-content-factory.ts
  src/features/editor/stores/buffer.store.ts
  src/features/editor/tests/markdown-document-buffer.test.ts
  src/features/panes/components/pane-container.tsx
  src/features/panes/types/pane-content.types.ts
Due: typescript-check, biome-check

Fix AI composer selector layout
  src/features/ai/components/input/chat-composer.tsx
  src/features/ai/components/selectors/model-selector.tsx
  src/ui/combobox.tsx
Due: typescript-check, biome-check

Simplify global font and toast styles
  src/styles.css
  src/styles/fonts.css
  src/styles/sonner.css
  src/ui/sonner.tsx
Due: typescript-check, biome-check

Remove the Quick Question flow
  src/features/ai/components/quick-question-command.tsx
  src/features/ai/services/ai-chat-service.ts
  src/features/command-palette/components/command-palette.tsx
  src/features/command-palette/constants/advanced-actions.tsx
  src/features/command-palette/types/view.types.ts
Due: typescript-check, biome-check

Standardize command palette composition
  src/features/command-palette/components/command-palette.tsx
  src/features/command-palette/components/icon-theme-selector.tsx
  src/features/command-palette/components/theme-selector.tsx
Due: typescript-check, biome-check

Standardize collaboration UI primitives
  src/features/collaboration/components/collaboration-avatar.tsx
  src/features/collaboration/components/collaboration-channel-icons.tsx
  src/features/collaboration/components/collaboration-media-footer.tsx
  src/features/collaboration/components/collaboration-message-composer.tsx
  src/features/collaboration/components/collaboration-remote-media-tile.tsx
  src/features/collaboration/components/collaboration-sidebar.tsx
  src/features/collaboration/components/emoji-picker.tsx
Due: typescript-check, biome-check

Unify onboarding and release notes
  src/features/editor/stores/buffer-content-factory.ts
  src/features/editor/stores/buffer.store.ts
  src/features/editor/tests/buffer-content-factory.test.ts
  src/features/onboarding/components/onboarding-view.tsx
  src/features/onboarding/components/release-notes-content.tsx
  src/features/onboarding/lib/onboarding-state.ts
  src/features/onboarding/lib/onboarding-view-model.ts
  src/features/onboarding/tests/onboarding-view-model.test.ts
  src/features/settings/lib/whats-new.ts
  src/features/settings/stores/whats-new.store.ts
  src/features/settings/tests/whats-new-store.test.ts
  src/features/settings/tests/whats-new.test.ts
  src/features/tabs/components/tab-bar-item.tsx
Due: typescript-check, biome-check

Unify sidebar empty states
  src/extensions/ui/components/extension-view-renderer.tsx
  src/extensions/ui/components/external-extension-view.tsx
  src/features/collaboration/components/collaboration-sidebar.tsx
  src/features/docker/components/docker-sidebar.tsx
  src/features/file-explorer/components/file-explorer-tree.tsx
  src/features/file-explorer/components/file-navigator-sidebar.tsx
  src/features/git/components/git-commit-history.tsx
  src/features/git/components/git-view.tsx
  src/features/git/components/status/git-status-panel.tsx
  src/features/github/components/github-prs-view.tsx
  src/features/github/components/github-sidebar-state.tsx
  src/features/layout/components/sidebar/sidebar-history.tsx
  src/features/outline/components/outline-sidebar.tsx
  src/ui/sidebar.tsx
Due: typescript-check, biome-check

Contain database sidecar build artifacts
  Cargo.toml
  src/extensions/tooling/package-database-sidecars.ts
Due: typescript-check, biome-check

Support directional terminal splits
  src-tauri/src/app_setup.rs
  src-tauri/src/menu.rs
  src/features/command-palette/constants/view-actions.tsx
  src/features/keymaps/commands/command-registry.ts
  src/features/keymaps/defaults/default-keymaps.ts
  src/features/keymaps/tests/default-keymaps.test.ts
  src/features/terminal/components/terminal-container.tsx
  src/features/terminal/hooks/use-terminal-tabs.ts
  src/features/terminal/stores/terminal-tabs.store.ts
  src/features/terminal/tests/terminal-split.test.ts
  src/features/terminal/types/terminal.types.ts
  src/features/window/components/window-menu-bar.tsx
Due: rust-fmt-workspace, typescript-check, biome-check

Route native file drops into terminals
  src/features/file-system/hooks/use-file-system-folder-drop.ts
  src/features/file-system/tests/file-system-drop-controller.test.ts
  src/features/file-system/utils/file-system-drop-controller.ts
  src/features/terminal/components/terminal.tsx
Due: typescript-check, biome-check

Refine default button group styling
  src/ui/button-group.tsx
Due: typescript-check, biome-check

Record durable startup milestones
  src-tauri/src/app_setup.rs
  src-tauri/src/commands/ui/mod.rs
  src-tauri/src/commands/ui/startup.rs
  src-tauri/src/main.rs
  src/App.tsx
  src/features/bootstrap/startup-performance.ts
  src/features/editor/components/monaco-editor.tsx
  src/features/layout/components/main-layout.tsx
  src/main.tsx
  src/workbench-app.tsx
Due: rust-fmt-workspace, typescript-check, biome-check

Defer native startup probes
  crates/ai/src/codex/server.rs
  crates/terminal/src/manager.rs
  src-tauri/src/main.rs
  src-tauri/src/terminal.rs
  src/features/bootstrap/use-app-bootstrap.ts
Due: rust-fmt-workspace, typescript-check, biome-check

Keep React Scan out of production startup
  src/main.tsx
Due: typescript-check, biome-check

Load Monaco panes after workbench chrome
  src/features/panes/components/pane-container.tsx
Due: typescript-check, biome-check

Start background bootstrap after first paint
  src/extensions/registry/extension-store-bootstrap.ts
  src/features/bootstrap/bootstrap-async.ts
  src/features/bootstrap/bootstrap-sync.ts
  src/features/bootstrap/initialize-app-bootstrap.ts
  src/workbench-app.tsx
Due: typescript-check, biome-check

Batch settings startup persistence
  src/features/settings/lib/settings-bootstrap.ts
  src/features/settings/lib/settings-persistence.ts
  src/features/settings/tests/settings-persistence.test.ts
Due: typescript-check, biome-check

Classify Athas in Linux application menus
  scripts/release/packaging/linux/tarball.sh
  scripts/release/tests/linux-packaging.test.ts
  src-tauri/linux/athas.desktop
  src-tauri/tauri.conf.json
Due: typescript-check, biome-check

Recognize monospaced fonts with incomplete metadata
  Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/commands/ui/font.rs
Due: rust-fmt-workspace

Add Vim multi-cursor shortcuts
  src/extensions/loader/extension-loader.ts
  src/extensions/themes/theme-initializer.ts
  src/features/editor/components/monaco-editor.tsx
  src/features/editor/extensions/api.ts
  src/features/editor/tests/editor-api.test.ts
  src/features/editor/types/editor-extension.types.ts
  src/features/keymaps/commands/command-registry.ts
  src/features/keymaps/commands/editor-command-actions.ts
  src/features/keymaps/defaults/default-keymaps.ts
  src/features/keymaps/tests/default-keymaps.test.ts
Due: typescript-check, biome-check

Make ACP authentication errors actionable
  src/features/ai/components/chat/ai-chat.tsx
  src/features/ai/components/messages/markdown-renderer.tsx
  src/features/ai/lib/acp-authentication.ts
  src/features/ai/services/acp-stream-handler.ts
  src/features/ai/tests/acp-authentication.test.ts
  src/features/ai/tests/acp-stream-handler.test.ts
Due: typescript-check, biome-check

Enrich Zig syntax highlighting
  src/features/editor/engines/monaco/language-contributions.ts
  src/features/editor/engines/monaco/zig-language.ts
  src/features/editor/tests/zig-monaco-highlighting.test.ts
Due: typescript-check, biome-check

Restore Vim Ctrl-R redo
  src/features/keymaps/hooks/use-keymaps.ts
  src/features/keymaps/tests/vim-shortcuts.test.ts
  src/features/keymaps/utils/vim-shortcuts.ts
Due: typescript-check, biome-check

Stabilize file explorer interactions
  src/features/file-explorer/components/file-explorer-tree-item.tsx
  src/features/file-explorer/components/file-explorer-tree.tsx
  src/features/file-explorer/components/file-explorer-viewport.tsx
  src/features/file-explorer/hooks/use-file-explorer-sync.ts
  src/features/file-explorer/hooks/use-file-explorer-visible-rows.ts
  src/features/file-explorer/lib/file-tree-viewport.ts
  src/features/file-explorer/styles/file-explorer-tree.css
  src/features/file-explorer/tests/file-explorer-visible-rows.test.ts
  src/features/file-explorer/tests/file-tree-viewport.test.ts
  src/features/sidebar/components/sidebar-tree.tsx
  src/features/sidebar/styles/sidebar-tree.css
Due: typescript-check, biome-check

Keep Vim Ctrl-W inside editor
  src/features/keymaps/hooks/use-keymaps.ts
  src/features/keymaps/tests/vim-shortcuts.test.ts
  src/features/keymaps/utils/vim-shortcuts.ts
Due: typescript-check, biome-check

Keep Vim shortcuts inside Athas
  Cargo.lock
  scripts/release/tests/linux-packaging.test.ts
  src-tauri/Cargo.toml
  src-tauri/src/app_setup.rs
  src-tauri/src/commands/ui/window.rs
  src-tauri/tauri.linux.conf.json
  src/features/keymaps/tests/vim-shortcuts.test.ts
  src/features/keymaps/utils/vim-shortcuts.ts
Due: rust-fmt-workspace, typescript-check, biome-check

Use Monaco find and replace
  src/extensions/loader/extension-loader.ts
  src/extensions/themes/theme-initializer.ts
  src/features/command-palette/components/command-palette.tsx
  src/features/command-palette/constants/view-actions.tsx
  src/features/editor/components/code-editor.tsx
  src/features/editor/components/monaco-editor.tsx
  src/features/editor/components/stylesheet.tsx
  src/features/editor/components/toolbar/breadcrumb.tsx
  src/features/editor/components/toolbar/find-bar.tsx
  src/features/editor/engines/monaco/theme.ts
  src/features/editor/extensions/api.ts
  src/features/editor/stores/ui.store.ts
  src/features/editor/styles/monaco-editor.css
  src/features/editor/tests/editor-api.test.ts
  src/features/editor/tests/search-replace.test.ts
  src/features/editor/tests/search.test.ts
  src/features/editor/types/editor-extension.types.ts
  src/features/editor/utils/search-replace.ts
  src/features/editor/utils/search.ts
  src/features/keymaps/commands/view-command-actions.ts
  src/features/keymaps/defaults/default-keymaps.ts
  src/features/keymaps/tests/default-keymaps.test.ts
  src/features/window/hooks/use-menu-events-wrapper.ts
  src/styles/theme.css
Due: typescript-check, biome-check

Clarify LSP status across themes
  src/features/editor/components/toolbar/editor-status-actions.tsx
  src/styles/theme.css
Due: typescript-check, biome-check

Keep Zig identifiers atomic
  src/features/editor/engines/monaco/zig-language.ts
  src/features/editor/tests/zig-monaco-highlighting.test.ts
Due: typescript-check, biome-check

Keep Monaco hover positioning stable
  src/features/editor/engines/monaco/hover-widgets.ts
  src/features/editor/tests/hover-widgets.test.ts
Due: typescript-check, biome-check

Separate activity and secondary sidebar shortcuts
  src-tauri/src/app_setup.rs
  src-tauri/src/commands/ui/window.rs
  src-tauri/src/menu.rs
  src/features/command-palette/components/command-palette.tsx
  src/features/command-palette/constants/view-actions.tsx
  src/features/keymaps/commands/command-registry.ts
  src/features/keymaps/commands/view-command-actions.ts
  src/features/keymaps/defaults/default-keymaps.ts
  src/features/keymaps/defaults/keybinding-presets.ts
  src/features/keymaps/tests/default-keymaps.test.ts
  src/features/keymaps/tests/native-menu-accelerators.test.ts
  src/features/keymaps/utils/native-menu-accelerators.ts
  src/features/settings/config/search-index.ts
  src/features/window/components/window-menu-bar.tsx
  src/features/window/hooks/use-menu-events-wrapper.ts
  src/features/window/hooks/use-menu-events.ts
Due: rust-fmt-workspace, typescript-check, biome-check

Add italic comment preference
  src/features/editor/components/monaco-editor.tsx
  src/features/editor/engines/monaco/theme.ts
  src/features/editor/engines/monaco/token-theme-rules.ts
  src/features/editor/engines/monaco/use-monaco-editor-settings.ts
  src/features/editor/notebook/notebook-code-cell-editor.tsx
  src/features/editor/tests/monaco-token-theme-rules.test.ts
  src/features/settings/components/tabs/editor-settings.tsx
  src/features/settings/config/default-settings.ts
  src/features/settings/config/search-index.ts
  src/features/settings/lib/settings-sync.ts
  src/features/settings/tests/default-settings.test.ts
  src/features/settings/types/settings.types.ts
Due: typescript-check, biome-check

Prevent reload-driven renderer stalls
  src-tauri/src/app_setup.rs
  src-tauri/src/commands/project/remote.rs
  src-tauri/src/main.rs
  src-tauri/src/terminal.rs
  src/features/file-system/stores/file-system.store.ts
  src/features/github/components/github-avatar.tsx
  src/features/github/components/github-create-view.tsx
  src/features/github/components/github-issue-viewer.tsx
  src/features/github/components/github-issues-view.tsx
  src/features/github/components/github-pr-viewer.tsx
  src/features/github/components/github-prs-view.tsx
  src/features/github/tests/github-avatar-url.test.ts
  src/features/github/utils/github-avatar-url.ts
  src/features/terminal/components/terminal.tsx
  src/features/terminal/utils/frontend-terminal-session.ts
  src/features/viewer/web/components/web-viewer.tsx
  src/features/viewer/web/tests/web-viewer-buffer-state.test.ts
  src/features/viewer/web/tests/web-viewer-url.test.ts
  src/features/viewer/web/utils/web-viewer-buffer-state.ts
  src/features/viewer/web/utils/web-viewer-url.ts
  src/main.tsx
Due: rust-fmt-workspace, typescript-check, biome-check

Add worktrees to the activity rail
  src/features/command-palette/constants/git-actions.tsx
  src/features/command-palette/tests/git-actions.test.tsx
  src/features/git/components/git-branch-manager.tsx
  src/features/git/components/git-view.tsx
  src/features/git/tests/git-worktree-open.test.ts
  src/features/git/utils/git-worktree-open.ts
  src/features/layout/components/sidebar/main-sidebar.tsx
  src/features/layout/components/sidebar/sidebar-history.tsx
  src/features/settings/config/default-settings.ts
  src/features/settings/lib/settings-sync.ts
  src/features/settings/tests/default-settings.test.ts
  src/features/settings/types/settings.types.ts
Due: typescript-check, biome-check

Unify AI chat preferences
  src/features/ai/components/input/chat-composer.tsx
  src/features/ai/components/input/chat-input-bar.tsx
  src/features/ai/components/input/chat-preferences-menu.tsx
  src/features/ai/components/input/chat-preferences-model.ts
  src/features/ai/components/selectors/acp-config-selector.tsx
  src/features/ai/components/selectors/agent-selector.tsx
  src/features/ai/components/selectors/mode-selector.tsx
  src/features/ai/components/selectors/model-selector.tsx
  src/features/ai/hooks/use-agent-options.ts
  src/features/ai/hooks/use-ai-model-options.ts
  src/features/ai/lib/file-mentions.ts
  src/features/ai/tests/chat-preferences-model.test.ts
  src/features/ai/tests/file-mentions.test.ts
  src/features/ai/utils/chat-composer-dom.ts
Due: typescript-check, biome-check

Make agent authentication recovery actionable
  crates/ai/src/acp/bridge_init.rs
  src/features/ai/components/chat/ai-chat.tsx
  src/features/ai/components/messages/markdown-renderer.tsx
  src/features/ai/lib/acp-authentication.ts
  src/features/ai/services/acp-stream-handler.ts
  src/features/ai/tests/acp-authentication.test.ts
  src/features/ai/tests/acp-stream-handler.test.ts
Due: rust-fmt-workspace, typescript-check, biome-check

Load bundled CEF in preview packages
  scripts/release/packaging/linux/native.sh
  scripts/release/tests/linux-packaging.test.ts
  src-tauri/build.rs
Due: rust-fmt-workspace, typescript-check, biome-check

Standardize Rust test validation
  .github/workflows/ci.yml
  CONTRIBUTING.md
  Cargo.lock
  Cargo.toml
  crates/ai/src/acp/client.rs
  crates/database/src/sidecar.rs
  crates/debugger/src/lib.rs
  crates/github/src/api.rs
  crates/project/Cargo.toml
  crates/project/src/lib.rs
  crates/remote/src/ssh_helpers.rs
  crates/terminal/src/connection.rs
  crates/tooling/src/installer.rs
  crates/tooling/src/installer/tests.rs
  crates/wsl/src/lib.rs
  package.json
  scripts/check/rust.sh
  scripts/release/preflight/run.ts
  src-tauri/src/app_setup.rs
  src-tauri/src/commands/app_logs.rs
  src-tauri/src/commands/development/cli.rs
  src-tauri/src/commands/development/docker.rs
  src-tauri/src/commands/development/docker/tests.rs
  src-tauri/src/commands/development/ide_recents.rs
  src-tauri/src/commands/development/lsp/commands.rs
  src-tauri/src/commands/editor/notebook.rs
  src-tauri/src/commands/editor/search.rs
  src-tauri/src/commands/ui/theme.rs
  src-tauri/src/commands/version_control/github.rs
  src-tauri/src/menu.rs
  src-tauri/src/secure_storage.rs
Due: rust-fmt-workspace, typescript-check, biome-check

Path conditions:
  rust-fmt-workspace: any of: \.rs$
  typescript-check: any of: \.(ts|tsx)$
  biome-check: any of: \.(js|jsx|ts|tsx|json)$
