Repository athasdev/athas: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-fmt-workspace, typescript-check, biome-check

.pre-commit-config.yaml:

# Pre-commit hooks configuration for Rust + TypeScript/React project
# See https://pre-commit.com for more information

repos:
  # Rust hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-toml
      - id: check-json
        exclude: 'tsconfig.*\.json$'
      - id: check-merge-conflict

  # Rust formatting only (clippy/check too heavy for CI)
  - repo: local
    hooks:
      - id: rust-fmt-workspace
        name: Rust format (workspace)
        entry: cargo fmt
        args: ['--all', '--check']
        language: system
        files: '\.rs$'
        pass_filenames: false

  # TypeScript/JavaScript with Biome and type checking
  - repo: local
    hooks:
      - id: typescript-check
        name: TypeScript check
        entry: bun
        args: ['typecheck']
        language: system
        files: \.(ts|tsx)$
        pass_filenames: false
      - id: biome-check
        name: Biome check
        entry: bun
        args: ['check', '--write']
        language: system
        files: \.(js|jsx|ts|tsx|json)$
        pass_filenames: false

  # Commit message validation
  - repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
    rev: v9.18.0
    hooks:
      - id: commitlint
        stages: [commit-msg]
        additional_dependencies: ['@commitlint/cli']

Respect AI ignore files and export chats as Markdown
  crates/ai/Cargo.toml
  crates/ai/src/chat_history.rs
  crates/ai/src/workspace_tools.rs
  src/features/ai/components/chat/chat-header.tsx
  src/features/ai/components/input/agent-message-queue.tsx
  src/features/ai/hooks/use-composer-context-budget.ts
  src/features/ai/intelligence/services/intelligence-agent.ts
  src/features/ai/lib/acp-terminal-auth.ts
  src/features/ai/lib/acp-terminal-output.ts
  src/features/ai/lib/agent-context-policy.ts
  src/features/ai/lib/agent-edit-checkpoints.ts
  src/features/ai/lib/agent-queue-controls.ts
  src/features/ai/lib/chat-transcript.ts
  src/features/ai/lib/context-budget.ts
  src/features/ai/lib/context-references.ts
  src/features/ai/lib/file-mentions.ts
  src/features/ai/lib/project-rules.ts
  src/features/ai/services/agent-checkpoints-service.ts
  src/features/ai/services/agent-edits-service.ts
  src/features/ai/services/agent-turn-runner.ts
  src/features/ai/services/ai-chat-service.ts
  src/features/ai/services/chat-transcript-service.ts
  src/features/ai/stores/ai-chat/chat-actions.ts
  src/features/ai/tests/acp-terminal-auth.test.ts
  src/features/ai/tests/agent-checkpoints-service.test.ts
  src/features/ai/tests/agent-context-policy.test.ts
  src/features/ai/tests/agent-edits-service.test.ts
  src/features/ai/tests/agent-message-queue.test.tsx
  src/features/ai/tests/ai-chat-surface-session.test.ts
  src/features/ai/tests/chat-transcript-service.test.ts
  src/features/ai/tests/chat-transcript.test.ts
  src/features/ai/tests/context-budget.test.ts
  src/features/ai/tests/context-references.test.ts
  src/features/ai/tests/file-mention-loading.test.ts
  src/features/ai/tests/project-rules.test.ts
  src/features/ai/types/ai-chat.types.ts
  src/features/ai/types/project-rules.types.ts
  src/features/editor/engines/monaco/intelligence-completions.ts
  src/features/editor/tests/intelligence-completions.test.ts
  src/features/keymaps/commands/command-registry.ts
Due: rust-fmt-workspace, typescript-check, biome-check

Ignore debugger responses from earlier sessions and frames
  src/features/debugger/components/debugger-panels.tsx
  src/features/debugger/components/debugger-variables-panel.tsx
  src/features/debugger/components/debugger-view.tsx
  src/features/debugger/components/debugger-watch-panel.tsx
  src/features/debugger/services/debug-adapter-events.ts
  src/features/debugger/services/debug-adapter-service.ts
  src/features/debugger/stores/debugger.store.ts
  src/features/debugger/tests/debugger-session-isolation.test.ts
  src/features/debugger/tests/debugger-watch-panel.test.tsx
  src/features/debugger/types/debugger.types.ts
Due: typescript-check, biome-check

Save edited images through the normal save flow
  src/features/keymaps/commands/editor-command-actions.ts
  src/features/viewer/image/components/image-context-menu.tsx
  src/features/viewer/image/components/image-viewer.tsx
  src/features/viewer/image/editor/components/image-editor-toolbar.tsx
  src/features/viewer/image/editor/components/image-resize-dialog.tsx
  src/features/viewer/image/editor/hooks/use-image-operations.ts
  src/features/viewer/image/editor/services/image-buffer-session.ts
  src/features/viewer/image/editor/services/image-edit-session.ts
  src/features/viewer/image/editor/utils/canvas-utils.ts
  src/features/viewer/image/editor/utils/image-dimensions.ts
  src/features/viewer/image/editor/utils/image-file-utils.ts
  src/features/viewer/image/editor/utils/image-transforms.ts
  src/features/viewer/image/tests/image-file-utils.test.ts
  src/features/viewer/tests/image-buffer-session.test.ts
  src/features/viewer/tests/image-canvas-safety.test.ts
  src/features/viewer/tests/image-file-save.test.ts
  src/features/viewer/tests/image-operations.test.tsx
  src/features/viewer/tests/image-viewer-save.test.tsx
Due: typescript-check, biome-check

Keep terminal sessions alive across remounts and failed starts
  src/features/terminal/components/terminal-container.tsx
  src/features/terminal/components/terminal-error-boundary.tsx
  src/features/terminal/components/terminal-host.tsx
  src/features/terminal/components/terminal-slot.tsx
  src/features/terminal/components/terminal.tsx
  src/features/terminal/hooks/use-terminal-addons.ts
  src/features/terminal/hooks/use-terminal-connection.ts
  src/features/terminal/services/terminal-session-launch.ts
  src/features/terminal/stores/terminal-slots.store.ts
  src/features/terminal/stores/terminal-tabs.store.ts
  src/features/terminal/stores/terminal.store.ts
  src/features/terminal/styles/terminal.css
  src/features/terminal/tests/terminal-event-lifetime.test.tsx
  src/features/terminal/tests/terminal-host-ownership.test.tsx
  src/features/terminal/tests/terminal-protocol.test.ts
  src/features/terminal/tests/terminal-session-launch.test.ts
  src/features/terminal/tests/terminal-slots-store.test.ts
  src/features/terminal/tests/terminal-split.test.ts
  src/features/terminal/tests/terminal-startup-recovery.test.tsx
  src/features/terminal/tests/terminal-store.test.ts
  src/features/terminal/utils/terminal-protocol.ts
Due: typescript-check, biome-check

Keep undo history with the buffer that owns it
  src/features/editor/components/monaco-editor.tsx
  src/features/editor/engines/monaco/history-actions.ts
  src/features/editor/engines/monaco/vim-commands.ts
  src/features/editor/extensions/api.ts
  src/features/editor/history/undo-group-tracker.ts
  src/features/editor/services/buffer-history-service.ts
  src/features/editor/stores/buffer-eviction.ts
  src/features/editor/stores/buffer-history-tracking.ts
  src/features/editor/stores/buffer.store.ts
  src/features/editor/stores/history.store.ts
  src/features/editor/tests/buffer-eviction.test.ts
  src/features/editor/tests/buffer-history-service.test.ts
  src/features/editor/tests/buffer-history-tracking.test.ts
  src/features/editor/tests/monaco-history-actions.test.ts
  src/features/vim/tests/vim-commands.test.ts
Due: typescript-check, biome-check

Restore local history entries through checked writes
  src/features/local-history/api/local-history-api.ts
  src/features/local-history/components/local-history-command.tsx
  src/features/local-history/services/restore-local-history.ts
  src/features/local-history/tests/local-history-api.test.ts
  src/features/local-history/tests/restore-local-history.test.ts
Due: typescript-check, biome-check

Add a compact UI density and restore it at startup
  src/features/settings/components/tabs/ai-settings.tsx
  src/features/settings/components/tabs/appearance-settings.tsx
  src/features/settings/config/default-settings.ts
  src/features/settings/config/search-index.ts
  src/features/settings/lib/appearance-bootstrap.ts
  src/features/settings/lib/settings-effects.ts
  src/features/settings/lib/settings-normalization.ts
  src/features/settings/lib/ui-preferences.ts
  src/features/settings/tests/appearance-density-restoration.test.ts
  src/features/settings/tests/settings-normalization.test.ts
  src/features/settings/tests/settings-search.test.ts
  src/features/settings/tests/theme-effects.test.ts
  src/features/settings/tests/ui-preferences.test.ts
  src/features/settings/types/settings.types.ts
  src/styles/theme.css
Due: typescript-check, biome-check

Run global search and replace in a worker
  src-tauri/src/commands/editor/search.rs
  src/features/global-search/components/global-search-buffer.tsx
  src/features/global-search/components/global-search-results.tsx
  src/features/global-search/hooks/use-content-search.ts
  src/features/global-search/hooks/use-search-context.ts
  src/features/global-search/hooks/use-source-replacement.ts
  src/features/global-search/services/provider-content-search.ts
  src/features/global-search/services/search-worker-client.ts
  src/features/global-search/services/source-replace-service.ts
  src/features/global-search/stores/global-search-session.store.ts
  src/features/global-search/tests/content-search-lifecycle.test.tsx
  src/features/global-search/tests/global-search-session-store.test.ts
  src/features/global-search/tests/provider-content-search.test.ts
  src/features/global-search/tests/provider-search-ignore.test.ts
  src/features/global-search/tests/search-context-lifecycle.test.tsx
  src/features/global-search/tests/search-excerpts.test.ts
  src/features/global-search/tests/search-worker-client.test.ts
  src/features/global-search/tests/search-worker-thread.test.ts
  src/features/global-search/tests/source-replace.test.ts
  src/features/global-search/tests/source-replacement-lifecycle.test.tsx
  src/features/global-search/utils/content-search-results.ts
  src/features/global-search/utils/search-excerpts.ts
  src/features/global-search/utils/source-replace.ts
  src/features/global-search/workers/provider-ignore-matching.ts
  src/features/global-search/workers/search-worker-execution.ts
  src/features/global-search/workers/search-worker-protocol.ts
  src/features/global-search/workers/search-worker.ts
Due: rust-fmt-workspace, typescript-check, biome-check

Open Settings in a large dialog instead of a tab
  e2e/specs/settings.e2e.ts
  src/features/editor/stores/buffer.store.ts
  src/features/editor/tests/buffer-preview-pane.test.ts
  src/features/layout/components/main-layout.tsx
  src/features/settings/components/settings-dialog.tsx
  src/features/settings/components/settings-workbench-view.tsx
  src/features/settings/tests/settings-ui-contract.test.ts
  src/features/sharing/tests/settings-page.test.ts
  src/features/window/detached/use-detached-window.ts
  src/features/window/stores/ui-state/modal-slice.ts
  src/features/window/tests/detached-window-lifecycle.test.tsx
  src/ui/dialog.tsx
Due: typescript-check, biome-check

Lay out Settings like a flat list with one control style
  e2e/specs/settings.e2e.ts
  src/features/ai/components/selectors/model-connection-picker.tsx
  src/features/ai/integrations/codex/codex-settings.tsx
  src/features/settings/components/ai/agents-section.tsx
  src/features/settings/components/ai/athas-plan-section.tsx
  src/features/settings/components/ai/custom-endpoint-section.tsx
  src/features/settings/components/ai/default-model-section.tsx
  src/features/settings/components/ai/feature-models-section.tsx
  src/features/settings/components/ai/ollama-section.tsx
  src/features/settings/components/ai/provider-keys-section.tsx
  src/features/settings/components/ai/tab-completion-section.tsx
  src/features/settings/components/custom-theme-creator-dialog.tsx
  src/features/settings/components/font-selector.tsx
  src/features/settings/components/settings-dialog.tsx
  src/features/settings/components/settings-section.tsx
  src/features/settings/components/settings-workbench-view.tsx
  src/features/settings/components/tabs/account-settings.tsx
  src/features/settings/components/tabs/advanced-settings.tsx
  src/features/settings/components/tabs/ai-settings.tsx
  src/features/settings/components/tabs/appearance-settings.tsx
  src/features/settings/components/tabs/collaboration-settings.tsx
  src/features/settings/components/tabs/editor-settings.tsx
  src/features/settings/components/tabs/enterprise-settings.tsx
  src/features/settings/components/tabs/file-tree-settings.tsx
  src/features/settings/components/tabs/general-settings.tsx
  src/features/settings/components/tabs/git-settings.tsx
  src/features/settings/components/tabs/github-credentials.tsx
  src/features/settings/components/tabs/keyboard-settings.tsx
  src/features/settings/components/tabs/terminal-settings.tsx
  src/features/settings/components/typed-confirm-action.tsx
  src/features/settings/tests/settings-ui-contract.test.ts
  src/features/sharing/components/sharing-settings.tsx
  src/ui/combobox.tsx
  src/ui/dialog.tsx
  src/ui/grouped-section.tsx
  src/ui/number-input.tsx
  src/ui/workbench.tsx
Due: typescript-check, biome-check

Use the UI font for headings and drop Inter Display
  public/fonts/inter-display-400-italic.woff2
  public/fonts/inter-display-400.woff2
  public/fonts/inter-display-500-italic.woff2
  public/fonts/inter-display-500.woff2
  public/fonts/inter-display-600-italic.woff2
  public/fonts/inter-display-600.woff2
  public/fonts/inter-display-700-italic.woff2
  public/fonts/inter-display-700.woff2
  src/features/settings/config/bundled-fonts.ts
  src/features/settings/config/typography-defaults.ts
  src/styles/fonts.css
  src/styles/theme.css
Due: typescript-check, biome-check

Fix the failing global search and flaky e2e steps
  e2e/specs/file-explorer.e2e.ts
  e2e/specs/global-search.e2e.ts
  e2e/support/windows-attach.ts
Due: typescript-check, biome-check

Pass clippy on the current nightly and drop unused crates
  Cargo.lock
  crates/ai/Cargo.toml
  crates/database/Cargo.toml
  crates/debugger/Cargo.toml
  crates/exec-path/Cargo.toml
  crates/extensions/Cargo.toml
  crates/fff-search/Cargo.toml
  crates/github/Cargo.toml
  crates/lsp/Cargo.toml
  crates/project/Cargo.toml
  crates/remote/Cargo.toml
  crates/remote/src/file_ops.rs
  crates/runtime/Cargo.toml
  crates/terminal/Cargo.toml
  crates/tooling/Cargo.toml
  crates/version-control/Cargo.toml
  src-tauri/Cargo.toml
  src-tauri/src/commands/development/cli.rs
Due: rust-fmt-workspace

Move workflow actions off the deprecated Node 20 runtime
  .github/workflows/agent-registry-freshness.yml
  .github/workflows/ci.yml
  .github/workflows/e2e.yml
  .github/workflows/extensions.yml
  .github/workflows/linux-build.yml
  .github/workflows/release.yml
Due: none

Update the extensions CDN deploy action to rsync-deployments 8
  .github/workflows/extensions.yml
Due: none

Add a manual test build workflow for downloadable installers
  .github/workflows/test-build.yml
Due: none

Remove the unused nucleo fuzzy_match command
  Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/commands/fuzzy.rs
  src-tauri/src/main.rs
  src/bindings/commands.ts
Due: rust-fmt-workspace, typescript-check, biome-check

Use rustls as the only TLS stack
  Cargo.lock
  Cargo.toml
  crates/ai/Cargo.toml
  crates/extensions/Cargo.toml
  crates/github/Cargo.toml
  crates/remote/Cargo.toml
  crates/runtime/Cargo.toml
  crates/tooling/Cargo.toml
  crates/version-control/Cargo.toml
  src-tauri/Cargo.toml
Due: none

Drop dead database files and unneeded tauri features
  src-tauri/Cargo.toml
  src-tauri/src/app_setup.rs
  src-tauri/src/commands/database/duckdb.rs
  src-tauri/src/commands/database/mongodb.rs
  src-tauri/src/commands/database/mysql.rs
  src-tauri/src/commands/database/postgres.rs
  src-tauri/src/commands/database/redis_db.rs
  src-tauri/src/commands/database/sqlite.rs
Due: rust-fmt-workspace

Watch each workspace with one filtered, batched file watcher
  Cargo.lock
  crates/fff-search/Cargo.toml
  crates/fff-search/src/lib.rs
  crates/fff-search/src/types.rs
  crates/fff-search/tests/search_service.rs
  crates/project/Cargo.toml
  crates/project/src/lib.rs
  crates/project/src/watcher/batch.rs
  crates/project/src/watcher/ignore_rules.rs
  crates/project/src/watcher/mod.rs
  crates/project/src/watcher/types.rs
  src-tauri/src/app_setup.rs
  src-tauri/src/commands/fuzzy.rs
  src-tauri/src/commands/project/watcher.rs
  src-tauri/src/file_events.rs
  src-tauri/src/main.rs
  src/bindings/commands.ts
  src/features/file-system/services/file-watcher-listener.ts
  src/features/file-system/stores/file-watcher.store.ts
  src/features/file-system/tests/file-watcher-listener.test.ts
  src/features/file-system/tests/file-watcher-store.test.ts
Due: rust-fmt-workspace, typescript-check, biome-check

Return WSL file bytes as an ArrayBuffer
  src-tauri/src/commands/project/fs.rs
  src-tauri/src/commands/project/wsl.rs
  src/bindings/commands.ts
  src/features/file-system/services/workspace-resource-provider.ts
  src/features/file-system/tests/workspace-resource-provider.test.ts
Due: rust-fmt-workspace, typescript-check, biome-check

Send semantic tokens to the editor as a binary buffer
  src-tauri/src/commands/development/lsp/commands.rs
  src-tauri/src/commands/development/lsp/convert.rs
  src-tauri/src/commands/development/lsp/types.rs
  src/bindings/commands.ts
  src/features/editor/engines/monaco/semantic-token-provider.ts
  src/features/editor/engines/monaco/semantic-tokens.ts
  src/features/editor/lsp/lsp-client.ts
  src/features/editor/lsp/semantic-token-types.ts
  src/features/editor/tests/monaco-semantic-token-provider.test.ts
  src/features/editor/tests/monaco-semantic-tokens.test.ts
Due: rust-fmt-workspace, typescript-check, biome-check

Stream global search results instead of paging and polling
  src-tauri/src/app_setup.rs
  src-tauri/src/commands/editor/search.rs
  src-tauri/src/commands/ipc_streams.rs
  src-tauri/src/commands/mod.rs
  src-tauri/src/main.rs
  src/bindings/commands.ts
  src/features/file-search/lib/file-search-api.ts
  src/features/file-search/tests/search-files-content-stream.test.ts
  src/features/global-search/hooks/use-content-search.ts
  src/features/global-search/tests/content-search-lifecycle.test.tsx
Due: rust-fmt-workspace, typescript-check, biome-check

Re-read the quick open file list less often while indexing
  src/features/quick-open/hooks/use-file-loader.ts
  src/features/quick-open/tests/use-file-loader.test.tsx
Due: typescript-check, biome-check

Send LSP diagnostics only to the window that started the server
  crates/lsp/src/client.rs
  src-tauri/src/commands/development/lsp/commands.rs
Due: rust-fmt-workspace

Deliver every menu action through one event
  src-tauri/src/app_setup.rs
  src/features/window/components/window-close-guard.tsx
  src/features/window/components/window-menu-bar.tsx
  src/features/window/detached/use-detached-window.ts
  src/features/window/hooks/use-menu-events.ts
  src/features/window/lib/menu-actions.ts
  src/features/window/tests/detached-window-lifecycle.test.tsx
  src/features/window/tests/use-menu-events.test.tsx
  src/features/window/tests/window-close-guard.test.tsx
Due: rust-fmt-workspace, typescript-check, biome-check

Add a CodeMirror 6 editor engine behind a setting
  bun.lock
  package.json
  src/features/editor/components/code-editor.tsx
  src/features/editor/components/codemirror-editor.tsx
  src/features/editor/components/monaco-editor.tsx
  src/features/editor/engines/codemirror/document-change.ts
  src/features/editor/engines/codemirror/language-data.ts
  src/features/editor/engines/codemirror/languages.ts
  src/features/editor/engines/codemirror/position.ts
  src/features/editor/engines/codemirror/theme.ts
  src/features/editor/engines/monaco/use-monaco-editor-settings.ts
  src/features/editor/hooks/use-editor-view-settings.ts
  src/features/editor/services/document-change-batch.ts
  src/features/editor/tests/codemirror-document-change.test.ts
  src/features/editor/tests/codemirror-editor.test.tsx
  src/features/editor/tests/monaco-buffer-sync.test.ts
  src/features/editor/types/code-editor-view.types.ts
  src/features/settings/config/default-settings.ts
  src/features/settings/lib/settings-normalization.ts
  src/features/settings/types/settings.types.ts
Due: typescript-check, biome-check

Restore view state and drive the CodeMirror editor from the editor API
  src/features/editor/components/codemirror-editor.tsx
  src/features/editor/engines/codemirror/editor-adapter.ts
  src/features/editor/extensions/api.ts
  src/features/editor/tests/codemirror-editor-adapter.test.ts
  src/features/editor/tests/codemirror-editor.test.tsx
Due: typescript-check, biome-check

Bring editor settings and read-only surfaces to the CodeMirror engine
  bun.lock
  package.json
  src/features/editor/components/codemirror-editor.tsx
  src/features/editor/components/monaco-editor.tsx
  src/features/editor/engines/codemirror/bracket-colors.ts
  src/features/editor/engines/codemirror/line-numbers.ts
  src/features/editor/engines/codemirror/match-highlights.ts
  src/features/editor/engines/codemirror/position-resolver.ts
  src/features/editor/engines/codemirror/position.ts
  src/features/editor/engines/codemirror/theme.ts
  src/features/editor/engines/codemirror/view-options.ts
  src/features/editor/tests/codemirror-editor.test.tsx
  src/features/editor/tests/editor-scroll.test.ts
  src/features/editor/utils/scroll-padding.ts
Due: typescript-check, biome-check

Give CodeMirror editor features a host to plug into
  src/features/editor/components/codemirror-editor.tsx
  src/features/editor/engines/codemirror/features/codemirror-features.tsx
  src/features/editor/engines/codemirror/host.ts
Due: typescript-check, biome-check

Move the log view, notebook cells and app glue off Monaco
  e2e/support/app.ts
  src/features/editor/components/code-editor.tsx
  src/features/editor/components/codemirror-readonly-view.tsx
  src/features/editor/components/monaco-readonly-view.tsx
  src/features/editor/notebook/notebook-code-cell-editor.tsx
  src/features/editor/notebook/notebook-editor.tsx
  src/features/editor/stores/state.store.ts
  src/features/editor/tests/notebook-code-cell-editor.test.tsx
  src/features/editor/tests/readonly-log-lifecycle.test.tsx
  src/features/file-system/stores/file-system.store.ts
  src/features/github/components/github-action-log-panel.tsx
  src/features/github/lib/github-workflow-log-codemirror.ts
  src/features/github/lib/github-workflow-log-monaco.ts
  src/features/github/styles/github-workflow-log.css
  src/features/github/tests/action-log-remount.test.tsx
  src/features/github/utils/github-workflow-log-model.ts
  src/features/keymaps/tests/effective-contexts.test.ts
  src/features/layout/components/performance-monitor.tsx
  src/features/window/hooks/use-context-menu-prevention.ts
  src/features/window/tests/context-menu-prevention.test.ts
  src/styles/window-transparency.css
Due: typescript-check, biome-check

Add a minimap and sticky scroll to the CodeMirror editor
  src/features/editor/engines/codemirror/features/minimap/codemirror-minimap.tsx
  src/features/editor/engines/codemirror/features/minimap/minimap.ts
  src/features/editor/engines/codemirror/features/sticky-scroll/codemirror-sticky-scroll.tsx
  src/features/editor/engines/codemirror/features/sticky-scroll/sticky-scopes.ts
  src/features/editor/engines/codemirror/features/sticky-scroll/sticky-scroll.ts
  src/features/editor/tests/codemirror-minimap.test.tsx
  src/features/editor/tests/codemirror-sticky-scroll.test.ts
Due: typescript-check, biome-check

Highlight every Athas language in CodeMirror
  bun.lock
  package.json
  src/features/editor/engines/codemirror/language-data.ts
  src/features/editor/engines/codemirror/languages.ts
  src/features/editor/engines/codemirror/languages/config-files.ts
  src/features/editor/engines/codemirror/languages/elixir.ts
  src/features/editor/engines/codemirror/languages/erb.ts
  src/features/editor/engines/codemirror/languages/graphql.ts
  src/features/editor/engines/codemirror/languages/hcl.ts
  src/features/editor/engines/codemirror/languages/makefile.ts
  src/features/editor/engines/codemirror/languages/nix.ts
  src/features/editor/engines/codemirror/languages/solidity.ts
  src/features/editor/engines/codemirror/languages/stream-tokens.ts
  src/features/editor/engines/codemirror/languages/zig.ts
  src/features/editor/tests/codemirror-highlighting.test.ts
  src/features/editor/tests/codemirror-languages.test.ts
  src/features/editor/utils/language-id.ts
Due: typescript-check, biome-check

Add vim, the Athas find widget and the context menu to CodeMirror
  src/features/editor/engines/codemirror/editor-adapter.ts
  src/features/editor/engines/codemirror/editor-commands.ts
  src/features/editor/engines/codemirror/features/codemirror-context-menu.tsx
  src/features/editor/engines/codemirror/features/codemirror-editor-commands.tsx
  src/features/editor/engines/codemirror/features/codemirror-search.css
  src/features/editor/engines/codemirror/features/codemirror-search.tsx
  src/features/editor/engines/codemirror/features/codemirror-vim.css
  src/features/editor/engines/codemirror/features/codemirror-vim.tsx
  src/features/editor/engines/codemirror/search.ts
  src/features/editor/engines/codemirror/toggle-case.ts
  src/features/editor/engines/codemirror/vim.ts
  src/features/editor/extensions/api.ts
  src/features/editor/tests/codemirror-context-menu.test.tsx
  src/features/editor/tests/codemirror-editor-commands-api.test.ts
  src/features/editor/tests/codemirror-editor-commands.test.ts
  src/features/editor/tests/codemirror-search.test.tsx
  src/features/editor/tests/codemirror-vim.test.tsx
  src/features/keymaps/utils/editor-keyboard-target.ts
Due: typescript-check, biome-check

Bring inline edit, agent edits, git blame and breakpoints to CodeMirror
  src/features/editor/agent-edits/agent-hunk-actions.ts
  src/features/editor/engines/codemirror/features/agent-edits.ts
  src/features/editor/engines/codemirror/features/breakpoints.ts
  src/features/editor/engines/codemirror/features/codemirror-agent-edits.tsx
  src/features/editor/engines/codemirror/features/codemirror-breakpoints.tsx
  src/features/editor/engines/codemirror/features/codemirror-hover-copy-tooltip.tsx
  src/features/editor/engines/codemirror/features/codemirror-inline-edit.tsx
  src/features/editor/engines/codemirror/features/codemirror-inline-git-blame.tsx
  src/features/editor/engines/codemirror/features/codemirror-selection-agent-action.tsx
  src/features/editor/engines/codemirror/features/inline-edit-preview.ts
  src/features/editor/engines/codemirror/features/inline-git-blame.ts
  src/features/editor/engines/codemirror/features/reveal.ts
  src/features/editor/inline-edit/inline-edit-preview.ts
  src/features/editor/inline-edit/monaco-inline-edit-preview.ts
  src/features/editor/inline-edit/use-inline-edit.ts
  src/features/editor/tests/codemirror-agent-edits.test.tsx
  src/features/editor/tests/codemirror-inline-edit.test.ts
  src/features/editor/tests/codemirror-inline-git-blame.test.tsx
  src/features/editor/tests/codemirror-selection-agent-action.test.tsx
  src/features/editor/utils/line-offsets.ts
Due: typescript-check, biome-check

Bring LSP navigation and refactoring to CodeMirror
  src/features/editor/engines/codemirror/features/lsp-code-actions.tsx
  src/features/editor/engines/codemirror/features/lsp-feature-utils.ts
  src/features/editor/engines/codemirror/features/lsp-navigation.tsx
  src/features/editor/engines/codemirror/features/references-peek-view.tsx
  src/features/editor/engines/codemirror/features/use-active-navigation.ts
  src/features/editor/engines/codemirror/features/use-definition-links.ts
  src/features/editor/engines/codemirror/features/use-inlay-hints.ts
  src/features/editor/engines/codemirror/features/use-lsp-code-lens.ts
  src/features/editor/engines/codemirror/features/use-lsp-folding.ts
  src/features/editor/engines/codemirror/features/use-on-type-formatting.ts
  src/features/editor/engines/codemirror/features/use-references-peek.tsx
  src/features/editor/engines/codemirror/navigation/active-navigation.ts
  src/features/editor/engines/codemirror/navigation/code-action-groups.ts
  src/features/editor/engines/codemirror/navigation/code-lens.ts
  src/features/editor/engines/codemirror/navigation/definition-link.ts
  src/features/editor/engines/codemirror/navigation/document-links.ts
  src/features/editor/engines/codemirror/navigation/inlay-hints.ts
  src/features/editor/engines/codemirror/navigation/lsp-document.ts
  src/features/editor/engines/codemirror/navigation/lsp-folding.ts
  src/features/editor/engines/codemirror/navigation/navigation-theme.ts
  src/features/editor/engines/codemirror/navigation/on-type-formatting.ts
  src/features/editor/engines/codemirror/navigation/reference-groups.ts
  src/features/editor/engines/codemirror/navigation/references-peek.ts
  src/features/editor/engines/codemirror/navigation/selection-ranges.ts
  src/features/editor/tests/codemirror-lsp-navigation-feature.test.tsx
  src/features/editor/tests/codemirror-lsp-navigation.test.ts
Due: typescript-check, biome-check

Bring diagnostics, hover, completion and AI ghost text to CodeMirror
  src/features/editor/engines/codemirror/features/ai-inline-completion.tsx
  src/features/editor/engines/codemirror/features/lsp-completion.tsx
  src/features/editor/engines/codemirror/features/lsp-diagnostics.tsx
  src/features/editor/engines/codemirror/features/lsp-document-highlight.tsx
  src/features/editor/engines/codemirror/features/lsp-features.css
  src/features/editor/engines/codemirror/features/lsp-features.tsx
  src/features/editor/engines/codemirror/features/lsp-hover.tsx
  src/features/editor/engines/codemirror/features/lsp-semantic-tokens.tsx
  src/features/editor/engines/codemirror/features/lsp-signature-help.tsx
  src/features/editor/engines/codemirror/lsp/lsp-completion-items.ts
  src/features/editor/engines/codemirror/lsp/lsp-positions.ts
  src/features/editor/engines/codemirror/lsp/lsp-snippet.ts
  src/features/editor/engines/codemirror/lsp/markdown-content.ts
  src/features/editor/engines/codemirror/lsp/semantic-token-styles.ts
  src/features/editor/intelligence-completion/intelligence-completion-context.ts
  src/features/editor/intelligence-completion/intelligence-completion-service.ts
  src/features/editor/tests/codemirror-ai-inline-completion.test.ts
  src/features/editor/tests/codemirror-intelligence-completion-service.test.ts
  src/features/editor/tests/codemirror-lsp-completion.test.ts
  src/features/editor/tests/codemirror-lsp-diagnostics.test.tsx
  src/features/editor/tests/codemirror-lsp-document-highlight.test.ts
  src/features/editor/tests/codemirror-lsp-features.test.tsx
  src/features/editor/tests/codemirror-lsp-hover.test.ts
  src/features/editor/tests/codemirror-lsp-semantic-tokens.test.ts
  src/features/editor/tests/codemirror-lsp-signature-help.test.ts
  src/features/editor/tests/codemirror-lsp-snippet.test.ts
Due: typescript-check, biome-check

Render all editor features in the CodeMirror editor
  src/features/editor/components/codemirror-editor.tsx
  src/features/editor/engines/codemirror/features/codemirror-features.tsx
  src/features/editor/engines/codemirror/host.ts
  src/features/editor/engines/codemirror/view-options.ts
  src/features/editor/tests/codemirror-breakpoints.test.ts
  src/features/editor/tests/codemirror-editor.test.tsx
  src/features/keymaps/commands/command-registry.ts
Due: typescript-check, biome-check

Stop the editor from bouncing at its scroll edges
  src/features/editor/engines/codemirror/theme.ts
Due: typescript-check, biome-check
