Repository athasdev/athas: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-fmt-workspace, typescript-check, biome-check

rust-fmt-workspace:
  name: Rust format (workspace)
  entry: cargo fmt
  args:
  - --all
  - --check
  language: system
  pass_filenames: false

typescript-check:
  name: TypeScript check
  entry: bun
  args:
  - typecheck
  language: system
  pass_filenames: false

biome-check:
  name: Biome check
  entry: bun
  args:
  - check
  - --write
  language: system
  pass_filenames: false

Add keybindings to settings
  src/App.tsx
  src/extensions/themes/theme-initializer.ts
  src/features/editor/extensions/api.ts
  src/features/editor/extensions/types.ts
  src/features/editor/lsp/lsp-client.ts
  src/features/keymaps/commands/command-context.ts
  src/features/keymaps/commands/edit-commands.ts
  src/features/keymaps/commands/file-commands.ts
  src/features/keymaps/commands/navigation-commands.ts
  src/features/keymaps/commands/view-commands.ts
  src/features/keymaps/components/keybinding-input.tsx
  src/features/keymaps/components/keybinding-row.tsx
  src/features/keymaps/hooks/use-keybinding-conflicts.ts
  src/features/keymaps/hooks/use-keybinding-recorder.ts
  src/features/keymaps/hooks/use-keymap-context.ts
  src/features/keymaps/utils/matcher.ts
  src/features/settings/components/settings-vertical-tabs.tsx
  src/features/settings/components/tabs/general-settings.tsx
  src/features/settings/components/tabs/keyboard-settings.tsx
  src/features/window/hooks/use-keyboard-shortcuts.ts
Due: typescript-check, biome-check

Add command to action
  .rules
  src/features/keymaps/types.ts
  src/features/keymaps/utils/command-to-action.tsx
  src/features/settings/components/tabs/extensions-settings.tsx
  src/features/settings/components/tabs/file-tree-settings.tsx
  src/features/settings/components/tabs/keyboard-settings.tsx
  src/ui/button.tsx
  src/ui/input.tsx
  src/ui/table.tsx
  src/ui/textarea.tsx
Due: typescript-check, biome-check

Add support for Gemini 3 Pro Preview
  src/features/ai/types/providers.ts
Due: typescript-check, biome-check

Refactor AI chat and polish the UI
  .rules
  src/features/ai/components/chat/ai-chat.tsx
  src/features/ai/components/chat/chat-header.tsx
  src/features/ai/components/chat/chat-message.tsx
  src/features/ai/components/chat/chat-messages.tsx
  src/features/ai/hooks/use-chat-store.ts
  src/features/editor/components/external-editor-terminal.tsx
  src/features/keymaps/components/keybinding-input.tsx
  src/features/keymaps/components/keybinding-row.tsx
  src/features/layout/components/sidebar/sidebar-pane-selector.tsx
  src/features/settings/components/tabs/extensions-settings.tsx
  src/features/settings/components/tabs/file-tree-settings.tsx
  src/features/settings/components/tabs/keyboard-settings.tsx
  src/features/tabs/components/tab-bar-item.tsx
  src/features/tabs/components/tab-bar.tsx
  src/styles.css
  src/ui/input.tsx
  src/ui/table.tsx
Due: typescript-check, biome-check

Refactor App initialization
  src/App.tsx
  src/features/remote/hooks/use-remote-connection.ts
  src/features/remote/hooks/use-remote-window-close.ts
  src/features/window/hooks/use-context-menu-prevention.ts
  src/features/window/hooks/use-font-loading.ts
  src/features/window/hooks/use-platform-setup.ts
Due: typescript-check, biome-check

Use apt-get instead of unstable apt CLI interface
  scripts/linux/setup.sh
Due: none

Make formatOnSave work with biomejs formatter
  .vscode/extensions.json
  .vscode/settings.json
Due: biome-check

Setup storybook for UI development and testing
  .gitignore
  .storybook/main.ts
  bun.lock
  package.json
  src/features/rendering/VirtualizedList.stories.tsx
  src/features/rendering/VirtualizedList.tsx
Due: typescript-check, biome-check

Fix type error
  src/features/editor/stores/buffer-store.ts
Due: typescript-check, biome-check

Add markdown preview in new tab via command palette (#430)
  src/features/command-palette/components/command-palette.tsx
  src/features/command-palette/constants/markdown-actions.tsx
  src/features/command-palette/models/action.types.ts
  src/features/editor/components/code-editor.tsx
  src/features/editor/components/toolbar/breadcrumb.tsx
  src/features/editor/markdown/markdown-preview.tsx
  src/features/editor/stores/buffer-store.ts
  src/features/editor/stores/settings-store.ts
Due: typescript-check, biome-check

Create FUNDING.yml
  .github/FUNDING.yml
Due: none

Use apt-get instead of unstable apt for setup script (#431)
  scripts/linux/setup.sh
Due: none

Make `formatOnSave` work with biomejs formatter in vscode (#432)
  .vscode/extensions.json
  .vscode/settings.json
Due: biome-check

Setup storybook for UI development and testing (#434)
  .gitignore
  .storybook/main.ts
  bun.lock
  package.json
  src/features/rendering/VirtualizedList.stories.tsx
  src/features/rendering/VirtualizedList.tsx
Due: typescript-check, biome-check

Create FUNDING.yml (#433)
  .github/FUNDING.yml
Due: none

Remove Git Gutter integration
  src/features/editor/components/code-editor.tsx
  src/features/editor/components/editor.tsx
  src/features/editor/components/layers/git-blame-layer.tsx
  src/features/version-control/git/controllers/use-git-blame.ts
Due: typescript-check, biome-check

Fix: Git gutter performance and race conditions
  src/features/editor/components/gutter/git-indicators.tsx
  src/features/editor/stores/decorations-store.ts
  src/features/version-control/git/controllers/use-git-gutter.ts
Due: typescript-check, biome-check

Fixed the Git Blame and other git issues (#435)
  src/features/editor/components/code-editor.tsx
  src/features/editor/components/editor.tsx
  src/features/editor/components/gutter/git-indicators.tsx
  src/features/editor/components/layers/git-blame-layer.tsx
  src/features/editor/stores/decorations-store.ts
  src/features/version-control/git/controllers/use-git-blame.ts
  src/features/version-control/git/controllers/use-git-gutter.ts
Due: typescript-check, biome-check

Fix scrolling issues
  .github/FUNDING.yml
  src/features/editor/components/code-editor.tsx
  src/features/editor/components/debug/scroll-debug-overlay.tsx
  src/features/editor/components/editor.tsx
  src/features/editor/components/layers/git-blame-layer.tsx
  src/features/editor/components/layers/input-layer.tsx
  src/features/editor/utils/scroll-logger.ts
  tsconfig.json
Due: typescript-check, biome-check

Add ARIA accessibility descriptors for menus and tabs
  src/features/layout/components/sidebar/sidebar-pane-selector.tsx
  src/features/window/components/project-tabs.tsx
  src/features/window/menu-bar/index.tsx
  src/features/window/menu-bar/menu-item.tsx
  src/features/window/menu-bar/menu.tsx
Due: typescript-check, biome-check

Feature: Add new core feature persistent-commands
  src/features/command-palette/components/command-palette.tsx
  src/features/command-palette/constants/settings-actions.tsx
  src/features/command-palette/store.ts
  src/features/settings/config/features.ts
  src/features/settings/store.ts
  src/features/settings/types/feature.ts
  src/ui/command.tsx
Due: typescript-check, biome-check

Fix: Clicking command now pushes to persisted commands stack
  src/features/command-palette/components/command-palette.tsx
Due: typescript-check, biome-check

The descriptive text if no project is opened in the tree view
  src/features/file-explorer/views/file-tree.tsx
Due: typescript-check, biome-check

Add a button in the text to open a folder project
  src/features/file-explorer/views/file-tree.tsx
Due: typescript-check, biome-check

[feat]: use selector instead of subscribing to whole store
  src/features/file-explorer/views/file-tree.tsx
Due: typescript-check, biome-check

The descriptive text if no project is opened in the tree view (#441)
  src/features/file-explorer/views/file-tree.tsx
Due: typescript-check, biome-check

Add documentation and roadmap
  .github/workflows/sync-docs.yml
  ROADMAP.md
  docs/index.md
  docs/installation.md
Due: none

Add symlink support for file explorer and icon themes
  src-tauri/src/commands/fs.rs
  src/extensions/icon-themes/builtin/classic-theme.tsx
  src/extensions/icon-themes/builtin/colorful-material-theme.tsx
  src/extensions/icon-themes/builtin/compact-theme.tsx
  src/extensions/icon-themes/builtin/manifest.json
  src/extensions/icon-themes/builtin/material-theme.tsx
  src/extensions/icon-themes/builtin/minimal-theme.tsx
  src/extensions/icon-themes/builtin/none-theme.tsx
  src/extensions/icon-themes/builtin/seti-theme.tsx
  src/extensions/icon-themes/types.ts
  src/features/file-explorer/views/file-tree.tsx
  src/features/file-explorer/views/file.icon.tsx
  src/features/file-system/controllers/file-operations.ts
  src/features/file-system/controllers/platform.ts
  src/features/file-system/controllers/store.ts
  src/features/file-system/types/app.ts
Due: rust-fmt-workspace, typescript-check, biome-check

Add linting service with Tauri backend support
  src-tauri/src/commands/lint.rs
  src-tauri/src/commands/mod.rs
  src/features/editor/linter/linter-service.ts
Due: rust-fmt-workspace, typescript-check, biome-check

Refactor editor constants and improve gutter components
  src/features/editor/components/editor.tsx
  src/features/editor/components/gutter/diagnostic-indicators.tsx
  src/features/editor/components/gutter/fold-indicators.tsx
  src/features/editor/components/gutter/git-indicators.tsx
  src/features/editor/components/gutter/gutter.tsx
  src/features/editor/components/gutter/line-numbers.tsx
  src/features/editor/components/layers/git-blame-layer.tsx
  src/features/editor/components/layers/highlight-layer.tsx
  src/features/editor/components/layers/multi-cursor-layer.tsx
  src/features/editor/config/constants.ts
  src/features/editor/hooks/use-tokenizer.ts
  src/features/editor/hooks/use-viewport-lines.ts
  src/features/editor/styles/overlay-editor.css
Due: typescript-check, biome-check

Improve formatter service and backend
  src-tauri/src/commands/format.rs
  src/features/editor/formatter/formatter-service.ts
Due: rust-fmt-workspace, typescript-check, biome-check

Update extension system and language registry
  src/extensions/bundled/rust/extension.json
  src/extensions/bundled/typescript/extension.json
  src/extensions/languages/language-registry.ts
  src/extensions/loader/extension-loader.ts
  src/extensions/registry/extension-registry.ts
Due: typescript-check, biome-check

Add deep link support and toast store
  src/App.tsx
  src/hooks/use-deep-link.ts
  src/stores/toast-store.ts
Due: typescript-check, biome-check

Improve LSP client and configuration
  src-tauri/src/commands/lsp.rs
  src-tauri/src/lsp/config.rs
  src/features/editor/hooks/use-lsp-integration.ts
  src/features/editor/lsp/lsp-client.ts
Due: rust-fmt-workspace, typescript-check, biome-check

Update settings and app store
  src/features/settings/store.ts
  src/stores/app-store.ts
Due: typescript-check, biome-check

Update Tauri configuration and register commands
  src-tauri/capabilities/main.json
  src-tauri/src/lib.rs
  src-tauri/src/main.rs
  src-tauri/tauri.conf.json
Due: rust-fmt-workspace, biome-check

Update dependencies
  Cargo.lock
  bun.lock
  package.json
  src-tauri/Cargo.toml
Due: biome-check

Update gitignore for tree-sitter files
  .gitignore
Due: none

Path conditions:
  rust-fmt-workspace: any of: \.rs$
  typescript-check: any of: \.(ts|tsx)$
  biome-check: any of: \.(js|jsx|ts|tsx|json)$
