Repository athasdev/athas: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-fmt-workspace, typescript-check, biome-check

.pre-commit-config.yaml:

# Pre-commit hooks configuration for Rust + TypeScript/React project
# See https://pre-commit.com for more information

repos:
  # Rust hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-toml
      - id: check-json
        exclude: 'tsconfig.*\.json$'
      - id: check-merge-conflict

  # Rust formatting only (clippy/check too heavy for CI)
  - repo: local
    hooks:
      - id: rust-fmt-workspace
        name: Rust format (workspace)
        entry: cargo fmt
        args: ['--all', '--check']
        language: system
        files: '\.rs$'
        pass_filenames: false

  # TypeScript/JavaScript with Biome and type checking
  - repo: local
    hooks:
      - id: typescript-check
        name: TypeScript check
        entry: bun
        args: ['typecheck']
        language: system
        files: \.(ts|tsx)$
        pass_filenames: false
      - id: biome-check
        name: Biome check
        entry: bun
        args: ['check', '--write']
        language: system
        files: \.(js|jsx|ts|tsx|json)$
        pass_filenames: false

  # Commit message validation
  - repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
    rev: v9.18.0
    hooks:
      - id: commitlint
        stages: [commit-msg]
        additional_dependencies: ['@commitlint/cli']

Rebuild the GitHub Actions sidebar around a live run store
  src/features/ai/services/agent-native-notifications.ts
  src/features/github/components/github-actions-view.tsx
  src/features/github/components/github-actions-watcher.tsx
  src/features/github/components/github-create-view.tsx
  src/features/github/components/github-prs-view.tsx
  src/features/github/components/github-workflow-status-icon.tsx
  src/features/github/hooks/use-now.ts
  src/features/github/services/github-workflow-notifications.ts
  src/features/github/stores/github-actions.store.ts
  src/features/github/tests/github-workflow-notifications.test.ts
  src/features/github/utils/github-data-cache.ts
  src/features/layout/contexts/toast-context.tsx
  src/features/notifications/types/notifications.types.ts
  src/features/settings/components/tabs/git-settings.tsx
  src/features/settings/config/default-settings.ts
  src/features/settings/config/search-index.ts
  src/features/settings/lib/settings-sync.ts
  src/features/settings/types/settings.types.ts
  src/ui/toggle-group.tsx
  src/workbench-app.tsx
Due: typescript-check, biome-check

Redesign the workflow run viewer with live jobs and readable logs
  src/features/github/components/github-action-jobs-panel.tsx
  src/features/github/components/github-action-log-panel.tsx
  src/features/github/components/github-action-viewer.tsx
Due: typescript-check, biome-check

Remove the experimental Ghostty terminal engine
  bun.lock
  package.json
  src/features/settings/config/default-settings.ts
  src/features/settings/config/features.ts
  src/features/settings/config/search-index.ts
  src/features/settings/lib/settings-normalization.ts
  src/features/settings/tests/features-config.test.ts
  src/features/settings/tests/settings-normalization.test.ts
  src/features/settings/types/feature.types.ts
  src/features/terminal/components/terminal-host.tsx
  src/features/terminal/components/terminal.tsx
  src/features/terminal/hooks/use-terminal-connection.ts
  src/features/terminal/lib/ghostty-terminal-runtime.ts
  src/features/terminal/stores/terminal-slots.store.ts
  src/features/terminal/tests/ghostty-terminal-runtime.test.ts
  src/features/terminal/types/terminal-frontend.types.ts
  src/features/terminal/utils/terminal-protocol.ts
Due: typescript-check, biome-check

Stream terminal output as raw bytes and parse OSC in xterm
  crates/remote/src/lib.rs
  crates/remote/src/terminal.rs
  crates/terminal/src/protocol.rs
  src-tauri/src/commands/project/remote.rs
  src-tauri/src/terminal.rs
  src/features/editor/components/external-editor-terminal.tsx
  src/features/terminal/hooks/use-terminal-connection.ts
  src/features/terminal/tests/terminal-osc-stream.test.ts
  src/features/terminal/tests/terminal-osc.test.ts
  src/features/terminal/tests/terminal-protocol.test.ts
  src/features/terminal/types/terminal.types.ts
  src/features/terminal/utils/terminal-osc-stream.ts
  src/features/terminal/utils/terminal-osc.ts
  src/features/terminal/utils/terminal-protocol.ts
Due: rust-fmt-workspace, typescript-check, biome-check

Open terminals on the next frame and report renderer fallbacks
  src/features/telemetry/lib/friction-signals.ts
  src/features/terminal/components/terminal.tsx
  src/features/terminal/hooks/use-terminal-addons.ts
Due: typescript-check, biome-check

Add shell integration with command marks and navigation
  crates/ai/src/acp/client.rs
  crates/terminal/shell-integration/bash/athas-shell-integration.bash
  crates/terminal/shell-integration/fish/fish/vendor_conf.d/athas-shell-integration.fish
  crates/terminal/shell-integration/zsh/athas-shell-integration.zsh
  crates/terminal/shell-integration/zsh/zlogin
  crates/terminal/shell-integration/zsh/zprofile
  crates/terminal/shell-integration/zsh/zshenv
  crates/terminal/shell-integration/zsh/zshrc
  crates/terminal/src/config.rs
  crates/terminal/src/connection.rs
  crates/terminal/src/lib.rs
  crates/terminal/src/shell_integration.rs
  src-tauri/src/terminal.rs
  src/features/command-palette/constants/view-actions.tsx
  src/features/keymaps/commands/command-registry.ts
  src/features/keymaps/defaults/default-keymaps.ts
  src/features/keymaps/tests/default-keymaps.test.ts
  src/features/settings/components/tabs/terminal-settings.tsx
  src/features/settings/config/default-settings.ts
  src/features/settings/config/search-index.ts
  src/features/settings/lib/settings-sync.ts
  src/features/settings/types/settings.types.ts
  src/features/terminal/components/terminal-container.tsx
  src/features/terminal/components/terminal-session.tsx
  src/features/terminal/components/terminal.tsx
  src/features/terminal/lib/terminal-shell-integration.ts
  src/features/terminal/stores/terminal-slots.store.ts
  src/features/terminal/styles/terminal.css
  src/features/terminal/tests/terminal-shell-integration.test.ts
  src/features/terminal/types/terminal.types.ts
Due: rust-fmt-workspace, typescript-check, biome-check

Adopt grapheme, progress, and image addons in the terminal
  bun.lock
  package.json
  src/features/editor/components/external-editor-terminal.tsx
  src/features/terminal/components/terminal-tab-bar-item.tsx
  src/features/terminal/components/terminal-tab-bar.tsx
  src/features/terminal/components/terminal.tsx
  src/features/terminal/hooks/use-terminal-addons.ts
  src/features/terminal/types/terminal.types.ts
Due: typescript-check, biome-check

Add PowerShell shell integration and Windows directory reports
  crates/terminal/shell-integration/powershell/athas-shell-integration.ps1
  crates/terminal/src/shell_integration.rs
  src/features/terminal/tests/terminal-osc.test.ts
  src/features/terminal/utils/terminal-osc.ts
Due: rust-fmt-workspace, typescript-check, biome-check

Require modifier-click for terminal links and support OSC 8 hyperlinks
  src/features/terminal/components/terminal.tsx
  src/features/terminal/hooks/use-terminal-addons.ts
  src/features/terminal/lib/terminal-link-tooltip.ts
  src/features/terminal/styles/terminal.css
  src/features/terminal/tests/terminal-link-activation.test.ts
  src/features/terminal/utils/terminal-link-activation.ts
Due: typescript-check, biome-check

Add clear, select all and copy-output shortcuts to the terminal
  src/features/command-palette/constants/view-actions.tsx
  src/features/keymaps/commands/command-registry.ts
  src/features/keymaps/defaults/default-keymaps.ts
  src/features/keymaps/tests/default-keymaps.test.ts
  src/features/terminal/components/terminal-container.tsx
  src/features/terminal/components/terminal-session.tsx
  src/features/terminal/components/terminal.tsx
  src/features/terminal/lib/terminal-shell-integration.ts
  src/features/terminal/tests/terminal-keyboard.test.ts
  src/features/terminal/tests/terminal-shell-integration.test.ts
  src/features/terminal/types/terminal.types.ts
  src/features/terminal/utils/terminal-keyboard.ts
  src/ui/icons.tsx
Due: typescript-check, biome-check

Notify when long terminal commands finish out of view
  src/features/settings/components/tabs/terminal-settings.tsx
  src/features/settings/config/default-settings.ts
  src/features/settings/config/search-index.ts
  src/features/settings/lib/settings-sync.ts
  src/features/settings/types/settings.types.ts
  src/features/terminal/components/terminal-container.tsx
  src/features/terminal/components/terminal-tab-bar-item.tsx
  src/features/terminal/components/terminal-tab-bar.tsx
  src/features/terminal/components/terminal.tsx
  src/features/terminal/services/terminal-command-notifications.ts
  src/features/terminal/tests/terminal-command-notifications.test.ts
  src/features/terminal/types/terminal.types.ts
  src/features/terminal/utils/terminal-display-name.ts
Due: typescript-check, biome-check

Give every builtin theme a terminal ANSI palette
  src/extensions/themes/builtin/ayu.json
  src/extensions/themes/builtin/catppuccin.json
  src/extensions/themes/builtin/christmas.json
  src/extensions/themes/builtin/contrast-themes.json
  src/extensions/themes/builtin/dracula.json
  src/extensions/themes/builtin/github.json
  src/extensions/themes/builtin/nord.json
  src/extensions/themes/builtin/one.json
  src/extensions/themes/builtin/solarized.json
  src/extensions/themes/builtin/tokyo-night.json
  src/extensions/themes/builtin/vitesse.json
  src/extensions/themes/tests/builtin-theme-terminal-palettes.test.ts
  src/features/settings/components/tabs/terminal-settings.tsx
  src/features/settings/config/default-settings.ts
  src/features/settings/config/search-index.ts
  src/features/settings/lib/settings-sync.ts
  src/features/settings/types/settings.types.ts
  src/features/terminal/components/terminal.tsx
Due: typescript-check, biome-check

Turn terminal splits into a resizable pane tree
  src/features/command-palette/constants/view-actions.tsx
  src/features/keymaps/commands/command-registry.ts
  src/features/keymaps/defaults/default-keymaps.ts
  src/features/keymaps/tests/default-keymaps.test.ts
  src/features/terminal/components/terminal-container.tsx
  src/features/terminal/components/terminal-split-view.tsx
  src/features/terminal/hooks/use-terminal-tabs.ts
  src/features/terminal/stores/terminal-tabs.store.ts
  src/features/terminal/tests/terminal-layout.test.ts
  src/features/terminal/tests/terminal-split.test.ts
  src/features/terminal/types/terminal.types.ts
  src/features/terminal/utils/terminal-layout.ts
Due: typescript-check, biome-check

Split terminals by dragging tabs onto panes
  src/features/command-palette/constants/view-actions.tsx
  src/features/keymaps/commands/command-registry.ts
  src/features/terminal/components/terminal-container.tsx
  src/features/terminal/components/terminal-split-view.tsx
  src/features/terminal/components/terminal-tab-bar-item.tsx
  src/features/terminal/components/terminal-tab-bar.tsx
  src/features/terminal/components/terminal-tab-context-menu.tsx
  src/features/terminal/hooks/use-terminal-tabs.ts
  src/features/terminal/stores/terminal-tabs.store.ts
  src/features/terminal/tests/terminal-layout.test.ts
  src/features/terminal/tests/terminal-pane-drop.test.ts
  src/features/terminal/tests/terminal-split.test.ts
  src/features/terminal/types/terminal.types.ts
  src/features/terminal/utils/terminal-layout.ts
  src/features/terminal/utils/terminal-pane-drop.ts
Due: typescript-check, biome-check

Persist terminal split layouts with the workspace session
  src/features/file-system/stores/file-system.store.ts
  src/features/terminal/hooks/use-terminal-tabs.ts
  src/features/terminal/stores/terminal-tabs.store.ts
  src/features/terminal/tests/terminal-layout.test.ts
  src/features/terminal/tests/terminal-split.test.ts
  src/features/terminal/types/terminal.types.ts
  src/features/terminal/utils/terminal-layout.ts
  src/features/window/stores/session.store.ts
  src/features/workspace/persistence/workspace-session-repository.ts
Due: typescript-check, biome-check

Use the same link handling in the external editor terminal
  src/features/editor/components/external-editor-terminal.tsx
Due: typescript-check, biome-check

Support shell integration for Git Bash on Windows
  crates/terminal/shell-integration/bash/athas-shell-integration.bash
  crates/terminal/src/connection.rs
  crates/terminal/src/shell_integration.rs
  src/features/settings/components/tabs/terminal-settings.tsx
  src/features/settings/config/search-index.ts
Due: rust-fmt-workspace, typescript-check, biome-check

Focus the terminal the reducer activates after a close
  src/features/terminal/components/terminal-container.tsx
Due: typescript-check, biome-check

Render GitHub Actions logs in a read-only Monaco editor
  src/features/editor/components/monaco-readonly-view.tsx
  src/features/github/components/github-action-log-panel.tsx
  src/features/github/components/github-action-viewer.tsx
  src/features/github/lib/github-workflow-log-monaco.ts
  src/features/github/styles/github-workflow-log.css
  src/features/github/tests/github-workflow-log-model.test.ts
  src/features/github/tests/github-workflow-logs.test.ts
  src/features/github/utils/github-workflow-log-model.ts
  src/features/github/utils/github-workflow-logs.ts
Due: typescript-check, biome-check

Make GitHub viewer metadata clickable and share one summary layout
  src/features/github/components/comment-item.tsx
  src/features/github/components/github-action-jobs-panel.tsx
  src/features/github/components/github-action-viewer.tsx
  src/features/github/components/github-actions-view.tsx
  src/features/github/components/github-issue-viewer.tsx
  src/features/github/components/github-pr-sidebar.tsx
  src/features/github/components/github-pr-viewer-header.tsx
  src/features/github/components/github-pr-viewer.tsx
  src/features/github/components/github-resource-chips.tsx
  src/features/github/components/pr-status.tsx
  src/features/github/tests/github-entity-urls.test.ts
  src/features/github/tests/github-markdown-content.test.ts
  src/features/github/utils/github-link-utils.ts
  src/features/github/utils/github-markdown-content.ts
Due: typescript-check, biome-check

Prepare release
  Cargo.lock
  package.json
  src-tauri/Cargo.toml
  src-tauri/tauri.conf.json
Due: biome-check

Limit the project window path import to macOS
  src-tauri/src/commands/ui/window.rs
Due: rust-fmt-workspace

Require passing CI before building a release
  .github/workflows/nightly-preview-release.yml
  .github/workflows/release.yml
  scripts/release/ci-gate.ts
  scripts/release/run.ts
  scripts/release/tests/ci-gate.test.ts
Due: typescript-check, biome-check

Brighten Athas Light and strengthen text contrast
  src/extensions/themes/builtin/athas.json
Due: biome-check

Constrain shared input styling
  src/features/file-explorer/components/file-explorer-tree-item.tsx
  src/features/file-system/components/linux-folder-picker-dialog.tsx
  src/features/layout/components/sidebar/activity-agent-history.tsx
  src/features/layout/components/sidebar/activity-terminal-history.tsx
  src/features/remote/components/connection-form.tsx
  src/features/run-actions/components/run-action-dialog.tsx
  src/features/settings/components/tabs/keyboard-settings.tsx
  src/features/tabs/components/tab-bar-item.tsx
  src/features/terminal/components/terminal-tab-bar-item.tsx
  src/features/window/components/new-project-content.tsx
  src/ui/dropdown.tsx
  src/ui/input-group.tsx
  src/ui/input.tsx
Due: typescript-check, biome-check

Keep badge appearance inside the design system
  src/features/ai/components/chat/acp-permission-prompt.tsx
  src/features/database/providers/redis/redis-viewer.tsx
  src/features/debugger/components/debugger-view.tsx
  src/features/diagnostics/components/diagnostics-pane.tsx
  src/features/diagnostics/components/diagnostics-toolbar.tsx
  src/features/docker/components/docker-resource-rows.tsx
  src/features/file-explorer/components/file-explorer-tree-item.tsx
  src/features/git/components/git-project-selector.tsx
  src/features/git/components/status/git-status-panel.tsx
  src/features/github/components/pr-status.tsx
  src/features/global-search/components/global-search-toolbar.tsx
  src/features/keymaps/components/keybinding-row.tsx
  src/features/panes/components/pane-container.tsx
  src/features/settings/components/tabs/advanced-settings.tsx
  src/features/views/components/view-data-display.tsx
  src/features/views/components/view-setup.tsx
  src/features/window/components/account-menu.tsx
  src/features/window/components/pro-badge.tsx
  src/ui/badge.tsx
  src/ui/command.tsx
Due: typescript-check, biome-check

Keep input appearance inside shared variants
  src/features/collaboration/components/collaboration-sidebar.tsx
  src/features/database/components/column-filters.tsx
  src/features/database/components/connection/connection-dialog.tsx
  src/features/database/components/crud-modals.tsx
  src/features/database/components/data-grid.tsx
  src/features/database/components/database-sidebar.tsx
  src/features/database/components/pagination.tsx
  src/features/database/providers/mongodb/mongodb-viewer.tsx
  src/features/database/providers/redis/redis-viewer.tsx
  src/features/docker/components/docker-container-detail.tsx
  src/features/docker/components/docker-registry-section.tsx
  src/features/editor/inline-edit/inline-edit-popover.tsx
  src/features/editor/lsp/rename-input.tsx
  src/features/git/components/stash/git-stash-modal.tsx
  src/features/github/components/github-action-log-panel.tsx
  src/features/github/components/github-create-view.tsx
  src/features/github/components/github-inline-editors.tsx
  src/features/github/styles/github-viewer.css
  src/features/settings/components/tabs/ai-settings.tsx
  src/features/settings/components/typed-confirm-action.tsx
  src/features/viewer/image/editor/components/image-resize-dialog.tsx
  src/ui/dropdown.tsx
  src/ui/input-group.tsx
  src/ui/input.tsx
  src/ui/search.tsx
Due: typescript-check, biome-check

Sync saved agent sessions without opening chat
  src/features/sharing/components/sharing-runtime.tsx
  src/features/sharing/tests/sharing-runtime.test.ts
Due: typescript-check, biome-check

Keep the agent scroll button positioned and hidden correctly
  src/ui/message-scroller.tsx
Due: typescript-check, biome-check

Expand agent controls and hosted tools
  crates/ai/src/codex/server.rs
  src/features/ai/components/chat/acp-inline-event.tsx
  src/features/ai/components/chat/acp-permission-prompt.tsx
  src/features/ai/components/chat/ai-chat.tsx
  src/features/ai/components/chat/chat-activity-line.tsx
  src/features/ai/components/chat/chat-message.tsx
  src/features/ai/components/icons/provider-icons.tsx
  src/features/ai/components/input/chat-input-bar.tsx
  src/features/ai/components/input/chat-model-selector.tsx
  src/features/ai/components/input/chat-preferences-menu.tsx
  src/features/ai/components/input/composer-agent-selector.tsx
  src/features/ai/components/input/composer-effort-selector.tsx
  src/features/ai/hooks/use-agent-options.ts
  src/features/ai/integrations/codex/codex-composer-catalog.ts
  src/features/ai/integrations/codex/codex-integration-service.ts
  src/features/ai/integrations/codex/use-codex-models.ts
  src/features/ai/lib/provider-access.ts
  src/features/ai/services/providers/ai-provider-registry.ts
  src/features/ai/services/providers/athas-provider.ts
  src/features/ai/stores/ai-chat/provider-actions.ts
  src/features/ai/tests/codex-effort-slider.test.tsx
  src/features/ai/tests/provider-access.test.ts
  src/features/ai/types/providers.types.ts
  src/features/browser-use/services/browser-tool.ts
  src/features/browser-use/tests/browser-tool.test.ts
  src/features/keymaps/commands/command-registry.ts
  src/ui/composer.tsx
  src/ui/shimmer.tsx
  src/ui/slider.tsx
Due: rust-fmt-workspace, typescript-check, biome-check

Refine settings labels and spacing
  src/features/settings/components/settings-section.tsx
  src/features/settings/components/tabs/ai-settings.tsx
  src/features/settings/components/tabs/terminal-settings.tsx
  src/ui/workbench.tsx
Due: typescript-check, biome-check

Load the Nix environment only on supported Linux hosts
  .envrc
Due: none

Run npm installs with the matching Node runtime
  crates/runtime/src/node.rs
  crates/tooling/src/installer.rs
  crates/tooling/src/installer/tests.rs
Due: rust-fmt-workspace

Share bounded executable discovery across integrations
  Cargo.lock
  Cargo.toml
  crates/ai/Cargo.toml
  crates/ai/src/acp/config.rs
  crates/ai/src/codex/server.rs
  crates/ai/src/executable_path.rs
  crates/exec-path/Cargo.toml
  crates/exec-path/src/lib.rs
  crates/github/Cargo.toml
Due: rust-fmt-workspace
