Repository athasdev/athas: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-fmt-workspace, typescript-check, biome-check

.pre-commit-config.yaml:

# Pre-commit hooks configuration for Rust + TypeScript/React project
# See https://pre-commit.com for more information

repos:
  # Rust hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-toml
      - id: check-json
        exclude: 'tsconfig.*\.json$'
      - id: check-merge-conflict

  # Rust formatting only (clippy/check too heavy for CI)
  - repo: local
    hooks:
      - id: rust-fmt-workspace
        name: Rust format (workspace)
        entry: cargo fmt
        args: ['--all', '--check']
        language: system
        files: '\.rs$'
        pass_filenames: false

  # TypeScript/JavaScript with Biome and type checking
  - repo: local
    hooks:
      - id: typescript-check
        name: TypeScript check
        entry: bun
        args: ['typecheck']
        language: system
        files: \.(ts|tsx)$
        pass_filenames: false
      - id: biome-check
        name: Biome check
        entry: bun
        args: ['check', '--write']
        language: system
        files: \.(js|jsx|ts|tsx|json)$
        pass_filenames: false

  # Commit message validation
  - repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
    rev: v9.18.0
    hooks:
      - id: commitlint
        stages: [commit-msg]
        additional_dependencies: ['@commitlint/cli']

Prevent CI regressions from reaching master
  .github/workflows/ci.yml
  commitlint.config.cjs
  crates/github/src/lib.rs
  package.json
  src/features/ai/components/selectors/ai-model-selector.tsx
  src/features/database/providers/sqlite/components/crud-modals.tsx
  src/features/editor/components/toolbar/editor-status-actions.tsx
  src/features/editor/hooks/use-buffer-switch.ts
  src/features/file-explorer/components/file-explorer-tree.tsx
  src/features/git/components/git-branch-manager.tsx
  src/features/layout/components/footer/footer.tsx
  src/features/layout/components/main-layout.tsx
  src/features/panes/utils/pane-tree.test.ts
  src/features/terminal/components/terminal-tab-bar.tsx
Due: rust-fmt-workspace, typescript-check, biome-check

Allow local Ollama endpoints in Tauri HTTP scope
  src-tauri/capabilities/main.json
Due: biome-check

Fix: Sanitize restored ACP state
  TEMP_AGENT_HANDOFF_2026-03-26.md
  src-tauri/src/features/ai/acp/config.rs
  src/features/ai/lib/chat-acp-state.test.ts
  src/features/ai/lib/chat-acp-state.ts
  src/utils/acp-handler.test.ts
  src/utils/acp-handler.ts
Due: rust-fmt-workspace, typescript-check, biome-check

Fix: Emit final Pi message content
  src-tauri/src/features/ai/acp/bridge.rs
Due: rust-fmt-workspace

Fix: Focus Harness composer on chat change
  src/features/ai/components/input/chat-input-bar.tsx
Due: typescript-check, biome-check

Fix: Repair Pi local runtime state
  TEMP_AGENT_HANDOFF_2026-03-26.md
  src-tauri/src/features/ai/acp/bridge.rs
Due: rust-fmt-workspace

Fix: repair Pi local state during ACP startup
  TEMP_AGENT_HANDOFF_2026-03-26.md
  src-tauri/src/features/ai/acp/bridge.rs
  src-tauri/src/features/ai/acp/config.rs
Due: rust-fmt-workspace

Refactor: simplify Harness trust signals
  src/features/ai/components/chat/ai-chat.tsx
  src/features/ai/components/chat/harness-session-rail.tsx
  src/features/ai/components/input/chat-input-bar.tsx
  src/features/ai/lib/harness-trust-state.test.ts
  src/features/ai/lib/harness-trust-state.ts
  src/features/ai/types/ai-chat.ts
  src/features/ai/types/chat-ui.ts
Due: typescript-check, biome-check

Docs: refresh Harness trust handoff
  TEMP_AGENT_HANDOFF_2026-03-26.md
Due: none

Fix: seed Harness composer from focused controls
  src/features/ai/components/chat/ai-chat.tsx
  src/features/ai/components/input/chat-input-bar.tsx
  src/features/ai/lib/harness-composer-seed.test.ts
  src/features/ai/lib/harness-composer-seed.ts
Due: typescript-check, biome-check

Docs: refresh Harness input capture handoff
  TEMP_AGENT_HANDOFF_2026-03-26.md
Due: none

Fix: normalize legacy Harness project sessions
  src/stores/session-store.test.ts
  src/stores/session-store.ts
Due: typescript-check, biome-check

Docs: refresh temporary handoff snapshot
  TEMP_AGENT_HANDOFF_2026-03-26.md
Due: none

Fix: relax Harness composer seed target guard
  src/features/ai/components/input/chat-input-bar.tsx
  src/features/ai/lib/harness-composer-seed.test.ts
  src/features/ai/lib/harness-composer-seed.ts
Due: typescript-check, biome-check

Docs: refresh Harness composer handoff
  TEMP_AGENT_HANDOFF_2026-03-26.md
Due: none

Feat: add Harness runtime backend identity
  src/features/ai/lib/harness-runtime-backend.test.ts
  src/features/ai/lib/harness-runtime-backend.ts
  src/features/ai/lib/harness-session-lifecycle.test.ts
  src/features/ai/lib/harness-session-lifecycle.ts
  src/features/editor/stores/buffer-store.ts
  src/features/file-system/controllers/store.ts
  src/stores/session-store.test.ts
  src/stores/session-store.ts
Due: typescript-check, biome-check

Docs: refresh pi-native integration handoff
  TEMP_AGENT_HANDOFF_2026-03-26.md
Due: none

Refactor: add Harness runtime contract
  TEMP_AGENT_HANDOFF_2026-03-26.md
  src/features/ai/components/chat/ai-chat.tsx
  src/features/ai/lib/harness-runtime.test.ts
  src/features/ai/lib/harness-runtime.ts
  src/features/ai/store/store.ts
  src/features/editor/stores/buffer-store.ts
  src/features/tabs/types/buffer.ts
  src/utils/acp-handler.ts
  src/utils/ai-chat.ts
Due: typescript-check, biome-check

Feat: add pi-native host runtime slice
  bun.lock
  package.json
  src-tauri/pi-native-host/index.mjs
  src-tauri/src/commands/ai/mod.rs
  src-tauri/src/commands/ai/pi_native.rs
  src-tauri/src/features/ai/mod.rs
  src-tauri/src/features/ai/pi_native/bridge.rs
  src-tauri/src/features/ai/pi_native/mod.rs
  src-tauri/src/main.rs
  src-tauri/tauri.conf.json
  src/features/ai/lib/harness-runtime.test.ts
  src/features/ai/lib/harness-runtime.ts
  src/utils/pi-native-handler.ts
Due: rust-fmt-workspace, typescript-check, biome-check

Docs: refresh pi-native runtime handoff
  TEMP_AGENT_HANDOFF_2026-03-26.md
Due: none

Feat: bootstrap pi-native sessions from history
  TEMP_AGENT_HANDOFF_2026-03-26.md
  src-tauri/pi-native-host/index.mjs
  src-tauri/pi-native-host/session-bootstrap.mjs
  src-tauri/pi-native-host/session-bootstrap.test.js
  src-tauri/src/features/ai/pi_native/bridge.rs
Due: rust-fmt-workspace, biome-check

Feat: add pi-native session listing
  TEMP_AGENT_HANDOFF_2026-03-26.md
  src-tauri/pi-native-host/index.mjs
  src-tauri/pi-native-host/session-listing.mjs
  src-tauri/pi-native-host/session-listing.test.js
  src-tauri/src/commands/ai/pi_native.rs
  src-tauri/src/features/ai/mod.rs
  src-tauri/src/features/ai/pi_native/bridge.rs
  src-tauri/src/features/ai/pi_native/mod.rs
  src-tauri/src/features/ai/pi_native/types.rs
  src-tauri/src/main.rs
  src/features/ai/lib/harness-runtime.test.ts
  src/features/ai/lib/harness-runtime.ts
  src/utils/pi-native-handler.ts
Due: rust-fmt-workspace, typescript-check, biome-check

Feat: resume latest pi-native workspace session
  TEMP_AGENT_HANDOFF_2026-03-26.md
  src-tauri/pi-native-host/index.mjs
  src-tauri/pi-native-host/session-listing.mjs
  src-tauri/pi-native-host/session-listing.test.js
Due: biome-check

Feat: restore pi-native session metadata on open
  TEMP_AGENT_HANDOFF_2026-03-26.md
  src/features/ai/components/chat/ai-chat.tsx
  src/features/ai/lib/pi-native-restore.test.ts
  src/features/ai/lib/pi-native-restore.ts
Due: typescript-check, biome-check

Feat: hydrate pi-native transcript on restore
  TEMP_AGENT_HANDOFF_2026-03-26.md
  src-tauri/pi-native-host/index.mjs
  src-tauri/pi-native-host/session-transcript.mjs
  src-tauri/pi-native-host/session-transcript.test.js
  src-tauri/src/commands/ai/pi_native.rs
  src-tauri/src/features/ai/mod.rs
  src-tauri/src/features/ai/pi_native/bridge.rs
  src-tauri/src/features/ai/pi_native/mod.rs
  src-tauri/src/features/ai/pi_native/types.rs
  src-tauri/src/main.rs
  src/features/ai/components/chat/ai-chat.tsx
  src/features/ai/lib/harness-runtime.test.ts
  src/features/ai/lib/harness-runtime.ts
  src/features/ai/lib/pi-native-restore.test.ts
  src/features/ai/lib/pi-native-restore.ts
  src/features/ai/store/store.ts
  src/features/ai/store/types.ts
  src/utils/pi-native-handler.ts
Due: rust-fmt-workspace, typescript-check, biome-check

Fix: preserve pi-native restore across rerenders
  TEMP_AGENT_HANDOFF_2026-03-26.md
  src/features/ai/components/chat/ai-chat.tsx
Due: typescript-check, biome-check

Feat: default Harness entry to pi-native for Pi
  src/features/ai/lib/harness-entry-backend.test.ts
  src/features/ai/lib/harness-entry-backend.ts
  src/features/command-palette/constants/view-actions.test.tsx
  src/features/command-palette/constants/view-actions.tsx
  src/features/layout/components/empty-editor-state.tsx
  src/features/layout/components/footer/editor-footer-ai-entry.test.ts
  src/features/layout/components/footer/editor-footer-ai-entry.ts
Due: typescript-check, biome-check

Docs: refresh pi-native entry handoff
  TEMP_AGENT_HANDOFF_2026-03-26.md
Due: none

Feat: add configurable Pi Harness backend
  src/features/ai/lib/harness-entry-backend.test.ts
  src/features/ai/lib/harness-entry-backend.ts
  src/features/command-palette/components/command-palette.tsx
  src/features/command-palette/constants/view-actions.test.tsx
  src/features/command-palette/constants/view-actions.tsx
  src/features/editor/stores/buffer-store.ts
  src/features/layout/components/empty-editor-state.tsx
  src/features/settings/components/tabs/ai-settings.tsx
  src/features/settings/config/search-index.ts
  src/features/settings/store.ts
Due: typescript-check, biome-check

Feat: add recent Pi session rail
  TEMP_AGENT_HANDOFF_2026-03-26.md
  src/features/ai/components/chat/ai-chat.tsx
  src/features/ai/components/chat/harness-session-rail.tsx
  src/features/ai/lib/pi-native-restore.test.ts
  src/features/ai/lib/pi-native-restore.ts
Due: typescript-check, biome-check

Feat: wire Pi native permission bridge
  src-tauri/pi-native-host/extension-ui.mjs
  src-tauri/pi-native-host/extension-ui.test.js
  src-tauri/pi-native-host/index.mjs
  src-tauri/src/commands/ai/pi_native.rs
  src-tauri/src/features/ai/pi_native/bridge.rs
  src-tauri/src/main.rs
  src/features/ai/lib/harness-runtime.test.ts
  src/features/ai/lib/harness-runtime.ts
  src/utils/pi-native-handler.ts
Due: rust-fmt-workspace, typescript-check, biome-check

Fix: make slash command empty state backend-neutral
  src/features/ai/components/mentions/slash-command-dropdown.tsx
Due: typescript-check, biome-check

Docs: refresh Pi native permission handoff
  TEMP_AGENT_HANDOFF_2026-03-26.md
Due: none

Feat: wire pi-native slash commands and modes
  src-tauri/pi-native-host/index.mjs
  src-tauri/pi-native-host/session-runtime.mjs
  src-tauri/pi-native-host/session-runtime.test.js
  src-tauri/src/commands/ai/pi_native.rs
  src-tauri/src/features/ai/mod.rs
  src-tauri/src/features/ai/pi_native/bridge.rs
  src-tauri/src/features/ai/pi_native/mod.rs
  src-tauri/src/features/ai/pi_native/types.rs
  src-tauri/src/main.rs
  src/features/ai/lib/harness-runtime.test.ts
  src/features/ai/lib/harness-runtime.ts
  src/utils/pi-native-handler.ts
Due: rust-fmt-workspace, typescript-check, biome-check

Docs: refresh pi-native runtime parity handoff
  TEMP_AGENT_HANDOFF_2026-03-26.md
Due: none

Feat: add pi-native settings host bridge
  src-tauri/pi-native-host/index.mjs
  src-tauri/pi-native-host/pi-settings.mjs
  src-tauri/pi-native-host/pi-settings.test.js
  src-tauri/src/commands/ai/pi_native.rs
  src-tauri/src/features/ai/pi_native/bridge.rs
  src-tauri/src/main.rs
Due: rust-fmt-workspace, biome-check

Feat: add Pi controls to AI settings
  src/features/settings/components/tabs/ai-settings.tsx
  src/features/settings/components/tabs/pi-settings-panel.tsx
  src/features/settings/config/search-index.ts
  src/features/settings/lib/pi-settings.ts
Due: typescript-check, biome-check

Docs: refresh Pi settings handoff
  TEMP_AGENT_HANDOFF_2026-03-26.md
Due: none

Fix: bootstrap pi-native Harness restore chat
  src/features/ai/components/chat/ai-chat.tsx
  src/features/ai/lib/pi-native-restore.test.ts
  src/features/ai/lib/pi-native-restore.ts
Due: typescript-check, biome-check

Docs: refresh pi-native watched proof handoff
  TEMP_AGENT_HANDOFF_2026-03-26.md
Due: none
