Repository athasdev/athas: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-fmt-workspace, typescript-check, biome-check

rust-fmt-workspace:
  name: Rust format (workspace)
  entry: cargo fmt
  args:
  - --all
  - --check
  language: system
  pass_filenames: false

typescript-check:
  name: TypeScript check
  entry: bun
  args:
  - typecheck
  language: system
  pass_filenames: false

biome-check:
  name: Biome check
  entry: bun
  args:
  - check
  - --write
  language: system
  pass_filenames: false

Use the bundled Athas theme palette
  src/features/bootstrap/bootstrap-sync.ts
  src/styles/theme.css
Due: typescript-check, biome-check

Standardize multibuffer editor surfaces
  src/features/editor/components/monaco-editor.tsx
  src/features/editor/components/multibuffer/multibuffer-file-header.tsx
  src/features/editor/engines/athas/components/editor.tsx
  src/features/editor/engines/athas/components/gutter/gutter.tsx
  src/features/editor/engines/athas/components/layers/input-layer.tsx
  src/features/editor/engines/athas/hooks/use-editor-wheel-forwarding.ts
  src/features/git/components/diff/git-diff-editor-stack.tsx
  src/features/sidebar-tree/components/sidebar-tree.tsx
  src/ui/icons.ts
  src/ui/search.tsx
Due: typescript-check, biome-check

Make Button borders explicit
  src/features/github/components/github-action-viewer.tsx
  src/features/github/components/github-issue-viewer.tsx
  src/features/github/components/github-pr-action-dialog.tsx
  src/features/github/components/github-pr-viewer.tsx
  src/features/github/components/pr-activity-panel.tsx
  src/features/github/components/pr-files-panel.tsx
  src/features/keymaps/components/keybinding-row.tsx
  src/ui/button.tsx
  src/ui/tests/button.test.ts
Due: typescript-check, biome-check

Harden global content search paging
  src-tauri/src/commands/editor/search.rs
  src/features/global-search/hooks/use-content-search.ts
  src/features/global-search/services/provider-content-search.ts
  src/features/global-search/tests/content-search-results.test.ts
  src/features/global-search/tests/path-filters.test.ts
  src/features/global-search/types/global-search.types.ts
  src/features/global-search/utils/content-search-results.ts
  src/features/global-search/utils/source-replace.ts
Due: rust-fmt-workspace, typescript-check, biome-check

Render global search as a multibuffer
  src/features/file-explorer/components/file-navigator-sidebar.tsx
  src/features/global-search/components/global-search-buffer.tsx
  src/features/global-search/components/global-search-results.tsx
  src/features/global-search/components/global-search-state.tsx
  src/features/global-search/components/global-search-toolbar.tsx
  src/features/global-search/components/search-excerpt-code.tsx
  src/features/global-search/components/search-excerpt-results.tsx
  src/features/global-search/components/search-match-item.tsx
  src/features/global-search/hooks/use-keyboard-navigation.ts
  src/features/global-search/hooks/use-search-excerpt-buffer.ts
  src/features/global-search/hooks/use-search-excerpt-tokens.ts
  src/features/global-search/services/search-excerpt-syntax.ts
  src/features/global-search/tests/search-excerpt-lines.test.ts
  src/features/global-search/tests/search-excerpt-syntax.test.ts
  src/features/global-search/tests/search-excerpts.test.ts
  src/features/global-search/utils/search-excerpt-lines.ts
  src/features/global-search/utils/search-excerpts.ts
Due: typescript-check, biome-check

Improve translucent sidebar contrast
  src/styles/window-transparency.css
Due: none

Restore credential persistence and CI builds
  .github/workflows/ci.yml
  .github/workflows/linux-build.yml
  .github/workflows/nightly-preview-release.yml
  .github/workflows/release.yml
  Cargo.lock
  crates/fff-search/Cargo.toml
  src-tauri/Cargo.toml
  src-tauri/src/secure_storage.rs
Due: rust-fmt-workspace

Add symbol-aware breadcrumb showing containing function/class
  src/features/editor/components/toolbar/breadcrumb.tsx
  src/features/editor/components/toolbar/symbol-breadcrumb.tsx
  src/features/outline/components/outline-command.tsx
  src/features/outline/components/outline-sidebar.tsx
  src/features/outline/hooks/use-document-outline.ts
  src/features/outline/tests/symbol-path.test.ts
  src/features/outline/utils/symbol-path.ts
  src/features/settings/components/tabs/editor-settings.tsx
  src/features/settings/config/default-settings.ts
  src/features/settings/types/settings.types.ts
Due: typescript-check, biome-check

Fix symbol breadcrumb not appearing on cold app start
  src/features/editor/components/toolbar/symbol-breadcrumb.tsx
Due: typescript-check, biome-check

Add workspace-wide Go to Symbol via # mode in quick-open
  crates/lsp/src/client.rs
  crates/lsp/src/manager.rs
  crates/lsp/src/manager_state.rs
  src-tauri/src/commands/development/lsp/commands.rs
  src-tauri/src/commands/development/lsp/convert.rs
  src-tauri/src/commands/development/lsp/types.rs
  src-tauri/src/main.rs
  src/features/editor/lsp/lsp-client.ts
  src/features/quick-open/components/quick-open.tsx
  src/features/quick-open/components/symbol-list-item.tsx
  src/features/quick-open/hooks/use-quick-open.ts
  src/features/quick-open/hooks/use-workspace-symbol-search.test.ts
  src/features/quick-open/hooks/use-workspace-symbol-search.ts
Due: rust-fmt-workspace, typescript-check, biome-check

Fix AI chat response handling
  src/features/ai/components/chat/ai-chat.tsx
  src/features/ai/lib/conversation-history.ts
  src/features/ai/services/providers/ai-provider-registry.ts
  src/features/ai/tests/conversation-history.test.ts
  src/features/ai/tests/provider-extension-registry.test.ts
  src/utils/stream-utils.test.ts
  src/utils/stream-utils.ts
Due: typescript-check, biome-check

Prepare release
  Cargo.lock
  package.json
  src-tauri/Cargo.toml
  src-tauri/tauri.conf.json
Due: biome-check

Codify reusable workbench UI conventions
  AGENTS.md
  src/features/editor/components/toolbar/editor-status-actions.tsx
  src/styles/theme.css
  src/ui/combobox.tsx
  src/ui/icons.ts
  src/ui/segmented-control.tsx
Due: typescript-check, biome-check

Unify editor and terminal tab interactions
  src/features/tabs/components/tab-bar-item.tsx
  src/features/tabs/components/tab-bar.tsx
  src/features/terminal/components/terminal-tab-bar-item.tsx
  src/features/terminal/components/terminal-tab-bar.tsx
  src/ui/tab-drag.tsx
  src/ui/tabs.css
  src/ui/tabs.tsx
  src/ui/tests/tab-drag.test.tsx
  src/ui/tests/tabs.test.tsx
Due: typescript-check, biome-check

Make fullscreen workbench surfaces edge to edge
  src/features/layout/components/bottom-pane/bottom-pane.tsx
  src/features/layout/components/footer/footer.tsx
  src/features/panes/components/split-view-root.tsx
  src/features/window/components/title-bar/title-bar.tsx
  src/features/window/components/workbench-fullscreen-surface.tsx
  src/features/window/tests/workbench-fullscreen-surface.test.tsx
Due: typescript-check, biome-check

Refine Monaco scrolling and sticky chrome
  src/features/editor/components/monaco-editor.tsx
  src/features/editor/engines/monaco/scroll-padding.ts
  src/features/editor/styles/monaco-editor.css
  src/features/editor/tests/editor-scroll.test.ts
Due: typescript-check, biome-check

Restore command palette keyboard navigation
  src/features/command-palette/components/command-palette.tsx
  src/ui/command-navigation.ts
  src/ui/command.tsx
  src/ui/tests/command-navigation.test.ts
Due: typescript-check, biome-check

Pin release workflow toolchains
  .github/workflows/linux-build.yml
  .github/workflows/release-preflight.yml
  .github/workflows/release.yml
Due: none

Persist file-open benchmark traces
  src-tauri/src/commands/development/tools.rs
  src/features/editor/components/monaco-editor.tsx
  src/utils/frontend-trace.ts
Due: rust-fmt-workspace, typescript-check, biome-check

Add shared action and avatar primitives
  src/features/ai/components/history/sidebar.tsx
  src/features/collaboration/components/collaboration-avatar.tsx
  src/features/database/components/database-sidebar.tsx
  src/features/git/components/git-commit-history.tsx
  src/features/git/tests/git-author-avatar.test.ts
  src/features/git/utils/git-author-avatar.ts
  src/features/github/components/github-avatar.tsx
  src/ui/action-menu.tsx
  src/ui/avatar.tsx
  src/ui/command.tsx
  src/ui/context-menu.tsx
  src/ui/dropdown.tsx
  src/ui/tests/action-menu.test.tsx
  src/ui/tests/avatar.test.tsx
  src/ui/tests/command.test.tsx
  src/ui/tests/dropdown.test.tsx
Due: typescript-check, biome-check

Standardize Git command forms
  src/features/git/components/git-remote-manager.tsx
  src/features/git/components/git-tag-manager.tsx
Due: typescript-check, biome-check

Refine editor and diff navigation
  src/features/editor/components/multibuffer/multibuffer-file-header.tsx
  src/features/editor/components/toolbar/breadcrumb.tsx
  src/features/editor/components/toolbar/file-path-breadcrumb.tsx
  src/features/editor/components/toolbar/path-breadcrumb.tsx
  src/features/editor/tests/multibuffer-file-header.test.tsx
  src/features/editor/tests/path-breadcrumb.test.tsx
  src/features/file-explorer/components/file-navigator-sidebar.tsx
  src/features/git/components/diff/git-diff-editor-stack.tsx
  src/features/global-search/components/global-search-results.tsx
Due: typescript-check, biome-check

Simplify GitHub review surfaces
  src/features/github/components/commit-item.tsx
  src/features/github/components/file-diff-view.tsx
  src/features/github/components/github-action-viewer.tsx
  src/features/github/components/github-issue-viewer.tsx
  src/features/github/components/github-pr-viewer-header.tsx
  src/features/github/components/github-pr-viewer.tsx
  src/features/github/components/github-viewer-shell.tsx
  src/features/github/components/pr-files-panel.tsx
  src/features/github/components/pr-status.tsx
Due: typescript-check, biome-check

Refresh the Athas theme palette
  src/extensions/themes/builtin/athas.json
Due: biome-check

Unify transparent workbench chrome
  src/features/layout/components/footer/footer.tsx
  src/features/layout/components/main-layout.tsx
  src/features/window/components/title-bar/title-bar.tsx
  src/styles/window-transparency.css
Due: typescript-check, biome-check

Constrain tab dragging to tab axes
  src/features/tabs/components/tab-bar.tsx
  src/features/terminal/components/terminal-tab-bar.tsx
Due: typescript-check, biome-check

Fix Windows window controls and menu stacking
  src-tauri/capabilities/main.json
  src/ui/menubar.tsx
Due: typescript-check, biome-check

Improve Windows rendering performance
  src-tauri/tauri.windows.conf.json
  src/features/window/hooks/use-platform-setup.ts
  src/styles/window-transparency.css
Due: typescript-check, biome-check

Add persistent custom theme tools
  src/extensions/runtime/extension-contribution-runtime.ts
  src/extensions/themes/custom-theme-store.test.ts
  src/extensions/themes/custom-theme-store.ts
  src/extensions/themes/default-theme.ts
  src/extensions/themes/theme-file.test.ts
  src/extensions/themes/theme-file.ts
  src/extensions/themes/theme-initializer.ts
  src/extensions/themes/theme-loader.ts
  src/extensions/themes/theme-schema.ts
  src/extensions/themes/types.ts
  src/features/command-palette/components/theme-selector.tsx
  src/features/settings/components/custom-theme-creator-dialog.tsx
  src/features/settings/components/tabs/appearance-settings.tsx
  src/features/settings/config/search-index.ts
  src/features/settings/utils/theme-upload.ts
Due: typescript-check, biome-check

Preserve markdown link destinations
  src/features/editor/markdown/parser.ts
  src/features/editor/tests/markdown-parser.test.ts
Due: typescript-check, biome-check

Polish editor interaction surfaces
  src/features/editor/components/multibuffer/multibuffer-file-header.tsx
  src/features/editor/lsp/use-definition-link.ts
  src/features/editor/tests/definition-link-cursor.test.ts
  src/features/editor/tests/multibuffer-file-header.test.tsx
Due: typescript-check, biome-check

Keep recent editor buffers warm
  src-tauri/src/commands/project/fs.rs
  src-tauri/src/main.rs
  src/features/editor/components/monaco-editor.tsx
  src/features/editor/engines/monaco/language-contributions.ts
  src/features/editor/utils/file-open-benchmark.ts
  src/features/file-system/controllers/platform.ts
  src/features/file-system/stores/file-system.store.ts
  src/features/panes/components/pane-container.tsx
Due: rust-fmt-workspace, typescript-check, biome-check

Upgrade terminal transport compatibility
  Cargo.lock
  crates/ai/src/acp/client.rs
  crates/ai/src/acp/terminal_state.rs
  crates/remote/Cargo.toml
  crates/remote/src/lib.rs
  crates/remote/src/state.rs
  crates/remote/src/terminal.rs
  crates/terminal/Cargo.toml
  crates/terminal/examples/tui_probe.rs
  crates/terminal/src/config.rs
  crates/terminal/src/connection.rs
  crates/terminal/src/lib.rs
  crates/terminal/src/manager.rs
  crates/terminal/src/protocol.rs
  crates/terminal/src/runtime.rs
  src-tauri/src/commands/project/remote.rs
  src-tauri/src/main.rs
  src-tauri/src/terminal.rs
  src/features/editor/components/external-editor-terminal.tsx
  src/features/file-system/stores/file-system.store.ts
  src/features/remote/tests/remote-command-registration.test.ts
  src/features/terminal/components/terminal-container.tsx
  src/features/terminal/components/terminal.tsx
  src/features/terminal/hooks/use-terminal-addons.ts
  src/features/terminal/hooks/use-terminal-connection.ts
  src/features/terminal/hooks/use-terminal-write-buffer.ts
  src/features/terminal/styles/terminal.css
  src/features/terminal/tests/terminal-keyboard.test.ts
  src/features/terminal/tests/terminal-options.test.ts
  src/features/terminal/tests/terminal-protocol.test.ts
  src/features/terminal/types/terminal.types.ts
  src/features/terminal/utils/resolve-font.ts
  src/features/terminal/utils/terminal-keyboard.ts
  src/features/terminal/utils/terminal-options.ts
  src/features/terminal/utils/terminal-protocol.ts
Due: rust-fmt-workspace, typescript-check, biome-check

Add symbol-aware breadcrumb showing containing function/class (#725)
  src/features/editor/components/toolbar/breadcrumb.tsx
  src/features/editor/components/toolbar/symbol-breadcrumb.tsx
  src/features/outline/components/outline-command.tsx
  src/features/outline/components/outline-sidebar.tsx
  src/features/outline/hooks/use-document-outline.ts
  src/features/outline/tests/symbol-path.test.ts
  src/features/outline/utils/symbol-path.ts
  src/features/settings/components/tabs/editor-settings.tsx
  src/features/settings/config/default-settings.ts
  src/features/settings/types/settings.types.ts
Due: typescript-check, biome-check

Fix symbol breadcrumb pane state
  src/features/editor/components/toolbar/breadcrumb.tsx
  src/features/editor/components/toolbar/editor-status-actions.tsx
  src/features/editor/components/toolbar/symbol-breadcrumb.tsx
  src/features/editor/tests/editor-view-cursor-position.test.ts
  src/features/editor/utils/editor-view-cursor-position.ts
Due: typescript-check, biome-check

Path conditions:
  rust-fmt-workspace: any of: \.rs$
  typescript-check: any of: \.(ts|tsx)$
  biome-check: any of: \.(js|jsx|ts|tsx|json)$
