Repository athasdev/athas: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-fmt-workspace, typescript-check, biome-check

rust-fmt-workspace:
  name: Rust format (workspace)
  entry: cargo fmt
  args:
  - --all
  - --check
  language: system
  pass_filenames: false

typescript-check:
  name: TypeScript check
  entry: bun
  args:
  - typecheck
  language: system
  pass_filenames: false

biome-check:
  name: Biome check
  entry: bun
  args:
  - check
  - --write
  language: system
  pass_filenames: false

Clean up remote picker lint warning
  src/features/window/components/project-picker-dialog.tsx
Due: typescript-check, biome-check

Unify remote workspaces under project tabs
  src-tauri/src/commands/ui/window.rs
  src-tauri/src/main.rs
  src/App.tsx
  src/features/file-system/controllers/store.ts
  src/features/file-system/types/interface.ts
  src/features/layout/stores/sidebar-store.ts
  src/features/remote/hooks/use-remote-connection.ts
  src/features/remote/hooks/use-remote-window-close.ts
  src/features/remote/services/remote-connection-actions.ts
  src/features/remote/utils/remote-path.test.ts
  src/features/remote/utils/remote-path.ts
  src/features/window/stores/project-store.ts
Due: rust-fmt-workspace, typescript-check, biome-check

Normalize remote workspace store formatting
  src/features/file-system/controllers/store.ts
Due: typescript-check, biome-check

Add remote workspace CRUD and terminal support
  Cargo.lock
  crates/remote/Cargo.toml
  crates/remote/src/lib.rs
  src-tauri/src/commands/project/remote.rs
  src-tauri/src/main.rs
  src/features/editor/stores/buffer-store.ts
  src/features/file-system/controllers/store.ts
  src/features/panes/components/pane-container.tsx
  src/features/panes/types/pane-content.ts
  src/features/terminal/components/terminal-session.tsx
  src/features/terminal/components/terminal-tab.tsx
  src/features/terminal/components/terminal.tsx
  src/features/terminal/hooks/use-terminal-connection.ts
  src/features/terminal/hooks/use-terminal-tabs.ts
  src/features/terminal/hooks/use-terminal-write-buffer.ts
  src/features/terminal/types/terminal.ts
Due: rust-fmt-workspace, typescript-check, biome-check

Normalize remote terminal formatting
  src/features/file-system/controllers/store.ts
  src/features/terminal/components/terminal-session.tsx
  src/features/terminal/components/terminal.tsx
  src/features/terminal/hooks/use-terminal-write-buffer.ts
Due: typescript-check, biome-check

Fix Rust formatting to pass CI
  crates/ai/src/acp/bridge.rs
  crates/ai/src/acp/client.rs
  crates/remote/src/lib.rs
  crates/runtime/src/bun.rs
  crates/runtime/src/node.rs
  crates/tooling/src/installer.rs
  crates/version-control/src/git/stash.rs
  crates/version-control/src/git/status.rs
  crates/version-control/src/git/worktree.rs
  src-tauri/src/commands/ai/acp.rs
  src-tauri/src/commands/ai/chat_history.rs
  src-tauri/src/commands/database/duckdb.rs
  src-tauri/src/commands/database/mysql.rs
  src-tauri/src/commands/database/postgres.rs
  src-tauri/src/commands/database/sqlite.rs
  src-tauri/src/commands/project/remote.rs
  src-tauri/src/commands/version_control/github.rs
  src-tauri/src/main.rs
Due: rust-fmt-workspace

Fix terminal-focused keymap routing
  src/features/keymaps/commands/command-registry.ts
  src/features/keymaps/defaults/default-keymaps.ts
  src/features/layout/components/main-layout.tsx
  src/features/tabs/components/global-new-tab-menu.tsx
  src/features/terminal/components/terminal-container.tsx
Due: typescript-check, biome-check

Harden terminal paste and output handling
  src/features/terminal/components/terminal.tsx
  src/features/terminal/hooks/use-terminal-connection.ts
Due: typescript-check, biome-check

Fix PR viewer crash on older gh CLI versions
  crates/github/src/lib.rs
Due: rust-fmt-workspace

Fix PR viewer crash when status check fields are missing
  crates/github/src/lib.rs
  src/features/github/components/pr-status.tsx
  src/features/github/types.ts
Due: rust-fmt-workspace, typescript-check, biome-check

Add terminal profiles and shell selection
  crates/terminal/src/config.rs
  crates/terminal/src/connection.rs
  crates/terminal/src/shell.rs
  src/features/settings/components/tabs/terminal-settings.tsx
  src/features/settings/store.ts
  src/features/terminal/components/terminal-container.tsx
  src/features/terminal/components/terminal-session.tsx
  src/features/terminal/components/terminal-tab-bar.tsx
  src/features/terminal/hooks/use-terminal-tabs.ts
  src/features/terminal/stores/shells-store.ts
  src/features/terminal/types/terminal.ts
  src/features/terminal/utils/terminal-profiles.ts
Due: rust-fmt-workspace, typescript-check, biome-check

Normalize terminal profile formatting
  src/features/terminal/hooks/use-terminal-tabs.ts
  src/features/terminal/utils/terminal-profiles.ts
Due: typescript-check, biome-check

Fix project tabs DOM nesting and ARIA roles
  src/features/layout/components/sidebar/sidebar-pane-selector.tsx
  src/features/window/components/project-tabs.tsx
Due: typescript-check, biome-check

Fix terminal shell loading update loop
  src/features/settings/components/tabs/terminal-settings.tsx
  src/features/terminal/components/terminal-container.tsx
  src/features/terminal/components/terminal-tab-bar.tsx
Due: typescript-check, biome-check

Fix Rust formatting in GitHub PR details
  crates/github/src/lib.rs
Due: rust-fmt-workspace

Fix prerelease blockers and clippy warnings
  crates/database/src/connection_manager.rs
  crates/database/src/providers/sqlite.rs
  crates/github/src/lib.rs
  crates/lsp/src/config.rs
  crates/remote/src/lib.rs
  crates/terminal/src/manager.rs
  scripts/pre-release-check.ts
  src-tauri/src/commands/ai/acp.rs
  src-tauri/src/commands/project/remote.rs
Due: rust-fmt-workspace, typescript-check, biome-check

Fix prerelease TypeScript check command
  scripts/pre-release-check.ts
Due: typescript-check, biome-check

Bump version to 0.4.5-alpha.1
  package.json
  src-tauri/Cargo.toml
  src-tauri/tauri.conf.json
Due: biome-check

Fix alpha release build configuration
  Cargo.lock
  src-tauri/tauri.conf.json
Due: biome-check

Bump version to 0.4.5-alpha.2
  package.json
  src-tauri/Cargo.toml
  src-tauri/tauri.conf.json
Due: biome-check

Fix release-only webview devtools checks
  Cargo.lock
  scripts/pre-release-check.ts
  src-tauri/src/commands/ui/window.rs
Due: rust-fmt-workspace, typescript-check, biome-check

Normalize tauri config formatting
  src-tauri/tauri.conf.json
Due: biome-check

Bump version to 0.4.5-alpha.3
  package.json
  src-tauri/Cargo.toml
  src-tauri/tauri.conf.json
Due: biome-check

Fix CI checks after alpha release
  .github/workflows/ci.yml
  Cargo.lock
  scripts/release.ts
  src-tauri/tauri.conf.json
Due: typescript-check, biome-check

Fix release workflow for linux arm packaging
  .github/workflows/release.yml
Due: none

Bump version to 0.4.5-alpha.4
  package.json
  src-tauri/Cargo.toml
  src-tauri/tauri.conf.json
Due: biome-check

Harden release workflow publishing
  .github/workflows/release.yml
Due: none

Add Postgres subscription commands
  Cargo.lock
  crates/database/src/providers/duckdb.rs
  crates/database/src/providers/mysql.rs
  crates/database/src/providers/postgres.rs
  crates/database/src/sql_common.rs
  src-tauri/src/commands/database/postgres.rs
  src-tauri/src/main.rs
Due: rust-fmt-workspace

Add Postgres subscription management UI
  src/features/database/models/common.types.ts
  src/features/database/providers/postgres/components/create-subscription-dialog.tsx
  src/features/database/providers/postgres/components/postgres-subscription-schema-view.tsx
  src/features/database/providers/sql/create-sql-store.ts
  src/features/database/providers/sql/sql-database-viewer.tsx
  src/features/database/providers/sqlite/components/data-grid.tsx
  src/features/database/providers/sqlite/components/info-view.tsx
  src/features/database/providers/sqlite/components/table-sidebar.tsx
  src/features/database/providers/sqlite/components/table-toolbar.tsx
  src/features/database/providers/sqlite/sqlite-types.ts
Due: typescript-check, biome-check

Fix inline edit model selector dropdown
  src/features/editor/components/editor.tsx
  src/features/editor/components/inline-edit-model-selector.tsx
Due: typescript-check, biome-check

Add unified Dropdown component and migrate all dropdown implementations
  src/features/ai/components/history/sidebar.tsx
  src/features/editor/components/toolbar/breadcrumb.tsx
  src/features/git/components/git-branch-manager.tsx
  src/features/git/components/git-view.tsx
  src/features/github/components/github-prs-view.tsx
  src/features/layout/components/footer/editor-footer.tsx
  src/features/terminal/components/terminal-tab-bar.tsx
  src/features/window/components/run-actions-button.tsx
  src/ui/context-menu.tsx
  src/ui/dropdown.tsx
  src/ui/pane.tsx
Due: typescript-check, biome-check

Migrate AI chat selectors to unified Dropdown component
  src/features/ai/components/selectors/chat-mode-selector.tsx
  src/features/ai/components/selectors/context-selector.tsx
  src/features/ai/components/selectors/unified-agent-selector.tsx
Due: typescript-check, biome-check

Fix terminal panel initialization and layout
  src/features/command-palette/constants/view-actions.tsx
  src/features/keymaps/commands/command-registry.ts
  src/features/terminal/components/terminal-container.tsx
  src/features/terminal/components/terminal-session.tsx
  src/features/terminal/components/terminal.tsx
  src/features/terminal/hooks/use-terminal-connection.ts
  src/features/window/hooks/use-menu-events-wrapper.ts
Due: typescript-check, biome-check

Silence benign git diff lookup errors
  src/features/git/api/git-diff-api.ts
Due: typescript-check, biome-check

Add new window support and refine title bar chrome
  src-tauri/src/main.rs
  src-tauri/src/menu.rs
  src/features/layout/components/bottom-pane/bottom-pane.tsx
  src/features/layout/components/main-layout.tsx
  src/features/layout/components/resizable-pane.tsx
  src/features/layout/components/sidebar/sidebar-pane-selector.tsx
  src/features/settings/components/tabs/appearance-settings.tsx
  src/features/settings/store.ts
  src/features/tabs/components/tab-bar-item.tsx
  src/features/tabs/components/tab-bar.tsx
  src/features/window/components/account-menu.tsx
  src/features/window/components/project-picker-dialog.tsx
  src/features/window/components/project-tabs.tsx
  src/features/window/components/window-title-display.tsx
  src/features/window/custom-title-bar.tsx
  src/features/window/hooks/use-menu-events-wrapper.ts
  src/features/window/hooks/use-menu-events.ts
  src/features/window/menu-bar/window-menu-bar.tsx
  src/features/window/utils/create-app-window.ts
  src/ui/dialog.tsx
  src/ui/select.tsx
  src/ui/unified-tab.tsx
Due: rust-fmt-workspace, typescript-check, biome-check

Unify search and pane header interactions
  src/features/ai/components/chat/chat-header.tsx
  src/features/diagnostics/diagnostics-pane.tsx
  src/features/editor/components/toolbar/find-bar.tsx
  src/features/terminal/components/terminal-search.tsx
  src/ui/search-popover.tsx
Due: typescript-check, biome-check

Improve inline edit and parser-driven editor rendering
  public/tree-sitter/parsers/json/highlights.scm
  public/tree-sitter/parsers/toml/highlights.scm
  src/features/editor/components/editor.tsx
  src/features/editor/components/gutter/flow-line-numbers.tsx
  src/features/editor/components/gutter/fold-indicators.tsx
  src/features/editor/components/gutter/gutter.tsx
  src/features/editor/components/inline-edit-model-selector.tsx
  src/features/editor/hooks/use-editor-keydown.ts
  src/features/editor/hooks/use-inline-edit.ts
  src/features/editor/lib/wasm-parser/loader.ts
  src/features/editor/lib/wasm-parser/tokenizer.ts
  src/features/editor/lib/wasm-parser/types.ts
Due: typescript-check, biome-check

Refine workspace explorer and terminal actions
  src/features/file-explorer/components/file-explorer-tree-item.tsx
  src/features/file-explorer/components/file-explorer-tree.tsx
  src/features/file-explorer/styles/file-explorer-tree.css
  src/features/file-system/controllers/store.ts
  src/features/layout/components/empty-editor-state.tsx
  src/features/terminal/components/terminal-container.tsx
  src/features/terminal/components/terminal-tab-bar-item.tsx
  src/features/terminal/hooks/use-terminal-write-buffer.ts
  src/features/terminal/stores/custom-actions-store.ts
  src/features/terminal/stores/terminal-store.ts
Due: typescript-check, biome-check

Refresh Athas light theme palette
  src/extensions/themes/builtin/athas.json
  src/features/settings/lib/appearance-bootstrap.ts
Due: typescript-check, biome-check

Refresh development tooling configuration
  .codex/environments/environment.toml
  CONTRIBUTING.md
  docs/contributing.mdx
  package.json
  scripts/prevent-build.sh
  src/features/window/components/project-picker-dialog.tsx
Due: typescript-check, biome-check

Path conditions:
  rust-fmt-workspace: any of: \.rs$
  typescript-check: any of: \.(ts|tsx)$
  biome-check: any of: \.(js|jsx|ts|tsx|json)$
