Repository athasdev/athas: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-fmt-workspace, typescript-check, biome-check

rust-fmt-workspace:
  name: Rust format (workspace)
  entry: cargo fmt
  args:
  - --all
  - --check
  language: system
  pass_filenames: false

typescript-check:
  name: TypeScript check
  entry: bun
  args:
  - typecheck
  language: system
  pass_filenames: false

biome-check:
  name: Biome check
  entry: bun
  args:
  - check
  - --write
  language: system
  pass_filenames: false

Let users set the Athas agent's step budget
  src/features/ai/intelligence/lib/intelligence-agent-steps.ts
  src/features/ai/intelligence/services/intelligence-agent.ts
  src/features/ai/services/ai-chat-service.ts
  src/features/settings/components/tabs/ai-settings.tsx
  src/features/settings/config/default-settings.ts
  src/features/settings/config/search-index.ts
  src/features/settings/lib/settings-normalization.ts
  src/features/settings/tests/settings-normalization.test.ts
  src/features/settings/types/settings.types.ts
Due: typescript-check, biome-check

Let users review what the Athas agent may run without asking
  src/features/ai/components/permissions/agent-allowed-actions-settings.tsx
  src/features/ai/intelligence/services/intelligence-command-allowlist.ts
  src/features/ai/tests/agent-allowed-actions.test.tsx
  src/features/command-palette/constants/advanced-actions.tsx
  src/features/settings/components/tabs/ai-settings.tsx
  src/features/settings/config/search-index.ts
Due: typescript-check, biome-check

Keep the upstream status of hosted stream errors
  src/features/ai/intelligence/lib/intelligence-agent-error.ts
  src/features/ai/lib/api-error.ts
  src/features/ai/tests/agent-turn-error.test.ts
Due: typescript-check, biome-check

Offer checkpoint restore on agent prompts
  src/features/ai/components/chat/chat-message.tsx
  src/features/ai/tests/checkpoint-restore-action.test.tsx
Due: typescript-check, biome-check

Stop window event listeners from crashing on unlisten
  src/features/settings/hooks/use-system-accessibility.ts
  src/features/window/components/project-picker.tsx
  src/features/window/hooks/use-cli-open.ts
  src/features/window/hooks/use-deep-link.ts
  src/utils/tauri-drag-drop.ts
  src/utils/tests/tauri-drag-drop.test.ts
Due: typescript-check, biome-check

Stop MCP servers that finish starting after their run ended
  src/features/ai/intelligence/services/intelligence-mcp-transports.ts
  src/features/ai/tests/intelligence-mcp.test.ts
Due: typescript-check, biome-check

Keep peeked file models alive while anything still holds them
  src/features/editor/engines/monaco/text-model-resolver.ts
  src/features/editor/tests/monaco-text-model-resolver.test.ts
Due: typescript-check, biome-check

Close gaps in the agent's command auto-approval
  src/features/ai/intelligence/lib/intelligence-command-policy.ts
  src/features/ai/tests/intelligence-command-policy.test.ts
Due: typescript-check, biome-check

Keep secret files out of attached folder context
  src/features/ai/lib/context-references.ts
  src/features/ai/tests/context-references.test.ts
Due: typescript-check, biome-check

Apply project rules whose globs use brace lists
  src/features/ai/lib/project-rules.ts
  src/features/ai/tests/project-rules.test.ts
Due: typescript-check, biome-check

Finish signing out when the auth token cannot be removed
  src/features/window/stores/auth.store.ts
  src/features/window/tests/auth-store.test.ts
Due: typescript-check, biome-check

Pause Tab autocomplete for policy only when Athas refuses
  src/features/editor/engines/monaco/intelligence-completions.ts
  src/features/editor/tests/intelligence-completions.test.ts
Due: typescript-check, biome-check

Stop the inline edit preview from pulling the view back
  src/features/editor/inline-edit/monaco-inline-edit-preview.ts
  src/features/editor/inline-edit/use-inline-edit.ts
  src/features/editor/tests/inline-edit-lifecycle.test.tsx
Due: typescript-check, biome-check

Give files the agent creates the usual file mode
  crates/ai/src/workspace_tools.rs
Due: rust-fmt-workspace

Keep LSP renames out of peek models and off disk when cancelled
  src/features/editor/engines/monaco/lsp-providers.ts
  src/features/editor/tests/monaco-lsp-completion.test.ts
Due: typescript-check, biome-check

Catch failures from new fire-and-forget agent calls
  src/features/ai/components/chat/checkpoint-restore-button.tsx
  src/features/ai/components/chat/hosted-usage-banner.tsx
  src/features/ai/components/input/chat-input-bar.tsx
  src/features/editor/engines/monaco/monaco-environment.ts
Due: typescript-check, biome-check

Keep built-in agent writes with the turn that made them
  src/features/ai/intelligence/services/intelligence-agent.ts
  src/features/ai/services/agent-edits-service.ts
  src/features/ai/tests/intelligence-agent.test.ts
Due: typescript-check, biome-check

Forget a deleted chat's checkpoints
  src/features/ai/services/agent-checkpoints-service.ts
  src/features/ai/stores/ai-chat/chat-actions.ts
  src/features/ai/tests/agent-checkpoints-service.test.ts
Due: typescript-check, biome-check

Keep earlier summaries when history is summarised again
  src/features/ai/lib/conversation-history.ts
  src/features/ai/tests/conversation-history.test.ts
Due: typescript-check, biome-check

Let checkpoint restore bring back files the agent deleted
  src/features/ai/intelligence/services/intelligence-agent.ts
  src/features/ai/services/agent-edits-service.ts
  src/features/ai/tests/agent-edits-service.test.ts
  src/features/ai/tests/intelligence-agent.test.ts
Due: typescript-check, biome-check

Put files the agent's commands change into review and checkpoints
  crates/ai/src/lib.rs
  crates/ai/src/workspace_changes.rs
  crates/ai/src/workspace_tools.rs
  src-tauri/src/commands/ai/intelligence.rs
  src/features/ai/intelligence/services/intelligence-agent.ts
  src/features/ai/tests/intelligence-agent.test.ts
Due: rust-fmt-workspace, typescript-check, biome-check

Ask before read-only commands that follow links out of the workspace
  crates/ai/src/workspace_tools.rs
  src-tauri/src/commands/ai/intelligence.rs
  src-tauri/src/main.rs
  src/features/ai/intelligence/lib/intelligence-command-policy.ts
  src/features/ai/intelligence/services/intelligence-agent.ts
  src/features/ai/intelligence/services/intelligence-command-allowlist.ts
  src/features/ai/tests/intelligence-agent.test.ts
  src/features/ai/tests/intelligence-command-policy.test.ts
Due: rust-fmt-workspace, typescript-check, biome-check

Keep the built-in agent's mode per chat
  src/features/ai/components/chat/ai-chat.tsx
  src/features/ai/hooks/use-chat-mode.ts
  src/features/ai/hooks/use-chat-store.ts
  src/features/ai/hooks/use-composer-context-budget.ts
  src/features/ai/lib/composer-modes.ts
  src/features/ai/services/agent-turn-runner.ts
  src/features/ai/services/chat-mode-service.ts
  src/features/ai/stores/ai-chat/ai-chat-state.ts
  src/features/ai/stores/ai-chat/ai-chat-store.types.ts
  src/features/ai/stores/ai-chat/chat-actions.ts
  src/features/ai/tests/agent-turn-runner.test.ts
  src/features/ai/types/composer-mode.types.ts
Due: typescript-check, biome-check

Resume Tab autocomplete when an API key or provider changes
  src/features/ai/services/ai-token-service.ts
  src/features/editor/engines/monaco/intelligence-completions.ts
  src/features/editor/stores/intelligence-completion.store.ts
  src/features/editor/tests/intelligence-completions.test.ts
Due: typescript-check, biome-check

Stop the inline edit preview flickering while the user types
  src/features/editor/inline-edit/use-inline-edit.ts
  src/features/editor/tests/inline-edit-lifecycle.test.tsx
Due: typescript-check, biome-check

Clear a chat's agent changes review and checkpoints with /clear
  src/features/ai/components/input/chat-input-bar.tsx
  src/features/ai/services/agent-checkpoints-service.ts
  src/features/ai/services/chat-compaction-service.ts
  src/features/ai/stores/agent-edits.store.ts
  src/features/ai/tests/agent-checkpoints-service.test.ts
  src/features/ai/tests/chat-clear.test.ts
Due: typescript-check, biome-check

Handle every deep link and CLI open request that was taken
  src/features/window/hooks/use-cli-open.ts
  src/features/window/hooks/use-deep-link.ts
  src/features/window/tests/pending-queue-drain.test.ts
  src/features/window/utils/pending-queue-drain.ts
Due: typescript-check, biome-check

Run Athas Automatic when the hosted connection has no model
  src/features/ai/intelligence/lib/resolve-agent-model.ts
  src/features/ai/intelligence/lib/resolve-intelligence-connection.ts
  src/features/ai/tests/intelligence-settings.test.ts
  src/features/ai/tests/resolve-agent-model.test.ts
  src/features/settings/components/intelligence-preferences.tsx
Due: typescript-check, biome-check

Leave agent file access to the approval flow
  crates/ai/src/acp/client.rs
  crates/ai/src/acp/workspace_path.rs
Due: rust-fmt-workspace

Keep shell-ready debug adapter commands intact
  src/features/debugger/services/debug-adapter-events.ts
  src/features/debugger/tests/debugger-command.test.ts
  src/features/debugger/utils/debugger-command.ts
Due: typescript-check, biome-check

Quote dropped terminal paths for the active shell
  src/features/terminal/components/terminal.tsx
  src/features/terminal/tests/terminal-file-drop.test.ts
  src/features/terminal/utils/terminal-file-drop.ts
Due: typescript-check, biome-check

Ignore a closed stdin pipe when git exits early
  crates/version-control/src/git/host.rs
Due: rust-fmt-workspace

Let local development installs skip extension checksums
  crates/extensions/src/installer.rs
Due: rust-fmt-workspace

Probe the Linux namespace sandbox the way Chromium uses it
  src-tauri/src/bootstrap/linux.rs
Due: rust-fmt-workspace

Keep editor buffers identical to their Monaco model
  src/features/editor/components/monaco-editor.tsx
  src/features/editor/engines/monaco/content-sync.ts
  src/features/editor/engines/monaco/document-change-batch.ts
  src/features/editor/engines/monaco/model-lifecycle.ts
  src/features/editor/stores/buffer.store.ts
  src/features/editor/tests/monaco-buffer-sync.test.ts
  src/features/editor/tests/monaco-model-lifecycle.test.ts
  src/features/editor/types/editor.types.ts
  src/features/editor/utils/editor-text-changes.ts
  src/vite-env.d.ts
Due: typescript-check, biome-check

Resync LSP documents instead of failing after lost edits
  crates/lsp/src/document_sync.rs
  crates/lsp/src/manager.rs
  src/features/editor/lsp/lsp-client.ts
  src/features/editor/stores/editor-app.store.ts
  src/features/editor/tests/lsp-document-sync.test.ts
Due: rust-fmt-workspace, typescript-check, biome-check

Ignore superseded highlight requests
  src/features/editor/hooks/use-tokenizer.ts
  src/features/editor/markdown/code-highlight.ts
Due: typescript-check, biome-check

Keep prompts and file paths out of crash reports
  src/features/telemetry/lib/crash-report-redaction.ts
  src/features/telemetry/services/telemetry.ts
  src/features/telemetry/tests/crash-report-redaction.test.ts
Due: typescript-check, biome-check

Path conditions:
  rust-fmt-workspace: any of: \.rs$
  typescript-check: any of: \.(ts|tsx)$
  biome-check: any of: \.(js|jsx|ts|tsx|json)$
