Repository athasdev/athas: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-fmt-workspace, typescript-check, biome-check

.pre-commit-config.yaml:

# Pre-commit hooks configuration for Rust + TypeScript/React project
# See https://pre-commit.com for more information

repos:
  # Rust hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-toml
      - id: check-json
        exclude: 'tsconfig.*\.json$'
      - id: check-merge-conflict

  # Rust formatting only (clippy/check too heavy for CI)
  - repo: local
    hooks:
      - id: rust-fmt-workspace
        name: Rust format (workspace)
        entry: cargo fmt
        args: ['--all', '--check']
        language: system
        files: '\.rs$'
        pass_filenames: false

  # TypeScript/JavaScript with Biome and type checking
  - repo: local
    hooks:
      - id: typescript-check
        name: TypeScript check
        entry: bun
        args: ['typecheck']
        language: system
        files: \.(ts|tsx)$
        pass_filenames: false
      - id: biome-check
        name: Biome check
        entry: bun
        args: ['check', '--write']
        language: system
        files: \.(js|jsx|ts|tsx|json)$
        pass_filenames: false

  # Commit message validation
  - repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
    rev: v9.18.0
    hooks:
      - id: commitlint
        stages: [commit-msg]
        additional_dependencies: ['@commitlint/cli']

Refactor extension system with bundled LSP and improved language loading
  src/features/layout/components/main-layout.tsx
  src/features/layout/components/resizable-pane.tsx
  src/features/layout/components/right-pane/resizable-right-pane.tsx
  src/features/layout/components/sidebar/resizable-sidebar.css
  src/features/layout/components/sidebar/resizable-sidebar.tsx
Due: typescript-check, biome-check

Refactor extension system with bundled LSP and improved language loading
  src/extensions/bundled/typescript/extension.json
  src/extensions/bundled/typescript/lsp/.gitkeep
  src/extensions/bundled/typescript/lsp/package.json
  src/extensions/bundled/typescript/queries/highlights.scm
  src/extensions/languages/language-registry.ts
  src/extensions/languages/manifests/erb.json
  src/extensions/languages/manifests/javascript.json
  src/extensions/languages/manifests/json.json
  src/extensions/languages/manifests/ruby.json
  src/extensions/languages/manifests/typescript.json
  src/extensions/languages/typescript-extension.ts
  src/extensions/loader/extension-loader.ts
  src/extensions/registry/extension-registry.ts
  src/extensions/registry/extension-store.ts
  src/features/editor/components/code-editor.tsx
  src/features/editor/extensions/manager.ts
  src/features/editor/lib/wasm-parser/loader.ts
  src/features/editor/stores/buffer-store.ts
  src/features/editor/utils/position.ts
Due: typescript-check, biome-check

Add advanced model selector dropdown to AI chat
  src/features/ai/components/input/chat-input-bar.tsx
  src/features/ai/components/selectors/model-selector-dropdown.tsx
Due: typescript-check, biome-check

Polish settings UI
  .github/ISSUE_TEMPLATE/bug_report.md
  .gitignore
  src-tauri/src/lsp/manager.rs
  src/extensions/README.md
  src/extensions/themes/theme-initializer.ts
  src/features/settings/components/tabs/extensions-settings.tsx
  src/features/settings/components/tabs/general-settings.tsx
  src/features/settings/store.ts
Due: rust-fmt-workspace, typescript-check, biome-check

Add react-grab support to web viewer
  src-tauri/src/commands/window.rs
  src/features/web-viewer/components/web-viewer.tsx
Due: rust-fmt-workspace, typescript-check, biome-check

Add local highlight query fallback for WASM parser
  src/features/editor/lib/wasm-parser/loader.ts
Due: typescript-check, biome-check

Updated avalible models and context windows for Copilot
  src/features/ai/components/selectors/model-selector-dropdown.tsx
  src/features/ai/types/providers.ts
  src/features/settings/components/tabs/extensions-settings.tsx
Due: typescript-check, biome-check

Add GitHub Copilot authentication and integration
  src-tauri/src/commands/copilot_auth.rs
  src-tauri/src/commands/mod.rs
  src-tauri/src/main.rs
  src/features/ai/components/github-copilot-settings.tsx
  src/features/ai/components/selectors/model-selector-dropdown.tsx
  src/features/ai/store/copilot-auth-store.ts
  src/features/ai/types/copilot.ts
  src/features/settings/components/tabs/ai-settings.tsx
  src/utils/ai-chat.ts
  src/utils/providers/copilot-provider.ts
  src/utils/providers/index.ts
Due: rust-fmt-workspace, typescript-check, biome-check

Fix API key checks in AI sidebar for Copilot
  src-tauri/capabilities/main.json
  src-tauri/tauri.conf.json
  src/features/ai/components/chat/ai-chat.tsx
  src/features/ai/store/store.ts
Due: typescript-check, biome-check

Fix Copilot model selector to dynamically load models based on user plan
  src-tauri/src/commands/copilot_auth.rs
  src/features/ai/components/chat/ai-chat.tsx
  src/features/ai/store/copilot-auth-store.ts
  src/features/ai/types/providers.ts
Due: rust-fmt-workspace, typescript-check, biome-check

Fix traffic lights for macOS 26 (#453)
  src-tauri/tauri.conf.json
  src/features/window/custom-title-bar.tsx
Due: typescript-check, biome-check

Update Copilot integration with Athas OAuth App
  src-tauri/src/commands/copilot_auth.rs
Due: rust-fmt-workspace

Fix autosave functionality and dirty state logic
  src/features/editor/components/editor.tsx
  src/features/editor/stores/buffer-store.ts
Due: typescript-check, biome-check

Fix autosave functionality and dirty state logic (#449)
  src/features/editor/components/editor.tsx
  src/features/editor/stores/buffer-store.ts
Due: typescript-check, biome-check

Fixed bug with drag region for the window (#452)
  src/features/window/custom-title-bar.tsx
Due: typescript-check, biome-check

Fix workspace reset and terminal persistence (#448)
  src/features/file-system/controllers/store.ts
  src/features/file-system/types/interface.ts
  src/features/terminal/hooks/use-terminal-tabs.ts
  src/features/terminal/types/terminal.ts
  src/features/version-control/git/controllers/git-store.ts
  src/features/window/components/project-tabs.tsx
  src/stores/session-store.ts
Due: typescript-check, biome-check

Fix persistent commands feature and improve UX
  src/features/command-palette/components/command-palette.tsx
  src/features/command-palette/constants/settings-actions.tsx
  src/features/command-palette/store.ts
  src/features/settings/store.ts
  src/ui/command.tsx
Due: typescript-check, biome-check

Add new core feature persistent-commands (#438)
  src/features/command-palette/components/command-palette.tsx
  src/features/command-palette/constants/settings-actions.tsx
  src/features/command-palette/store.ts
  src/features/settings/config/features.ts
  src/features/settings/store.ts
  src/features/settings/types/feature.ts
  src/ui/command.tsx
Due: typescript-check, biome-check

Fix context menu positioning using createPortal (#447)
  src/features/window/components/project-tabs.tsx
Due: typescript-check, biome-check

Update default fonts to use a safe cross-platform font stack
  src/features/editor/stores/settings-store.ts
  src/features/settings/store.ts
Due: typescript-check, biome-check

Feat/terminal font settings (#446)
  bun.lock
  package.json
  src/features/editor/stores/settings-store.ts
  src/features/settings/components/settings-dialog.tsx
  src/features/settings/components/settings-vertical-tabs.tsx
  src/features/settings/components/tabs/terminal-settings.tsx
  src/features/settings/store.ts
  src/features/terminal/components/terminal.tsx
  src/features/terminal/hooks/use-terminal-addons.ts
  src/stores/ui-state/types.ts
Due: typescript-check, biome-check

Add ARIA accessibility descriptors for menus and tabs
  src/features/layout/components/sidebar/sidebar-pane-selector.tsx
  src/features/window/components/project-tabs.tsx
  src/features/window/menu-bar/index.tsx
  src/features/window/menu-bar/menu-item.tsx
  src/features/window/menu-bar/menu.tsx
Due: typescript-check, biome-check

Add ARIA accessibility descriptors for menus and tabs (#437)
  src/features/layout/components/sidebar/sidebar-pane-selector.tsx
  src/features/window/components/project-tabs.tsx
  src/features/window/menu-bar/index.tsx
  src/features/window/menu-bar/menu-item.tsx
  src/features/window/menu-bar/menu.tsx
Due: typescript-check, biome-check

Add Markdown syntax highlighting and fix LSP for JS/TS files
  Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/commands/development/mod.rs
  src-tauri/src/commands/development/runtime.rs
  src-tauri/src/features/mod.rs
  src-tauri/src/features/runtime/downloader.rs
  src-tauri/src/features/runtime/mod.rs
  src-tauri/src/features/runtime/node.rs
  src-tauri/src/features/runtime/types.rs
  src-tauri/src/lsp/client.rs
  src-tauri/src/lsp/manager.rs
  src-tauri/src/main.rs
  src/extensions/bundled/typescript/extension.json
  src/extensions/languages/javascript-extension.ts
  src/extensions/languages/language-provider.ts
  src/extensions/languages/typescript-lsp-extension.ts
  src/features/command-palette/constants/advanced-actions.tsx
  src/features/editor/components/code-editor.tsx
  src/features/editor/components/editor.tsx
  src/features/editor/hooks/use-lsp-integration.ts
  src/features/editor/hooks/use-tokenizer.ts
  src/features/editor/lib/wasm-parser/loader.ts
  src/features/editor/lib/wasm-parser/tokenizer.ts
  src/features/editor/lsp/lsp-client.ts
  src/features/editor/lsp/lsp-store.ts
  src/features/editor/stores/buffer-store.ts
  src/features/layout/components/footer/editor-footer.tsx
  src/features/version-control/git/controllers/use-git-gutter.ts
Due: rust-fmt-workspace, typescript-check, biome-check

Fix terminal font rendering for Nerd Fonts
  src/features/terminal/components/terminal.tsx
  src/features/terminal/hooks/use-terminal-addons.ts
Due: typescript-check, biome-check

Fix cmd+w to close terminal when terminal is focused
  src/features/keymaps/defaults/default-keymaps.ts
  src/features/keymaps/hooks/use-keymaps.ts
  src/features/terminal/components/terminal-container.tsx
  src/features/window/hooks/use-menu-events-wrapper.ts
Due: typescript-check, biome-check

Fix terminal font rendering for Nerd Fonts (#459)
  src/features/keymaps/defaults/default-keymaps.ts
  src/features/keymaps/hooks/use-keymaps.ts
  src/features/terminal/components/terminal-container.tsx
  src/features/terminal/components/terminal.tsx
  src/features/terminal/hooks/use-terminal-addons.ts
  src/features/window/hooks/use-menu-events-wrapper.ts
Due: typescript-check, biome-check

Fix OpenRouter validation endpoint
  src/utils/providers/openrouter-provider.ts
Due: typescript-check, biome-check

Fix link format in documentation
  docs/index.md
Due: none

Fix link format in documentation (#460)
  docs/index.md
Due: none

Add CDN-based syntax highlighting for 18 languages
  scripts/install-bundled-lsp.ts
  src/extensions/bundled/rust/extension.json
  src/extensions/bundled/rust/lsp/.gitkeep
  src/extensions/bundled/typescript/queries/highlights.scm
  src/extensions/languages/language-packager.ts
  src/extensions/languages/parser-cdn.ts
  src/features/editor/hooks/use-tokenizer.ts
  src/features/editor/lib/wasm-parser/loader.ts
Due: typescript-check, biome-check

Simpler approach for better scrollbar design
  src/styles.css
Due: none

Apply suggestions
  src/styles.css
Due: none

Auto-refresh Source Control when view becomes active
  src/features/layout/components/sidebar/main-sidebar.tsx
  src/features/version-control/git/components/git-view.tsx
Due: typescript-check, biome-check

Add 1 second delay before showing git blame popover
  src/features/version-control/git/components/inline-git-blame.tsx
Due: typescript-check, biome-check

Limit horizontal scroll to visible content overflow
  src/features/editor/components/editor.tsx
  src/features/editor/utils/lines.ts
Due: typescript-check, biome-check

Fix sticky folder background transparency in file tree
  src/features/file-explorer/views/file-tree.css
  src/features/file-explorer/views/file-tree.tsx
Due: typescript-check, biome-check
