Repository athasdev/athas: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-fmt-workspace, typescript-check, biome-check

rust-fmt-workspace:
  name: Rust format (workspace)
  entry: cargo fmt
  args:
  - --all
  - --check
  language: system
  pass_filenames: false

typescript-check:
  name: TypeScript check
  entry: bun
  args:
  - typecheck
  language: system
  pass_filenames: false

biome-check:
  name: Biome check
  entry: bun
  args:
  - check
  - --write
  language: system
  pass_filenames: false

Restrict context menu prevention to production mode
  src/App.tsx
Due: typescript-check, biome-check

Fix rust ci check format
  src-tauri/src/commands/tokens.rs
Due: rust-fmt-workspace

Remove icon from index.html
  index.html
Due: none

Update welcome screen logo and add new SVG asset
  public/athas.svg
  public/logo.svg
  src/components/window/welcome-screen.tsx
Due: typescript-check, biome-check

Merge branch 'master' into catppuccin.
  src/components/editor/core/text-editor.tsx
  src/components/editor/rendering/editor-viewport.tsx
  src/components/ui/tooltip.tsx
  src/utils/editor-position.ts
Due: typescript-check, biome-check

Implement rename feature
  src-tauri/src/commands/fs.rs
  src-tauri/src/main.rs
  src/components/layout/main-sidebar.tsx
  src/file-explorer/views/file-tree.tsx
  src/file-system/controllers/platform.ts
  src/file-system/controllers/store.ts
  src/file-system/models/app.ts
  src/file-system/models/interface.ts
Due: rust-fmt-workspace, typescript-check, biome-check

Clean
  src/file-explorer/views/file-tree.tsx
Due: typescript-check, biome-check

Feat(providers): add request URL/SSE/JSON hooks
  .github/workflows/release.yml
  src-tauri/tauri.conf.json
  src/utils/ai-chat.ts
  src/utils/providers/provider-interface.ts
Due: typescript-check, biome-check

Feat(gemini): add Google Gemini provider and register in providers list
  src/utils/providers/gemini-provider.ts
  src/utils/providers/index.ts
Due: typescript-check, biome-check

Fix(tauri): guard plugin calls in browser dev
  src/extensions/themes/theme-loader.ts
  src/file-system/controllers/file-watcher-store.ts
  src/file-system/controllers/platform.ts
  src/file-system/controllers/store.ts
  src/settings/hooks/use-updater.ts
  src/stores/font-store.ts
  src/utils/app-utils.ts
Due: typescript-check, biome-check

Fix(ai-chat): input clear sync
  src/components/ai-chat/ai-chat-input-bar.tsx
  src/utils/context-builder.ts
  src/utils/types.ts
Due: typescript-check, biome-check

Fix(windows): CLI discovery uses 'where' and detects .cmd/.ps1 shims
  src-tauri/src/lsp/utils.rs
Due: rust-fmt-workspace

Fixed Gutter overlapping with editor, text selection isn't auucrate
  src/components/editor/core/line-based-editor.tsx
  src/components/editor/core/text-editor.tsx
  src/components/editor/overlays/completion-dropdown.tsx
  src/components/editor/overlays/decoration-layer.tsx
  src/utils/editor-position.ts
Due: typescript-check, biome-check

Fixed lint issues
  src/components/editor/core/line-based-editor.tsx
  src/components/editor/core/text-editor.tsx
  src/components/editor/overlays/completion-dropdown.tsx
  src/components/editor/overlays/decoration-layer.tsx
  src/utils/editor-position.ts
Due: typescript-check, biome-check

Do not run CI workflows in forks
  .github/workflows/bun.yml
  .github/workflows/rust.yml
Due: none

Add v1 tentative vision.md
  VISION.md
Due: none

Fix editor context menu pop up position logic
  src/components/editor/code-editor.tsx
  src/components/editor/core/text-editor.tsx
  src/components/editor/overlays/editor-context-menu.tsx
  src/extensions/editor-api.ts
Due: typescript-check, biome-check

Fix context-menu click event don't trigger
  src/components/editor/core/text-editor.tsx
Due: typescript-check, biome-check

Prevent empty text selection to resolve unwanted text selection
  src/App.tsx
  src/components/editor/core/text-editor.tsx
Due: typescript-check, biome-check

Clean
  src/components/editor/core/text-editor.tsx
Due: typescript-check, biome-check

Add dynamic modal positioning to branch manager
  src/version-control/git/views/git-branch-manager.tsx
Due: typescript-check, biome-check

Import `usehooks-ts` to handle native event
  package.json
  src/components/editor/breadcrumb.tsx
  src/file-explorer/views/file-tree.tsx
  src/hooks/use-context-menus.tsx
  src/version-control/git/views/git-status-panel.tsx
Due: typescript-check, biome-check

Add number-input component
  src/components/ui/number-input.tsx
  src/settings/components/tabs/editor-settings.tsx
Due: typescript-check, biome-check

Improve Linux menu topbar UI and cross-platform consistency. Fixes #260
  bun.lock
  src-tauri/src/main.rs
  src-tauri/src/menu.rs
Due: rust-fmt-workspace

Fix all context-menu incorrect popup position when zoomed
  src/App.tsx
  src/components/editor/code-editor.tsx
  src/components/editor/core/text-editor.tsx
  src/components/editor/overlays/editor-context-menu.tsx
  src/components/tab-bar/tab-bar.tsx
  src/components/zoom-indicator.tsx
  src/extensions/editor-api.ts
  src/file-explorer/views/file-tree.css
  src/stores/zoom-store.ts
  src/styles.css
Due: typescript-check, biome-check

Implement fully functional menu bar toggle with Alt+M
  bun.lock
  src-tauri/src/main.rs
  src-tauri/src/menu.rs
  src/hooks/use-keyboard-shortcuts.ts
  src/hooks/use-menu-events-wrapper.ts
  src/hooks/use-menu-events.ts
  src/settings/store.ts
Due: rust-fmt-workspace, typescript-check, biome-check

Fix Rust formatting for CI compliance
  src-tauri/src/menu.rs
Due: rust-fmt-workspace

Remove duplicate menu toggle listener
  src/hooks/use-menu-events.ts
Due: typescript-check, biome-check

Fix TypeScript error in settings store defaults
  src/settings/store.ts
Due: typescript-check, biome-check

Trying to resolve ts ci checks
  package.json
  src/settings/store.ts
Due: typescript-check, biome-check

Change pre-commit hook command to use bunx instead of npx
  package.json
Due: biome-check

Prevent tabs from closing on right-click due to auxclick event handling
  src/components/tab-bar/tab-bar-item.tsx
Due: typescript-check, biome-check

Add UI menu bar and option to toggle native/UI menu bar
  src-tauri/capabilities/main.json
  src-tauri/src/main.rs
  src/components/layout/main-layout.tsx
  src/components/window/custom-title-bar.tsx
  src/components/window/menu-bar/index.tsx
  src/components/window/menu-bar/menu-item.tsx
  src/components/window/menu-bar/menu.tsx
  src/components/window/menu-bar/submenu.tsx
  src/extensions/themes/builtin/catppuccin.toml
  src/file-explorer/views/file-tree.css
  src/settings/components/restart-dialog.tsx
  src/settings/components/tabs/theme-settings.tsx
  src/settings/store.ts
  src/stores/ui-state-store.ts
Due: rust-fmt-workspace, typescript-check, biome-check

Automatically enable native menu bar if on MacOS
  src-tauri/src/main.rs
  src/settings/store.ts
Due: rust-fmt-workspace, typescript-check, biome-check

Add integrated menu bar to macOS
  src/components/window/custom-title-bar.tsx
Due: typescript-check, biome-check

Add common dialog component
  src/components/remote/connection-dialog.tsx
  src/components/ui/dialog.tsx
  src/settings/components/restart-dialog.tsx
  src/settings/components/settings-dialog.tsx
Due: typescript-check, biome-check

Improve terminal bar with better positioning and code cleanup
  src/components/terminal/terminal-tab-bar.tsx
  src/components/ui/dropdown.tsx
  src/components/ui/tooltip.tsx
  src/utils/fit-viewport.ts
Due: typescript-check, biome-check

Fix program z-index problems
  src/components/bottom-pane.tsx
  src/file-explorer/views/file-tree.tsx
Due: typescript-check, biome-check

Integrate tauri clipboard and file system apis
  src/components/tab-bar/tab-bar.tsx
  src/components/tab-bar/tab-context-menu.tsx
Due: typescript-check, biome-check

Add lines and columns infomation to footer
  src/components/editor-footer.tsx
Due: typescript-check, biome-check

Path conditions:
  rust-fmt-workspace: any of: \.rs$
  typescript-check: any of: \.(ts|tsx)$
  biome-check: any of: \.(js|jsx|ts|tsx|json)$
