Repository athasdev/athas: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-fmt-workspace, typescript-check, biome-check

rust-fmt-workspace:
  name: Rust format (workspace)
  entry: cargo fmt
  args:
  - --all
  - --check
  language: system
  pass_filenames: false

typescript-check:
  name: TypeScript check
  entry: bun
  args:
  - typecheck
  language: system
  pass_filenames: false

biome-check:
  name: Biome check
  entry: bun
  args:
  - check
  - --write
  language: system
  pass_filenames: false

Fix git changes file name spacing
  src/features/git/components/status/git-status-file-item.tsx
Due: typescript-check, biome-check

Preserve terminal shell profiles
  src/features/editor/stores/buffer-content-factory.ts
  src/features/editor/stores/buffer-session-persistence.ts
  src/features/editor/stores/buffer.store.ts
  src/features/file-system/controllers/workspace-session.ts
  src/features/file-system/stores/file-system.store.ts
  src/features/file-system/tests/workspace-session.test.ts
  src/features/layout/components/bottom-pane/bottom-pane.tsx
  src/features/panes/components/pane-container.tsx
  src/features/panes/types/pane-content.types.ts
  src/features/tabs/utils/internal-tab-drag.ts
  src/features/terminal/components/terminal-host.tsx
  src/features/terminal/components/terminal-session.tsx
  src/features/terminal/components/terminal-slot.tsx
  src/features/terminal/components/terminal-tab-bar.tsx
  src/features/terminal/components/terminal-tab.tsx
  src/features/terminal/components/terminal.tsx
  src/features/terminal/stores/terminal-slots.store.ts
  src/features/terminal/tests/terminal-slots-store.test.ts
  src/features/window/stores/session.store.ts
Due: typescript-check, biome-check

Fix Windows preview integrations
  src-tauri/src/commands/ai/acp.rs
  src/extensions/icon-themes/bundled-icon-theme-assets.ts
  src/extensions/runtime/extension-contribution-runtime.ts
  src/features/window/components/title-bar/title-bar.tsx
  src/features/window/components/window-menu-bar.tsx
Due: rust-fmt-workspace, typescript-check, biome-check

Prepare release
  Cargo.lock
  package.json
  src-tauri/Cargo.toml
  src-tauri/tauri.conf.json
Due: biome-check

Align stores with createSelectors and centralize row line-height
  src/features/ai/components/input/chat-input-bar.tsx
  src/features/ai/components/mentions/ai-file-selector.tsx
  src/features/ai/components/selectors/context-selector.tsx
  src/features/command-palette/components/command-palette.tsx
  src/features/database/providers/mongodb/mongodb-viewer.tsx
  src/features/database/providers/redis/redis-viewer.tsx
  src/features/file-explorer/components/file-explorer-tree-item.tsx
  src/features/file-explorer/lib/file-tree-row.ts
  src/features/git/components/status/git-status-file-item.tsx
  src/features/git/components/status/git-status-panel.tsx
  src/features/github/components/github-actions-view.tsx
  src/features/github/components/github-auth-status.tsx
  src/features/github/components/github-issues-view.tsx
  src/features/github/components/github-pr-viewer.tsx
  src/features/github/components/github-prs-view.tsx
  src/features/github/stores/github.store.ts
  src/features/panes/components/pane-container.tsx
  src/features/settings/stores/settings.store.ts
  src/features/sidebar/components/sidebar-tree.tsx
  src/features/sidebar/components/tree-row.tsx
  src/styles/theme.css
Due: typescript-check, biome-check

Align stores with createSelectors and centralize row line-height (#733)
  src/features/ai/components/input/chat-input-bar.tsx
  src/features/ai/components/mentions/ai-file-selector.tsx
  src/features/ai/components/selectors/context-selector.tsx
  src/features/command-palette/components/command-palette.tsx
  src/features/database/providers/mongodb/mongodb-viewer.tsx
  src/features/database/providers/redis/redis-viewer.tsx
  src/features/file-explorer/components/file-explorer-tree-item.tsx
  src/features/file-explorer/lib/file-tree-row.ts
  src/features/git/components/status/git-status-file-item.tsx
  src/features/git/components/status/git-status-panel.tsx
  src/features/github/components/github-actions-view.tsx
  src/features/github/components/github-auth-status.tsx
  src/features/github/components/github-issues-view.tsx
  src/features/github/components/github-pr-viewer.tsx
  src/features/github/components/github-prs-view.tsx
  src/features/github/stores/github.store.ts
  src/features/panes/components/pane-container.tsx
  src/features/settings/stores/settings.store.ts
  src/features/sidebar/components/sidebar-tree.tsx
  src/features/sidebar/components/tree-row.tsx
  src/styles/theme.css
Due: typescript-check, biome-check

Add native Codex integration
  crates/ai/src/codex/mod.rs
  crates/ai/src/codex/server.rs
  crates/ai/src/codex/types.rs
  crates/ai/src/lib.rs
  extensions/official/codex-cli/extension.json
  src-tauri/src/app_setup.rs
  src-tauri/src/commands/ai/acp.rs
  src-tauri/src/commands/ai/codex.rs
  src-tauri/src/commands/ai/mod.rs
  src-tauri/src/main.rs
  src/features/ai/components/chat/ai-chat.tsx
  src/features/ai/components/selectors/agent-selector.tsx
  src/features/ai/integrations/codex/codex-integration-service.ts
  src/features/ai/integrations/codex/codex-settings.tsx
  src/features/ai/integrations/codex/codex-types.ts
  src/features/ai/integrations/integration-registry.ts
  src/features/ai/services/ai-chat-service.ts
  src/features/ai/utils/ai-context-builder.ts
  src/features/settings/components/tabs/ai-settings.tsx
Due: rust-fmt-workspace, typescript-check, biome-check

Clarify pull request submissions
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

Close Markdown containers before fenced code
  src/features/editor/markdown/parser.ts
  src/features/editor/tests/markdown-parser.test.ts
Due: typescript-check, biome-check

Expand native release packages
  .github/workflows/release.yml
  scripts/release/assets/policy.mjs
  scripts/release/packaging/linux/native.sh
  scripts/release/preflight/run.ts
  scripts/release/run.ts
  scripts/release/tests/linux-packaging.test.ts
  scripts/release/tests/policy.test.ts
  scripts/release/tests/version.test.ts
  scripts/release/version.ts
  src-tauri/tauri.conf.json
Due: typescript-check, biome-check

Remove unused extension surfaces
  src/extensions/database/database-provider-extensions.ts
  src/extensions/hooks/use-extension-install-prompt.ts
  src/extensions/icon-themes/icon-theme-normalization.ts
  src/extensions/installer/extension-installer.ts
  src/extensions/languages/full-extensions.ts
  src/extensions/languages/language-provider.ts
  src/extensions/registry/extension-store-runtime.ts
  src/extensions/registry/extension-store-types.ts
  src/extensions/themes/custom-theme-store.ts
  src/extensions/themes/default-theme.ts
  src/extensions/themes/theme-file.ts
  src/extensions/themes/theme-loader.ts
  src/extensions/tooling/extension-workspace.ts
  src/extensions/types/extension-contributions.ts
  src/extensions/types/extension-manifest.ts
  src/extensions/ui/components/create-extension-wizard.tsx
  src/extensions/ui/services/ui-extension-generation-service.ts
Due: typescript-check, biome-check

Refine project and agent navigation
  src/features/ai/components/agent-launcher.tsx
  src/features/ai/components/chat/chat-header.tsx
  src/features/ai/hooks/use-new-agent-action.ts
  src/features/layout/components/sidebar/main-sidebar.tsx
  src/features/layout/components/sidebar/sidebar-history.tsx
  src/features/layout/components/sidebar/sidebar-projects.tsx
  src/features/layout/tests/project-carousel.test.ts
  src/features/layout/utils/project-carousel.ts
  src/features/panes/components/empty-editor-state.tsx
  src/features/window/components/title-bar/project-tabs.tsx
  src/features/window/components/title-bar/title-bar-project-area.tsx
  src/features/window/components/title-bar/title-bar.tsx
  src/features/window/components/title-bar/window-title-display.tsx
  src/styles/window-transparency.css
  src/ui/sidebar.tsx
Due: typescript-check, biome-check

Complete shadcn component library
  bun.lock
  package.json
  src/ui/accordion.tsx
  src/ui/aspect-ratio.tsx
  src/ui/calendar.tsx
  src/ui/carousel.tsx
  src/ui/chart.tsx
  src/ui/direction.tsx
  src/ui/drawer.tsx
  src/ui/dropdown-menu.tsx
  src/ui/input-otp.tsx
  src/ui/native-select.tsx
  src/ui/navigation-menu.tsx
  src/ui/pagination.tsx
  src/ui/radio-group.tsx
  src/ui/resizable.tsx
  src/ui/sheet.tsx
  src/ui/skeleton.tsx
  src/ui/slider.tsx
  src/ui/toast.tsx
Due: typescript-check, biome-check

Add external integration extension runtime
  crates/extensions/src/installer.rs
  extensions/sdk/athas-extension-api.d.ts
  src-tauri/src/commands/extensions.rs
  src-tauri/src/main.rs
  src-tauri/tauri.conf.json
  src/extensions/marketplace/marketplace-extensions.ts
  src/extensions/runtime/extension-contribution-runtime.ts
  src/extensions/tests/extension-contributions.test.ts
  src/extensions/tests/extension-permissions.test.ts
  src/extensions/tooling/build-extensions-index.ts
  src/extensions/tooling/extension-workspace.ts
  src/extensions/tooling/package-extensions.ts
  src/extensions/tooling/validate.ts
  src/extensions/types/extension-contributions.ts
  src/extensions/types/extension-manifest.ts
  src/extensions/ui/components/extension-view-renderer.tsx
  src/extensions/ui/components/extensions-sidebar.tsx
  src/extensions/ui/components/external-extension-view.tsx
  src/extensions/ui/services/extension-host-services.ts
  src/extensions/ui/services/extension-permissions.ts
  src/extensions/ui/services/ui-extension-host.ts
  src/extensions/ui/services/ui-extension-initializer.ts
  src/extensions/ui/services/ui-extension-worker-runtime.ts
  src/extensions/ui/services/ui-extension-worker.ts
  src/extensions/ui/stores/ui-extension-store.ts
  src/extensions/ui/types/extension-view.ts
  src/features/settings/types/settings.types.ts
  src/features/window/hooks/use-deep-link.ts
Due: rust-fmt-workspace, typescript-check, biome-check

Add GitLab integration extension
  extensions/official/gitlab/extension.json
  extensions/official/gitlab/icon.svg
  extensions/official/gitlab/main.js
Due: biome-check

Add Sentry integration extension
  extensions/official/sentry/extension.json
  extensions/official/sentry/icon.svg
  extensions/official/sentry/main.js
Due: biome-check

Keep generated extension manifests stable
  src/extensions/tooling/extension-workspace.ts
Due: typescript-check, biome-check

Make extension packages cross-platform deterministic
  extensions/official/gitlab/extension.json
  extensions/official/icons-market/extension.json
  extensions/official/icons-symbols/extension.json
  extensions/official/sentry/extension.json
  src/extensions/tooling/extension-workspace.ts
Due: typescript-check, biome-check

Guard LSP requests by capability and document state
  crates/lsp/src/client.rs
  crates/lsp/src/manager.rs
  src/features/editor/lsp/lsp-client.ts
  src/features/editor/lsp/stores/lsp.store.ts
  src/features/editor/lsp/use-code-lens.ts
Due: rust-fmt-workspace, typescript-check, biome-check

Open Codex resources in native Athas tabs
  crates/ai/src/codex/server.rs
  src/features/ai/components/chat/ai-chat.tsx
  src/features/ai/integrations/codex/codex-dynamic-tools.ts
  src/features/ai/integrations/codex/codex-integration-service.ts
  src/features/ai/lib/open-agent-history.ts
  src/features/ai/tests/codex-dynamic-tools.test.ts
  src/features/ai/tests/codex-integration-service.test.ts
  src/features/ai/tests/open-agent-history.test.ts
  src/features/layout/components/sidebar/sidebar-history.tsx
Due: rust-fmt-workspace, typescript-check, biome-check

Preserve OpenRouter streaming responses
  src/features/ai/lib/chat-completion-budget.ts
  src/features/ai/services/ai-chat-service.ts
  src/features/ai/services/providers/openrouter-provider.ts
  src/features/ai/tests/chat-completion-budget.test.ts
  src/features/ai/tests/openrouter-provider.test.ts
  src/utils/stream-utils.ts
  src/utils/tests/stream-utils.test.ts
Due: typescript-check, biome-check

Add GitHub notifications menu
  crates/github/src/api.rs
  crates/github/src/lib.rs
  crates/github/src/models.rs
  src-tauri/src/commands/version_control/github.rs
  src-tauri/src/main.rs
  src/features/github/components/github-notifications-menu.tsx
  src/features/github/tests/github-link-utils.test.ts
  src/features/github/types/github.types.ts
  src/features/github/utils/github-data-cache.ts
  src/features/github/utils/github-link-utils.ts
  src/features/window/components/title-bar/title-bar.tsx
Due: rust-fmt-workspace, typescript-check, biome-check

Fit multibuffer view toggle to its header
  src/features/file-explorer/components/file-navigator-sidebar.tsx
Due: typescript-check, biome-check

Prime CEF before Linux release packaging
  .github/workflows/release.yml
  scripts/release/tests/linux-packaging.test.ts
Due: typescript-check, biome-check

Avoid duplicate Linux package resources
  scripts/release/packaging/linux/native.sh
  scripts/release/tests/linux-packaging.test.ts
Due: typescript-check, biome-check

Standardize Rust test validation
  .github/workflows/ci.yml
  CONTRIBUTING.md
  Cargo.lock
  Cargo.toml
  crates/ai/src/acp/client.rs
  crates/database/src/sidecar.rs
  crates/debugger/src/lib.rs
  crates/github/src/api.rs
  crates/project/Cargo.toml
  crates/project/src/lib.rs
  crates/remote/src/ssh_helpers.rs
  crates/terminal/src/connection.rs
  crates/tooling/src/installer.rs
  crates/tooling/src/installer/tests.rs
  crates/wsl/src/lib.rs
  package.json
  scripts/check/rust.sh
  scripts/release/preflight/run.ts
  src-tauri/src/app_setup.rs
  src-tauri/src/commands/app_logs.rs
  src-tauri/src/commands/development/cli.rs
  src-tauri/src/commands/development/docker.rs
  src-tauri/src/commands/development/docker/tests.rs
  src-tauri/src/commands/development/ide_recents.rs
  src-tauri/src/commands/development/lsp/commands.rs
  src-tauri/src/commands/editor/notebook.rs
  src-tauri/src/commands/editor/search.rs
  src-tauri/src/commands/ui/theme.rs
  src-tauri/src/commands/version_control/github.rs
  src-tauri/src/menu.rs
  src-tauri/src/secure_storage.rs
Due: rust-fmt-workspace, typescript-check, biome-check

Centralize Clippy argument policy
  clippy.toml
  crates/database/src/providers/mongodb.rs
  crates/github/src/api.rs
  crates/remote/src/lib.rs
  crates/remote/src/terminal.rs
  src-tauri/src/commands/database/mongodb.rs
  src-tauri/src/commands/development/lsp/commands.rs
  src-tauri/src/commands/project/remote.rs
  src-tauri/src/commands/ui/window.rs
  src-tauri/src/commands/version_control/github.rs
Due: rust-fmt-workspace

Unify editor toolbar surfaces
  src/features/editor/components/toolbar/breadcrumb.tsx
  src/features/tabs/components/tab-bar.tsx
Due: typescript-check, biome-check

Keep pull request work in the viewer
  src/features/editor/stores/buffer-content-factory.ts
  src/features/editor/stores/buffer.store.ts
  src/features/github/components/github-edit-view.tsx
  src/features/github/components/github-pr-action-view.tsx
  src/features/github/components/github-pr-inline-action.tsx
  src/features/github/components/github-pr-sidebar.tsx
  src/features/github/components/github-pr-viewer-header.tsx
  src/features/github/components/github-pr-viewer.tsx
  src/features/github/components/github-title-body-form.tsx
  src/features/github/components/pr-activity-panel.tsx
  src/features/github/tests/github-editable-resource.test.ts
  src/features/github/tests/github-form-buffer.test.ts
  src/features/github/utils/github-editable-resource.ts
  src/features/panes/components/pane-container.tsx
  src/features/panes/types/pane-content.types.ts
Due: typescript-check, biome-check

Restore native Linux window controls
  scripts/release/tests/linux-packaging.test.ts
  src-tauri/src/commands/ui/window.rs
  src-tauri/tauri.linux.conf.json
Due: rust-fmt-workspace, typescript-check, biome-check

Make GitHub notifications and issues native
  AGENTS.md
  crates/github/src/api.rs
  crates/github/src/lib.rs
  crates/github/src/models.rs
  crates/github/src/tests.rs
  src-tauri/src/commands/version_control/github.rs
  src-tauri/src/main.rs
  src/features/command-palette/components/command-palette.tsx
  src/features/command-palette/constants/file-actions.tsx
  src/features/command-palette/constants/github-actions.tsx
  src/features/command-palette/constants/view-actions.tsx
  src/features/command-palette/tests/github-actions.test.tsx
  src/features/editor/stores/buffer.store.ts
  src/features/github/components/comment-item.tsx
  src/features/github/components/github-create-view.tsx
  src/features/github/components/github-edit-view.tsx
  src/features/github/components/github-issue-viewer.tsx
  src/features/github/components/github-markdown-editor.tsx
  src/features/github/components/github-markdown.tsx
  src/features/github/components/github-notifications-menu.tsx
  src/features/github/components/github-pr-viewer.tsx
  src/features/github/components/github-title-body-form.tsx
  src/features/github/tests/github-editable-resource.test.ts
  src/features/github/tests/github-link-utils.test.ts
  src/features/github/tests/github-notification-routing.test.ts
  src/features/github/types/github.types.ts
  src/features/github/utils/github-editable-resource.ts
  src/features/github/utils/github-link-utils.ts
  src/features/github/utils/github-notification-routing.ts
  src/features/panes/components/pane-container.tsx
Due: rust-fmt-workspace, typescript-check, biome-check

Use themed orbs across loading states
  bun.lock
  package.json
  src/features/ai/components/agent-launcher.tsx
  src/features/ai/components/chat/chat-loading-indicator.tsx
  src/features/ai/components/chat/chat-message.tsx
  src/features/ai/components/icons/provider-icons.tsx
  src/features/ai/components/input/chat-input-bar.tsx
  src/features/ai/types/ai-chat.types.ts
  src/features/panes/components/empty-editor-state.tsx
  src/features/viewer/components/viewer-state.tsx
  src/ui/sonner.tsx
  src/ui/thinking-orb.tsx
Due: typescript-check, biome-check

Fix responsive AI settings and Ollama endpoints
  src-tauri/capabilities/main.json
  src/features/ai/components/selectors/model-selector.tsx
  src/features/ai/components/selectors/provider-selector.tsx
  src/features/ai/lib/ollama-endpoint.ts
  src/features/ai/services/providers/ollama-provider.ts
  src/features/ai/tests/ollama-endpoint.test.ts
  src/features/ai/tests/ollama-http-scope.test.ts
  src/features/settings/components/settings-dialog.tsx
  src/features/settings/components/settings-section.tsx
  src/features/settings/components/tabs/ai-settings.tsx
  src/features/settings/lib/settings-normalization.ts
  src/features/settings/tests/settings-normalization.test.ts
  src/features/settings/tests/settings-ui-contract.test.ts
Due: typescript-check, biome-check

Path conditions:
  rust-fmt-workspace: any of: \.rs$
  typescript-check: any of: \.(ts|tsx)$
  biome-check: any of: \.(js|jsx|ts|tsx|json)$
