Repository athasdev/athas: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-fmt-workspace, typescript-check, biome-check

.pre-commit-config.yaml:

# Pre-commit hooks configuration for Rust + TypeScript/React project
# See https://pre-commit.com for more information

repos:
  # Rust hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-toml
      - id: check-json
        exclude: 'tsconfig.*\.json$'
      - id: check-merge-conflict

  # Rust formatting only (clippy/check too heavy for CI)
  - repo: local
    hooks:
      - id: rust-fmt-workspace
        name: Rust format (workspace)
        entry: cargo fmt
        args: ['--all', '--check']
        language: system
        files: '\.rs$'
        pass_filenames: false

  # TypeScript/JavaScript with Biome and type checking
  - repo: local
    hooks:
      - id: typescript-check
        name: TypeScript check
        entry: bun
        args: ['typecheck']
        language: system
        files: \.(ts|tsx)$
        pass_filenames: false
      - id: biome-check
        name: Biome check
        entry: bun
        args: ['check', '--write']
        language: system
        files: \.(js|jsx|ts|tsx|json)$
        pass_filenames: false

  # Commit message validation
  - repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
    rev: v9.18.0
    hooks:
      - id: commitlint
        stages: [commit-msg]
        additional_dependencies: ['@commitlint/cli']

Rework the file tree's sticky folders and drag handling
  src/features/file-explorer/components/file-explorer-tree.tsx
  src/features/file-explorer/components/file-explorer-viewport.tsx
  src/features/file-explorer/hooks/use-file-explorer-drag-drop.ts
  src/features/file-explorer/lib/file-tree-viewport.ts
  src/features/file-explorer/tests/file-tree-viewport.test.ts
Due: typescript-check, biome-check

Keep tauri-build in the form the Tauri CLI writes
  scripts/release/tests/linux-packaging.test.ts
  src-tauri/Cargo.toml
Due: typescript-check, biome-check

Narrow the Tauri permissions, asset scope and plugin set
  Cargo.lock
  bun.lock
  package.json
  scripts/release/tests/tauri-security.test.ts
  src-tauri/Cargo.toml
  src-tauri/capabilities/main.json
  src-tauri/src/app_setup.rs
  src-tauri/src/commands/project/asset_scope.rs
  src-tauri/src/commands/project/mod.rs
  src-tauri/src/main.rs
  src-tauri/tauri.conf.json
  src/bindings/commands.ts
  src/extensions/runtime/extension-contribution-runtime.ts
  src/features/ai/tests/ollama-http-scope.test.ts
  src/features/editor/components/html/html-preview.tsx
  src/features/editor/markdown/markdown-preview.tsx
  src/features/editor/utils/html-preview-document.ts
  src/features/terminal/hooks/use-terminal-addons.ts
  src/features/viewer/image/components/image-viewer.tsx
  src/features/viewer/pdf/components/pdf-viewer.tsx
  src/features/window/components/project-custom-icon.tsx
  src/features/window/hooks/use-asset-url.ts
  src/features/window/tests/project-custom-icon.test.tsx
  src/features/window/utils/project-icons.ts
  src/utils/asset-access.ts
Due: rust-fmt-workspace, typescript-check, biome-check

Open inline edit from the selection toolbar
  src/features/editor/components/selection/editor-selection-agent-action.tsx
  src/features/editor/engines/codemirror/features/codemirror-selection-agent-action.tsx
  src/features/editor/tests/codemirror-selection-agent-action.test.tsx
Due: typescript-check, biome-check

Show and switch the Tab model from its menu, with real errors
  src/features/ai/components/selectors/model-connection-picker.tsx
  src/features/ai/intelligence/services/intelligence-text-service.ts
  src/features/editor/components/toolbar/intelligence-completion-status.tsx
  src/features/editor/intelligence-completion/intelligence-completion-context.ts
  src/features/editor/intelligence-completion/intelligence-completion-service.ts
  src/features/editor/tests/codemirror-intelligence-completion-service.test.ts
  src/features/settings/components/ai/tab-completion-section.tsx
  src/features/settings/hooks/use-tab-completion-model.ts
Due: typescript-check, biome-check

Keep the per-keystroke dirty check off the whole document
  src/features/editor/history/undo-group-tracker.ts
  src/features/editor/stores/buffer-history-tracking.ts
  src/features/editor/stores/buffer.store.ts
  src/features/editor/tests/saved-content-tracker.test.ts
  src/features/editor/utils/editor-text-changes.ts
  src/features/editor/utils/saved-content-tracker.ts
Due: typescript-check, biome-check

Stop the continuous agent scheduler from polling while idle
  src/features/ai/continuous-agents/continuous-agents-runtime.tsx
Due: typescript-check, biome-check

Keep typing from re-rendering the editor chrome
  src/features/editor/components/code-editor.tsx
  src/features/editor/components/codemirror-editor.tsx
  src/features/editor/engines/codemirror/features/codemirror-features.tsx
  src/features/editor/engines/codemirror/features/codemirror-inline-edit.tsx
  src/features/editor/engines/codemirror/features/codemirror-inline-git-blame.tsx
  src/features/editor/engines/codemirror/features/lsp-code-actions.tsx
  src/features/editor/hooks/use-lsp-integration.ts
  src/features/editor/lsp/use-code-lens.ts
  src/features/editor/tests/codemirror-editor.test.tsx
  src/features/tabs/components/tab-bar.tsx
Due: typescript-check, biome-check

Take icon themes and the installer off the startup path
  src/extensions/icon-themes/bundled-icon-theme-assets.ts
  src/extensions/installer/extension-installer.ts
  src/extensions/installer/installed-languages.ts
  src/extensions/languages/language-packager.ts
  src/extensions/registry/extension-store-bootstrap.ts
  src/extensions/registry/extension-store-lifecycle.ts
  src/extensions/registry/extension-store.ts
  src/extensions/runtime/extension-activation-batch.ts
  src/extensions/runtime/language-extension-installation.ts
Due: typescript-check, biome-check

Load sidebar views other than the file tree on demand
  src/features/layout/components/sidebar/sidebar-pane.tsx
Due: typescript-check, biome-check

Make typing in large files as fast as in small ones
  src/bindings/commands.ts
  src/features/editor/components/codemirror-editor.tsx
  src/features/editor/extensions/api.ts
  src/features/editor/hooks/use-layout.ts
  src/features/editor/stores/editor-app.store.ts
  src/features/editor/stores/view.store.ts
  src/features/editor/tests/editor-api.test.ts
  src/features/editor/tests/go-to-line.test.ts
  src/features/editor/tests/large-file.test.ts
  src/features/editor/tests/view-store-large-file.test.ts
  src/features/editor/utils/go-to-line.ts
  src/features/editor/utils/large-file.ts
  src/features/vim/stores/vim-commands.ts
Due: typescript-check, biome-check

Drop generated browser bindings committed by mistake
  src/bindings/commands.ts
Due: typescript-check, biome-check

Load the share, agent sessions and feedback dialogs on first open
  src/components/deferred-event-dialog.tsx
  src/components/tests/deferred-event-dialog.test.tsx
  src/workbench-app.tsx
Due: typescript-check, biome-check

Run the Claude agent on API keys instead of Claude subscriptions
  crates/ai/src/acp/bridge.rs
  crates/ai/src/acp/bridge_commands.rs
  crates/ai/src/acp/bridge_init.rs
  crates/ai/src/acp/mod.rs
  crates/ai/src/lib.rs
  src-tauri/src/app_setup.rs
  src-tauri/src/commands/ai/acp.rs
  src-tauri/src/commands/ai/tokens.rs
Due: rust-fmt-workspace

Highlight code outside the editor with Lezer
  src/features/database/components/query-bar.tsx
  src/features/editor/engines/codemirror/languages.ts
  src/features/editor/markdown/code-highlight.ts
  src/features/editor/markdown/use-highlighted-markdown.ts
  src/features/editor/notebook/highlighted-code.tsx
  src/features/editor/syntax/syntax-highlight.ts
  src/features/editor/tests/markdown-code-highlight.test.ts
  src/features/git/components/diff/git-diff-line.tsx
  src/features/git/hooks/use-git-diff-highlight.ts
  src/features/git/tests/git-diff-highlight.test.ts
  src/features/git/types/git-diff.types.ts
  src/features/global-search/services/search-excerpt-syntax.ts
  src/features/global-search/tests/search-excerpt-syntax.test.ts
Due: typescript-check, biome-check

Turn quick open into a search hub
  src/features/quick-open/components/file-count-badge.tsx
  src/features/quick-open/components/file-list-item.tsx
  src/features/quick-open/components/quick-open-item-row.tsx
  src/features/quick-open/components/quick-open.tsx
  src/features/quick-open/components/symbol-icon.tsx
  src/features/quick-open/components/symbol-list-item.tsx
  src/features/quick-open/constants/keyboard-keys.ts
  src/features/quick-open/constants/quick-open-sections.tsx
  src/features/quick-open/hooks/use-keyboard-navigation.ts
  src/features/quick-open/hooks/use-quick-open.ts
  src/features/quick-open/sections/use-commands-section.tsx
  src/features/quick-open/sections/use-files-section.tsx
  src/features/quick-open/sections/use-settings-section.tsx
  src/features/quick-open/sections/use-symbol-sections.tsx
  src/features/quick-open/sections/use-tabs-section.tsx
  src/features/quick-open/sections/use-text-section.tsx
  src/features/quick-open/tests/keyboard-navigation.test.tsx
  src/features/quick-open/tests/quick-open-sections.test.ts
  src/features/quick-open/types/quick-open.types.ts
  src/features/tabs/components/buffer-type-icon.tsx
  src/features/tabs/components/tab-bar-item.tsx
Due: typescript-check, biome-check

Search Git, GitHub and agents from quick open
  src/features/quick-open/components/quick-open.tsx
  src/features/quick-open/constants/quick-open-sections.tsx
  src/features/quick-open/hooks/use-quick-open.ts
  src/features/quick-open/sections/use-agents-section.tsx
  src/features/quick-open/sections/use-commands-section.tsx
  src/features/quick-open/sections/use-git-section.tsx
  src/features/quick-open/sections/use-github-section.tsx
  src/features/quick-open/sections/use-settings-section.tsx
  src/features/quick-open/sections/use-symbols-section.tsx
  src/features/quick-open/tests/quick-open-sections.test.ts
  src/features/quick-open/types/quick-open.types.ts
Due: typescript-check, biome-check

Show agent sessions as a timeline in the sidebar
  src/features/ai/components/agent-session-sidebar-item.tsx
  src/features/ai/components/sidebar/agents-sidebar.tsx
  src/features/ai/hooks/use-agent-display-names.ts
  src/features/ai/lib/agent-session-groups.ts
  src/features/ai/tests/agent-session-groups.test.ts
  src/features/quick-open/sections/use-agents-section.tsx
Due: typescript-check, biome-check

Keep editor popups opaque with window transparency on
  src/features/editor/engines/codemirror/features/lsp-features.css
Due: none

Fix markdown sanitize probe forgery and review findings
  crates/version-control/src/git/blame.rs
  src/features/ai/integrations/codex/codex-account-api.ts
  src/features/ai/integrations/codex/codex-composer-catalog.ts
  src/features/ai/services/ai-editor-features.ts
  src/features/ai/services/ai-settings-effects.ts
  src/features/ai/tests/codex-composer-catalog.test.ts
  src/features/editor/components/toolbar/editor-status-actions.tsx
  src/features/editor/markdown/hooks/use-highlighted-markdown.ts
  src/features/editor/markdown/markdown-render-client.ts
  src/features/editor/markdown/services/parser.ts
  src/features/editor/services/editor-feature-registry.ts
  src/features/editor/services/word-wrap-toggle.ts
  src/features/editor/tests/editor-feature-registry.test.tsx
  src/features/editor/tests/markdown-block-sanitize.test.ts
  src/features/editor/tests/markdown-render-client.test.ts
  src/features/editor/tests/use-highlighted-markdown.test.tsx
  src/features/git/api/git-diff-api.ts
  src/features/git/api/git-status-api.ts
  src/features/git/runtime/git-cache-registry.ts
  src/features/git/runtime/git-read-coordinator.ts
  src/features/git/tests/git-cache-registry.test.ts
  src/features/github/stores/github.store.ts
  src/features/github/tests/github-account-change-queries.test.ts
  src/features/keymaps/commands/view-command-actions.ts
  src/features/keymaps/commands/view-commands.tsx
  src/features/settings/services/settings-effect-registry.ts
  src/features/settings/tests/setting-override-clearing.test.ts
  src/features/settings/tests/settings-effect-registry.test.ts
Due: rust-fmt-workspace, typescript-check, biome-check

Render markdown off the main thread and prewarm git blame
  crates/version-control/src/git/blame.rs
  src-tauri/src/commands/version_control/git.rs
  src-tauri/src/main.rs
  src/bindings/commands.ts
  src/features/editor/components/toolbar/editor-status-actions.tsx
  src/features/editor/markdown/markdown-render-client.ts
  src/features/editor/markdown/markdown-render-worker.ts
  src/features/editor/markdown/parser.ts
  src/features/editor/markdown/render-markdown.ts
  src/features/editor/markdown/use-highlighted-markdown.ts
  src/features/editor/stores/editor-setting-overrides.store.ts
  src/features/editor/tests/editor-setting-overrides.test.ts
  src/features/editor/tests/markdown-parser.test.ts
  src/features/editor/tests/markdown-render-client.test.ts
  src/features/editor/tests/use-highlighted-markdown.test.tsx
  src/features/git/api/git-blame-api.ts
  src/features/git/hooks/use-git-blame.ts
  src/features/git/tests/git-blame-api.test.ts
  src/features/git/tests/use-git-blame.test.tsx
  src/features/keymaps/commands/view-command-actions.ts
  src/features/settings/stores/settings.store.ts
  src/features/settings/tests/setting-override-clearing.test.ts
  src/features/viewer/image/editor/utils/image-transforms.ts
  src/features/viewer/image/tests/use-image-operations.test.tsx
  src/ui/icon-concepts.ts
Due: rust-fmt-workspace, typescript-check, biome-check

Harden terminal export and chat history migration
  crates/ai/src/chat_history.rs
  src/bindings/commands.ts
  src/features/ai/services/ai-chat-history-service.ts
  src/features/ai/tests/ai-chat-history-service.test.ts
  src/features/terminal/services/terminal-tab-actions.ts
  src/features/terminal/tests/terminal-tab-actions.test.ts
  src/features/terminal/utils/terminal-buffer-text.ts
Due: rust-fmt-workspace, typescript-check, biome-check

Fix split close, pane targeting and startup bundle regressions
  Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/commands/project/fs.rs
  src/features/ai/hooks/use-settled-chat-messages.ts
  src/features/ai/tests/use-settled-chat-messages.test.tsx
  src/features/editor/components/code-editor.tsx
  src/features/editor/components/codemirror-editor.tsx
  src/features/editor/services/live-document-registry.ts
  src/features/editor/stores/buffer.store.ts
  src/features/editor/stores/state.store.ts
  src/features/editor/tests/buffer-pane-targeting.test.ts
  src/features/editor/tests/codemirror-editor.test.tsx
  src/features/editor/tests/jump-navigation.test.ts
  src/features/editor/tests/live-document.test.ts
  src/features/editor/utils/jump-navigation.ts
  src/features/file-system/hooks/use-file-system-folder-drop.ts
  src/features/file-system/stores/file-system.store.ts
  src/features/file-system/types/interface.types.ts
  src/features/git/utils/open-commit-diff-buffer.ts
  src/features/layout/components/bottom-pane/bottom-pane.tsx
  src/features/panes/components/pane-container.tsx
  src/features/sidebar/utils/open-sidebar-resource.ts
  src/features/terminal/components/terminal-tab-bar.tsx
  src/features/vim/stores/vim-commands.ts
  src/features/vim/tests/vim-commands.test.ts
  src/features/window/stores/session.store.ts
  src/features/window/stores/workspace-tabs.store.ts
  src/features/window/tests/persisted-project-tabs.test.ts
  src/features/window/tests/workspace-root-source.test.ts
  src/features/window/utils/persisted-project-tabs.ts
  src/features/window/utils/project-tab-path.ts
  src/features/workspace/tests/workspace-session-repository.test.ts
  src/utils/app-events.ts
Due: rust-fmt-workspace, typescript-check, biome-check

Patch the markdown preview per block
  src/features/editor/markdown/markdown-block-dom.ts
  src/features/editor/markdown/markdown-preview-search.ts
  src/features/editor/markdown/markdown-preview.tsx
  src/features/editor/markdown/parser.ts
  src/features/editor/markdown/render-markdown.ts
  src/features/editor/markdown/use-highlighted-markdown.ts
  src/features/editor/tests/markdown-block-dom.test.ts
  src/features/editor/tests/markdown-block-sanitize.test.ts
  src/features/editor/tests/markdown-parser.test.ts
  src/features/editor/tests/markdown-preview-interaction.test.tsx
  src/features/editor/tests/markdown-render-client.test.ts
  src/features/editor/tests/use-highlighted-markdown.test.tsx
Due: typescript-check, biome-check

Make terminal Clear and Export work and key tool calls by id
  bun.lock
  crates/ai/src/chat_history.rs
  package.json
  src/bindings/commands.ts
  src/features/ai/lib/chat-migration.ts
  src/features/ai/lib/tool-call-state.ts
  src/features/ai/services/ai-chat-history-service.ts
  src/features/ai/stores/ai-chat/chat-actions.ts
  src/features/ai/tests/ai-chat-history-service.test.ts
  src/features/ai/tests/chat-stream-batching.test.ts
  src/features/ai/tests/tool-call-state.test.ts
  src/features/terminal/components/terminal-tab-bar.tsx
  src/features/terminal/components/terminal.tsx
  src/features/terminal/hooks/use-terminal-addons.ts
  src/features/terminal/services/terminal-emulator-registry.ts
  src/features/terminal/services/terminal-tab-actions.ts
  src/features/terminal/tests/terminal-startup-recovery.test.tsx
  src/features/terminal/tests/terminal-tab-actions.test.ts
  src/features/terminal/types/terminal.types.ts
  src/features/terminal/utils/terminal-buffer-text.ts
Due: rust-fmt-workspace, typescript-check, biome-check

Measure file opens until the editor has painted
  src/features/editor/components/code-editor.tsx
  src/features/editor/components/codemirror-editor.tsx
  src/features/editor/engines/codemirror/features/codemirror-features.tsx
  src/features/editor/services/file-open-benchmark.ts
  src/features/editor/tests/file-open-benchmark.test.ts
  src/features/file-system/stores/file-system.store.ts
  src/features/panes/components/pane-container.tsx
Due: typescript-check, biome-check
