Repository athasdev/athas: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-fmt-workspace, typescript-check, biome-check

rust-fmt-workspace:
  name: Rust format (workspace)
  entry: cargo fmt
  args:
  - --all
  - --check
  language: system
  pass_filenames: false

typescript-check:
  name: TypeScript check
  entry: bun
  args:
  - typecheck
  language: system
  pass_filenames: false

biome-check:
  name: Biome check
  entry: bun
  args:
  - check
  - --write
  language: system
  pass_filenames: false

Tie file watcher events to the agent write that caused them
  crates/ai/src/acp/client.rs
  crates/ai/src/acp/file_access.rs
  crates/ai/src/acp/types.rs
  src/features/ai/components/chat/ai-chat.tsx
  src/features/ai/services/agent-edits-service.ts
  src/features/ai/tests/agent-edits-service.test.ts
  src/features/ai/types/acp.types.ts
  src/features/ai/types/agent-edits.types.ts
  src/features/file-system/services/file-watcher-listener.ts
Due: rust-fmt-workspace, typescript-check, biome-check

Remember each chat's Follow agent toggle across launches
  src/features/ai/lib/chat-session-settings.ts
  src/features/ai/stores/agent-follow.store.ts
  src/features/ai/stores/ai-chat/acp-actions.ts
  src/features/ai/stores/ai-chat/ai-chat-store.types.ts
  src/features/ai/stores/ai-chat/chat-actions.ts
  src/features/ai/tests/agent-follow.test.ts
  src/features/ai/tests/chat-session-settings.test.ts
  src/features/ai/types/ai-chat.types.ts
Due: typescript-check, biome-check

Give the Athas themes a sky accent
  src/extensions/themes/builtin/athas.json
Due: biome-check

Put the main editor tabs in the title bar row
  src-tauri/src/commands/ui/window.rs
  src-tauri/tauri.conf.json
  src-tauri/tauri.macos.conf.json
  src/features/file-system/tests/file-system-drop-controller.test.ts
  src/features/file-system/utils/file-system-drop-controller.ts
  src/features/layout/components/app-update-control.tsx
  src/features/layout/components/main-layout.tsx
  src/features/layout/components/project-switcher.tsx
  src/features/layout/components/sidebar/activity-bar.tsx
  src/features/layout/components/sidebar/activity-chrome.tsx
  src/features/panes/components/main-pane-tab-bar.tsx
  src/features/panes/components/pane-container.tsx
  src/features/panes/contexts/main-tab-bar-host.ts
  src/features/panes/tests/main-pane-tab-bar.test.tsx
  src/features/tabs/components/new-tab-menu.tsx
  src/features/tabs/components/tab-bar-item.tsx
  src/features/tabs/components/tab-bar.tsx
  src/features/window/components/account-menu.tsx
  src/features/window/components/title-bar/title-bar.tsx
  src/features/window/components/title-bar/title-navigation.tsx
  src/features/window/components/workbench-fullscreen-surface.tsx
  src/features/window/tests/title-bar-controls.test.ts
  src/features/window/tests/workbench-fullscreen-surface.test.tsx
  src/styles/theme.css
  src/ui/tab-bar.tsx
Due: rust-fmt-workspace, typescript-check, biome-check

Give the activity rail and title bar larger controls
  src-tauri/src/commands/ui/window.rs
  src-tauri/tauri.conf.json
  src-tauri/tauri.macos.conf.json
  src/features/diagnostics/components/diagnostics-activity-control.tsx
  src/features/layout/components/app-update-control.tsx
  src/features/layout/components/main-layout.tsx
  src/features/layout/components/project-switcher.tsx
  src/features/layout/components/sidebar/activity-bar.tsx
  src/features/layout/components/sidebar/activity-chrome.tsx
  src/features/layout/components/sidebar/activity-navigation.tsx
  src/features/layout/tests/activity-bar-layout.test.ts
  src/features/layout/utils/activity-bar-layout.ts
  src/features/notifications/components/notifications-trigger.tsx
  src/features/run-actions/components/run-actions-button.tsx
  src/features/window/components/account-menu.tsx
  src/features/window/components/title-bar/title-navigation.tsx
  src/features/window/tests/title-bar-controls.test.ts
  src/styles/theme.css
  src/ui/button.tsx
Due: rust-fmt-workspace, typescript-check, biome-check

Cover Arch NSS loading in the Linux launcher
  scripts/release/tests/linux-tarball-launcher.test.ts
Due: typescript-check, biome-check

Make tab dragging follow the pointer and land where dropped
  src/features/tabs/components/tab-bar.tsx
  src/features/tabs/tests/internal-tab-drag.test.ts
  src/features/tabs/utils/internal-tab-drag.ts
  src/ui/tab-bar.tsx
Due: typescript-check, biome-check

Tune the activity rail and keep the traffic lights aligned
  bun.lock
  package.json
  src-tauri/src/bootstrap/macos.rs
  src-tauri/src/commands/ui/window.rs
  src-tauri/src/main.rs
  src/features/diagnostics/components/diagnostics-activity-control.tsx
  src/features/layout/components/project-switcher.tsx
  src/features/layout/components/sidebar/activity-navigation.tsx
  src/features/layout/components/sidebar/project-glyph.tsx
  src/features/layout/tests/activity-bar-layout.test.ts
  src/features/layout/utils/activity-bar-layout.ts
  src/features/window/components/project-custom-icon.tsx
  src/styles/theme.css
  src/ui/button.tsx
  src/ui/icons.tsx
  src/ui/sidebar.tsx
Due: rust-fmt-workspace, typescript-check, biome-check

Show Markdown preview in the breadcrumb
  src/features/command-palette/components/command-palette.tsx
  src/features/command-palette/constants/markdown-actions.tsx
  src/features/editor/components/toolbar/breadcrumb.tsx
  src/features/editor/markdown/open-markdown-preview.ts
Due: typescript-check, biome-check

Open Settings as a page with its navigation in the sidebar
  src/features/ai/components/input/chat-preferences-menu.tsx
  src/features/ai/components/input/composer-agent-selector.tsx
  src/features/ai/components/messages/api-error-actions.tsx
  src/features/ai/components/skills/skills-command.tsx
  src/features/ai/tests/agent-window-service.test.ts
  src/features/ai/tests/api-error-actions.test.tsx
  src/features/ai/tests/composer-model-list.test.tsx
  src/features/command-palette/components/command-palette.tsx
  src/features/command-palette/components/theme-selector.tsx
  src/features/command-palette/constants/navigation-actions.tsx
  src/features/command-palette/constants/settings-actions.tsx
  src/features/git/components/git-branch-manager.tsx
  src/features/github/components/github-auth-status.tsx
  src/features/keymaps/commands/command-registry.ts
  src/features/keymaps/commands/view-command-actions.ts
  src/features/layout/components/sidebar/sidebar-pane.tsx
  src/features/run-actions/components/run-actions-button.tsx
  src/features/settings/components/settings-dialog.tsx
  src/features/settings/components/settings-navigation.tsx
  src/features/settings/components/settings-sidebar.tsx
  src/features/settings/components/settings-workbench-view.tsx
  src/features/settings/hooks/use-settings-page.ts
  src/features/settings/tests/settings-ui-contract.test.ts
  src/features/sharing/tests/settings-page.test.ts
  src/features/window/components/account-menu.tsx
  src/features/window/detached/detached-window-owner.ts
  src/features/window/hooks/use-deep-link.ts
  src/features/window/hooks/use-menu-events-wrapper.ts
  src/features/window/stores/ui-state/modal-slice.ts
  src/features/workspace/team/components/workspace-ai-context.tsx
  src/features/workspace/team/components/workspace-sidebar.tsx
  src/workbench-app.tsx
Due: typescript-check, biome-check

Fix squeezed project icons and tighten the window chrome
  src-tauri/src/bootstrap/macos.rs
  src-tauri/tauri.conf.json
  src-tauri/tauri.macos.conf.json
  src/features/layout/components/project-switcher.tsx
  src/features/layout/components/sidebar/activity-bar.tsx
  src/features/layout/components/sidebar/activity-chrome.tsx
  src/features/layout/components/sidebar/activity-navigation.tsx
  src/features/layout/components/sidebar/activity-project-panel.tsx
  src/features/layout/tests/activity-bar-layout.test.ts
  src/features/layout/utils/activity-bar-layout.ts
  src/features/tabs/components/new-tab-menu.tsx
  src/features/tabs/components/tab-bar.tsx
  src/styles/theme.css
  src/ui/button.tsx
Due: rust-fmt-workspace, typescript-check, biome-check

Leave the traffic lights where macOS puts them
  src-tauri/src/bootstrap/macos.rs
  src-tauri/src/commands/ui/window.rs
  src-tauri/src/main.rs
  src-tauri/tauri.conf.json
  src-tauri/tauri.macos.conf.json
  src/features/window/components/title-bar/title-navigation.tsx
  src/styles/theme.css
Due: rust-fmt-workspace, typescript-check, biome-check

Add an agents sidebar to the activity rail
  src/features/ai/components/sidebar/agents-sidebar.tsx
  src/features/layout/components/sidebar/activity-navigation.tsx
  src/features/layout/components/sidebar/sidebar-pane.tsx
  src/features/layout/config/item-order.ts
  src/features/layout/hooks/use-activity-navigation-items.tsx
  src/features/layout/tests/activity-navigation.test.tsx
  src/features/layout/tests/chrome-items.test.ts
  src/features/layout/utils/sidebar-pane-utils.ts
  src/ui/icons.tsx
Due: typescript-check, biome-check

Blend sidebar row actions into the row
  src/features/ai/components/agent-session-sidebar-item.tsx
  src/features/layout/tests/sidebar-list-action-row.test.tsx
  src/ui/icons.tsx
  src/ui/sidebar.tsx
Due: typescript-check, biome-check

Move agent row actions into a more actions menu
  src/features/ai/components/agent-session-sidebar-item.tsx
  src/features/ai/components/sidebar/agents-sidebar.tsx
  src/features/layout/tests/sidebar-list-action-row.test.tsx
  src/ui/sidebar.tsx
Due: typescript-check, biome-check

Keep the fullscreen pane's tabs reachable
  src/features/panes/components/main-pane-tab-bar.tsx
  src/features/window/components/workbench-fullscreen-surface.tsx
  src/features/window/tests/workbench-fullscreen-surface.test.tsx
Due: typescript-check, biome-check

Lead the title bar with the sidebar toggle, project and branch
  src/features/git/components/git-branch-manager.tsx
  src/features/layout/components/main-layout.tsx
  src/features/layout/components/project-switcher.tsx
  src/features/layout/components/sidebar/activity-chrome.tsx
  src/features/tabs/components/tab-bar.tsx
  src/features/window/components/title-bar/title-leading.tsx
  src/features/window/components/title-bar/title-navigation.tsx
  src/features/window/tests/title-bar-controls.test.ts
Due: typescript-check, biome-check

Toggle Markdown preview in the same tab
  src/features/command-palette/constants/markdown-actions.tsx
  src/features/editor/components/code-editor.tsx
  src/features/editor/components/toolbar/breadcrumb.tsx
  src/features/editor/markdown/markdown-preview-search.ts
  src/features/editor/markdown/markdown-preview.tsx
  src/features/editor/markdown/open-markdown-preview.ts
  src/features/editor/markdown/styles.css
  src/features/editor/markdown/toggle-markdown-preview.ts
  src/features/editor/tests/markdown-preview-interaction.test.tsx
  src/features/editor/tests/markdown-preview-search.test.ts
  src/features/editor/tests/markdown-preview-toggle.test.ts
  src/features/keymaps/commands/editor-command-actions.ts
  src/features/keymaps/hooks/use-keymaps.ts
  src/features/keymaps/utils/editor-keyboard-target.ts
  src/features/panes/types/pane-content.types.ts
Due: typescript-check, biome-check

Explain the guards in the extensions UI
  src/extensions/ui/components/extension-context-menu-items.tsx
  src/extensions/ui/components/extensions-view.tsx
  src/extensions/ui/components/generative-ui-renderer.tsx
Due: typescript-check, biome-check

Keep ACP inspector compatible with current Rust
  crates/ai/src/acp/traffic.rs
Due: rust-fmt-workspace

Prepare release
  Cargo.lock
  package.json
  src-tauri/Cargo.toml
  src-tauri/tauri.conf.json
Due: biome-check

Cut the Linux release build time
  .github/actions/tauri-cef-cli/action.yml
  .github/workflows/linux-build.yml
  .github/workflows/release-cache-warmup.yml
  .github/workflows/release.yml
  scripts/release/packaging/linux/native.sh
  scripts/release/tests/linux-packaging.test.ts
Due: typescript-check, biome-check

Keep editor tabs in their pane and tighten the chrome
  src/features/git/components/git-branch-manager.tsx
  src/features/layout/components/main-layout.tsx
  src/features/layout/components/project-switcher.tsx
  src/features/panes/components/main-pane-tab-bar.tsx
  src/features/panes/components/pane-container.tsx
  src/features/panes/contexts/main-tab-bar-host.ts
  src/features/panes/tests/main-pane-tab-bar.test.tsx
  src/features/tabs/components/new-tab-menu.tsx
  src/features/tabs/components/tab-bar-item.tsx
  src/features/tabs/components/tab-bar.tsx
  src/features/tabs/components/tab-history-navigation.tsx
  src/features/terminal/components/terminal-tab-bar-item.tsx
  src/features/terminal/components/terminal-tab-bar.tsx
  src/features/window/components/title-bar/title-leading.tsx
  src/styles/theme.css
  src/ui/tab-bar.tsx
Due: typescript-check, biome-check

Keep fullscreen views above the workbench
  src/features/layout/components/main-layout.tsx
  src/features/window/components/workbench-fullscreen-surface.tsx
Due: typescript-check, biome-check

Open rail overlays to the right and add a terminal toggle
  src/features/layout/components/sidebar/activity-bar.tsx
  src/features/layout/components/sidebar/activity-chrome.tsx
  src/features/layout/components/sidebar/activity-navigation.tsx
  src/features/layout/tests/activity-navigation.test.tsx
  src/features/window/components/account-menu.tsx
  src/features/window/tests/title-bar-controls.test.ts
  src/ui/alert-dialog.tsx
  src/ui/command.tsx
  src/ui/control-size.tsx
  src/ui/dialog.tsx
  src/ui/dropdown.tsx
  src/ui/hover-card.tsx
  src/ui/overlay-root.tsx
  src/ui/overlay-side.tsx
  src/ui/popover.tsx
  src/ui/tooltip.tsx
Due: typescript-check, biome-check

Size pane header controls to one compact height
  src/features/editor/components/toolbar/path-breadcrumb.tsx
  src/features/editor/components/toolbar/symbol-breadcrumb.tsx
  src/features/global-search/components/global-search-toolbar.tsx
  src/features/global-search/tests/search-options.test.ts
  src/features/global-search/utils/search-options.ts
  src/features/panes/components/pane-content-chrome.tsx
  src/ui/button.tsx
  src/ui/toggle.tsx
Due: typescript-check, biome-check

Align the agents sidebar with the other sidebars
  src/features/ai/components/sidebar/agents-plan-footer.tsx
  src/features/ai/components/sidebar/agents-sidebar.tsx
  src/features/window/services/auth-api.ts
Due: typescript-check, biome-check

Highlight agent diffs and simplify multibuffers
  src/extensions/ui/components/extension-diff-preview.tsx
  src/features/ai/components/messages/markdown-renderer.tsx
  src/features/diagnostics/components/diagnostics-pane.tsx
  src/features/editor/components/multibuffer/multibuffer-file-header.tsx
  src/features/editor/components/multibuffer/multibuffer-file-stepper.tsx
  src/features/editor/components/multibuffer/multibuffer-workspace.tsx
  src/features/editor/markdown/highlighted-code.tsx
  src/features/editor/tests/multibuffer-file-keyboard.test.tsx
  src/features/editor/tests/multibuffer-file-stepper.test.tsx
  src/features/file-explorer/components/file-navigator-sidebar.tsx
  src/features/git/components/diff/git-diff-editor-stack.tsx
  src/features/git/tests/diff-viewer-pane-isolation.test.tsx
  src/features/github/components/github-pr-viewer.tsx
  src/features/github/components/pr-files-panel.tsx
  src/features/github/tests/pr-files-panel.test.tsx
  src/features/global-search/components/global-search-buffer.tsx
Due: typescript-check, biome-check

Calm inline blame and dock the diff actions above the commit box
  src/features/editor/components/monaco-editor.tsx
  src/features/git/components/inline-git-blame-card.tsx
  src/features/git/components/status/git-status-panel.tsx
  src/ui/sidebar.tsx
Due: typescript-check, biome-check

Toggle the sidebar with Cmd+B
  src-tauri/src/menu.rs
  src/features/command-palette/constants/view-actions.tsx
  src/features/keymaps/commands/command-registry.ts
  src/features/keymaps/defaults/default-keymaps.ts
  src/features/keymaps/tests/default-keymaps.test.ts
  src/features/settings/config/search-index.ts
  src/features/window/components/window-menu-bar.tsx
Due: rust-fmt-workspace, typescript-check, biome-check

Give Settings its own navigation inside its tab
  src/features/layout/components/sidebar/sidebar-pane.tsx
  src/features/settings/components/settings-sidebar.tsx
  src/features/settings/components/settings-workbench-view.tsx
  src/features/settings/tests/settings-ui-contract.test.ts
  src/features/window/stores/ui-state/modal-slice.ts
  src/ui/workbench.tsx
Due: typescript-check, biome-check

Keep the file tree responsive in large projects
  src/features/file-explorer/components/file-explorer-tree-item.tsx
  src/features/file-explorer/components/file-explorer-tree.tsx
  src/features/file-explorer/hooks/use-directory-size.ts
  src/features/file-explorer/lib/visible-file-tree-rows.ts
  src/features/file-explorer/tests/visible-file-tree-rows.test.ts
Due: typescript-check, biome-check

Align the activity rail with the panels beside it
  src/features/layout/components/sidebar/activity-bar.tsx
Due: typescript-check, biome-check

Keep the active tab in view and fade clipped tabs
  src/features/tabs/components/tab-bar.tsx
  src/features/terminal/components/terminal-tab-bar.tsx
  src/ui/tab-bar.tsx
Due: typescript-check, biome-check

Dock the file list and the outline inside their tab
  src/features/editor/components/code-editor.tsx
  src/features/editor/components/multibuffer/multibuffer-workspace.tsx
  src/features/file-explorer/components/file-navigator-sidebar.tsx
  src/features/keymaps/commands/command-registry.ts
  src/features/keymaps/commands/navigation-command-actions.ts
  src/features/layout/components/main-layout.tsx
  src/features/layout/components/sidebar/sidebar-pane.tsx
  src/features/layout/tests/sidebar-pane-utils.test.ts
  src/features/layout/utils/sidebar-pane-utils.ts
  src/features/outline/actions/outline-visibility.ts
  src/features/outline/components/outline-sidebar.tsx
  src/features/outline/tests/outline-visibility.test.ts
  src/features/panes/components/pane-container.tsx
  src/features/settings/components/tabs/editor-settings.tsx
  src/features/settings/config/search-index.ts
  src/features/window/stores/ui-state/view-slice.ts
Due: typescript-check, biome-check

Stop keystrokes and cursor moves from re-rendering the workbench
  src/features/editor/components/monaco-editor.tsx
  src/features/editor/components/toolbar/symbol-breadcrumb.tsx
  src/features/editor/engines/monaco/hover-widgets.ts
  src/features/editor/utils/editor-agent-context.ts
  src/features/keymaps/hooks/use-keymap-context.ts
  src/features/keymaps/hooks/use-keymaps.ts
  src/features/keymaps/stores/keymaps.store.ts
  src/features/layout/components/main-layout.tsx
  src/features/layout/hooks/use-activity-terminal-items.ts
  src/features/layout/hooks/use-responsive-workbench-layout.ts
  src/features/outline/hooks/use-document-outline.ts
  src/features/tabs/components/tab-bar.tsx
  src/features/terminal/stores/terminal.store.ts
  src/features/window/hooks/use-native-menu-state.ts
  src/features/window/hooks/use-window-document-state.ts
Due: typescript-check, biome-check

Skip background work that repeats with nothing new
  src/features/ai/stores/ai-chat/chat-actions.ts
  src/features/diagnostics/components/diagnostics-activity-control.tsx
  src/features/diagnostics/stores/diagnostics.store.ts
  src/features/file-system/controllers/utils.ts
  src/features/file-system/services/file-watcher-listener.ts
  src/features/file-system/stores/file-system.store.ts
  src/features/git/stores/git.store.ts
  src/features/quick-open/hooks/use-file-loader.ts
  src/features/sharing/components/sharing-runtime.tsx
Due: typescript-check, biome-check

Reduce flicker when switching tabs and views and at startup
  src/features/layout/components/project-switcher.tsx
  src/features/layout/components/resizable-pane.tsx
  src/features/layout/components/sidebar/sidebar-pane.tsx
  src/features/panes/components/pane-container.tsx
  src/features/settings/components/font-style-injector.tsx
  src/features/settings/stores/settings.store.ts
  src/features/terminal/components/terminal-host.tsx
  src/features/terminal/components/terminal-slot.tsx
  src/features/window/components/title-bar/title-bar.tsx
Due: typescript-check, biome-check

Show Pro usage as one ring button in the agents sidebar
  src/features/ai/components/sidebar/agents-plan-footer.tsx
Due: typescript-check, biome-check

Path conditions:
  rust-fmt-workspace: any of: \.rs$
  typescript-check: any of: \.(ts|tsx)$
  biome-check: any of: \.(js|jsx|ts|tsx|json)$
