Repository athasdev/athas: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-fmt-workspace, typescript-check, biome-check

rust-fmt-workspace:
  name: Rust format (workspace)
  entry: cargo fmt
  args:
  - --all
  - --check
  language: system
  pass_filenames: false

typescript-check:
  name: TypeScript check
  entry: bun
  args:
  - typecheck
  language: system
  pass_filenames: false

biome-check:
  name: Biome check
  entry: bun
  args:
  - check
  - --write
  language: system
  pass_filenames: false

Fix warnings and update changelog
  CHANGELOG.md
  src-tauri/src/commands/editor/format.rs
  src-tauri/src/commands/editor/lint.rs
  src-tauri/src/features/ai/acp/bridge.rs
  src-tauri/src/features/ai/acp/client.rs
  src-tauri/src/features/ai/acp/types.rs
  src-tauri/src/features/runtime/node.rs
  src-tauri/src/terminal/connection.rs
Due: rust-fmt-workspace

Bump version to 0.3.0
  package.json
  src-tauri/tauri.conf.json
Due: biome-check

Fix Windows build and bump to 0.3.1
  CHANGELOG.md
  package.json
  src-tauri/src/commands/development/cli.rs
  src-tauri/tauri.conf.json
Due: rust-fmt-workspace, biome-check

Fix git blame not showing after scrolling
  src/features/editor/components/editor.tsx
  src/features/editor/components/layers/git-blame-layer.tsx
  src/stores/git-blame-store.ts
Due: typescript-check, biome-check

Fix tokenization lag and visual flashing during typing
  src/features/editor/components/editor.tsx
  src/features/editor/components/layers/highlight-layer.tsx
  src/features/editor/hooks/use-tokenizer.ts
  src/features/editor/lib/wasm-parser/tokenizer.ts
  src/features/editor/lib/wasm-parser/types.ts
  src/features/editor/stores/tree-cache-store.ts
  src/features/editor/utils/tree-sitter-edit.ts
Due: typescript-check, biome-check

Fix tokenization lag and visual flashing during typing (#477)
  src/features/editor/components/editor.tsx
  src/features/editor/components/layers/highlight-layer.tsx
  src/features/editor/hooks/use-tokenizer.ts
  src/features/editor/lib/wasm-parser/tokenizer.ts
  src/features/editor/lib/wasm-parser/types.ts
  src/features/editor/stores/tree-cache-store.ts
  src/features/editor/utils/tree-sitter-edit.ts
Due: typescript-check, biome-check

Fix git blame not showing after scrolling (#476)
  src/features/editor/components/editor.tsx
  src/features/editor/components/layers/git-blame-layer.tsx
  src/stores/git-blame-store.ts
Due: typescript-check, biome-check

Use `createPortal` to render the toast container
  src/ui/toast.tsx
Due: typescript-check, biome-check

Add copy button for terminal install command
  src-tauri/src/commands/development/cli.rs
  src-tauri/src/main.rs
  src/features/settings/components/tabs/general-settings.tsx
Due: rust-fmt-workspace, typescript-check, biome-check

Add preview mode for file tabs
  src/features/editor/stores/buffer-store.ts
  src/features/file-explorer/views/file-tree.tsx
  src/features/file-system/controllers/store.ts
  src/features/file-system/types/interface.ts
  src/features/layout/components/sidebar/main-sidebar.tsx
  src/features/layout/components/sidebar/search-view.tsx
  src/features/layout/types/search.ts
  src/features/tabs/components/tab-bar-item.tsx
  src/features/tabs/components/tab-bar.tsx
  src/features/tabs/types/buffer.ts
Due: typescript-check, biome-check

Fix cursor position persistence when switching files
  src/features/editor/components/editor.tsx
  src/features/editor/components/gutter/line-numbers.tsx
  src/features/editor/stores/buffer-store.ts
  src/features/editor/stores/state-store.ts
Due: typescript-check, biome-check

Improve UI layout and LSP completion behavior
  src/features/ai/components/input/chat-input-bar.tsx
  src/features/editor/completion/completion-dropdown.tsx
  src/features/editor/components/editor.tsx
  src/features/editor/config/constants.ts
  src/features/editor/hooks/use-lsp-integration.ts
  src/features/editor/lsp/lsp-store.ts
  src/features/layout/components/footer/editor-footer.tsx
  src/features/window/custom-title-bar.tsx
Due: typescript-check, biome-check

Fix LSP not working on Linux due to incorrect bundled path (#475)
  src-tauri/Cargo.toml
  src-tauri/src/commands/extensions.rs
  src-tauri/tauri.conf.json
Due: rust-fmt-workspace, biome-check

Fix incorrect bundled LSP path on Linux (#475) (#479)
  src-tauri/Cargo.toml
  src-tauri/src/commands/extensions.rs
  src-tauri/tauri.conf.json
Due: rust-fmt-workspace, biome-check

Add preview mode for file tabs (#478)
  src/features/editor/components/editor.tsx
  src/features/editor/components/gutter/line-numbers.tsx
  src/features/editor/stores/buffer-store.ts
  src/features/editor/stores/state-store.ts
  src/features/file-explorer/views/file-tree.tsx
  src/features/file-system/controllers/store.ts
  src/features/file-system/types/interface.ts
  src/features/layout/components/sidebar/main-sidebar.tsx
  src/features/layout/components/sidebar/search-view.tsx
  src/features/layout/types/search.ts
  src/features/tabs/components/tab-bar-item.tsx
  src/features/tabs/components/tab-bar.tsx
  src/features/tabs/types/buffer.ts
Due: typescript-check, biome-check

Bundle FreeType in Linux AppImage for older distro compatibility
  src-tauri/tauri.conf.json
Due: biome-check

Add favoriting commands to the command palette & fix scrolling
  src/features/command-palette/components/command-palette.tsx
  src/features/command-palette/store.ts
  src/ui/command.tsx
Due: typescript-check, biome-check

Fix stored XSS in markdown parser by sanitizing HTML output
  bun.lock
  package.json
  src/features/editor/markdown/parser.ts
Due: typescript-check, biome-check

Perf: optimize editor rendering and add performance monitoring
  .gitignore
  scripts/benchmark-suite.ts
  src/features/editor/components/editor.tsx
  src/features/editor/components/layers/highlight-layer.tsx
  src/features/editor/hooks/use-performance.ts
  src/features/editor/hooks/use-tokenizer.ts
Due: typescript-check, biome-check

Fix: resolve stack overflow in git gutter hashing for large files
  src/features/version-control/git/controllers/use-gutter.ts
Due: typescript-check, biome-check

feat: add HTML and CSS live preview feature
  src/features/command-palette/constants/markdown-actions.tsx
  src/features/editor/components/code-editor.tsx
  src/features/editor/components/html/html-preview.tsx
  src/features/editor/components/toolbar/breadcrumb.tsx
  src/features/editor/stores/buffer-store.ts
  src/features/file-system/controllers/store.ts
Due: typescript-check, biome-check

Add HTML/CSS live preview with asset protocol support (#484)
  src/features/command-palette/constants/markdown-actions.tsx
  src/features/editor/components/code-editor.tsx
  src/features/editor/components/html/html-preview.tsx
  src/features/editor/components/toolbar/breadcrumb.tsx
  src/features/editor/stores/buffer-store.ts
  src/features/file-system/controllers/store.ts
Due: typescript-check, biome-check

Optimize editor rendering and add performance monitoring system (#483)
  .gitignore
  scripts/benchmark-suite.ts
  src/features/editor/components/editor.tsx
  src/features/editor/components/layers/highlight-layer.tsx
  src/features/editor/hooks/use-performance.ts
  src/features/editor/hooks/use-tokenizer.ts
  src/features/version-control/git/controllers/use-gutter.ts
Due: typescript-check, biome-check

Add SECURITY.md
  SECURITY.md
Due: none

Disable the problematic DMABUF renderer on Linux
  src-tauri/src/main.rs
Due: rust-fmt-workspace

Fix unsafe requirement for Linux DMABUF workaround
  src-tauri/src/main.rs
Due: rust-fmt-workspace

Fix window resize on Linux (#474)
  src/App.tsx
  src/features/window/window-resize-border.tsx
Due: typescript-check, biome-check

Preserve scroll position when switching between buffers
  src/features/editor/components/editor.tsx
  src/features/editor/stores/state-store.ts
Due: typescript-check, biome-check

Fix gap between sticky headers in file tree
  src/features/file-explorer/views/file-tree.css
  src/features/file-explorer/views/file-tree.tsx
Due: typescript-check, biome-check

Preserve scroll position when switching between buffers (#485)
  src/features/editor/components/editor.tsx
  src/features/editor/stores/state-store.ts
Due: typescript-check, biome-check

Fix gap between sticky headers in file tree (#486)
  src/features/file-explorer/views/file-tree.css
  src/features/file-explorer/views/file-tree.tsx
Due: typescript-check, biome-check

Optimize file-tree performance
  src/features/ai/components/mentions/file-mention-dropdown.tsx
  src/features/ai/components/selectors/context-selector.tsx
  src/features/editor/components/toolbar/breadcrumb.tsx
  src/features/file-explorer/components/file-icon.tsx
  src/features/file-explorer/components/file-tree-item.tsx
  src/features/file-explorer/components/file-tree.tsx
  src/features/file-explorer/hooks/use-drag-drop.ts
  src/features/file-explorer/hooks/use-sticky-detection.ts
  src/features/file-explorer/index.ts
  src/features/file-explorer/stores/file-tree-store.ts
  src/features/file-explorer/styles/file-tree.css
  src/features/file-explorer/types/index.ts
  src/features/file-explorer/utils/tree-helpers.ts
  src/features/file-explorer/views/file-tree-custom-dnd.tsx
  src/features/file-explorer/views/file-tree.tsx
  src/features/file-system/controllers/store.ts
  src/features/global-search/components/search-match-item.tsx
  src/features/layout/components/sidebar/main-sidebar.tsx
  src/features/layout/components/sidebar/search-view.tsx
  src/features/tabs/components/tab-bar-item.tsx
  src/features/tabs/components/tab-drag-preview.tsx
Due: typescript-check, biome-check

Add test connection button and feedback for SSH conections
  .rules
  bun.lock
  package.json
  src-tauri/src/commands/extensions.rs
  src-tauri/src/extensions/installer.rs
  src/extensions/core/providers/theme-provider.ts
  src/extensions/themes/theme-registry.ts
  src/features/remote/connection-dialog.tsx
  src/features/remote/connection-list.tsx
  src/features/remote/remote-connection-view.tsx
  src/features/settings/store.ts
  src/features/window/components/project-picker-dialog.tsx
  src/ui/command.tsx
  src/ui/keybinding-badge.tsx
  src/ui/searchable-model-dropdown.tsx
  src/ui/slider.tsx
Due: rust-fmt-workspace, typescript-check, biome-check

Add drag and drop to open folders as projects and files as buffers
  src/features/layout/components/main-layout.tsx
  src/hooks/use-folder-drop.ts
Due: typescript-check, biome-check

Add in-app report a bug button
  src-tauri/src/main.rs
  src-tauri/src/menu.rs
  src/features/command-palette/constants/settings-actions.tsx
  src/features/settings/components/tabs/general-settings.tsx
  src/features/window/hooks/use-menu-events-wrapper.ts
  src/features/window/hooks/use-menu-events.ts
Due: rust-fmt-workspace, typescript-check, biome-check

Add CSV viewer as built-in extension
  src/extensions/viewers/csv/csv-preview.tsx
  src/extensions/viewers/csv/csv-utils.ts
  src/features/command-palette/constants/markdown-actions.tsx
  src/features/editor/components/code-editor.tsx
  src/features/editor/components/toolbar/breadcrumb.tsx
  src/features/editor/stores/buffer-store.ts
  src/features/file-explorer/components/file-icon.tsx
  src/features/file-explorer/components/file-tree-item.tsx
  src/features/file-explorer/components/file-tree.tsx
  src/features/file-system/controllers/store.ts
  src/ui/table-view.tsx
Due: typescript-check, biome-check

Virtualize file tree remove sticky and lines
  src/extensions/core/providers/theme-provider.ts
  src/extensions/themes/theme-registry.ts
  src/features/ai/components/mentions/file-mention-dropdown.tsx
  src/features/editor/components/toolbar/breadcrumb.tsx
  src/features/file-explorer/components/file-tree-item.tsx
  src/features/file-explorer/components/file-tree.tsx
  src/features/file-explorer/styles/file-tree.css
  src/features/file-explorer/utils/tree-helpers.ts
  src/features/file-system/controllers/file-operations.ts
  src/features/file-system/controllers/file-tree-utils.ts
  src/features/file-system/controllers/store.ts
  src/features/layout/components/sidebar/main-sidebar.tsx
Due: typescript-check, biome-check

Fix warnings and lint errors
  src/features/file-explorer/components/file-tree.tsx
  src/features/file-system/controllers/store.ts
  src/features/file-system/types/interface.ts
Due: typescript-check, biome-check

feat(pdf): replace IntersectionObserver with robust scroll listener for page tracking
  bun.lock
  package.json
  src-tauri/capabilities/default.json
  src-tauri/capabilities/main.json
  src-tauri/capabilities/pdf-allow.json
  src-tauri/src/commands/project/fs.rs
  src-tauri/src/main.rs
  src-tauri/tauri.conf.json
  src/features/editor/stores/buffer-store.ts
  src/features/file-system/controllers/file-utils.ts
  src/features/file-system/controllers/store.ts
  src/features/layout/components/main-layout.tsx
  src/features/pdf-viewer/components/pdf-viewer-footer.tsx
  src/features/pdf-viewer/components/pdf-viewer.tsx
Due: rust-fmt-workspace, typescript-check, biome-check

Path conditions:
  rust-fmt-workspace: any of: \.rs$
  typescript-check: any of: \.(ts|tsx)$
  biome-check: any of: \.(js|jsx|ts|tsx|json)$
