Repository athasdev/athas: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-fmt-workspace, typescript-check, biome-check

rust-fmt-workspace:
  name: Rust format (workspace)
  entry: cargo fmt
  args:
  - --all
  - --check
  language: system
  pass_filenames: false

typescript-check:
  name: TypeScript check
  entry: bun
  args:
  - typecheck
  language: system
  pass_filenames: false

biome-check:
  name: Biome check
  entry: bun
  args:
  - check
  - --write
  language: system
  pass_filenames: false

Format split rebalance pane files
  src/features/panes/components/split-view-root.tsx
  src/features/panes/utils/pane-tree.test.ts
Due: typescript-check, biome-check

Make generic splits open empty panes
  src/features/panes/hooks/use-pane-keyboard.ts
  src/features/panes/stores/pane-store.test.ts
  src/features/tabs/components/tab-bar.tsx
  src/features/window/components/menu-bar/window-menu-bar.tsx
  src/features/window/hooks/use-menu-events-wrapper.ts
Due: typescript-check, biome-check

Polish split-pane UI and fix empty pane tab bar
  src/features/panes/components/pane-container.tsx
  src/features/panes/components/pane-resize-handle.tsx
  src/features/panes/components/split-view-root.tsx
  src/features/tabs/components/tab-bar-item.tsx
  src/features/tabs/components/tab-bar.tsx
Due: typescript-check, biome-check

Resolve split pane PR drift
  src/features/panes/components/pane-container.tsx
  src/features/panes/stores/pane-store.test.ts
Due: typescript-check, biome-check

Restore Harness session creation plumbing
  src/features/ai/lib/harness-session-actions.test.ts
  src/features/ai/lib/harness-session-actions.ts
  src/features/command-palette/constants/view-actions.tsx
Due: typescript-check, biome-check

Restore new Harness session action in header
  src/features/ai/components/chat/chat-header.tsx
Due: typescript-check, biome-check

Refine Harness session history UI to feel calmer and more editorial
  src/features/ai/components/history/sidebar.tsx
Due: typescript-check, biome-check

Format Harness history sidebar
  src/features/ai/components/history/sidebar.tsx
Due: typescript-check, biome-check

Refine session history UI
  src/features/ai/components/history/sidebar.tsx
Due: typescript-check, biome-check

Fix UI overlap in Source Control and PR Viewer surfaces
  src/features/git/components/git-view.tsx
  src/features/github/components/pr-files-panel.tsx
  src/features/github/components/pr-viewer-header.tsx
  src/features/github/components/pr-viewer.tsx
Due: typescript-check, biome-check

Fix Source Control sidebar tab overlap
  src/features/git/components/git-view.tsx
Due: typescript-check, biome-check

Add CLI-first GitHub auth resolution
  src-tauri/src/commands/version_control/github.rs
  src-tauri/src/commands/version_control/github_auth.rs
  src-tauri/src/commands/version_control/github_rest.rs
  src-tauri/src/commands/version_control/mod.rs
  src-tauri/src/main.rs
Due: rust-fmt-workspace

Track GitHub auth source in the store
  src/features/github/lib/github-auth-notice.ts
  src/features/github/services/github-token-service.ts
  src/features/github/stores/github-store.test.ts
  src/features/github/stores/github-store.ts
  src/features/github/types/github.ts
Due: typescript-check, biome-check

Add shared GitHub auth fallback UI
  src/features/github/components/github-actions-view.tsx
  src/features/github/components/github-auth-surface.tsx
  src/features/github/components/github-issues-view.tsx
  src/features/github/components/github-prs-view.tsx
  src/features/github/components/pr-viewer-header.tsx
  src/features/github/components/pr-viewer.tsx
Due: typescript-check, biome-check

Fix GitHub store test invoke typing
  src/features/github/stores/github-store.test.ts
Due: typescript-check, biome-check

Format GitHub auth backend files
  src-tauri/src/commands/version_control/github.rs
  src-tauri/src/commands/version_control/github_auth.rs
  src-tauri/src/commands/version_control/github_rest.rs
  src-tauri/src/commands/version_control/mod.rs
Due: rust-fmt-workspace

Refine GitHub auth UI surface and source labeling
  src/features/github/components/github-auth-surface.tsx
  src/features/github/components/github-prs-view.tsx
  src/features/github/components/pr-viewer-header.tsx
Due: typescript-check, biome-check

Format GitHub auth UI files
  src/features/github/components/github-auth-surface.tsx
  src/features/github/components/github-prs-view.tsx
  src/features/github/components/pr-viewer-header.tsx
Due: typescript-check, biome-check

Make rustfmt checks agree across toolchains
  crates/runtime/src/lib.rs
  crates/tooling/src/types.rs
  src-tauri/src/commands/ai/chat_history.rs
  src-tauri/src/commands/ai/pi_native.rs
  src-tauri/src/commands/version_control/github.rs
  src-tauri/src/commands/version_control/github_auth.rs
  src-tauri/src/features/ai/mod.rs
  src-tauri/src/features/ai/pi_native/bridge.rs
Due: rust-fmt-workspace

Add regression test for SSH remote command wiring
  src/features/remote/tests/remote-command-registration.test.ts
Due: typescript-check, biome-check

Polish remote connection UI surfaces
  src/features/remote/connection-list.tsx
  src/features/window/components/project-picker-dialog.tsx
Due: typescript-check, biome-check

Format remote UI files
  src/features/remote/connection-list.tsx
  src/features/window/components/project-picker-dialog.tsx
Due: typescript-check, biome-check

Normalize stream error details for ErrorBlock
  src/features/ai/lib/chat-stream-retry.test.ts
  src/features/ai/lib/chat-stream-retry.ts
Due: typescript-check, biome-check

Fix Linux cargo check for app windows
  src-tauri/src/commands/ui/window.rs
Due: rust-fmt-workspace

Format Linux app window fix
  src-tauri/src/commands/ui/window.rs
Due: rust-fmt-workspace

Fix file tree regression test runner import
  src/features/file-explorer/lib/visible-file-tree-rows.test.ts
Due: typescript-check, biome-check

Use repo test runner import for file tree regression test
  src/features/file-explorer/lib/visible-file-tree-rows.test.ts
Due: typescript-check, biome-check

Fix Windows signing workflow and remove docs file
  .github/workflows/release.yml
  docs/contributing.mdx
  scripts/windows/prepare-tauri-signing.mjs
Due: none

Fix history sidebar: exit animation, stale closure, hover selection
  src/features/ai/components/history/sidebar.tsx
Due: typescript-check, biome-check

Fix production build issues and improve terminal persistence
  Cargo.lock
  crates/github/src/cli.rs
  src-tauri/Cargo.toml
  src-tauri/src/commands/ui/window.rs
  src-tauri/src/main.rs
  src-tauri/tauri.conf.json
  src/features/panes/components/pane-container.tsx
  src/features/web-viewer/components/web-viewer-toolbar.tsx
  src/features/web-viewer/components/web-viewer.tsx
Due: rust-fmt-workspace, typescript-check, biome-check

Remove unused canGoBack/canGoForward state from web viewer
  src/features/web-viewer/components/web-viewer.tsx
Due: typescript-check, biome-check

Consolidate AI agent instructions into single AGENTS file
  .gitignore
  AGENTS.md
  CLAUDE.md
  GEMINI.md
Due: none

Add JSDoc to date utils and PR format rule to AGENTS
  AGENTS.md
  src/utils/date.ts
Due: typescript-check, biome-check

Resolve gh binary from user shell PATH instead of hardcoded paths
  crates/github/src/cli.rs
Due: rust-fmt-workspace

Distinguish between gh CLI not installed and not authenticated
  crates/github/src/api.rs
  crates/github/src/cli.rs
  crates/github/src/lib.rs
  src-tauri/src/commands/version_control/github.rs
  src/features/github/components/github-actions-view.tsx
  src/features/github/components/github-cli-status.tsx
  src/features/github/components/github-issues-view.tsx
  src/features/github/components/github-prs-view.tsx
  src/features/github/stores/github-store.ts
Due: rust-fmt-workspace, typescript-check, biome-check

Path conditions:
  rust-fmt-workspace: any of: \.rs$
  typescript-check: any of: \.(ts|tsx)$
  biome-check: any of: \.(js|jsx|ts|tsx|json)$
