Repository athasdev/athas: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-fmt-workspace, typescript-check, biome-check

rust-fmt-workspace:
  name: Rust format (workspace)
  entry: cargo fmt
  args:
  - --all
  - --check
  language: system
  pass_filenames: false

typescript-check:
  name: TypeScript check
  entry: bun
  args:
  - typecheck
  language: system
  pass_filenames: false

biome-check:
  name: Biome check
  entry: bun
  args:
  - check
  - --write
  language: system
  pass_filenames: false

Add password prompt dialog and connection store management
  src/components/remote/password-prompt-dialog.tsx
  src/components/remote/remote-connection-view.tsx
  src/utils/connection-store.ts
Due: typescript-check, biome-check

Enhance remote connection handling
  src-tauri/capabilities/main.json
  src-tauri/src/commands/window.rs
  src-tauri/src/main.rs
  src-tauri/src/ssh.rs
  src/App.tsx
  src/components/layout/main-sidebar.tsx
  src/components/layout/sidebar-pane-selector.tsx
  src/components/remote/connection-dialog.tsx
  src/components/remote/connection-list.tsx
  src/components/remote/password-prompt-dialog.tsx
  src/components/remote/types.ts
  src/components/window/custom-title-bar.tsx
  src/stores/project-store.ts
  src/stores/sidebar-store.ts
Due: rust-fmt-workspace, typescript-check, biome-check

Display `connection.host` instead of placeholder
  src/components/remote/password-prompt-dialog.tsx
Due: typescript-check, biome-check

Add conditional flag for compilation
  Cargo.lock
  src-tauri/src/commands/window.rs
Due: rust-fmt-workspace

Add shortcuts functionality
  src/components/layout/main-layout.tsx
  src/components/terminal/terminal.tsx
  src/components/window/menu-bar/index.tsx
Due: typescript-check, biome-check

Improve text selection handling
  src/components/editor/core/text-editor.tsx
  src/components/editor/overlays/decoration-layer.tsx
Due: typescript-check, biome-check

Merge changes with #319
  src-tauri/capabilities/default.json
  src-tauri/capabilities/main.json
  src-tauri/src/commands/git/blame.rs
  src-tauri/src/commands/window.rs
  src-tauri/src/main.rs
  src-tauri/src/menu.rs
  src/components/layout/main-layout.tsx
  src/components/window/menu-bar/index.tsx
  src/components/window/menu-bar/menu-item.tsx
  src/hooks/use-keyboard-shortcuts.ts
  src/settings/components/restart-dialog.tsx
  src/settings/components/tabs/theme-settings.tsx
  src/stores/ui-state-store.ts
Due: rust-fmt-workspace, typescript-check, biome-check

Fix logic for determining blame line
  src-tauri/src/commands/git/blame.rs
  src/stores/git-blame-store.ts
Due: rust-fmt-workspace, typescript-check, biome-check

Clean
  src-tauri/src/commands/git/blame.rs
Due: rust-fmt-workspace

Fixed the build issue
  src-tauri/src/commands/window.rs
Due: rust-fmt-workspace

Use dynamic proxy port, instead of hardcoded
  src-tauri/packages/interceptor/src/server.rs
  src-tauri/src/claude_bridge.rs
Due: rust-fmt-workspace

Fix variable names, didn't like 'actual_port'
  src-tauri/packages/interceptor/src/server.rs
  src-tauri/src/claude_bridge.rs
Due: rust-fmt-workspace

Add more install docs for Linux
  docs/develop/linux.md
Due: none

Unify setup scripts into one
  bun.lock
  package.json
  setup.ts
Due: typescript-check, biome-check

Automate deps install for git2 and ssh2 on Linux
  scripts/linux/setup.sh
Due: none

Remove nodejs install, use Bun instead
  scripts/linux/setup.sh
Due: none

Feat individual zoom feature
  src/App.tsx
  src/components/bottom-pane.tsx
  src/components/editor-footer.tsx
  src/components/editor/code-editor.tsx
  src/components/layout/main-sidebar.tsx
  src/components/terminal/terminal-container.tsx
  src/components/zoom-indicator.tsx
  src/hooks/use-active-dom-element.ts
  src/hooks/use-keyboard-shortcuts.ts
  src/hooks/use-scroll.ts
  src/stores/zoom-store.ts
Due: typescript-check, biome-check

Fix type errors for zoom
  src/App.tsx
Due: typescript-check, biome-check

Add individual zoom to window,pane and terminal
  src/App.tsx
  src/components/editor-footer.tsx
  src/components/editor/code-editor.tsx
  src/components/layout/main-sidebar.tsx
  src/components/terminal/terminal-container.tsx
  src/components/zoom-indicator.tsx
  src/hooks/use-active-dom-element.ts
  src/hooks/use-keyboard-shortcuts.ts
Due: typescript-check, biome-check

Add inline diff toggle in settings and context menu
  bun.lock
  docs/develop/linux.md
  package.json
  scripts/linux/setup.sh
  setup.ts
  src/components/editor/overlays/editor-context-menu.tsx
  src/stores/editor-settings-store.ts
Due: typescript-check, biome-check

Render inline Git diffs in viewport, gutter, and lines
  src/components/editor/rendering/editor-viewport.tsx
  src/components/editor/rendering/line-gutter.tsx
  src/components/editor/rendering/line-with-content.tsx
  src/styles/editor-line-based.css
Due: typescript-check, biome-check

Wire Git diff data through buffers and view store
  src/file-system/controllers/store.ts
  src/stores/buffer-store.ts
  src/stores/editor-view-store.ts
Due: typescript-check, biome-check

Disable WebKitGTK DMABUF impl for GPU rendering
  package.json
Due: biome-check

Remove `bun` cmd arg
  package.json
Due: biome-check

Add markdown preview
  index.html
  src-tauri/src/commands/tokens.rs
  src/components/editor/breadcrumb.tsx
  src/components/editor/code-editor.tsx
  src/components/editor/editor-stylesheet.tsx
  src/components/editor/markdown-preview.tsx
  src/components/editor/rendering/editor-viewport.tsx
  src/components/editor/rendering/line-with-content.tsx
  src/components/find-bar.tsx
  src/components/font-style-injector.tsx
  src/components/layout/main-layout.tsx
  src/database/sqlite-viewer.tsx
  src/hooks/use-vim-keyboard.ts
  src/settings/components/tabs/editor-settings.tsx
  src/settings/store.ts
  src/stores/editor-completion-store.ts
  src/stores/editor-cursor-store.ts
  src/stores/editor-instance-store.ts
  src/stores/editor-layout-store.ts
  src/stores/editor-search-store.ts
  src/stores/editor-settings-store.ts
  src/stores/editor-state-store.ts
  src/stores/editor-ui-store.ts
  src/stores/font-store.ts
  src/styles.css
  src/styles/token-theme.css
Due: rust-fmt-workspace, typescript-check, biome-check

Fix editor scrolling
  src-tauri/src/commands/tokens.rs
  src/components/editor/core/line-based-editor.tsx
  src/components/editor/core/text-editor.tsx
  src/components/editor/overlays/completion-dropdown.tsx
  src/components/editor/overlays/cursor.tsx
  src/components/editor/overlays/decoration-layer.tsx
  src/components/editor/rendering/editor-viewport.tsx
  src/components/editor/rendering/line-with-content.tsx
  src/stores/editor-view-store.ts
  src/version-control/git/views/inline-git-blame.tsx
Due: rust-fmt-workspace, typescript-check, biome-check

Fix agent dropdowns
  src/components/ai-chat/file-mention-dropdown.tsx
  src/components/ui/dropdown.tsx
Due: typescript-check, biome-check

Fix agent dropdowns (#346)
  src/components/ai-chat/file-mention-dropdown.tsx
  src/components/ui/dropdown.tsx
Due: typescript-check, biome-check

Add icon themes
  src/App.tsx
  src/components/command/components/command-palette.tsx
  src/components/command/components/icon-theme-selector.tsx
  src/components/layout/main-layout.tsx
  src/extensions/icon-themes/builtin/classic-theme.tsx
  src/extensions/icon-themes/builtin/colorful-material-theme.tsx
  src/extensions/icon-themes/builtin/compact-theme.tsx
  src/extensions/icon-themes/builtin/material-theme.tsx
  src/extensions/icon-themes/builtin/minimal-theme.tsx
  src/extensions/icon-themes/builtin/none-theme.tsx
  src/extensions/icon-themes/builtin/seti-theme.tsx
  src/extensions/icon-themes/icon-theme-initializer.ts
  src/extensions/icon-themes/icon-theme-registry.ts
  src/extensions/icon-themes/index.ts
  src/extensions/icon-themes/types.ts
  src/file-explorer/views/file.icon.tsx
  src/settings/store.ts
  src/stores/icon-theme-store.ts
  src/stores/ui-state-store.ts
Due: typescript-check, biome-check

Add Vim relative line numbers
  src/components/editor/rendering/line-gutter.tsx
  src/components/editor/rendering/line-with-content.tsx
  src/components/layout/main-layout.tsx
  src/settings/components/tabs/editor-settings.tsx
  src/settings/store.ts
  src/stores/vim-commands.ts
  src/stores/vim-store.ts
Due: typescript-check, biome-check

Fix Vim mode interactions
  src/components/editor/overlays/cursor.tsx
  src/hooks/use-vim-keyboard.ts
  src/styles/vim.css
Due: typescript-check, biome-check

Add shortcut to kill terminal process
  src/components/bottom-pane.tsx
  src/components/editor/core/text-editor.tsx
  src/components/editor/overlays/inline-edit-toolbar.tsx
  src/components/layout/main-layout.tsx
  src/components/primitives/searchable-model-dropdown.tsx
  src/components/terminal/terminal-container.tsx
  src/components/terminal/terminal-tab-bar.tsx
  src/components/terminal/terminal.tsx
  src/components/ui/font-selector.tsx
  src/components/ui/toast.tsx
  src/stores/font-store.ts
  src/stores/terminal-store.ts
  src/styles/editor-line-based.css
Due: typescript-check, biome-check

Add shortcut for color theme selector
  src/hooks/use-keyboard-shortcuts-wrapper.ts
  src/hooks/use-keyboard-shortcuts.ts
Due: typescript-check, biome-check

Fix/vim mode (#347)
  src/components/editor/overlays/cursor.tsx
  src/components/editor/rendering/line-gutter.tsx
  src/components/editor/rendering/line-with-content.tsx
  src/components/layout/main-layout.tsx
  src/hooks/use-vim-keyboard.ts
  src/settings/components/tabs/editor-settings.tsx
  src/settings/store.ts
  src/stores/vim-commands.ts
  src/stores/vim-store.ts
  src/styles/vim.css
Due: typescript-check, biome-check

Add more vim commands
  src/components/command/components/command-palette.tsx
  src/components/editor/core/text-editor.tsx
  src/components/vim-status/vim-status-indicator.tsx
  src/hooks/use-vim-keyboard.ts
  src/stores/vim-editing.ts
  src/stores/vim-navigation.ts
  src/stores/vim-store.ts
  src/stores/vim/core/command-executor.ts
  src/stores/vim/core/command-parser.ts
  src/stores/vim/core/key-buffer.ts
  src/stores/vim/core/motion-registry.ts
  src/stores/vim/core/text-objects.ts
  src/stores/vim/core/types.ts
  src/stores/vim/index.ts
  src/stores/vim/motions/character-motions.ts
  src/stores/vim/motions/line-motions.ts
  src/stores/vim/motions/word-motions.ts
  src/stores/vim/operators/change-operator.ts
  src/stores/vim/operators/delete-operator.ts
  src/stores/vim/operators/index.ts
  src/stores/vim/operators/yank-operator.ts
  src/styles/vim.css
Due: typescript-check, biome-check

Refactor cursor styles for Vim mode and remove unused CSS
  src/components/editor/overlays/cursor.tsx
  src/styles/vim.css
Due: typescript-check, biome-check

Update cursor colors for Vim mode and remove unused CSS import
  src/components/editor/overlays/cursor.tsx
  src/styles.css
Due: typescript-check, biome-check

Refactor cursor styles for Vim mode and remove unused CSS (#349)
  src/components/editor/overlays/cursor.tsx
  src/styles.css
  src/styles/vim.css
Due: typescript-check, biome-check

Fix editor syntax & search highlighting
  src/components/command/components/command-palette.tsx
  src/components/editor/breadcrumb.tsx
  src/components/editor/code-editor.tsx
  src/components/editor/core/line-based-editor.tsx
  src/components/editor/core/text-editor.tsx
  src/components/editor/rendering/editor-viewport.tsx
  src/components/editor/rendering/line-gutter.tsx
  src/components/editor/rendering/line-renderer.tsx
  src/components/editor/rendering/line-with-content.tsx
  src/components/window/welcome-screen.tsx
  src/constants/editor-constants.ts
  src/extensions/syntax-highlighting-extension.ts
  src/hooks/use-context-menus.tsx
  src/hooks/use-editor-interactions.ts
  src/stores/buffer-store.ts
  src/stores/editor-view-store.ts
  src/styles/editor-line-based.css
Due: typescript-check, biome-check

Fix correct package names for Arch in setup script
  scripts/linux/setup.sh
Due: none

Path conditions:
  rust-fmt-workspace: any of: \.rs$
  typescript-check: any of: \.(ts|tsx)$
  biome-check: any of: \.(js|jsx|ts|tsx|json)$
