Repository athasdev/athas: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-fmt-workspace, typescript-check, biome-check

.pre-commit-config.yaml:

# Pre-commit hooks configuration for Rust + TypeScript/React project
# See https://pre-commit.com for more information

repos:
  # Rust hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-toml
      - id: check-json
        exclude: 'tsconfig.*\.json$'
      - id: check-merge-conflict

  # Rust formatting only (clippy/check too heavy for CI)
  - repo: local
    hooks:
      - id: rust-fmt-workspace
        name: Rust format (workspace)
        entry: cargo fmt
        args: ['--all', '--check']
        language: system
        files: '\.rs$'
        pass_filenames: false

  # TypeScript/JavaScript with Biome and type checking
  - repo: local
    hooks:
      - id: typescript-check
        name: TypeScript check
        entry: bun
        args: ['typecheck']
        language: system
        files: \.(ts|tsx)$
        pass_filenames: false
      - id: biome-check
        name: Biome check
        entry: bun
        args: ['check', '--write']
        language: system
        files: \.(js|jsx|ts|tsx|json)$
        pass_filenames: false

  # Commit message validation
  - repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
    rev: v9.18.0
    hooks:
      - id: commitlint
        stages: [commit-msg]
        additional_dependencies: ['@commitlint/cli']

Wire Monaco vim and themes
  bun.lock
  package.json
  src/features/editor/components/monaco-editor.tsx
  src/features/editor/styles/monaco-editor.css
  src/features/keymaps/commands/editor-command-actions.ts
  src/features/keymaps/hooks/use-keymap-context.ts
  src/features/keymaps/hooks/use-keymaps.ts
  src/features/vim/hooks/use-vim-keyboard.ts
Due: typescript-check, biome-check

Add Factory AI company architecture for Athas
  .factory/droids/athas-ai-engineer.md
  .factory/droids/athas-bug-hunter.md
  .factory/droids/athas-ceo.md
  .factory/droids/athas-chief-architect.md
  .factory/droids/athas-code-reviewer.md
  .factory/droids/athas-collaboration-engineer.md
  .factory/droids/athas-crypto-engineer.md
  .factory/droids/athas-database-engineer.md
  .factory/droids/athas-devops-engineer.md
  .factory/droids/athas-docs-writer.md
  .factory/droids/athas-editor-engineer.md
  .factory/droids/athas-extension-engineer.md
  .factory/droids/athas-frontend-expert.md
  .factory/droids/athas-git-engineer.md
  .factory/droids/athas-issue-resolver.md
  .factory/droids/athas-migration-engineer.md
  .factory/droids/athas-onboarding-specialist.md
  .factory/droids/athas-performance-engineer.md
  .factory/droids/athas-protocol-engineer.md
  .factory/droids/athas-qa-lead.md
  .factory/droids/athas-qa-tester.md
  .factory/droids/athas-react-engineer.md
  .factory/droids/athas-refactoring-specialist.md
  .factory/droids/athas-release-engineer.md
  .factory/droids/athas-release-manager.md
  .factory/droids/athas-rust-engineer.md
  .factory/droids/athas-rust-expert.md
  .factory/droids/athas-security-lead.md
  .factory/droids/athas-security-reviewer.md
  .factory/droids/athas-smoke-tester.md
  .factory/droids/athas-state-engineer.md
  .factory/droids/athas-tauri-engineer.md
  .factory/droids/athas-terminal-engineer.md
  .factory/droids/athas-test-engineer.md
  .factory/droids/athas-ui-engineer.md
  .factory/droids/athas-ux-designer.md
  COMPANY_ROSTER.md
  FACTORY_AI.md
  VIBE_CODING.md
Due: none

Fix persistent selection after deletion in editor
  src/features/editor/hooks/use-editor-textarea-input.ts
  src/features/editor/tests/use-editor-operations.test.ts
Due: typescript-check, biome-check

Update locked next dependency
  bun.lock
Due: none

Remove vulnerable Next lock entry
  bun.lock
  package.json
Due: biome-check

Keep large diffs responsive
  crates/version-control/src/git/diff.rs
  crates/version-control/src/git/stash.rs
  crates/version-control/src/git/types.rs
  src/features/git/components/diff/git-diff-editor-stack.tsx
  src/features/git/tests/diff-viewer-scale.test.ts
  src/features/git/types/git-types.ts
  src/features/git/utils/diff-editor-content.ts
  src/features/git/utils/diff-viewer-scale.ts
  src/features/git/utils/git-diff-helpers.ts
Due: rust-fmt-workspace, typescript-check, biome-check

Route editor commands through Monaco
  src/features/editor/components/monaco-editor.tsx
  src/features/editor/extensions/api.ts
  src/features/editor/tests/editor-api.test.ts
Due: typescript-check, biome-check

Honor editor settings in Monaco
  src/features/editor/components/monaco-editor.tsx
Due: typescript-check, biome-check

Fix font family escaping typecheck
  src/features/editor/utils/position.ts
Due: typescript-check, biome-check

Fix Monaco cursor click remount
  src/features/editor/components/monaco-editor.tsx
Due: typescript-check, biome-check

Move claude-code from agents system to terminal
  crates/ai/src/acp/client.rs
  src-tauri/src/commands/ai/acp.rs
  src/features/ai/components/agent-launcher.tsx
  src/features/ai/components/chat/ai-chat.tsx
  src/features/ai/components/multi-agents-sidebar-view.tsx
  src/features/ai/components/selectors/agent-selector.tsx
  src/features/ai/lib/claude-code-terminal.ts
  src/features/ai/lib/claude-code.ts
  src/features/ai/services/ai-chat-service.ts
  src/features/ai/types/providers.ts
  src/features/ai/utils/ai-context-builder.ts
Due: rust-fmt-workspace, typescript-check, biome-check

Treat new tab view as empty pane state
  src/features/editor/stores/buffer-pane-sync.ts
  src/features/editor/stores/buffer-store.ts
  src/features/panes/components/pane-container.tsx
  src/features/tabs/components/new-tab-menu.tsx
  src/features/tabs/components/tab-bar.tsx
Due: typescript-check, biome-check

Ignore blank custom external editor setting
  src/features/file-system/controllers/store.ts
  src/features/settings/lib/settings-normalization.ts
  src/features/settings/tests/settings-normalization.test.ts
Due: typescript-check, biome-check

Reduce startup console noise
  src/extensions/marketplace/marketplace-extensions.ts
  src/extensions/registry/extension-store-runtime.ts
  src/extensions/themes/base-theme-extension.ts
  src/extensions/themes/theme-initializer.ts
  src/extensions/themes/theme-loader.ts
  src/features/ai/hooks/use-chat-initialization.ts
  src/features/ai/lib/chat-migration.ts
  src/features/ai/services/ai-chat-history-service.ts
  src/features/ai/store/store.ts
  src/features/editor/components/external-editor-terminal.tsx
  src/features/editor/components/monaco-editor.tsx
  src/features/file-system/controllers/store.ts
  src/features/keymaps/utils/registry.ts
  src/features/settings/stores/font-store.ts
Due: typescript-check, biome-check

Fix editor console errors
  src/features/editor/lsp/code-lens-overlay.tsx
  src/features/editor/lsp/lsp-client.ts
  src/features/editor/utils/logger.ts
Due: typescript-check, biome-check

Fix Athas editor selection deletion
  src/features/athas-editor/utils/editor-key-edits.ts
  src/features/editor/tests/editor-key-edits.test.ts
Due: typescript-check, biome-check

Move external editors into editor engine setting
  src/features/athas-editor/components/external-editor-terminal.tsx
  src/features/editor/components/external-editor-terminal.tsx
  src/features/file-system/controllers/store.ts
  src/features/settings/components/tabs/editor-settings.tsx
  src/features/settings/config/search-index.ts
  src/features/settings/lib/settings-normalization.ts
  src/features/settings/lib/settings-sync.ts
  src/features/settings/tests/settings-normalization.test.ts
  src/features/settings/types/settings.ts
Due: typescript-check, biome-check

Remove icon from whats new action
  src/features/onboarding/components/onboarding-view.tsx
Due: typescript-check, biome-check

Prepare release
  Cargo.lock
  package.json
  src-tauri/Cargo.toml
  src-tauri/tauri.conf.json
Due: biome-check

Integrate inline edit with editor providers
  src/features/athas-editor/components/editor.tsx
  src/features/athas-editor/components/inline-edit-model-selector.tsx
  src/features/athas-editor/components/inline-edit-popover.tsx
  src/features/athas-editor/components/toolbar/breadcrumb.tsx
  src/features/athas-editor/hooks/use-inline-edit.ts
  src/features/editor/components/monaco-editor.tsx
  src/features/editor/components/toolbar/breadcrumb.tsx
  src/features/editor/services/editor-inline-edit-service.ts
  src/features/editor/stores/inline-edit-toolbar-store.ts
  src/features/keymaps/commands/editor-command-actions.ts
Due: typescript-check, biome-check

Fix Linux release runtime build
  src-tauri/src/app_runtime.rs
  src-tauri/src/commands/development/lsp/commands.rs
Due: rust-fmt-workspace

Simplify settings update action
  src/features/settings/components/tabs/general-settings.tsx
Due: typescript-check, biome-check

Fix git changes sidebar layout
  src/features/git/components/status/git-status-file-item.tsx
  src/features/git/components/status/git-status-panel.tsx
Due: typescript-check, biome-check

Fix browser URL bar behavior
  src/features/web-viewer/components/web-viewer-toolbar.tsx
  src/features/web-viewer/components/web-viewer.tsx
  src/features/web-viewer/tests/web-viewer-url.test.ts
  src/features/web-viewer/utils/web-viewer-url.ts
Due: typescript-check, biome-check

Fix Monaco keymap focus handling
  src/features/keymaps/commands/editor-command-actions.ts
  src/features/keymaps/hooks/use-keymap-context.ts
  src/features/keymaps/hooks/use-keymaps.ts
  src/features/keymaps/utils/editor-keyboard-target.ts
Due: typescript-check, biome-check

Fix Monaco production highlighting
  src/extensions/languages/language-packager.ts
  src/features/editor/components/monaco-editor.tsx
  src/features/editor/monaco/language-contributions.ts
  src/features/editor/monaco/language.ts
  src/features/editor/tests/language-id.test.ts
  src/features/telemetry/services/telemetry.ts
Due: typescript-check, biome-check

Polish Git sidebar worktree list
  src/features/git/components/git-commit-history.tsx
  src/features/git/components/git-view.tsx
  src/features/git/components/git-worktree-manager.tsx
Due: typescript-check, biome-check

Resolve global stubs teardown defects and test type errors
  src/features/command-palette/tests/git-actions.test.tsx
  src/features/database/lib/sql-history-storage.test.ts
  src/features/database/providers/sql/tests/create-sql-store.test.ts
  src/features/database/tests/clipboard.test.ts
  src/features/editor/tests/buffer-preview-pane.test.ts
  src/features/editor/tests/editor-api.test.ts
  src/features/editor/tests/editor-revert-file.test.ts
  src/features/editor/tests/editor-save-all.test.ts
  src/features/editor/tests/editor-session-state.test.ts
  src/features/editor/tests/lsp-store.test.ts
  src/features/editor/tests/search-replace.test.ts
  src/features/editor/tests/view-store-large-file.test.ts
  src/features/file-system/tests/recent-files.test.ts
  src/features/keymaps/tests/file-command-actions.test.ts
  src/features/panes/tests/pane-activation.test.ts
  src/features/panes/tests/pane-buffer-actions.test.ts
  src/features/panes/tests/pane-command-actions.test.ts
  src/features/panes/tests/pane-drop-actions.test.ts
  src/features/panes/tests/pane-split-actions.test.ts
  src/features/terminal/tests/terminal-session-storage.test.ts
  src/test-setup.ts
  vite.config.ts
Due: typescript-check, biome-check

Add window transparency setting
  src-tauri/src/commands/ui/window.rs
  src-tauri/src/main.rs
  src-tauri/tauri.conf.json
  src/features/settings/components/tabs/appearance-settings.tsx
  src/features/settings/config/default-settings.ts
  src/features/settings/config/search-index.ts
  src/features/settings/lib/settings-effects.ts
  src/features/settings/lib/settings-sync.ts
  src/features/settings/types/settings.ts
  src/styles/layout.css
Due: rust-fmt-workspace, typescript-check, biome-check

Refactor UI font size tokens
  src/extensions/ui/components/create-extension-wizard.tsx
  src/features/file-explorer/components/file-explorer-tree.tsx
  src/features/file-explorer/hooks/use-file-explorer-drag-drop.ts
  src/features/github/components/github-viewer-shell.tsx
  src/features/github/styles/github-markdown.css
  src/features/layout/components/main-layout.tsx
  src/features/onboarding/components/onboarding-view.tsx
  src/features/settings/components/settings-section.tsx
  src/features/settings/components/tabs/account-settings.tsx
  src/features/settings/components/tabs/extensions-settings.tsx
  src/features/settings/components/tabs/keyboard-settings.tsx
  src/styles/theme.css
  src/styles/utilities.css
  src/ui/control-field.ts
  src/ui/dialog.tsx
  src/ui/emoji-picker.tsx
  src/ui/item.tsx
  src/ui/number-input.tsx
  src/ui/primitive-dialog-service.tsx
  src/ui/search.tsx
  src/ui/textarea.tsx
  src/ui/toast.tsx
  src/ui/toggle.tsx
  src/ui/tree-row.tsx
Due: typescript-check, biome-check

Polish agent chat interactions
  src/features/ai/components/agent-tab.tsx
  src/features/ai/components/chat/ai-chat.tsx
  src/features/ai/components/chat/chat-activity-line.tsx
  src/features/ai/components/chat/chat-follow-up-actions.tsx
  src/features/ai/components/chat/chat-message.tsx
  src/features/ai/components/chat/chat-messages.tsx
  src/features/ai/components/input/chat-input-bar.tsx
  src/features/ai/components/messages/markdown-renderer.tsx
  src/features/ai/components/messages/tool-call-display.tsx
  src/features/ai/components/selectors/acp-config-selector.tsx
  src/features/ai/components/selectors/mode-selector.tsx
  src/features/ai/components/selectors/model-selector.tsx
  src/features/ai/components/selectors/provider-selector.tsx
  src/features/ai/hooks/use-chat-store.ts
  src/features/ai/lib/follow-up-actions.ts
  src/features/ai/services/acp-stream-handler.ts
  src/features/ai/store/store.ts
  src/features/ai/store/types.ts
  src/features/ai/tests/follow-up-actions.test.ts
  src/features/ai/types/ai-chat.ts
  src/features/ai/utils/ai-context-builder.ts
  src/ui/dropdown.tsx
  src/ui/select.tsx
Due: typescript-check, biome-check

Fix TypeScript LSP tool resolution
  bun.lock
  crates/lsp/src/manager.rs
  package.json
  src/extensions/types/extension-contributions.test.ts
Due: rust-fmt-workspace, typescript-check, biome-check

Align GitHub sidebar search
  src/features/github/components/github-prs-view.tsx
Due: typescript-check, biome-check

Improve ACP UI controls
  src/features/ai/components/input/chat-input-bar.tsx
  src/features/ai/components/selectors/model-selector.tsx
  src/features/ai/lib/custom-model-options.ts
  src/features/ai/tests/custom-model-options.test.ts
  src/features/settings/components/tabs/ai-settings.tsx
Due: typescript-check, biome-check

Remove Emacs editor engine option
  src/features/athas-editor/components/external-editor-terminal.tsx
  src/features/editor/components/external-editor-terminal.tsx
  src/features/file-system/controllers/store.ts
  src/features/settings/components/tabs/editor-settings.tsx
  src/features/settings/config/search-index.ts
  src/features/settings/lib/settings-normalization.ts
  src/features/settings/tests/settings-normalization.test.ts
  src/features/settings/types/settings.ts
Due: typescript-check, biome-check

Fix macOS terminal workspace permission errors
  crates/terminal/src/connection.rs
  src-tauri/Info.plist
Due: rust-fmt-workspace

Remove terminal split button
  src/features/terminal/components/terminal-container.tsx
  src/features/terminal/components/terminal-tab-bar.tsx
Due: typescript-check, biome-check
