Repository athasdev/athas: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-fmt-workspace, typescript-check, biome-check

rust-fmt-workspace:
  name: Rust format (workspace)
  entry: cargo fmt
  args:
  - --all
  - --check
  language: system
  pass_filenames: false

typescript-check:
  name: TypeScript check
  entry: bun
  args:
  - typecheck
  language: system
  pass_filenames: false

biome-check:
  name: Biome check
  entry: bun
  args:
  - check
  - --write
  language: system
  pass_filenames: false

Separate the settings content surface
  src/features/settings/components/settings-dialog.tsx
  src/ui/input.tsx
Due: typescript-check, biome-check

Integrate the editor terminal pane with the main surface
  src/features/layout/components/bottom-pane/bottom-pane.tsx
  src/features/layout/components/main-layout.tsx
Due: typescript-check, biome-check

Add the X11 keyboard runtime dependency
  scripts/release/packaging/linux/native.sh
  scripts/release/tests/linux-packaging.test.ts
Due: typescript-check, biome-check

Make select triggers fit their content
  src/ui/select.tsx
Due: typescript-check, biome-check

Give bundled agents distinct brand artwork
  extensions/official/gemini-cli/icon.svg
  extensions/official/kimi-cli/icon.svg
  extensions/official/opencode/icon.svg
  extensions/official/qwen-code/icon.svg
  src/extensions/tests/agent-extension-manifests.test.ts
Due: typescript-check, biome-check

Make extension installs interruptible
  bun.lock
  package.json
  src/extensions/installer/extension-installer.ts
  src/extensions/tests/extension-installer.test.ts
Due: typescript-check, biome-check

Make the account menu useful
  src/features/window/components/account-menu.tsx
  src/ui/dropdown.tsx
Due: typescript-check, biome-check

Tighten the settings sidebar top spacing
  src/features/settings/components/settings-vertical-tabs.tsx
Due: typescript-check, biome-check

Show empty panes after closing all tabs
  src/features/panes/components/pane-container.tsx
  src/features/panes/tests/pane-container.test.tsx
Due: typescript-check, biome-check

Remove main tab focus rings
  src/ui/tab-bar.tsx
Due: typescript-check, biome-check

Keep interaction typography stable
  src/features/editor/components/toolbar/path-breadcrumb.tsx
  src/ui/breadcrumb.tsx
  src/ui/sidebar.tsx
Due: typescript-check, biome-check

Keep activity menu controls aligned
  src/ui/sidebar.tsx
Due: typescript-check, biome-check

Align Git history content
  src/features/git/components/git-commit-history.tsx
  src/features/git/tests/git-commit-history-layout.test.tsx
Due: typescript-check, biome-check

Use a radio menu for commit format
  src/features/git/commit-composer/components/git-commit-panel.tsx
Due: typescript-check, biome-check

Consolidate Athas tooling on Vite+
  .github/workflows/ci.yml
  .github/workflows/extensions.yml
  .github/workflows/linux-build.yml
  .github/workflows/nightly-preview-release.yml
  .github/workflows/release-preflight.yml
  .github/workflows/release.yml
  .node-version
  .vite-hooks/commit-msg
  .vite-hooks/pre-commit
  CONTRIBUTING.md
  bun.lock
  crates/runtime/src/downloader.rs
  crates/runtime/src/node.rs
  nix/README.md
  nix/dev-shell.nix
  package.json
  scripts/check.sh
  scripts/check/frontend.sh
  scripts/check/ui-semantic-contracts.ts
  scripts/dev.ts
  scripts/hooks/pre-commit.ts
  scripts/release/preflight/run.ts
  scripts/reset-workspace.ts
  scripts/setup/windows.ps1
  src-tauri/tauri.conf.json
  src/features/command-palette/components/command-palette.tsx
  tsconfig.json
  vite.config.ts
Due: rust-fmt-workspace, typescript-check, biome-check

Restore Bun in Vite+ workflows
  .github/workflows/ci.yml
  .github/workflows/extensions.yml
  .github/workflows/linux-build.yml
  .github/workflows/nightly-preview-release.yml
  .github/workflows/release-preflight.yml
  .github/workflows/release.yml
  vite.config.ts
Due: typescript-check, biome-check

Refresh the OpenCode agent package
  extensions/official/opencode/extension.json
Due: biome-check

Build database extensions before CDN deploy
  .github/workflows/extensions.yml
  extensions/tooling/verify-installable-packages.ts
Due: typescript-check, biome-check

Centralize Clippy argument policy
  clippy.toml
  crates/database/src/providers/mongodb.rs
  crates/github/src/api.rs
  crates/remote/src/lib.rs
  crates/remote/src/terminal.rs
  src-tauri/src/commands/database/mongodb.rs
  src-tauri/src/commands/development/lsp/commands.rs
  src-tauri/src/commands/project/remote.rs
  src-tauri/src/commands/ui/window.rs
  src-tauri/src/commands/version_control/github.rs
Due: rust-fmt-workspace

Align Rust validation with current main
  clippy.toml
  crates/github/src/api.rs
Due: rust-fmt-workspace

Keep stricter Clippy validation green
  crates/ai/src/acp/client.rs
  crates/tooling/src/installer.rs
Due: rust-fmt-workspace

Gate native menu import by platform
  src-tauri/src/app_setup.rs
Due: rust-fmt-workspace

Standardize Rust test validation
  .github/workflows/ci.yml
  CONTRIBUTING.md
  Cargo.lock
  Cargo.toml
  crates/ai/src/acp/client.rs
  crates/database/src/sidecar.rs
  crates/debugger/src/lib.rs
  crates/github/src/api.rs
  crates/project/Cargo.toml
  crates/project/src/lib.rs
  crates/remote/src/ssh_helpers.rs
  crates/terminal/src/connection.rs
  crates/tooling/src/installer.rs
  crates/tooling/src/installer/tests.rs
  crates/wsl/src/lib.rs
  package.json
  scripts/check/rust.sh
  scripts/release/preflight/run.ts
  src-tauri/src/app_setup.rs
  src-tauri/src/commands/app_logs.rs
  src-tauri/src/commands/development/cli.rs
  src-tauri/src/commands/development/docker.rs
  src-tauri/src/commands/development/docker/tests.rs
  src-tauri/src/commands/development/ide_recents.rs
  src-tauri/src/commands/development/lsp/commands.rs
  src-tauri/src/commands/editor/notebook.rs
  src-tauri/src/commands/editor/search.rs
  src-tauri/src/commands/ui/theme.rs
  src-tauri/src/commands/version_control/github.rs
  src-tauri/src/menu.rs
  src-tauri/src/secure_storage.rs
Due: rust-fmt-workspace, typescript-check, biome-check

Standardize Rust test validation (#734)
  .github/workflows/ci.yml
  CONTRIBUTING.md
  Cargo.lock
  Cargo.toml
  clippy.toml
  crates/ai/src/acp/client.rs
  crates/database/src/providers/mongodb.rs
  crates/database/src/sidecar.rs
  crates/debugger/src/lib.rs
  crates/github/src/api.rs
  crates/project/Cargo.toml
  crates/project/src/lib.rs
  crates/remote/src/lib.rs
  crates/remote/src/ssh_helpers.rs
  crates/remote/src/terminal.rs
  crates/terminal/src/connection.rs
  crates/tooling/src/installer.rs
  crates/tooling/src/installer/tests.rs
  crates/wsl/src/lib.rs
  package.json
  scripts/check/rust.sh
  scripts/release/preflight/run.ts
  src-tauri/src/app_setup.rs
  src-tauri/src/commands/app_logs.rs
  src-tauri/src/commands/database/mongodb.rs
  src-tauri/src/commands/development/cli.rs
  src-tauri/src/commands/development/docker.rs
  src-tauri/src/commands/development/docker/tests.rs
  src-tauri/src/commands/development/ide_recents.rs
  src-tauri/src/commands/development/lsp/commands.rs
  src-tauri/src/commands/editor/notebook.rs
  src-tauri/src/commands/editor/search.rs
  src-tauri/src/commands/project/remote.rs
  src-tauri/src/commands/ui/theme.rs
  src-tauri/src/commands/ui/window.rs
  src-tauri/src/menu.rs
  src-tauri/src/secure_storage.rs
Due: rust-fmt-workspace, typescript-check, biome-check

Centralize Linux close request handling
  src/features/keymaps/hooks/use-keymaps.ts
  src/features/window/components/window-close-guard.tsx
  src/features/window/tests/close-request-suppression.test.ts
  src/features/window/utils/close-request-suppression.ts
Due: typescript-check, biome-check

Standardize scroll input on Linux
  src/features/settings/components/settings-dialog.tsx
  src/features/settings/tests/settings-ui-contract.test.ts
  src/styles/base.css
  src/ui/dialog.tsx
  src/ui/scroll-area.tsx
Due: typescript-check, biome-check

Make Codex account copy platform neutral
  src/features/ai/integrations/codex/codex-settings.tsx
Due: typescript-check, biome-check

Preserve diff colors across themes
  src/extensions/tests/theme-file.test.ts
  src/extensions/themes/theme-file.ts
Due: typescript-check, biome-check

Keep Vim write-and-quit on its target buffer
  src/features/editor/stores/editor-app.store.ts
  src/features/vim/stores/vim-commands.ts
  src/features/vim/tests/vim-commands.test.ts
Due: typescript-check, biome-check

Fix broken vim ex commands (:w, :wq, :q!, line jumps) (#739)
  src/features/editor/stores/editor-app.store.ts
  src/features/vim/stores/vim-commands.ts
  src/features/vim/tests/vim-commands.test.ts
Due: typescript-check, biome-check

Restore outline icons in Activity sidebar
  bun.lock
  package.json
  src/features/layout/components/sidebar/main-sidebar.tsx
  src/features/layout/components/sidebar/sidebar-history.tsx
  src/features/layout/components/sidebar/sidebar-pane-selector.tsx
  src/features/layout/components/sidebar/sidebar-projects.tsx
  src/features/layout/components/sidebar/worktree-item.tsx
  src/ui/icons.tsx
Due: typescript-check, biome-check

Prevent text selection in Activity sidebar
  src/features/layout/components/sidebar/main-sidebar.tsx
  src/features/layout/components/sidebar/sidebar-history.tsx
Due: typescript-check, biome-check

Use native scroll snap for project switching
  src/features/layout/components/sidebar/main-sidebar.tsx
  src/features/layout/tests/project-carousel.test.ts
  src/features/layout/utils/project-carousel.ts
Due: typescript-check, biome-check

Remove expanded activity setting
  src/features/settings/components/tabs/appearance-settings.tsx
Due: typescript-check, biome-check

Keep workspace shell visible without tabs
  src/features/layout/components/main-layout.tsx
  src/features/panes/tests/pane-container.test.tsx
Due: typescript-check, biome-check

Unify transparent window chrome
  src/styles/window-transparency.css
Due: none

Unify the startup window surface
  src/App.tsx
  src/features/settings/lib/appearance-bootstrap.ts
  src/features/settings/lib/settings-effects.ts
  src/features/settings/tests/appearance-bootstrap-defaults.test.ts
  src/features/window/hooks/use-platform-setup.ts
  src/main.tsx
  src/utils/platform.ts
Due: typescript-check, biome-check

Path conditions:
  rust-fmt-workspace: any of: \.rs$
  typescript-check: any of: \.(ts|tsx)$
  biome-check: any of: \.(js|jsx|ts|tsx|json)$
