Repository athasdev/athas: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-fmt-workspace, typescript-check, biome-check

.pre-commit-config.yaml:

# Pre-commit hooks configuration for Rust + TypeScript/React project
# See https://pre-commit.com for more information

repos:
  # Rust hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-toml
      - id: check-json
        exclude: 'tsconfig.*\.json$'
      - id: check-merge-conflict

  # Rust formatting only (clippy/check too heavy for CI)
  - repo: local
    hooks:
      - id: rust-fmt-workspace
        name: Rust format (workspace)
        entry: cargo fmt
        args: ['--all', '--check']
        language: system
        files: '\.rs$'
        pass_filenames: false

  # TypeScript/JavaScript with Biome and type checking
  - repo: local
    hooks:
      - id: typescript-check
        name: TypeScript check
        entry: bun
        args: ['typecheck']
        language: system
        files: \.(ts|tsx)$
        pass_filenames: false
      - id: biome-check
        name: Biome check
        entry: bun
        args: ['check', '--write']
        language: system
        files: \.(js|jsx|ts|tsx|json)$
        pass_filenames: false

  # Commit message validation
  - repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
    rev: v9.18.0
    hooks:
      - id: commitlint
        stages: [commit-msg]
        additional_dependencies: ['@commitlint/cli']

Activate theme extension contributions
  src/extensions/icon-themes/icon-theme-registry.ts
  src/extensions/icon-themes/types.ts
  src/extensions/registry/extension-store-lifecycle.ts
  src/extensions/registry/extension-store.ts
  src/extensions/runtime/extension-contribution-runtime.ts
  src/extensions/themes/theme-registry.ts
  src/extensions/themes/types.ts
Due: typescript-check, biome-check

Show theme marketplace extensions
  src/features/settings/components/tabs/extensions-settings.tsx
Due: typescript-check, biome-check

Skip non-language marketplace manifests
  src/extensions/languages/language-packager.ts
Due: typescript-check, biome-check

Support alpha release channel
  package.json
  scripts/release/generate-notes.mjs
  scripts/release/pre-release-check.ts
  scripts/release/release-assets.mjs
  scripts/release/run.ts
Due: typescript-check, biome-check

Prepare alpha release
  Cargo.lock
  package.json
  src-tauri/Cargo.toml
  src-tauri/tauri.conf.json
Due: biome-check

Revert "Prepare alpha release"
  Cargo.lock
  package.json
  src-tauri/Cargo.toml
  src-tauri/tauri.conf.json
Due: biome-check

Revert "Support alpha release channel"
  package.json
  scripts/release/generate-notes.mjs
  scripts/release/pre-release-check.ts
  scripts/release/release-assets.mjs
  scripts/release/run.ts
Due: typescript-check, biome-check

Prepare preview release
  Cargo.lock
  package.json
  src-tauri/Cargo.toml
  src-tauri/tauri.conf.json
Due: biome-check

Fix Windows release build shell
  .github/workflows/release.yml
Due: none

Run Windows release builds in PowerShell
  .github/workflows/release.yml
Due: none

Run nix develop validation in non-login shell
  .github/workflows/nix.yml
Due: none

Avoid duplicate Windows release signatures
  .github/workflows/release.yml
Due: none

Normalize preview release asset names
  scripts/release/release-assets.mjs
Due: none

Simplify generated release notes
  scripts/release/generate-notes.mjs
Due: none

Fix Linux preview window and update UX
  Cargo.lock
  package.json
  src-tauri/Cargo.toml
  src-tauri/src/commands/ui/window.rs
  src-tauri/src/main.rs
  src-tauri/tauri.conf.json
  src/App.tsx
  src/features/layout/components/footer/footer.tsx
  src/features/settings/components/update-dialog.tsx
  src/features/settings/hooks/use-auto-update.ts
  src/features/web-viewer/components/web-viewer.tsx
  src/features/window/components/custom-title-bar.tsx
  src/features/window/components/window-resize-border.tsx
  src/features/window/hooks/use-native-window-chrome.ts
Due: rust-fmt-workspace, typescript-check, biome-check

Move onboarding into a tab
  src/App.tsx
  src/features/editor/stores/buffer-content-factory.ts
  src/features/editor/stores/buffer-store.ts
  src/features/layout/components/main-layout.tsx
  src/features/onboarding/components/onboarding-dialog.tsx
  src/features/onboarding/components/onboarding-view.tsx
  src/features/panes/components/pane-container.tsx
  src/features/panes/types/pane-content.ts
Due: typescript-check, biome-check

Fix Mistral API key validation
  src/features/ai/components/provider-api-key-command.tsx
  src/features/ai/services/providers/ai-provider-registry.ts
  src/features/ai/services/providers/mistral-provider.ts
Due: typescript-check, biome-check

Fix Linux IPC fallbacks
  src-tauri/src/commands/project/fs.rs
  src-tauri/src/main.rs
  src-tauri/src/secure_storage.rs
  src-tauri/tauri.conf.json
  src/features/ai/services/providers/gemini-provider.ts
  src/features/ai/services/providers/mistral-provider.ts
  src/features/ai/services/providers/openrouter-provider.ts
  src/features/ai/services/providers/provider-fetch.ts
  src/features/file-system/controllers/platform.ts
  src/features/settings/stores/font-store.ts
Due: rust-fmt-workspace, typescript-check, biome-check

Fix/hamburger menu position (#613)
  src/features/window/components/custom-title-bar.tsx
  src/features/window/components/menu-bar/window-menu-bar.tsx
Due: typescript-check, biome-check

Fix release notes workflow permissions
  .github/workflows/release.yml
Due: none

Improve release notes and markdown tables
  scripts/release/generate-notes.mjs
  src/features/ai/components/messages/markdown-renderer.tsx
Due: typescript-check, biome-check

Add dotenv highlighting and env template actions
  public/tree-sitter/parsers/dotenv/highlights.scm
  src/features/editor/components/layers/multi-cursor-layer.tsx
  src/features/editor/hooks/use-editor-keydown.ts
  src/features/editor/lib/wasm-parser/extension-assets.test.ts
  src/features/editor/lib/wasm-parser/extension-assets.ts
  src/features/editor/lib/wasm-parser/wasm-parser-api.ts
  src/features/editor/markdown/language-map.ts
  src/features/editor/styles/overlay-editor.css
  src/features/editor/utils/comment-toggle.test.ts
  src/features/editor/utils/comment-toggle.ts
  src/features/editor/utils/language-detection.ts
  src/features/editor/utils/language-id.test.ts
  src/features/editor/utils/language-id.ts
  src/features/file-explorer/components/file-explorer-tree.tsx
  src/features/file-explorer/hooks/use-file-explorer-context-menu.tsx
  src/features/file-explorer/lib/env-template.test.ts
  src/features/file-explorer/lib/env-template.ts
Due: typescript-check, biome-check

Support macOS 12 WebView builds
  vite.config.ts
Due: typescript-check, biome-check

Render patch files in diff viewer
  src/features/git/hooks/use-git-diff-data.test.ts
  src/features/git/hooks/use-git-diff-data.ts
  src/features/git/utils/diff-buffer-path.ts
  src/features/git/utils/git-diff-parser.test.ts
  src/features/git/utils/git-diff-parser.ts
Due: typescript-check, biome-check

Polish AI composer tokens
  src/features/ai/components/input/chat-composer-control-styles.ts
  src/features/ai/components/input/chat-input-bar.tsx
  src/features/ai/components/mentions/ai-file-selector.tsx
  src/features/ai/components/mentions/file-mention-dropdown.tsx
  src/features/ai/components/mentions/slash-command-dropdown.tsx
  src/features/ai/components/selectors/context-selector.tsx
  src/features/global-search/components/file-list-item.tsx
  src/ui/command.tsx
Due: typescript-check, biome-check

Polish selection, env dialogs, and scrollbars
  src/features/command-palette/constants/git-actions.tsx
  src/features/command-palette/constants/view-actions.tsx
  src/features/editor/components/layers/multi-cursor-layer.tsx
  src/features/editor/components/layers/selection-layer.tsx
  src/features/editor/styles/overlay-editor.css
  src/features/editor/utils/selection-boxes.test.ts
  src/features/editor/utils/selection-boxes.ts
  src/features/file-explorer/components/file-explorer-tree.tsx
  src/features/file-explorer/hooks/use-file-explorer-context-menu.tsx
  src/features/file-explorer/hooks/use-file-explorer-drag-drop.ts
  src/features/file-system/controllers/store.ts
  src/features/git/components/git-actions-menu.tsx
  src/features/git/components/git-branch-manager.tsx
  src/features/git/components/git-tag-manager.tsx
  src/features/git/components/git-worktree-manager.tsx
  src/features/git/components/status/git-status-panel.tsx
  src/features/keymaps/commands/command-registry.ts
  src/features/pdf-viewer/components/pdf-viewer.tsx
  src/features/terminal/components/terminal.tsx
  src/features/terminal/styles/terminal.css
  src/features/window/hooks/use-menu-events-wrapper.ts
  src/main.tsx
  src/styles/scrollbars.css
  src/ui/primitive-dialog-service.tsx
Due: typescript-check, biome-check

Replace remaining native dialogs
  src/features/command-palette/constants/advanced-actions.tsx
  src/features/git/components/git-view.tsx
Due: typescript-check, biome-check

Add command palette quick views and git init polish
  crates/version-control/src/git/status.rs
  src/features/ai/components/mentions/ai-file-selector.tsx
  src/features/ai/components/messages/markdown-renderer.tsx
  src/features/ai/components/quick-question-command.tsx
  src/features/ai/components/selectors/context-selector.tsx
  src/features/ai/services/ai-chat-service.ts
  src/features/ai/utils/ai-context-builder.ts
  src/features/command-palette/components/command-palette.tsx
  src/features/command-palette/components/icon-theme-selector.tsx
  src/features/command-palette/components/theme-selector.tsx
  src/features/command-palette/constants/advanced-actions.tsx
  src/features/command-palette/constants/settings-actions.tsx
  src/features/command-palette/models/view.types.ts
  src/features/git/api/git-repo-api.ts
  src/features/git/components/git-view.tsx
  src/features/git/components/status/git-status-file-item.tsx
  src/features/window/components/account-menu.tsx
  src/features/window/components/notifications-menu.tsx
  src/features/window/components/run-actions-button.tsx
  src/features/window/stores/ui-state/modal-slice.ts
Due: rust-fmt-workspace, typescript-check, biome-check

Avoid native dialogs on Linux CEF
  package.json
  scripts/release/package-linux-tarball.sh
  src-tauri/src/commands/development/cli_args.rs
  src/features/file-system/controllers/platform.ts
  src/features/file-system/controllers/store.ts
  src/features/panes/components/empty-editor-state.tsx
Due: rust-fmt-workspace, typescript-check, biome-check

Add Linux folder picker
  src/features/file-system/components/linux-folder-picker-dialog.tsx
  src/features/file-system/controllers/linux-folder-picker-store.ts
  src/features/file-system/controllers/platform.ts
  src/features/layout/components/main-layout.tsx
Due: typescript-check, biome-check

Prevent Ctrl W closing Linux CEF window
  src-tauri/src/menu.rs
  src/features/keymaps/hooks/use-keymaps.ts
Due: rust-fmt-workspace, typescript-check, biome-check

Clarify Linux microphone errors
  src/features/ai/components/input/chat-input-bar.tsx
Due: typescript-check, biome-check

Polish scrollbars and new tab behavior
  src/features/editor/stores/buffer-store.ts
  src/features/file-explorer/hooks/use-file-explorer-context-menu.tsx
  src/features/panes/components/pane-container.tsx
  src/features/tabs/components/tab-bar.tsx
  src/styles/scrollbars.css
Due: typescript-check, biome-check

Show blank pane after closing new tab
  src/features/panes/components/pane-container.tsx
Due: typescript-check, biome-check

Polish extensions categories
  src/extensions/database/database-provider-extensions.ts
  src/features/settings/components/tabs/extensions-settings.tsx
  src/features/settings/types/settings.ts
Due: typescript-check, biome-check

Polish multi agents ACP UI
  crates/ai/src/acp/bridge.rs
  crates/ai/src/acp/bridge_commands.rs
  crates/ai/src/acp/mod.rs
  crates/ai/src/acp/types.rs
  crates/ai/src/lib.rs
  src-tauri/src/commands/ai/acp.rs
  src-tauri/src/main.rs
  src/features/ai/components/chat/ai-chat.tsx
  src/features/ai/components/input/chat-input-bar.tsx
  src/features/ai/components/messages/tool-call-display.tsx
  src/features/ai/components/multi-agent-panel.tsx
  src/features/ai/components/multi-agents-sidebar-view.tsx
  src/features/ai/components/selectors/acp-config-selector.tsx
  src/features/ai/lib/acp-diff-output.ts
  src/features/ai/lib/acp-event-timeline.ts
  src/features/ai/lib/acp-terminal-output.ts
  src/features/ai/services/acp-stream-handler.ts
  src/features/ai/types/acp.ts
  src/features/git/components/git-branch-manager.tsx
  src/features/git/components/git-worktree-switcher.tsx
  src/features/layout/components/footer/footer.tsx
  src/features/layout/components/sidebar/main-sidebar.tsx
  src/features/layout/components/sidebar/sidebar-pane-selector.tsx
  src/features/layout/config/item-order.ts
  src/features/layout/tests/sidebar-pane-utils.test.ts
  src/features/layout/utils/sidebar-pane-utils.ts
  src/features/window/components/custom-title-bar.tsx
  src/ui/combobox.tsx
Due: rust-fmt-workspace, typescript-check, biome-check

Add custom autocomplete provider support
  bun.lock
  src/features/editor/components/editor.tsx
  src/features/editor/hooks/use-autocomplete.ts
  src/features/editor/services/editor-autocomplete-service.ts
  src/features/settings/components/tabs/ai-settings.tsx
  src/features/settings/config/default-settings.ts
  src/features/settings/lib/settings-normalization.ts
  src/features/settings/lib/settings-sync.ts
  src/features/settings/types/settings.ts
  vite.config.ts
Due: typescript-check, biome-check

Limit Linux tarball build to manual runs
  .github/workflows/linux-build.yml
Due: none
