Repository athasdev/athas: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-fmt-workspace, typescript-check, biome-check

rust-fmt-workspace:
  name: Rust format (workspace)
  entry: cargo fmt
  args:
  - --all
  - --check
  language: system
  pass_filenames: false

typescript-check:
  name: TypeScript check
  entry: bun
  args:
  - typecheck
  language: system
  pass_filenames: false

biome-check:
  name: Biome check
  entry: bun
  args:
  - check
  - --write
  language: system
  pass_filenames: false

Expand Docker workspace tools
  src-tauri/src/app_setup.rs
  src-tauri/src/commands/development/docker.rs
  src-tauri/src/main.rs
  src/features/docker/components/docker-sidebar.tsx
  src/features/docker/services/docker-api.ts
  src/features/docker/types/docker.types.ts
Due: rust-fmt-workspace, typescript-check, biome-check

Add Docker project workspace tools
  src-tauri/src/commands/development/docker.rs
  src-tauri/src/main.rs
  src/features/docker/components/docker-sidebar.tsx
  src/features/docker/services/docker-api.ts
  src/features/docker/types/docker.types.ts
Due: rust-fmt-workspace, typescript-check, biome-check

Expand Docker project controls
  src-tauri/src/commands/development/docker.rs
  src-tauri/src/main.rs
  src/features/docker/components/docker-sidebar.tsx
  src/features/docker/services/docker-api.ts
  src/features/docker/types/docker.types.ts
Due: rust-fmt-workspace, typescript-check, biome-check

Install rustls provider at startup
  Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/main.rs
Due: rust-fmt-workspace

Protect keychain-backed secrets
  src-tauri/src/secure_storage.rs
Due: rust-fmt-workspace

Keep terminal input and diffs responsive
  crates/version-control/src/git/diff.rs
  crates/version-control/src/git/stash.rs
  crates/version-control/src/git/types.rs
  src-tauri/src/commands/version_control/git.rs
  src/features/file-explorer/components/file-explorer-tree.tsx
  src/features/file-explorer/components/file-navigator-sidebar.tsx
  src/features/git/components/diff/git-diff-editor-stack.tsx
  src/features/git/components/diff/git-diff-text.tsx
  src/features/git/components/git-view.tsx
  src/features/git/types/git-diff.types.ts
  src/features/git/types/git.types.ts
  src/features/git/utils/diff-editor-content.ts
  src/features/git/utils/diff-viewer-scale.ts
  src/features/git/utils/working-tree-multi-diff.ts
  src/features/global-search/hooks/use-content-search.ts
  src/features/keymaps/hooks/use-keymaps.ts
  src/features/terminal/components/terminal.tsx
  src/features/terminal/tests/terminal-keyboard.test.ts
  src/features/terminal/utils/terminal-keyboard.ts
Due: rust-fmt-workspace, typescript-check, biome-check

Fix macOS title bar dragging
  src-tauri/capabilities/main.json
  src-tauri/src/commands/ui/window.rs
  src-tauri/tauri.conf.json
  src-tauri/tauri.macos.conf.json
  src/features/window/components/title-bar/custom-title-bar.tsx
Due: rust-fmt-workspace, typescript-check, biome-check

Open terminal file paths in editor
  src/features/terminal/components/terminal.tsx
  src/features/terminal/hooks/use-terminal-addons.ts
  src/features/terminal/tests/terminal-file-links.test.ts
  src/features/terminal/utils/terminal-file-links.ts
Due: typescript-check, biome-check

Default sidebar tabs to the side rail
  src/features/layout/components/main-layout.tsx
  src/features/settings/components/tabs/appearance-settings.tsx
  src/features/settings/config/default-settings.ts
  src/features/settings/config/search-index.ts
Due: typescript-check, biome-check

Fix macOS multiwindow lifecycle
  src-tauri/capabilities/main.json
  src-tauri/src/commands/ui/window.rs
  src-tauri/tauri.conf.json
  src-tauri/tauri.macos.conf.json
Due: rust-fmt-workspace, biome-check

Move databases into command palette
  src/features/command-palette/components/command-palette.tsx
  src/features/command-palette/constants/database-actions.tsx
  src/features/command-palette/types/view.types.ts
  src/features/database/components/database-sidebar.tsx
  src/features/database/utils/database-file-drop.ts
  src/features/keymaps/commands/command-registry.ts
  src/features/layout/components/footer/footer.tsx
  src/features/layout/components/main-layout.tsx
  src/features/layout/components/sidebar/main-sidebar.tsx
Due: typescript-check, biome-check

Speed up workspace directory loading
  src/features/file-system/controllers/file-operations.ts
  src/features/file-system/controllers/platform.ts
  src/features/file-system/tests/file-operations.test.ts
Due: typescript-check, biome-check

Add window open diagnostics
  src-tauri/src/app_setup.rs
  src-tauri/src/commands/ui/window.rs
  src/App.tsx
  src/features/window/utils/create-app-window.ts
  src/features/window/utils/window-open-diagnostics.ts
  src/main.tsx
Due: rust-fmt-workspace, typescript-check, biome-check

Use packaged tree-sitter runtime wasm
  src/features/editor/lib/wasm-parser/loader.test.ts
  src/features/editor/lib/wasm-parser/loader.ts
Due: typescript-check, biome-check

Do not block bootstrap on telemetry delay
  src/features/telemetry/services/telemetry.ts
Due: typescript-check, biome-check

Create menu windows on main thread
  src-tauri/src/app_setup.rs
Due: rust-fmt-workspace

Improve file explorer tree rendering
  src/features/file-explorer/components/file-explorer-pane.tsx
  src/features/file-explorer/components/file-explorer-tree-item.tsx
  src/features/file-explorer/components/file-explorer-tree.tsx
  src/features/file-explorer/lib/visible-file-tree-rows.ts
  src/features/file-explorer/tests/visible-file-tree-rows.test.ts
  src/features/file-system/controllers/file-tree-utils.ts
  src/features/file-system/controllers/utils.ts
  src/features/file-system/tests/file-tree-utils.test.ts
  src/features/layout/components/sidebar/main-sidebar.tsx
Due: typescript-check, biome-check

Defer workbench loading for blank windows
  src/App.tsx
  src/features/layout/components/main-layout.tsx
  src/main.tsx
  src/workbench-app.tsx
Due: typescript-check, biome-check

Make window frame diagnostics deterministic
  src/App.tsx
  src/features/window/utils/window-open-diagnostics.ts
  src/workbench-app.tsx
Due: typescript-check, biome-check

Wire window close shortcuts
  src-tauri/capabilities/main.json
  src-tauri/src/menu.rs
  src/features/keymaps/commands/command-registry.ts
  src/features/keymaps/commands/file-command-actions.ts
  src/features/keymaps/defaults/default-keymaps.ts
  src/features/keymaps/hooks/use-keymaps.ts
  src/features/keymaps/utils/native-menu-accelerators.ts
  src/features/window/components/window-close-guard.tsx
  src/features/window/hooks/use-menu-events-wrapper.ts
  src/features/window/utils/request-window-close.ts
Due: rust-fmt-workspace, typescript-check, biome-check

Stabilize macOS window transparency
  src-tauri/src/commands/ui/window.rs
  src/styles/window-transparency.css
Due: rust-fmt-workspace

Open Athas logs from the app
  src-tauri/src/commands/app_logs.rs
  src-tauri/src/commands/mod.rs
  src-tauri/src/main.rs
  src/features/command-palette/constants/advanced-actions.tsx
  src/features/developer/services/athas-log-service.ts
  src/features/editor/stores/buffer-content-factory.ts
  src/features/editor/stores/editor-app.store.ts
  src/features/keymaps/commands/file-command-actions.ts
  src/features/panes/components/pane-container.tsx
  src/features/panes/types/pane-content.types.ts
  src/ui/toast.tsx
Due: rust-fmt-workspace, typescript-check, biome-check

Standardize command and chrome controls
  src/extensions/v0/components/v0-design-system-command.tsx
  src/features/ai/components/agent-launcher.tsx
  src/features/ai/components/quick-question-command.tsx
  src/features/ai/components/skills/skills-command.tsx
  src/features/command-palette/components/icon-theme-selector.tsx
  src/features/command-palette/components/theme-selector.tsx
  src/features/database/components/database-sidebar.tsx
  src/features/editor/inline-edit/inline-edit-model-selector.tsx
  src/features/generate/components/extension-generation-command.tsx
  src/features/git/components/git-branch-manager.tsx
  src/features/git/components/git-command-surface.tsx
  src/features/github/components/github-create-command.tsx
  src/features/layout/components/chrome-control-styles.ts
  src/features/layout/components/footer/footer.tsx
  src/features/local-history/components/local-history-command.tsx
  src/features/notifications/components/notifications-command.tsx
  src/features/outline/components/outline-command.tsx
  src/features/quick-open/components/file-count-badge.tsx
  src/features/quick-open/components/quick-open.tsx
  src/features/web-viewer/components/web-viewer-toolbar.tsx
  src/ui/button.tsx
  src/ui/command.tsx
  src/ui/tabs.tsx
Due: typescript-check, biome-check

Add skills: find-skills, frontend-design, agent-browser, skill-creator (#22)
  .agents/skills/agent-browser/SKILL.md
  .agents/skills/find-skills/SKILL.md
  .agents/skills/frontend-design/LICENSE.txt
  .agents/skills/frontend-design/SKILL.md
  .agents/skills/skill-creator/LICENSE.txt
  .agents/skills/skill-creator/SKILL.md
  .agents/skills/skill-creator/agents/analyzer.md
  .agents/skills/skill-creator/agents/comparator.md
  .agents/skills/skill-creator/agents/grader.md
  .agents/skills/skill-creator/assets/eval_review.html
  .agents/skills/skill-creator/eval-viewer/generate_review.py
  .agents/skills/skill-creator/eval-viewer/viewer.html
  .agents/skills/skill-creator/references/schemas.md
  .agents/skills/skill-creator/scripts/__init__.py
  .agents/skills/skill-creator/scripts/aggregate_benchmark.py
  .agents/skills/skill-creator/scripts/generate_report.py
  .agents/skills/skill-creator/scripts/improve_description.py
  .agents/skills/skill-creator/scripts/package_skill.py
  .agents/skills/skill-creator/scripts/quick_validate.py
  .agents/skills/skill-creator/scripts/run_eval.py
  .agents/skills/skill-creator/scripts/run_loop.py
  .agents/skills/skill-creator/scripts/utils.py
Due: none

Format non-source files
  .factory/droids/athas-ai-engineer.md
  .factory/droids/athas-bug-hunter.md
  .factory/droids/athas-ceo.md
  .factory/droids/athas-chief-architect.md
  .factory/droids/athas-code-reviewer.md
  .factory/droids/athas-collaboration-engineer.md
  .factory/droids/athas-crypto-engineer.md
  .factory/droids/athas-database-engineer.md
  .factory/droids/athas-devops-engineer.md
  .factory/droids/athas-docs-writer.md
  .factory/droids/athas-editor-engineer.md
  .factory/droids/athas-extension-engineer.md
  .factory/droids/athas-frontend-expert.md
  .factory/droids/athas-git-engineer.md
  .factory/droids/athas-issue-resolver.md
  .factory/droids/athas-migration-engineer.md
  .factory/droids/athas-onboarding-specialist.md
  .factory/droids/athas-performance-engineer.md
  .factory/droids/athas-protocol-engineer.md
  .factory/droids/athas-qa-lead.md
  .factory/droids/athas-qa-tester.md
  .factory/droids/athas-react-engineer.md
  .factory/droids/athas-refactoring-specialist.md
  .factory/droids/athas-release-engineer.md
  .factory/droids/athas-release-manager.md
  .factory/droids/athas-rust-engineer.md
  .factory/droids/athas-rust-expert.md
  .factory/droids/athas-security-lead.md
  .factory/droids/athas-security-reviewer.md
  .factory/droids/athas-smoke-tester.md
  .factory/droids/athas-state-engineer.md
  .factory/droids/athas-tauri-engineer.md
  .factory/droids/athas-terminal-engineer.md
  .factory/droids/athas-test-engineer.md
  .factory/droids/athas-ui-engineer.md
  .factory/droids/athas-ux-designer.md
  COMPANY_ROSTER.md
  FACTORY_AI.md
  VIBE_CODING.md
Due: none

Fix native menu accelerator matching on Linux
  src/features/keymaps/utils/native-menu-accelerators.ts
  src/features/keymaps/utils/parser.ts
Due: typescript-check, biome-check

Make workspace tabs store safe for non-Tauri environments
  src/features/window/stores/workspace-tabs-store.ts
Due: typescript-check, biome-check

Fix test failures and formatting issues to make all checks pass
  .agents/skills/agent-browser/SKILL.md
  .agents/skills/find-skills/SKILL.md
  .agents/skills/frontend-design/LICENSE.txt
  .agents/skills/frontend-design/SKILL.md
  .agents/skills/skill-creator/LICENSE.txt
  .agents/skills/skill-creator/SKILL.md
  .agents/skills/skill-creator/agents/analyzer.md
  .agents/skills/skill-creator/agents/comparator.md
  .agents/skills/skill-creator/agents/grader.md
  .agents/skills/skill-creator/assets/eval_review.html
  .agents/skills/skill-creator/eval-viewer/generate_review.py
  .agents/skills/skill-creator/eval-viewer/viewer.html
  .agents/skills/skill-creator/references/schemas.md
  .agents/skills/skill-creator/scripts/__init__.py
  .agents/skills/skill-creator/scripts/aggregate_benchmark.py
  .agents/skills/skill-creator/scripts/generate_report.py
  .agents/skills/skill-creator/scripts/improve_description.py
  .agents/skills/skill-creator/scripts/package_skill.py
  .agents/skills/skill-creator/scripts/quick_validate.py
  .agents/skills/skill-creator/scripts/run_eval.py
  .agents/skills/skill-creator/scripts/run_loop.py
  .agents/skills/skill-creator/scripts/utils.py
Due: none

Increase Vitest test timeout to accommodate slow buffer-store imports
  vite.config.ts
Due: typescript-check, biome-check

Add Astro language support
  bun.lock
  crates/tooling/src/installer.rs
  package.json
  public/tree-sitter/parsers/astro/highlights.scm
  public/tree-sitter/parsers/astro/parser.wasm
  scripts/postinstall.ts
  src/extensions/languages/full-extensions.ts
  src/features/editor/lib/wasm-parser/language-injections.ts
  src/features/editor/lsp/lsp-client.ts
  src/features/editor/markdown/language-map.ts
  src/features/editor/tests/language-id.test.ts
  src/features/editor/tests/language-injections.test.ts
  src/features/editor/utils/language-id.ts
Due: rust-fmt-workspace, typescript-check, biome-check

Extract footer chrome controls
  src/features/layout/components/footer/footer-git-branch-item.tsx
  src/features/layout/components/footer/footer-items.ts
  src/features/layout/components/footer/footer-tab-control.tsx
  src/features/layout/components/footer/footer-update-item.tsx
  src/features/layout/components/footer/footer.tsx
Due: typescript-check, biome-check

Prepare release
  Cargo.lock
  package.json
  src-tauri/Cargo.toml
  src-tauri/tauri.conf.json
Due: biome-check

Fix nightly preview release setup
  .github/workflows/nightly-preview-release.yml
  scripts/release/run.ts
Due: typescript-check, biome-check

Install Zig for nightly previews
  .github/workflows/nightly-preview-release.yml
Due: none

Avoid main push for nightly previews
  .github/workflows/nightly-preview-release.yml
  scripts/release/run.ts
Due: typescript-check, biome-check

Ignore Zig build cache
  .gitignore
Due: none

Dispatch preview builds from tags
  .github/workflows/nightly-preview-release.yml
Due: none

Support release token secret
  .github/workflows/release.yml
Due: none

Path conditions:
  rust-fmt-workspace: any of: \.rs$
  typescript-check: any of: \.(ts|tsx)$
  biome-check: any of: \.(js|jsx|ts|tsx|json)$
