Repository athasdev/athas: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-fmt-workspace, typescript-check, biome-check

.pre-commit-config.yaml:

# Pre-commit hooks configuration for Rust + TypeScript/React project
# See https://pre-commit.com for more information

repos:
  # Rust hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-toml
      - id: check-json
        exclude: 'tsconfig.*\.json$'
      - id: check-merge-conflict

  # Rust formatting only (clippy/check too heavy for CI)
  - repo: local
    hooks:
      - id: rust-fmt-workspace
        name: Rust format (workspace)
        entry: cargo fmt
        args: ['--all', '--check']
        language: system
        files: '\.rs$'
        pass_filenames: false

  # TypeScript/JavaScript with Biome and type checking
  - repo: local
    hooks:
      - id: typescript-check
        name: TypeScript check
        entry: bun
        args: ['typecheck']
        language: system
        files: \.(ts|tsx)$
        pass_filenames: false
      - id: biome-check
        name: Biome check
        entry: bun
        args: ['check', '--write']
        language: system
        files: \.(js|jsx|ts|tsx|json)$
        pass_filenames: false

  # Commit message validation
  - repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
    rev: v9.18.0
    hooks:
      - id: commitlint
        stages: [commit-msg]
        additional_dependencies: ['@commitlint/cli']

Fix terminal slot ref handoff
  src/features/terminal/components/terminal.tsx
  src/features/terminal/tests/terminal-slots-store.test.ts
Due: typescript-check, biome-check

Stabilize terminal mount across pane moves and splits (#667)
  src/features/layout/components/main-layout.tsx
  src/features/panes/components/pane-container.tsx
  src/features/terminal/components/terminal-container.tsx
  src/features/terminal/components/terminal-host.tsx
  src/features/terminal/components/terminal-session.tsx
  src/features/terminal/components/terminal-slot.tsx
  src/features/terminal/components/terminal-tab.tsx
  src/features/terminal/components/terminal.tsx
  src/features/terminal/hooks/use-terminal-connection.ts
  src/features/terminal/stores/terminal-slots-store.ts
  src/features/terminal/stores/terminal-store.ts
  src/features/terminal/tests/terminal-slots-store.test.ts
  src/features/terminal/tests/terminal-store-snapshot.test.ts
  src/features/terminal/types/terminal.ts
Due: typescript-check, biome-check

Fix VS Code recents rustfmt
  src-tauri/src/commands/development/vscode_recents.rs
Due: rust-fmt-workspace

Import VS Code recent projects (#662)
  Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/commands/development/mod.rs
  src-tauri/src/commands/development/vscode_recents.rs
  src-tauri/src/main.rs
  src/features/file-system/controllers/recent-folders-store.ts
  src/features/settings/components/tabs/general-settings.tsx
  src/features/window/components/project-picker-dialog.tsx
Due: rust-fmt-workspace, typescript-check, biome-check

Harden ACP parity behavior
  crates/ai/src/acp/bridge_init.rs
  docs/goals/athas-acp-zed-parity/goal.md
  docs/goals/athas-acp-zed-parity/notes/T001-acp-zed-map.md
  docs/goals/athas-acp-zed-parity/state.yaml
  src/features/ai/services/acp-stream-handler.ts
  src/features/ai/tests/acp-cancellation.test.ts
Due: rust-fmt-workspace, typescript-check, biome-check

Add ACP harness parity coverage
  crates/ai/src/acp/client.rs
  crates/ai/src/acp/types.rs
  docs/goals/athas-acp-harness-parity/goal.md
  docs/goals/athas-acp-harness-parity/notes/T001-acp-harness-map.md
  docs/goals/athas-acp-harness-parity/state.yaml
  src/features/ai/services/acp-stream-handler.ts
  src/features/ai/tests/acp-permission.test.ts
  src/features/ai/tests/acp-usage.test.ts
  src/features/ai/types/acp.ts
Due: rust-fmt-workspace, typescript-check, biome-check

Load ACP agents from registry
  src-tauri/src/commands/ai/acp.rs
Due: rust-fmt-workspace

Harden database sidecar protocol
  crates/database/src/fixtures/sidecar_panic_request_v1.json
  crates/database/src/fixtures/sidecar_provider_mismatch_v1.json
  crates/database/src/fixtures/sidecar_request_v1.json
  crates/database/src/fixtures/sidecar_unsupported_protocol_request_v2.json
  crates/database/src/providers/duckdb.rs
  crates/database/src/providers/mysql.rs
  crates/database/src/providers/postgres.rs
  crates/database/src/providers/redis_db.rs
  crates/database/src/providers/sqlite.rs
  crates/database/src/sidecar.rs
  crates/database/src/sql_common.rs
  src-tauri/src/commands/database/fixtures/sidecar_error_v1.json
  src-tauri/src/commands/database/fixtures/sidecar_legacy_raw_result.json
  src-tauri/src/commands/database/fixtures/sidecar_panic_v1.json
  src-tauri/src/commands/database/fixtures/sidecar_success_v1.json
  src-tauri/src/commands/database/fixtures/sidecar_unsupported_protocol_v2.json
  src-tauri/src/commands/database/sidecar.rs
  src/extensions/database/database-provider-extensions.test.ts
  src/extensions/database/database-provider-extensions.ts
  src/extensions/types/extension-manifest.ts
  src/features/database/services/database-provider-sidecar.test.ts
  src/features/database/services/database-provider-sidecar.ts
Due: rust-fmt-workspace, typescript-check, biome-check

Harden document database stores
  src/features/database/providers/mongodb/mongodb-pagination.test.ts
  src/features/database/providers/mongodb/mongodb-pagination.ts
  src/features/database/providers/mongodb/mongodb-viewer.tsx
  src/features/database/providers/mongodb/stores/mongodb-store.test.ts
  src/features/database/providers/mongodb/stores/mongodb-store.ts
  src/features/database/providers/redis/redis-viewer.tsx
  src/features/database/providers/redis/stores/redis-store.test.ts
  src/features/database/providers/redis/stores/redis-store.ts
Due: typescript-check, biome-check

Normalize database connections
  src/features/database/components/connection/connection-config.test.ts
  src/features/database/components/connection/connection-config.ts
  src/features/database/components/connection/connection-dialog.tsx
  src/features/database/components/connection/connection-validation.test.ts
  src/features/database/components/connection/connection-validation.ts
  src/features/database/stores/connection-store.test.ts
  src/features/database/stores/connection-store.ts
Due: typescript-check, biome-check

Unify chrome control styling
  src/features/layout/components/chrome-control-styles.ts
  src/features/layout/components/footer/footer.tsx
  src/features/layout/components/sidebar/main-sidebar.tsx
  src/features/layout/components/sidebar/sidebar-pane-selector.tsx
  src/features/layout/config/item-order.ts
  src/features/layout/utils/sidebar-pane-utils.ts
  src/features/settings/components/settings-section.tsx
  src/features/settings/components/tabs/account-settings.tsx
  src/features/settings/components/tabs/appearance-settings.tsx
  src/features/settings/components/tabs/database-settings.tsx
  src/features/settings/components/tabs/extensions-settings.tsx
  src/features/tabs/components/tab-bar-item.tsx
  src/features/window/components/account-menu.tsx
  src/features/window/components/custom-title-bar.tsx
  src/features/window/components/notifications-menu.tsx
  src/features/window/components/run-actions-button.tsx
  src/features/window/lib/account-usage.ts
  src/features/window/services/auth-api.ts
  src/ui/badge.tsx
  src/ui/button.tsx
  src/ui/dropdown.tsx
  src/ui/select.tsx
  src/ui/tabs.tsx
Due: typescript-check, biome-check

Refine collaboration sidebar
  src/features/collaboration/components/collaboration-sidebar-view.tsx
  src/features/collaboration/lib/collaboration-sidebar-model.ts
  src/features/collaboration/tests/collaboration-footer-status.test.ts
  src/features/collaboration/tests/collaboration-sidebar-model.test.ts
  src/features/settings/components/tabs/collaboration-settings.tsx
Due: typescript-check, biome-check

Polish editor sidebar surfaces
  src/features/ai/components/input/chat-input-bar.tsx
  src/features/diagnostics/components/diagnostics-pane.tsx
  src/features/editor/stores/editor-app-store.ts
  src/features/github/components/pr-status.tsx
Due: typescript-check, biome-check

Preserve legacy ACP agents
  src-tauri/src/commands/ai/acp.rs
Due: rust-fmt-workspace

Align ACP agent catalog behavior
  crates/ai/src/acp/bridge_init.rs
  crates/ai/src/acp/config.rs
  crates/ai/src/acp/types.rs
  src-tauri/src/commands/ai/acp.rs
  src/features/ai/types/acp.ts
  src/features/settings/config/default-settings.ts
  src/features/settings/lib/settings-normalization.ts
  src/features/settings/tests/settings-import-export.test.ts
  src/features/settings/tests/settings-normalization.test.ts
  src/features/settings/types/settings.ts
Due: rust-fmt-workspace, typescript-check, biome-check

Harden ACP agent install metadata
  src-tauri/src/commands/ai/acp.rs
Due: rust-fmt-workspace

Recognize ACP registry agent icons
  src/features/ai/components/icons/provider-icons.tsx
  src/features/ai/tests/provider-icons.test.ts
Due: typescript-check, biome-check

Use catalog icons for ACP agents
  src/features/ai/components/icons/provider-icons.tsx
  src/features/ai/components/selectors/agent-selector.tsx
  src/features/ai/tests/provider-icons.test.ts
  src/features/settings/components/tabs/extensions-settings.tsx
Due: typescript-check, biome-check

Enable registry agent installs
  crates/tooling/src/installer.rs
  src-tauri/src/commands/ai/acp.rs
Due: rust-fmt-workspace

Format Rust crate files
  crates/runtime/src/lib.rs
  crates/tooling/src/registry.rs
  crates/tooling/src/types.rs
Due: rust-fmt-workspace

Match CI Rust formatting
  crates/runtime/src/lib.rs
  crates/tooling/src/types.rs
Due: rust-fmt-workspace

Track ACP registry install receipts
  crates/ai/src/acp/bridge_init.rs
  crates/ai/src/acp/config.rs
  crates/ai/src/acp/types.rs
  src-tauri/src/commands/ai/acp.rs
  src/features/ai/types/acp.ts
  src/features/settings/components/tabs/extensions-settings.tsx
Due: rust-fmt-workspace, typescript-check, biome-check

Harden ACP managed install paths
  crates/ai/src/acp/config.rs
  crates/tooling/src/installer.rs
  src-tauri/src/commands/ai/acp.rs
Due: rust-fmt-workspace

Make ACP agent selector scrollable
  src/features/ai/components/selectors/agent-selector.tsx
Due: typescript-check, biome-check

Show ACP registry agent logos
  src/features/ai/components/selectors/agent-selector.tsx
Due: typescript-check, biome-check

Color ACP registry agent logos
  src/features/ai/components/selectors/agent-selector.tsx
Due: typescript-check, biome-check

Exclude unsupported ACP registry agents
  src-tauri/src/commands/ai/acp.rs
Due: rust-fmt-workspace

Fix ACP registry command aliases
  src-tauri/src/commands/ai/acp.rs
Due: rust-fmt-workspace

Reduce collaboration media signal polling
  src/features/collaboration/components/collaboration-sidebar-view.tsx
Due: typescript-check, biome-check

Fix fast-agent ACP install package
  src-tauri/src/commands/ai/acp.rs
Due: rust-fmt-workspace

Fix ACP agent tab chat binding
  src/features/ai/components/chat/ai-chat.tsx
  src/features/ai/components/selectors/agent-selector.tsx
Due: typescript-check, biome-check

Revert "Fix ACP agent tab chat binding"
  src/features/ai/components/chat/ai-chat.tsx
  src/features/ai/components/selectors/agent-selector.tsx
Due: typescript-check, biome-check

Polish ACP assistant message identity
  src/features/ai/components/chat/chat-message.tsx
  src/features/ai/components/chat/chat-messages.tsx
Due: typescript-check, biome-check

Improve file explorer keyboard search
  src/features/file-explorer/components/file-explorer-tree-item.tsx
  src/features/file-explorer/components/file-explorer-tree.tsx
  src/features/file-explorer/hooks/use-file-explorer-visible-rows.ts
  src/features/file-explorer/lib/visible-file-tree-rows.ts
  src/features/file-explorer/styles/file-explorer-tree.css
  src/features/file-explorer/tests/visible-file-tree-rows.test.ts
  src/features/keymaps/commands/command-registry.ts
  src/features/window/hooks/use-menu-events-wrapper.ts
  src/ui/sidebar.tsx
Due: typescript-check, biome-check
