Repository athasdev/athas: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-fmt-workspace, typescript-check, biome-check

.pre-commit-config.yaml:

# Pre-commit hooks configuration for Rust + TypeScript/React project
# See https://pre-commit.com for more information

repos:
  # Rust hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-toml
      - id: check-json
        exclude: 'tsconfig.*\.json$'
      - id: check-merge-conflict

  # Rust formatting only (clippy/check too heavy for CI)
  - repo: local
    hooks:
      - id: rust-fmt-workspace
        name: Rust format (workspace)
        entry: cargo fmt
        args: ['--all', '--check']
        language: system
        files: '\.rs$'
        pass_filenames: false

  # TypeScript/JavaScript with Biome and type checking
  - repo: local
    hooks:
      - id: typescript-check
        name: TypeScript check
        entry: bun
        args: ['typecheck']
        language: system
        files: \.(ts|tsx)$
        pass_filenames: false
      - id: biome-check
        name: Biome check
        entry: bun
        args: ['check', '--write']
        language: system
        files: \.(js|jsx|ts|tsx|json)$
        pass_filenames: false

  # Commit message validation
  - repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
    rev: v9.18.0
    hooks:
      - id: commitlint
        stages: [commit-msg]
        additional_dependencies: ['@commitlint/cli']

Add sidebar search across collaboration and GitHub
  src/features/collaboration/components/collaboration-sidebar-view.tsx
  src/features/github/components/github-actions-view.tsx
  src/features/github/components/github-issues-view.tsx
  src/features/github/components/github-prs-view.tsx
Due: typescript-check, biome-check

Refine notifications sidebar
  src/features/window/components/notifications-menu.tsx
  src/ui/toast.tsx
Due: typescript-check, biome-check

Refactor outline sidebar
  src/features/layout/components/sidebar/main-sidebar.tsx
  src/features/outline/components/outline-sidebar-view.tsx
  src/features/outline/components/outline-sidebar.tsx
  src/features/outline/components/outline-symbol-icon.tsx
  src/features/outline/components/outline-symbol-row.tsx
  src/features/outline/types/outline-symbol.ts
  src/features/outline/utils/outline-symbols.ts
Due: typescript-check, biome-check

Silence LSP lifecycle success toasts
  src/features/editor/components/toolbar/editor-status-actions.tsx
Due: typescript-check, biome-check

Fix ACP registry provider launch metadata
  src-tauri/src/commands/ai/acp.rs
Due: rust-fmt-workspace

Fix ACP registry refresh in selector
  src-tauri/src/commands/ai/acp.rs
  src/features/ai/components/selectors/agent-selector.tsx
Due: rust-fmt-workspace, typescript-check, biome-check

Clarify ACP provider setup failures
  src/features/ai/components/chat/ai-chat.tsx
  src/features/ai/components/messages/markdown-renderer.tsx
  src/features/ai/lib/acp-provider-errors.ts
  src/features/ai/tests/acp-provider-errors.test.ts
Due: typescript-check, biome-check

Refine sidebar UI primitives
  src/ui/button.tsx
  src/ui/dropdown.tsx
  src/ui/item.tsx
  src/ui/sidebar.tsx
Due: typescript-check, biome-check

Align explorer and outline sidebar controls
  src/features/file-explorer/components/file-explorer-tree.tsx
  src/features/outline/components/outline-sidebar.tsx
Due: typescript-check, biome-check

Refine notifications sidebar interactions
  src/features/layout/components/footer/footer.tsx
  src/features/layout/components/sidebar/main-sidebar.tsx
  src/features/window/components/notifications-sidebar.tsx
Due: typescript-check, biome-check

Improve settings dialog responsiveness
  src/features/settings/components/settings-dialog.tsx
  src/features/settings/components/settings-section.tsx
  src/features/settings/components/settings-vertical-tabs.tsx
  src/features/settings/components/tabs/ai-settings.tsx
  src/features/settings/components/tabs/database-settings.tsx
  src/features/settings/components/tabs/extensions-settings.tsx
  src/features/settings/components/tabs/file-tree-settings.tsx
  src/ui/dialog.tsx
Due: typescript-check, biome-check

Tag ACP provider setup errors
  crates/ai/src/acp/bridge.rs
  crates/ai/src/acp/types.rs
  src/features/ai/components/chat/ai-chat.tsx
  src/features/ai/components/messages/markdown-renderer.tsx
  src/features/ai/lib/acp-provider-errors.ts
  src/features/ai/lib/error-block-data.ts
  src/features/ai/tests/acp-provider-errors.test.ts
  src/features/ai/tests/error-block-parsing.test.ts
  src/features/ai/types/acp.ts
Due: rust-fmt-workspace, typescript-check, biome-check

Remove GoalBuddy state files
  docs/goals/athas-acp-harness-parity/goal.md
  docs/goals/athas-acp-harness-parity/notes/T001-acp-harness-map.md
  docs/goals/athas-acp-harness-parity/state.yaml
  docs/goals/athas-acp-zed-parity/goal.md
  docs/goals/athas-acp-zed-parity/notes/T001-acp-zed-map.md
  docs/goals/athas-acp-zed-parity/state.yaml
Due: none

Improve macOS glass chrome
  AGENTS.md
  Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/commands/ui/window.rs
  src-tauri/src/main.rs
  src-tauri/tauri.macos.conf.json
  src/features/collaboration/components/collaboration-sidebar-view.tsx
  src/features/git/components/git-view.tsx
  src/features/github/components/github-prs-view.tsx
  src/features/keymaps/components/keybinding-row.tsx
  src/features/layout/components/bottom-pane/bottom-pane.tsx
  src/features/layout/components/chrome-control-styles.ts
  src/features/layout/components/footer/footer.tsx
  src/features/layout/components/main-layout.tsx
  src/features/layout/components/resizable-pane.tsx
  src/features/layout/components/sidebar/main-sidebar.tsx
  src/features/layout/components/sidebar/sidebar-pane-selector.tsx
  src/features/settings/components/tabs/keyboard-settings.tsx
  src/features/settings/lib/settings-effects.ts
  src/features/window/components/account-menu.tsx
  src/features/window/components/custom-title-bar.tsx
  src/features/window/components/notifications-sidebar.tsx
  src/features/window/components/run-actions-button.tsx
  src/styles/layout.css
  src/ui/tabs.tsx
Due: rust-fmt-workspace, typescript-check, biome-check

Widen sidebar resize handle
  src/features/layout/components/resizable-pane.tsx
Due: typescript-check, biome-check

Use window project title by default
  src/features/settings/config/default-settings.ts
  src/features/window/components/custom-title-bar.tsx
  src/features/window/components/project-tabs.tsx
  src/features/window/components/window-title-display.tsx
Due: typescript-check, biome-check

Rewrite project selector command surface
  src/features/window/components/project-picker-dialog.tsx
Due: typescript-check, biome-check

Align project picker with command palette
  src/features/window/components/custom-title-bar.tsx
  src/features/window/components/project-picker.tsx
Due: typescript-check, biome-check

Move project actions to command footer
  src/features/window/components/project-picker.tsx
  src/ui/command.tsx
Due: typescript-check, biome-check

Refine editor gutter and diagnostic layers
  src/features/debugger/components/debug-breakpoint-indicators.tsx
  src/features/editor/components/diff/inline-diff.tsx
  src/features/editor/components/editor.tsx
  src/features/editor/components/gutter/diagnostic-indicators.tsx
  src/features/editor/components/gutter/flow-line-numbers.tsx
  src/features/editor/components/gutter/fold-indicators.tsx
  src/features/editor/components/gutter/git-indicators.tsx
  src/features/editor/components/gutter/gutter.tsx
  src/features/editor/components/gutter/line-numbers.tsx
  src/features/editor/components/layers/diagnostic-layer.tsx
  src/features/editor/hooks/use-fold-transform.ts
  src/features/editor/hooks/use-tokenizer.ts
  src/features/editor/utils/gutter.ts
  src/features/git/hooks/use-git-gutter.ts
Due: typescript-check, biome-check

Fix ACP agent catalog duplicates
  src-tauri/src/commands/ai/acp.rs
  src/features/ai/components/selectors/agent-selector.tsx
Due: rust-fmt-workspace, typescript-check, biome-check

Fix ACP install progress feedback
  src/features/ai/components/selectors/agent-selector.tsx
Due: typescript-check, biome-check

Fix agent tab chat rendering
  src/features/ai/components/agent-tab.tsx
  src/features/ai/components/chat/ai-chat.tsx
  src/features/panes/components/empty-editor-state.tsx
Due: typescript-check, biome-check

Fix ACP agent selector sizing
  src/features/ai/components/selectors/agent-selector.tsx
Due: typescript-check, biome-check

Fix agent selector chat routing
  src/features/ai/components/agent-tab.tsx
  src/features/ai/components/chat/ai-chat.tsx
  src/features/ai/components/chat/chat-header.tsx
  src/features/ai/components/selectors/agent-selector.tsx
Due: typescript-check, biome-check

Remove custom sidebar builder feature
  src/features/command-palette/components/command-palette.tsx
  src/features/command-palette/constants/settings-actions.tsx
  src/features/command-palette/constants/sidebar-builder-actions.tsx
  src/features/layout/components/sidebar/main-sidebar.tsx
  src/features/layout/components/sidebar/sidebar-pane-selector.tsx
  src/features/layout/config/item-order.ts
  src/features/layout/utils/sidebar-pane-utils.ts
  src/features/settings/config/default-settings.ts
  src/features/settings/config/features.ts
  src/features/settings/config/search-index.ts
  src/features/settings/types/feature.ts
  src/features/sidebar-builder/components/sidebar-builder-view.tsx
  src/features/sidebar-builder/constants/sidebar-builder-widgets.tsx
  src/features/sidebar-builder/stores/sidebar-builder-store.ts
Due: typescript-check, biome-check

Move debugger to bottom pane
  src/features/command-palette/components/command-palette.tsx
  src/features/command-palette/constants/git-actions.tsx
  src/features/command-palette/constants/github-actions.tsx
  src/features/command-palette/constants/navigation-actions.tsx
  src/features/debugger/components/debugger-panels.tsx
  src/features/debugger/components/debugger-view.tsx
  src/features/keymaps/commands/command-registry.ts
  src/features/layout/components/bottom-pane/bottom-pane.tsx
  src/features/layout/components/footer/footer.tsx
  src/features/layout/components/sidebar/main-sidebar.tsx
  src/features/layout/config/item-order.ts
  src/features/window/stores/ui-state/types.ts
  src/features/window/stores/ui-state/view-slice.ts
  src/features/window/stores/workspace-ui-session.ts
Due: typescript-check, biome-check

Mark collaboration feature experimental
  src/features/settings/config/features.ts
  src/features/settings/tests/features-config.test.ts
Due: typescript-check, biome-check

Fix ACP provider runtime handling
  crates/ai/src/acp/bridge_init.rs
  crates/ai/src/acp/bridge_prompt.rs
  crates/ai/src/acp/config.rs
  crates/tooling/src/installer.rs
  src-tauri/src/commands/ai/acp.rs
  src/features/ai/services/acp-stream-handler.ts
Due: rust-fmt-workspace, typescript-check, biome-check

Refine collaboration emoji picker
  src/features/collaboration/components/collaboration-sidebar.tsx
  src/features/layout/components/sidebar/main-sidebar.tsx
  src/ui/emoji-picker.tsx
Due: typescript-check, biome-check

Polish ACP agent selector scrolling
  src/features/ai/components/selectors/agent-selector.tsx
Due: typescript-check, biome-check

Expand sidebar primitives
  src/ui/sidebar.tsx
Due: typescript-check, biome-check

Add database sidebar
  src-tauri/src/commands/database/credentials.rs
  src/features/command-palette/components/command-palette.tsx
  src/features/command-palette/constants/database-actions.tsx
  src/features/database/components/connection/connection-config.test.ts
  src/features/database/components/connection/connection-config.ts
  src/features/database/components/connection/connection-dialog.tsx
  src/features/database/components/connection/connection-validation.test.ts
  src/features/database/components/connection/connection-validation.ts
  src/features/database/components/database-sidebar.tsx
  src/features/database/stores/connection-store.ts
  src/features/database/utils/database-file-drop.ts
  src/features/keymaps/commands/command-registry.ts
  src/features/keymaps/defaults/default-keymaps.ts
  src/features/panes/components/empty-editor-state.tsx
  src/features/settings/components/tabs/database-settings.tsx
  src/features/settings/config/search-index.ts
  src/features/window/components/menu-bar/window-menu-bar.tsx
Due: rust-fmt-workspace, typescript-check, biome-check

Unify sidebar pane routing
  src/features/ai/components/multi-agents-sidebar-view.tsx
  src/features/layout/components/footer/footer.tsx
  src/features/layout/components/main-layout.tsx
  src/features/layout/components/sidebar/main-sidebar.tsx
  src/features/layout/components/sidebar/sidebar-pane-selector.tsx
  src/features/layout/config/item-order.ts
  src/features/layout/hooks/use-sidebar-pane-controller.ts
  src/features/layout/tests/sidebar-pane-utils.test.ts
  src/features/layout/utils/sidebar-pane-utils.ts
  src/features/outline/components/outline-sidebar.tsx
  src/features/outline/components/outline-symbol-row.tsx
  src/features/window/components/custom-title-bar.tsx
  src/features/window/components/notifications-sidebar.tsx
  src/features/window/stores/ui-state/panel-slice.ts
  src/features/window/stores/ui-state/view-slice.ts
Due: typescript-check, biome-check

Refine explorer and tab chrome
  src/features/file-explorer/components/file-explorer-tree-item.tsx
  src/features/file-explorer/components/file-explorer-tree.tsx
  src/features/file-explorer/styles/file-explorer-tree.css
  src/features/settings/config/default-settings.ts
  src/features/tabs/components/new-tab-menu.tsx
  src/features/tabs/components/tab-bar-item.tsx
  src/features/tabs/components/tab-bar.tsx
Due: typescript-check, biome-check

Unify sidebar panel surfaces
  src/features/ai/components/input/chat-input-bar.tsx
  src/features/collaboration/components/collaboration-channel-icons.tsx
  src/features/collaboration/components/collaboration-media-footer.tsx
  src/features/collaboration/components/collaboration-message-composer.tsx
  src/features/collaboration/components/collaboration-sidebar-ui.tsx
  src/features/collaboration/components/collaboration-sidebar.tsx
  src/features/git/components/git-commit-panel.tsx
  src/features/git/components/git-view.tsx
  src/features/git/components/status/git-status-panel.tsx
  src/features/github/components/github-actions-view.tsx
  src/features/github/components/github-issues-view.tsx
  src/features/github/components/github-prs-view.tsx
  src/features/github/components/github-sidebar-state.tsx
Due: typescript-check, biome-check

Refine collaboration sidebar filters
  src/features/collaboration/components/collaboration-media-footer.tsx
  src/features/collaboration/components/collaboration-sidebar.tsx
Due: typescript-check, biome-check
