Repository athasdev/athas: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-fmt-workspace, typescript-check, biome-check

rust-fmt-workspace:
  name: Rust format (workspace)
  entry: cargo fmt
  args:
  - --all
  - --check
  language: system
  pass_filenames: false

typescript-check:
  name: TypeScript check
  entry: bun
  args:
  - typecheck
  language: system
  pass_filenames: false

biome-check:
  name: Biome check
  entry: bun
  args:
  - check
  - --write
  language: system
  pass_filenames: false

Restore Ctrl+Tab editor navigation
  src-tauri/src/menu.rs
  src/features/keymaps/tests/default-keymaps.test.ts
Due: rust-fmt-workspace, typescript-check, biome-check

Keep sidebar actions readable and clickable
  src/ui/sidebar-list.tsx
Due: typescript-check, biome-check

Separate agent freshness monitoring
  .github/workflows/agent-registry-freshness.yml
  .github/workflows/extensions.yml
Due: none

Remove custom architecture guards
  package.json
  scripts/check/frontend.sh
  scripts/check/tailwind-architecture.ts
  scripts/check/tests/tailwind-architecture.test.ts
  scripts/check/zustand-architecture.ts
Due: typescript-check, biome-check

Soften sidebar action surface edges
  src/ui/sidebar-list.tsx
Due: typescript-check, biome-check

Align macOS title bar controls
  src/features/window/components/title-bar/title-bar.tsx
  src/styles/theme.css
Due: typescript-check, biome-check

Align collapsed activity rail
  src/features/layout/components/sidebar/activity-bar.tsx
  src/features/layout/components/sidebar/activity-project-panel.tsx
  src/ui/sidebar-list.tsx
Due: typescript-check, biome-check

Make custom Views a Pro workspace
  src/features/ai/tests/provider-access.test.ts
  src/features/command-palette/constants/navigation-actions.tsx
  src/features/layout/hooks/use-activity-navigation-items.tsx
  src/features/views/components/custom-view.tsx
  src/features/views/components/view-data-display.tsx
  src/features/views/components/view-setup.tsx
  src/features/views/components/views-pro-state.tsx
  src/features/views/components/views-sidebar.tsx
  src/features/views/lib/view-model.ts
  src/features/views/lib/view-presentation.ts
  src/features/views/services/view-generator.ts
  src/features/views/tests/view-data-display.test.tsx
  src/features/views/tests/view-generator.test.ts
  src/features/views/tests/view-model.test.ts
  src/features/views/tests/view-presentation.test.ts
  src/features/views/types/view.types.ts
  src/features/window/hooks/use-pro-feature.ts
  src/features/window/services/auth-api.ts
  src/features/window/tests/auth-api.test.ts
  src/features/window/tests/product-capabilities.test.ts
Due: typescript-check, biome-check

Add editor selections to Agent context
  src/features/ai/components/agent-launch-input.tsx
  src/features/ai/components/chat/ai-chat.tsx
  src/features/ai/components/input/chat-input-bar.tsx
  src/features/ai/hooks/use-composer-context-selection.ts
  src/features/ai/lib/open-new-agent-chat.ts
  src/features/ai/stores/ai-chat/ai-chat-store.types.ts
  src/features/ai/tests/ai-context-builder.test.ts
  src/features/ai/tests/open-new-agent-chat.test.ts
  src/features/ai/types/ai-chat.types.ts
  src/features/ai/types/ai-context.types.ts
  src/features/ai/utils/ai-context-builder.ts
  src/features/editor/components/monaco-editor.tsx
  src/features/editor/components/selection/editor-selection-agent-action.tsx
  src/features/editor/tests/editor-agent-context.test.ts
  src/features/editor/utils/editor-agent-context.ts
Due: typescript-check, biome-check

Show directory sizes in Files
  src-tauri/src/commands/project/fs.rs
  src-tauri/src/main.rs
  src/features/file-explorer/components/file-explorer-tree-item.tsx
  src/features/file-explorer/hooks/use-directory-size.ts
  src/features/file-explorer/tests/directory-size.test.ts
  src/features/file-system/controllers/platform.ts
Due: rust-fmt-workspace, typescript-check, biome-check

Move workspace controls into Activity
  src/features/ai/services/agent-native-notifications.ts
  src/features/ai/tests/agent-native-notifications.test.ts
  src/features/diagnostics/components/diagnostics-activity-control.tsx
  src/features/diagnostics/lib/diagnostics-activity-status.ts
  src/features/diagnostics/lib/diagnostics-footer-status.ts
  src/features/diagnostics/tests/diagnostics-activity-status.test.ts
  src/features/diagnostics/tests/diagnostics-footer-status.test.ts
  src/features/github/components/github-notifications-menu.tsx
  src/features/layout/components/app-update-control.tsx
  src/features/layout/components/footer/footer.tsx
  src/features/layout/components/sidebar/activity-bar.tsx
  src/features/layout/components/sidebar/activity-project-dots.tsx
  src/features/layout/components/sidebar/activity-project-panel.tsx
  src/features/layout/components/sidebar/activity-project-switcher.tsx
  src/features/layout/components/sidebar/activity-project-toolbar.tsx
  src/features/layout/components/sidebar/sidebar-pane.tsx
  src/features/layout/config/item-order.ts
  src/features/layout/hooks/use-activity-bar-visibility.ts
  src/features/layout/hooks/use-activity-navigation-items.tsx
  src/features/layout/tests/chrome-items.test.ts
  src/features/layout/tests/sidebar-pane-utils.test.ts
  src/features/layout/utils/sidebar-pane-utils.ts
  src/features/notifications/components/notification-list-item.tsx
  src/features/notifications/components/notifications-command.tsx
  src/features/notifications/components/notifications-trigger.tsx
  src/features/notifications/constants/notifications-events.ts
  src/features/notifications/hooks/use-github-notifications.ts
  src/features/notifications/stores/notifications.store.ts
  src/features/notifications/tests/notifications-store.test.ts
  src/features/notifications/types/notifications.types.ts
  src/features/window/components/account-menu.tsx
  src/features/window/components/title-bar/title-bar.tsx
  src/features/window/hooks/use-menu-events-wrapper.ts
  src/ui/icons.tsx
  src/ui/sidebar-list.tsx
  src/utils/search-match.ts
  src/utils/tests/search-match.test.ts
Due: typescript-check, biome-check

Standardize appearance previews
  extensions/official/icons-market/extension.json
  extensions/official/icons-symbols/extension.json
  extensions/tooling/build-extensions-index.ts
  extensions/tooling/sync-bundled-icon-theme-sources.ts
  extensions/tooling/validate.ts
  package.json
  src/extensions/appearance/appearance-preview.ts
  src/extensions/appearance/components/appearance-preview.tsx
  src/extensions/bundled/icon-themes/athas/extension.json
  src/extensions/bundled/icon-themes/material/extension.json
  src/extensions/bundled/icon-themes/pierre/extension.json
  src/extensions/bundled/icon-themes/symbols/extension.json
  src/extensions/bundled/icon-themes/symbols/icon.svg
  src/extensions/icon-themes/icon-theme-preview.ts
  src/extensions/icon-themes/icon-theme.types.ts
  src/extensions/runtime/extension-contribution-runtime.ts
  src/extensions/tests/appearance-preview.test.ts
  src/extensions/tests/extension-browser-catalog.test.ts
  src/extensions/themes/theme.types.ts
  src/extensions/types/extension-manifest.ts
  src/extensions/ui/components/build-extension-catalog.ts
  src/extensions/ui/components/extension-catalog-icon.tsx
  src/extensions/ui/components/extension-catalog-types.ts
  src/extensions/ui/components/extension-detail-view.tsx
  src/features/command-palette/components/icon-theme-selector.tsx
  src/features/command-palette/components/theme-selector.tsx
  src/features/command-palette/constants/settings-actions.tsx
  src/features/command-palette/tests/theme-preview.test.ts
  src/features/command-palette/utils/theme-preview.ts
Due: typescript-check, biome-check

Update extension package checksums
  extensions/artifacts.json
Due: biome-check

Standardize workbench controls
  src/extensions/tests/extensions-ui-contract.test.ts
  src/extensions/ui/components/extension-view-controls.tsx
  src/extensions/ui/components/extensions-view.tsx
  src/features/ai/integrations/codex/codex-settings.tsx
  src/features/database/components/connection/connection-dialog.tsx
  src/features/github/components/github-issue-viewer.tsx
  src/features/settings/components/settings-breadcrumb.tsx
  src/features/settings/components/settings-section.tsx
  src/features/settings/components/settings-workbench-view.tsx
  src/features/settings/components/tabs/ai-settings.tsx
  src/features/settings/components/tabs/appearance-settings.tsx
  src/features/settings/components/tabs/editor-settings.tsx
  src/features/settings/components/tabs/file-tree-settings.tsx
  src/features/settings/components/tabs/terminal-settings.tsx
  src/features/settings/tests/settings-ui-contract.test.ts
  src/ui/accordion.tsx
  src/ui/combobox.tsx
  src/ui/input-group.tsx
  src/ui/search.tsx
  src/ui/select.tsx
  src/ui/workbench-page.tsx
Due: typescript-check, biome-check

Stabilize remote connections
  crates/remote/src/terminal.rs
  src/features/file-system/stores/file-watcher.store.ts
  src/features/remote/components/connection-form.tsx
  src/features/remote/components/password-prompt-dialog.tsx
  src/features/remote/services/remote-connection-actions.ts
  src/features/remote/tests/connection-form.test.tsx
  src/features/remote/tests/remote-connection-actions.test.ts
  src/features/terminal/hooks/use-terminal-connection.ts
  src/features/window/components/project-picker.tsx
Due: rust-fmt-workspace, typescript-check, biome-check

Polish editor chrome
  src/features/editor/components/monaco-editor.tsx
  src/features/editor/engines/monaco/scrollbar-options.ts
  src/features/editor/notebook/notebook-code-cell-editor.tsx
  src/features/editor/styles/monaco-editor.css
  src/features/editor/tests/monaco-scrollbar-options.test.ts
Due: typescript-check, biome-check

Add hunk-based Intelligence review
  src/features/editor/services/editor-inline-edit-service.ts
  src/features/git/components/diff/git-diff-viewer.tsx
  src/features/git/hooks/use-git-diff-actions.ts
  src/features/git/services/working-tree-diff-loader.ts
  src/features/git/tests/open-working-tree-diff-buffer.test.ts
  src/features/git/types/git-diff.types.ts
  src/features/git/utils/open-commit-diff-buffer.ts
  src/features/git/utils/open-working-tree-diff-buffer.ts
  src/features/review/components/review-access-gate.tsx
  src/features/review/components/review-change-card.tsx
  src/features/review/components/review-hunk-card.tsx
  src/features/review/components/review-hunk-session.tsx
  src/features/review/components/review-sidebar.tsx
  src/features/review/hooks/use-review-change-sets.ts
  src/features/review/lib/review-hunks.ts
  src/features/review/lib/review-model.ts
  src/features/review/services/review-intelligence.ts
  src/features/review/stores/review.store.ts
  src/features/review/tests/review-change-card.test.tsx
  src/features/review/tests/review-hunk-card.test.tsx
  src/features/review/tests/review-hunks.test.ts
  src/features/review/tests/review-intelligence.test.ts
  src/features/review/tests/review-model.test.ts
  src/features/review/tests/review-store.test.ts
  src/features/review/types/review.types.ts
  src/features/window/hooks/use-pro-feature.ts
  src/features/window/tests/pro-feature-access.test.ts
Due: typescript-check, biome-check

Refine Activity sidebar navigation
  src/features/command-palette/constants/navigation-actions.tsx
  src/features/docker/components/docker-sidebar.tsx
  src/features/git/components/git-view.tsx
  src/features/git/tests/git-sidebar-tabs.test.tsx
  src/features/github/components/github-prs-view.tsx
  src/features/layout/components/sidebar/activity-bar.tsx
  src/features/layout/components/sidebar/activity-navigation.tsx
  src/features/layout/components/sidebar/sidebar-pane.tsx
  src/features/layout/config/item-order.ts
  src/features/layout/hooks/use-activity-navigation-items.tsx
  src/features/layout/stores/sidebar.store.ts
  src/features/layout/tests/activity-bar-onboarding.test.ts
  src/features/layout/tests/activity-navigation.test.tsx
  src/features/layout/tests/chrome-items.test.ts
  src/features/layout/tests/sidebar-pane-utils.test.ts
  src/features/layout/utils/sidebar-pane-utils.ts
  src/features/onboarding/components/onboarding-checklist.tsx
  src/features/onboarding/lib/onboarding-checklist.ts
  src/features/onboarding/stores/onboarding-checklist.store.ts
  src/features/onboarding/tests/onboarding-checklist.test.ts
  src/features/window/components/account-menu.tsx
  src/features/workspace/tests/workspace-scoped-stores.test.ts
Due: typescript-check, biome-check

Restore native Linux file dialogs
  Cargo.lock
  scripts/release/packaging/linux/native.sh
  scripts/release/tests/linux-packaging.test.ts
  scripts/setup/linux.sh
  src-tauri/Cargo.toml
  src-tauri/src/commands/project/fs.rs
  src-tauri/src/main.rs
  src/features/file-system/controllers/platform.ts
  src/features/file-system/tests/linux-folder-picker-store.test.ts
  src/features/file-system/tests/platform-dialogs.test.ts
Due: rust-fmt-workspace, typescript-check, biome-check

Complete Java language workflows
  crates/lsp/src/client.rs
  crates/lsp/src/manager.rs
  crates/lsp/src/manager_state.rs
  crates/tooling/src/installer.rs
  crates/tooling/src/installer/tests.rs
  extensions/official/java/extension.json
  extensions/schema/extension.schema.json
  src-tauri/src/commands/development/lsp/commands.rs
  src-tauri/src/commands/development/lsp/types.rs
  src-tauri/src/commands/development/tools.rs
  src/extensions/languages/language-packager.ts
  src/extensions/registry/extension-store-bootstrap.ts
  src/extensions/registry/extension-store-lifecycle.ts
  src/extensions/runtime/language-tool-resolution.ts
  src/extensions/tests/language-packager.test.ts
  src/extensions/tests/language-tool-runtime.test.ts
  src/features/editor/engines/monaco/lsp-providers.ts
  src/features/editor/lsp/java-class-file.ts
  src/features/editor/lsp/lsp-client.ts
  src/features/editor/lsp/workspace-edit.ts
  src/features/editor/tests/java-class-file.test.ts
  src/features/editor/tests/monaco-lsp-completion.test.ts
  src/features/editor/tests/workspace-edit.test.ts
  src/features/keymaps/commands/command-registry.ts
  src/features/keymaps/commands/lsp-command-actions.ts
  src/features/keymaps/commands/navigation-command-actions.ts
Due: rust-fmt-workspace, typescript-check, biome-check

Simplify chat and shared UI actions
  src/features/ai/components/chat/chat-activity-line.tsx
  src/features/ai/components/chat/chat-loading-indicator.tsx
  src/features/ai/components/chat/chat-message.tsx
  src/features/ai/components/chat/chat-messages.tsx
  src/features/ai/components/history/chat-history-dropdown.tsx
  src/features/ai/components/history/chat-history-model.ts
  src/features/ai/tests/chat-history-model.test.ts
  src/features/layout/components/sidebar/worktree-item.tsx
  src/features/window/components/pro-badge.tsx
  src/ui/bubble.tsx
  src/ui/message.tsx
Due: typescript-check, biome-check

Show debugger breakpoints in the editor gutter
  src/features/editor/components/monaco-editor.tsx
  src/features/editor/styles/monaco-editor.css
Due: typescript-check, biome-check

Redesign inline Git blame details
  src/features/editor/components/monaco-editor.tsx
  src/features/git/components/inline-git-blame-card.tsx
  src/features/git/tests/git-author-avatar.test.ts
  src/features/git/tests/git-blame-decoration.test.ts
  src/features/git/utils/git-author-avatar.ts
  src/features/git/utils/git-blame-decoration.ts
Due: typescript-check, biome-check

Fix commit avatar lookup type
  src/features/git/components/diff/git-diff-editor-stack.tsx
Due: typescript-check, biome-check

Simplify accordion trigger styling
  src/features/collaboration/components/collaboration-sidebar.tsx
  src/features/docker/components/docker-sidebar.tsx
  src/features/git/components/git-commit-history.tsx
  src/features/git/components/status/git-status-panel.tsx
  src/features/github/components/github-actions-view.tsx
  src/features/github/components/github-issues-view.tsx
  src/features/github/components/github-prs-view.tsx
  src/features/review/components/review-sidebar.tsx
  src/features/settings/components/settings-section.tsx
  src/ui/accordion.tsx
  src/ui/sidebar.tsx
Due: typescript-check, biome-check

Remove UI primitive tests
  src/ui/command.test.ts
  src/ui/context-menu.test.ts
Due: typescript-check, biome-check

Move terminal access out of the footer
  src/features/layout/components/footer/footer.tsx
  src/features/layout/components/sidebar/activity-bar-menu.tsx
  src/features/layout/components/sidebar/activity-terminal-history.tsx
  src/features/layout/config/item-order.ts
Due: typescript-check, biome-check

Merge Review into Source Control
  src/features/command-palette/constants/navigation-actions.tsx
  src/features/git/components/git-view.tsx
  src/features/layout/components/sidebar/sidebar-pane.tsx
  src/features/layout/config/item-order.ts
  src/features/layout/hooks/use-activity-navigation-items.tsx
  src/features/layout/stores/sidebar.store.ts
  src/features/layout/tests/chrome-items.test.ts
  src/features/layout/utils/sidebar-pane-utils.ts
  src/features/review/components/review-access-gate.tsx
  src/features/review/components/review-sidebar.tsx
  src/features/settings/config/default-settings.ts
  src/features/settings/lib/settings-normalization.ts
  src/features/settings/tests/settings-normalization.test.ts
  src/features/settings/types/settings.types.ts
Due: typescript-check, biome-check

Move feature components out of UI primitives
  src/components/search-match-highlight.tsx
  src/extensions/ui/components/extension-diff-preview.tsx
  src/extensions/ui/components/extension-view-renderer.tsx
  src/features/command-palette/components/command-palette.tsx
  src/features/quick-open/components/file-list-item.tsx
  src/features/quick-open/components/symbol-list-item.tsx
Due: typescript-check, biome-check

Resize the Activity sidebar live
  src/features/layout/components/sidebar/activity-bar.tsx
  src/features/layout/hooks/use-activity-bar-resize.ts
Due: typescript-check, biome-check

Move Sparkline into extension UI
  src/extensions/ui/components/extension-sparkline.tsx
  src/extensions/ui/components/extension-view-visualizations.tsx
Due: typescript-check, biome-check

Align sidebar row leading content
  src/ui/sidebar-list.tsx
Due: typescript-check, biome-check

Keep Source Control controls on one row
  src/features/git/components/git-view.tsx
  src/ui/sidebar.tsx
Due: typescript-check, biome-check

Remove the Activity worktrees accordion
  src/features/layout/components/sidebar/activity-bar-menu.tsx
  src/features/layout/components/sidebar/activity-bar.tsx
  src/features/layout/components/sidebar/activity-project-panel.tsx
  src/features/layout/components/sidebar/activity-worktree-history.tsx
  src/features/layout/components/sidebar/worktree-item.tsx
  src/features/layout/hooks/use-activity-bar-visibility.ts
  src/features/layout/utils/activity-sidebar-sections.ts
  src/features/settings/config/default-settings.ts
  src/features/settings/lib/settings-sync.ts
  src/features/settings/tests/default-settings.test.ts
  src/features/settings/types/settings.types.ts
Due: typescript-check, biome-check

Remove the global status footer
  src/features/layout/components/footer/footer-git-branch-item.tsx
  src/features/layout/components/footer/footer-tab-control.tsx
  src/features/layout/components/footer/footer.tsx
  src/features/layout/components/main-layout.tsx
  src/features/layout/config/item-order.ts
  src/features/layout/tests/chrome-items.test.ts
  src/features/settings/components/tabs/appearance-settings.tsx
  src/features/settings/config/default-settings.ts
  src/features/settings/config/search-index.ts
  src/features/settings/lib/settings-effects.ts
  src/features/settings/lib/settings-normalization.ts
  src/features/settings/lib/settings-sync.ts
  src/features/settings/lib/ui-preferences.ts
  src/features/settings/tests/default-settings.test.ts
  src/features/settings/tests/settings-normalization.test.ts
  src/features/settings/tests/ui-preferences.test.ts
  src/features/settings/types/settings.types.ts
  src/features/window/components/workbench-fullscreen-surface.tsx
  src/features/window/tests/workbench-fullscreen-surface.test.tsx
  src/styles/theme.css
  src/styles/utilities.css
  src/styles/window-transparency.css
  src/ui/chrome.tsx
Due: typescript-check, biome-check

Path conditions:
  rust-fmt-workspace: any of: \.rs$
  typescript-check: any of: \.(ts|tsx)$
  biome-check: any of: \.(js|jsx|ts|tsx|json)$
