Repository athasdev/athas: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-fmt-workspace, typescript-check, biome-check

.pre-commit-config.yaml:

# Pre-commit hooks configuration for Rust + TypeScript/React project
# See https://pre-commit.com for more information

repos:
  # Rust hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-toml
      - id: check-json
        exclude: 'tsconfig.*\.json$'
      - id: check-merge-conflict

  # Rust formatting only (clippy/check too heavy for CI)
  - repo: local
    hooks:
      - id: rust-fmt-workspace
        name: Rust format (workspace)
        entry: cargo fmt
        args: ['--all', '--check']
        language: system
        files: '\.rs$'
        pass_filenames: false

  # TypeScript/JavaScript with Biome and type checking
  - repo: local
    hooks:
      - id: typescript-check
        name: TypeScript check
        entry: bun
        args: ['typecheck']
        language: system
        files: \.(ts|tsx)$
        pass_filenames: false
      - id: biome-check
        name: Biome check
        entry: bun
        args: ['check', '--write']
        language: system
        files: \.(js|jsx|ts|tsx|json)$
        pass_filenames: false

  # Commit message validation
  - repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
    rev: v9.18.0
    hooks:
      - id: commitlint
        stages: [commit-msg]
        additional_dependencies: ['@commitlint/cli']

Bump version to 0.1.2
  src-tauri/tauri.conf.json
Due: biome-check

Improve click outside behavior for dropdown component
  src/components/ui/dropdown.tsx
Due: typescript-check, biome-check

Improve click outside behavior for dropdown component (#351)
  src/components/ui/dropdown.tsx
Due: typescript-check, biome-check

Fix correct package names for Arch in setup script (#350)
  scripts/linux/setup.sh
Due: none

Add CLI command installation feature
  src-tauri/src/commands/cli.rs
  src-tauri/src/commands/mod.rs
  src-tauri/src/main.rs
  src/components/command/components/command-palette.tsx
  src/components/window/cli-install-prompt.tsx
  src/components/window/welcome-screen.tsx
  src/settings/components/tabs/general-settings.tsx
  src/settings/store.ts
Due: rust-fmt-workspace, typescript-check, biome-check

Fix traffic light position for MacOS
  src-tauri/tauri.conf.json
  src/components/window/custom-title-bar.tsx
  test.sqlite
Due: typescript-check, biome-check

Add setting toggles to command palette
  src/components/command/components/command-palette.tsx
  src/components/ui/command.tsx
Due: typescript-check, biome-check

Integrate branch manager and settings into modal management
  src/components/window/custom-title-bar.tsx
  src/settings/components/settings-dialog.tsx
  src/stores/ui-state-store.ts
  src/version-control/git/views/git-branch-manager.tsx
Due: typescript-check, biome-check

Add global escape handler for all modals
  src/components/command/components/command-palette.tsx
  src/hooks/use-keyboard-shortcuts.ts
Due: typescript-check, biome-check

Add view and panel toggle commands to command palette
  src/components/command/components/command-palette.tsx
Due: typescript-check, biome-check

Add navigation and view switching commands to command palette
  src/components/command/components/command-palette.tsx
Due: typescript-check, biome-check

Add file and buffer management commands to command palette
  src/components/command/components/command-palette.tsx
Due: typescript-check, biome-check

Add window and zoom commands to command palette
  src/components/command/components/command-palette.tsx
Due: typescript-check, biome-check

Separate command-palette and command-bar into independent modules
  src/components/command-bar/components/command-bar.tsx
  src/components/command-bar/constants/ignored-patterns.ts
  src/components/command-palette/components/command-palette.tsx
  src/components/command-palette/constants/actions/advanced-actions.tsx
  src/components/command-palette/constants/actions/file-actions.tsx
  src/components/command-palette/constants/actions/git-actions.tsx
  src/components/command-palette/constants/actions/navigation-actions.tsx
  src/components/command-palette/constants/actions/settings-actions.tsx
  src/components/command-palette/constants/actions/view-actions.tsx
  src/components/command-palette/constants/actions/window-actions.tsx
  src/components/command-palette/models/action.types.ts
  src/components/command/components/command-palette.tsx
  src/components/command/constants/ignored-patterns.ts
  src/components/layout/main-layout.tsx
  src/stores/ui-state-store.ts
  src/stores/ui-state/context-menu-slice.ts
  src/stores/ui-state/modal-slice.ts
  src/stores/ui-state/panel-slice.ts
  src/stores/ui-state/quick-edit-slice.ts
  src/stores/ui-state/terminal-slice.ts
  src/stores/ui-state/types.ts
  src/stores/ui-state/view-slice.ts
  src/version-control/git/views/git-branch-manager.tsx
Due: typescript-check, biome-check

Move command-palette from components to features
  src/components/layout/main-layout.tsx
  src/features/command-palette/components/command-palette.tsx
  src/features/command-palette/components/icon-theme-selector.tsx
  src/features/command-palette/components/theme-selector.tsx
  src/features/command-palette/constants/advanced-actions.tsx
  src/features/command-palette/constants/file-actions.tsx
  src/features/command-palette/constants/git-actions.tsx
  src/features/command-palette/constants/navigation-actions.tsx
  src/features/command-palette/constants/settings-actions.tsx
  src/features/command-palette/constants/view-actions.tsx
  src/features/command-palette/constants/window-actions.tsx
  src/features/command-palette/models/action.types.ts
  src/features/vim/components/vim-command-bar.tsx
Due: typescript-check, biome-check

Add setting toggles to command palette (#352)
  src/components/command-bar/components/command-bar.tsx
  src/components/command-bar/constants/ignored-patterns.ts
  src/components/command/components/command-palette.tsx
  src/components/command/constants/ignored-patterns.ts
  src/components/layout/main-layout.tsx
  src/components/ui/command.tsx
  src/components/window/custom-title-bar.tsx
  src/features/command-palette/components/command-palette.tsx
  src/features/command-palette/components/icon-theme-selector.tsx
  src/features/command-palette/components/theme-selector.tsx
  src/features/command-palette/constants/advanced-actions.tsx
  src/features/command-palette/constants/file-actions.tsx
  src/features/command-palette/constants/git-actions.tsx
  src/features/command-palette/constants/navigation-actions.tsx
  src/features/command-palette/constants/settings-actions.tsx
  src/features/command-palette/constants/view-actions.tsx
  src/features/command-palette/constants/window-actions.tsx
  src/features/command-palette/models/action.types.ts
  src/features/vim/components/vim-command-bar.tsx
  src/hooks/use-keyboard-shortcuts.ts
  src/settings/components/settings-dialog.tsx
  src/stores/ui-state-store.ts
  src/stores/ui-state/context-menu-slice.ts
  src/stores/ui-state/modal-slice.ts
  src/stores/ui-state/panel-slice.ts
  src/stores/ui-state/quick-edit-slice.ts
  src/stores/ui-state/terminal-slice.ts
  src/stores/ui-state/types.ts
  src/stores/ui-state/view-slice.ts
  src/version-control/git/views/git-branch-manager.tsx
Due: typescript-check, biome-check

Added register and implement line-wise command execution
  src/stores/vim-store.ts
  src/stores/vim/core/command-executor.ts
Due: typescript-check, biome-check

Fixed styling issues with overflow on main editor and modals
  .cursor/plans/fix-scrollbar-styling-46127466.plan.md
  .cursor/rules/css-theme-variables.mdc
  .cursor/rules/editor-architecture.mdc
  .cursor/rules/scrollbar-styling.mdc
  .cursor/rules/tauri-development.mdc
  .github/PULL_REQUEST_TEMPLATE.md
  src/components/ai-chat/chat-history-modal.tsx
  src/components/editor/code-editor.tsx
  src/contexts/toast-context.tsx
  src/main.tsx
  src/styles.css
Due: typescript-check, biome-check

Improve ux in switching project
  src/components/layout/main-sidebar.tsx
  src/file-system/controllers/store.ts
Due: typescript-check, biome-check

Improve ux in switching project (#356)
  src/components/layout/main-sidebar.tsx
  src/file-system/controllers/store.ts
Due: typescript-check, biome-check

Deleted cursor folder
  .cursor/plans/fix-scrollbar-styling-46127466.plan.md
  .cursor/rules/css-theme-variables.mdc
  .cursor/rules/editor-architecture.mdc
  .cursor/rules/scrollbar-styling.mdc
  .cursor/rules/tauri-development.mdc
Due: none

Fix command bar keyboard navigation and click handling
  src/features/command-bar/components/command-bar.tsx
  src/features/command-bar/components/empty-state.tsx
  src/features/command-bar/components/file-count-badge.tsx
  src/features/command-bar/components/file-list-item.tsx
  src/features/command-bar/constants/ignored-patterns.ts
  src/features/command-bar/constants/keyboard-keys.ts
  src/features/command-bar/constants/limits.ts
  src/features/command-bar/hooks/use-command-bar.ts
  src/features/command-bar/hooks/use-file-loader.ts
  src/features/command-bar/hooks/use-file-search.ts
  src/features/command-bar/hooks/use-keyboard-navigation.ts
  src/features/command-bar/models/types.ts
  src/features/command-bar/utils/file-filtering.ts
  src/features/command-bar/utils/fuzzy-search.ts
  src/features/command-bar/utils/path-helpers.ts
Due: typescript-check, biome-check

Add count-aware h/l and soft-wrap-aware j/k motions
  src/hooks/use-vim-keyboard.ts
  src/stores/vim/motions/character-motions.ts
Due: typescript-check, biome-check

Add global content search with file preview
  src-tauri/src/commands/mod.rs
  src-tauri/src/commands/search.rs
  src-tauri/src/main.rs
  src/components/layout/main-layout.tsx
  src/features/command-palette/components/command-palette.tsx
  src/features/command-palette/constants/navigation-actions.tsx
  src/features/global-search/components/content-global-search.tsx
  src/features/global-search/components/content-search-result.tsx
  src/features/global-search/components/empty-state.tsx
  src/features/global-search/components/file-count-badge.tsx
  src/features/global-search/components/file-list-item.tsx
  src/features/global-search/components/file-preview.tsx
  src/features/global-search/components/global-search.tsx
  src/features/global-search/components/search-match-item.tsx
  src/features/global-search/constants/ignored-patterns.ts
  src/features/global-search/constants/keyboard-keys.ts
  src/features/global-search/constants/limits.ts
  src/features/global-search/hooks/use-content-search.ts
  src/features/global-search/hooks/use-file-loader.ts
  src/features/global-search/hooks/use-file-preview.ts
  src/features/global-search/hooks/use-file-search.ts
  src/features/global-search/hooks/use-global-search.ts
  src/features/global-search/hooks/use-keyboard-navigation.ts
  src/features/global-search/models/types.ts
  src/features/global-search/utils/file-filtering.ts
  src/features/global-search/utils/fuzzy-search.ts
  src/features/global-search/utils/path-helpers.ts
  src/hooks/use-keyboard-shortcuts-wrapper.ts
  src/hooks/use-keyboard-shortcuts.ts
  src/lib/rust-api/search.ts
  src/settings/store.ts
  src/stores/ui-state/modal-slice.ts
Due: rust-fmt-workspace, typescript-check, biome-check

Disable WebKitGTK DMABUF impl for GPU rendering (#344)
  package.json
Due: biome-check

chore: match tools version to node-version file
  .tool-versions
Due: none

chore: match tools version to node-version file (#358)
  .tool-versions
Due: none

Filter system and hidden files from global search
  src-tauri/src/commands/search.rs
Due: rust-fmt-workspace

Implement Vim word/WORD motions (w/b/e and W/B/E)
  src/stores/vim/motions/word-motions.ts
Due: typescript-check, biome-check

refactor: improve titlebar button sizing
  src/components/window/custom-title-bar.tsx
Due: typescript-check, biome-check

refactor: improved sidebar title and icon scaling
  src/components/layout/main-sidebar.tsx
Due: typescript-check, biome-check

Update Windows development documentation
  docs/develop/windows.md
Due: none

Implemented vim line motion
  src/stores/vim/motions/line-motions.ts
Due: typescript-check, biome-check

Refactor linewise command handling
  src/stores/vim/core/command-executor.ts
Due: typescript-check, biome-check

Fixed the cursor issues with vim keyboard
  src/components/editor/overlays/cursor.tsx
Due: typescript-check, biome-check

Supports multi-key motions and refactor parsing
  src/stores/vim/core/command-executor.ts
  src/stores/vim/core/command-parser.ts
Due: typescript-check, biome-check

Added the ge command
  src/stores/vim/core/motion-registry.ts
  src/stores/vim/motions/word-motions.ts
Due: typescript-check, biome-check

Added file motion
  src/stores/vim/core/motion-registry.ts
  src/stores/vim/motions/file-motions.ts
Due: typescript-check, biome-check

Added view port motion
  src/stores/vim/core/motion-registry.ts
  src/stores/vim/motions/viewport-motions.ts
Due: typescript-check, biome-check
