Repository athasdev/athas: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-fmt-workspace, typescript-check, biome-check

rust-fmt-workspace:
  name: Rust format (workspace)
  entry: cargo fmt
  args:
  - --all
  - --check
  language: system
  pass_filenames: false

typescript-check:
  name: TypeScript check
  entry: bun
  args:
  - typecheck
  language: system
  pass_filenames: false

biome-check:
  name: Biome check
  entry: bun
  args:
  - check
  - --write
  language: system
  pass_filenames: false

Add auth, autocomplete, and extension validation tests
  package.json
  src-tauri/src/commands/extensions.rs
  src-tauri/src/extensions/installer.rs
  src/features/editor/hooks/use-autocomplete.test.ts
  src/features/editor/hooks/use-autocomplete.ts
  src/utils/auth-api.test.ts
  src/utils/auth-api.ts
Due: rust-fmt-workspace, typescript-check, biome-check

Fix CI formatting and ignore local Claude settings
  .gitignore
  Cargo.lock
  src/App.tsx
  src/extensions/loader/extension-loader.ts
  src/features/editor/stores/buffer-store.ts
  src/features/panes/components/pane-container.tsx
Due: typescript-check, biome-check

Fix memory leak, reduce I/O, parallelize extensions, add code splitting + mimalloc + LTO (#532)
  .gitignore
  Cargo.lock
  Cargo.toml
  src-tauri/Cargo.toml
  src-tauri/src/main.rs
  src/App.tsx
  src/extensions/loader/extension-loader.ts
  src/features/editor/stores/buffer-store.ts
  src/features/panes/components/pane-container.tsx
  src/stores/app-store.ts
Due: rust-fmt-workspace, typescript-check, biome-check

Add code of conduct and contributor agreement
  .github/PULL_REQUEST_TEMPLATE.md
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  CONTRIBUTOR_LICENSE_AND_FEEDBACK_AGREEMENT.md
  README.md
Due: none

Update broken links on documentation index
  docs/content/docs/index.mdx
Due: none

Fix deploy workflow safe.directory for VPS checkout
  .github/workflows/deploy.yml
Due: none

Make deploy workflow stash dirty VPS worktree before pull
  .github/workflows/deploy.yml
Due: none

Fallback to CDN highlight query when local parser assets are unavailable
  src/features/editor/extensions/builtin/syntax-highlighting.ts
Due: typescript-check, biome-check

Revert "Fallback to CDN highlight query when local parser assets are unavailable"
  src/features/editor/extensions/builtin/syntax-highlighting.ts
Due: typescript-check, biome-check

Merge TSX into TypeScript extension flow in marketplace and installer
  src/extensions/registry/extension-store.ts
  src/features/editor/extensions/builtin/syntax-highlighting.ts
  src/features/editor/hooks/use-tokenizer.ts
Due: typescript-check, biome-check

Drive Ruby/ERB detection from extension metadata
  extensions/ruby/extension.json
  src-tauri/src/commands/development/lsp.rs
  src-tauri/src/lsp/manager.rs
  src/extensions/languages/manifests/ruby.json
  src/features/editor/extensions/builtin/syntax-highlighting.ts
  src/features/editor/lsp/lsp-client.ts
  src/features/editor/utils/language-detection.ts
  src/features/file-system/controllers/file-utils.ts
  src/features/git/hooks/use-diff-highlight.ts
  src/features/github/hooks/use-pr-diff-highlighting.ts
Due: rust-fmt-workspace, typescript-check, biome-check

Prepare 0.4.0 release
  .github/workflows/release.yml
  CHANGELOG.md
  Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/commands/vcs/git/stash.rs
  src-tauri/src/features/ai/acp/client.rs
  src-tauri/src/features/ai/acp/config.rs
  src/features/editor/extensions/builtin/syntax-highlighting.ts
  src/features/editor/hooks/use-tokenizer.ts
  src/features/editor/lib/wasm-parser/extension-assets.ts
  src/features/editor/lib/wasm-parser/loader.ts
  src/features/git/hooks/use-diff-highlight.ts
  src/features/github/hooks/use-pr-diff-highlighting.ts
Due: rust-fmt-workspace, typescript-check, biome-check

Bump version to 0.4.0
  package.json
  src-tauri/tauri.conf.json
Due: biome-check

Refresh generated extensions catalog
  extensions/index.json
  extensions/registry.json
Due: biome-check

Harden Linux release AppImage environment
  .github/workflows/release.yml
Due: none

Disable macOS AutoFill heuristics in webview
  src-tauri/Cargo.toml
  src-tauri/src/main.rs
Due: rust-fmt-workspace

Add Go and Cargo binary detection for ACP agents
  docs/content/docs/ai-agents.mdx
  src-tauri/src/features/ai/acp/config.rs
Due: rust-fmt-workspace

Simplify rules and contributing docs
  .rules
  CONTRIBUTING.md
Due: none

Remove unused root files
  .editorconfig
  .tool-versions
  CHANGELOG.md
  CODE_OF_CONDUCT.md
  ROADMAP.md
Due: none

Update CI workflows
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  .github/workflows/release.yml
  .github/workflows/rust.yml
  .github/workflows/sync-docs.yml
Due: none

Remove changelog check from release scripts
  scripts/pre-release-check.ts
  scripts/release.ts
Due: typescript-check, biome-check

Fix macOS autofill heuristics compilation warning
  Cargo.lock
  src-tauri/src/main.rs
Due: rust-fmt-workspace

Replace new chat button with unified agent selector in chat header
  src/features/ai/components/chat/chat-header.tsx
  src/features/ai/components/input/chat-input-bar.tsx
  src/features/ai/components/selectors/unified-agent-selector.tsx
Due: typescript-check, biome-check

Remove extensions catalog check from CI
  .github/workflows/ci.yml
  package.json
Due: biome-check

Make athas dev scripts app-only
  package.json
Due: biome-check

Update auth, resolve conflicts
  src-tauri/src/features/ai/acp/bridge.rs
  src-tauri/src/features/ai/acp/client.rs
  src/features/ai/components/input/chat-input-bar.tsx
  src/features/settings/components/tabs/ai-settings.tsx
  src/hooks/use-deep-link.ts
  src/utils/acp-handler.ts
  src/utils/kairo-auth.ts
Due: rust-fmt-workspace, typescript-check, biome-check

Refactor language tool resolution from extension manifests
  src-tauri/src/commands/development/tools.rs
  src-tauri/src/features/tools/installer.rs
  src-tauri/src/features/tools/mod.rs
  src-tauri/src/features/tools/registry.rs
  src-tauri/src/features/tools/types.rs
  src/extensions/languages/language-packager.ts
  src/extensions/registry/extension-store.ts
  src/extensions/types/extension-manifest.ts
Due: rust-fmt-workspace, typescript-check, biome-check

Add manual git repository selection
  src/features/git/components/actions-menu.tsx
  src/features/git/components/view.tsx
Due: typescript-check, biome-check

Update terminal and external editor behavior
  src/features/editor/components/external-editor-terminal.tsx
  src/features/terminal/components/terminal.tsx
  src/features/terminal/hooks/use-terminal-theme.ts
Due: typescript-check, biome-check

Fix rust query compatibility and optimize git gutter
  src/features/editor/lib/wasm-parser/loader.ts
  src/features/git/hooks/use-gutter.ts
Due: typescript-check, biome-check

Enterprise policy and settings controls for desktop
  README.md
  src/extensions/registry/extension-store.ts
  src/features/ai/components/chat/ai-chat.tsx
  src/features/editor/hooks/use-autocomplete.ts
  src/features/settings/components/settings-dialog.tsx
  src/features/settings/components/settings-vertical-tabs.tsx
  src/features/settings/components/tabs/ai-settings.tsx
  src/features/settings/components/tabs/enterprise-settings.tsx
  src/features/settings/config/search-index.ts
  src/features/settings/store.ts
  src/features/window/components/account-menu.tsx
  src/stores/ui-state/types.ts
  src/utils/auth-api.ts
Due: typescript-check, biome-check

Harden rust query fallback for unsupported grammar nodes
  src/features/editor/lib/wasm-parser/loader.ts
Due: typescript-check, biome-check

Improve ACP robustness and chat streaming UI
  src-tauri/src/commands/ai/acp.rs
  src-tauri/src/features/ai/acp/bridge.rs
  src-tauri/src/features/ai/acp/client.rs
  src-tauri/src/features/ai/acp/config.rs
  src-tauri/src/features/ai/acp/types.rs
  src-tauri/src/terminal/config.rs
  src-tauri/src/terminal/connection.rs
  src-tauri/src/terminal/manager.rs
  src/features/ai/components/chat/ai-chat.tsx
  src/features/ai/components/chat/chat-messages.tsx
  src/features/ai/components/input/chat-input-bar.tsx
  src/features/ai/components/mentions/slash-command-dropdown.tsx
  src/features/ai/components/messages/tool-call-display.tsx
  src/features/ai/types/acp.ts
  src/features/ai/types/ai-chat.ts
  src/utils/acp-handler.ts
  src/utils/ai-chat.ts
  src/utils/claude-code-handler.ts
Due: rust-fmt-workspace, typescript-check, biome-check

Remove Rust-specific logic from parser compatibility layer
  src/features/editor/lib/wasm-parser/loader.ts
Due: typescript-check, biome-check

Refactor language resolution and reduce editor hot-path overhead
  src/features/diagnostics/stores/diagnostics-store.ts
  src/features/editor/components/code-editor.tsx
  src/features/editor/extensions/builtin/syntax-highlighting.ts
  src/features/editor/formatter/formatter-service.ts
  src/features/editor/hooks/use-tokenizer.ts
  src/features/editor/lsp/lsp-client.ts
  src/features/editor/stores/buffer-store.ts
  src/features/editor/utils/language-id.ts
  src/features/git/hooks/use-diff-highlight.ts
  src/features/github/hooks/use-pr-diff-highlighting.ts
Due: typescript-check, biome-check

Fix parser query recovery for predicate incompatibilities
  src/features/editor/lib/wasm-parser/loader.ts
Due: typescript-check, biome-check

Fix inline edit flow with pro/byok gating
  src/features/editor/components/toolbar/breadcrumb.tsx
  src/utils/inline-edit.ts
Due: typescript-check, biome-check

Path conditions:
  rust-fmt-workspace: any of: \.rs$
  typescript-check: any of: \.(ts|tsx)$
  biome-check: any of: \.(js|jsx|ts|tsx|json)$
