Repository athasdev/athas: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-fmt-workspace, typescript-check, biome-check

rust-fmt-workspace:
  name: Rust format (workspace)
  entry: cargo fmt
  args:
  - --all
  - --check
  language: system
  pass_filenames: false

typescript-check:
  name: TypeScript check
  entry: bun
  args:
  - typecheck
  language: system
  pass_filenames: false

biome-check:
  name: Biome check
  entry: bun
  args:
  - check
  - --write
  language: system
  pass_filenames: false

Restore remote workspace sessions
  src/features/file-system/controllers/remote-workspace.ts
  src/features/file-system/controllers/store.ts
  src/features/file-system/tests/remote-workspace.test.ts
  src/features/remote/services/remote-connection-actions.ts
Due: typescript-check, biome-check

Separate updated onboarding flow
  src/features/layout/components/main-layout.tsx
  src/features/onboarding/components/onboarding-view.tsx
  src/features/onboarding/lib/onboarding-state.ts
  src/features/onboarding/lib/onboarding-view-model.ts
  src/features/onboarding/store.ts
  src/features/onboarding/tests/onboarding-state.test.ts
  src/features/onboarding/tests/onboarding-view-model.test.ts
  src/features/settings/lib/whats-new.ts
  src/features/settings/stores/whats-new-store.ts
  src/features/settings/tests/whats-new.test.ts
Due: typescript-check, biome-check

Improve update deferral actions
  src/features/layout/components/footer/footer.tsx
  src/features/settings/components/tabs/general-settings.tsx
  src/features/settings/hooks/use-auto-update.ts
  src/features/settings/hooks/use-updater.ts
  src/features/settings/lib/update-preferences.ts
  src/features/settings/stores/whats-new-store.ts
  src/features/settings/tests/update-preferences.test.ts
Due: typescript-check, biome-check

Clarify update telemetry disclosure
  src/features/onboarding/components/onboarding-view.tsx
  src/features/settings/components/tabs/advanced-settings.tsx
  src/features/settings/config/search-index.ts
  src/features/settings/lib/telemetry-copy.ts
Due: typescript-check, biome-check

Cover project close fallback switching
  src/features/file-system/controllers/store.ts
  src/features/file-system/controllers/workspace-project-tabs.ts
  src/features/file-system/tests/workspace-project-tabs.test.ts
Due: typescript-check, biome-check

Serialize window open requests
  src/bootstrap/use-app-bootstrap.ts
  src/features/window/hooks/use-cli-open.ts
  src/features/window/hooks/use-deep-link.ts
  src/features/window/tests/window-open-request.test.ts
  src/features/window/utils/window-open-request.ts
Due: typescript-check, biome-check

Track richer recent project metadata
  src/features/file-system/components/project-name-menu.tsx
  src/features/file-system/controllers/recent-folders-store.ts
  src/features/file-system/controllers/store.ts
  src/features/file-system/tests/recent-folders.test.ts
  src/features/file-system/types/recent-folders.ts
  src/features/file-system/utils/recent-folders.ts
  src/features/window/components/project-icon-picker.tsx
  src/features/window/components/project-picker-dialog.tsx
Due: typescript-check, biome-check

Mark external workspace files explicitly
  src/features/editor/stores/buffer-session-persistence.ts
  src/features/file-system/controllers/recent-files-store.ts
  src/features/file-system/controllers/store.ts
  src/features/file-system/controllers/workspace-session.ts
  src/features/file-system/tests/recent-files.test.ts
  src/features/file-system/tests/workspace-session.test.ts
  src/features/file-system/types/recent-files.ts
  src/features/quick-open/hooks/use-quick-open.ts
  src/features/window/stores/session-store.ts
Due: typescript-check, biome-check

Sync remote project tab names
  src/features/remote/services/remote-connection-store.ts
  src/features/window/stores/workspace-tabs-store.ts
  src/features/window/tests/project-tab-remote.test.ts
  src/features/window/utils/project-tab-remote.ts
Due: typescript-check, biome-check

Restore workspace pane layouts
  src/features/file-system/controllers/store.ts
  src/features/panes/stores/pane-store.ts
  src/features/window/stores/session-store.ts
  src/features/window/stores/workspace-pane-session.ts
  src/features/window/stores/workspace-ui-session.ts
  src/features/window/tests/session-store.test.ts
  src/features/window/tests/workspace-ui-session.test.ts
Due: typescript-check, biome-check

Clarify terminal restore source
  src/features/file-system/controllers/store.ts
  src/features/terminal/hooks/use-terminal-tabs.ts
  src/features/terminal/lib/terminal-session-storage.ts
  src/features/terminal/tests/terminal-session-storage.test.ts
Due: typescript-check, biome-check

Route CLI opens through single instance
  Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/app_setup.rs
  src-tauri/src/commands/development/cli_args.rs
  src-tauri/src/main.rs
Due: rust-fmt-workspace

Cover CLI and deep link routing
  src/features/window/hooks/use-cli-open.ts
  src/features/window/hooks/use-deep-link.ts
  src/features/window/tests/cli-open.test.ts
  src/features/window/tests/deep-link.test.ts
Due: typescript-check, biome-check

Cover external file drop controller
  src/features/file-system/hooks/use-file-system-folder-drop.ts
  src/features/file-system/tests/file-system-drop-controller.test.ts
  src/features/file-system/utils/file-system-drop-controller.ts
Due: typescript-check, biome-check

Fix GitHub Actions log loading
  crates/github/src/api.rs
  src/features/github/components/github-action-viewer.tsx
Due: rust-fmt-workspace, typescript-check, biome-check

Add experimental custom sidebar
  crates/version-control/src/git/commit.rs
  crates/version-control/src/git/types.rs
  src-tauri/src/commands/ui/window.rs
  src/bootstrap/use-app-bootstrap.ts
  src/features/ai/components/agent-tab.tsx
  src/features/ai/components/chat/ai-chat.tsx
  src/features/ai/components/chat/chat-header.tsx
  src/features/ai/components/input/chat-input-bar.tsx
  src/features/ai/components/mentions/file-mention-dropdown.tsx
  src/features/ai/components/mentions/slash-command-dropdown.tsx
  src/features/ai/components/multi-agents-sidebar-view.tsx
  src/features/ai/store/store.ts
  src/features/ai/types/ai-chat.ts
  src/features/command-palette/components/command-palette.tsx
  src/features/command-palette/constants/settings-actions.tsx
  src/features/command-palette/constants/sidebar-builder-actions.tsx
  src/features/editor/stores/buffer-store.ts
  src/features/git/types/git-types.ts
  src/features/layout/components/sidebar/main-sidebar.tsx
  src/features/layout/components/sidebar/sidebar-pane-selector.tsx
  src/features/layout/config/item-order.ts
  src/features/layout/utils/sidebar-pane-utils.ts
  src/features/panes/components/pane-container.tsx
  src/features/settings/config/default-settings.ts
  src/features/settings/config/features.ts
  src/features/settings/config/search-index.ts
  src/features/settings/types/feature.ts
  src/features/sidebar-builder/components/sidebar-builder-view.tsx
  src/features/sidebar-builder/constants/sidebar-builder-widgets.tsx
  src/features/sidebar-builder/stores/sidebar-builder-store.ts
  src/ui/command.tsx
Due: rust-fmt-workspace, typescript-check, biome-check

Cover project tab close routing
  src/features/window/stores/workspace-tabs-store.ts
  src/features/window/tests/project-tab-close.test.ts
  src/features/window/utils/project-tab-close.ts
Due: typescript-check, biome-check

Normalize remaining feature tests
  src/features/ai/tests/acp-activity-groups.test.ts
  src/features/ai/tests/acp-session-info.test.ts
  src/features/ai/tests/skill-library.test.ts
  src/features/command-palette/tests/git-actions.test.tsx
  src/features/database/providers/sqlite/tests/use-column-resize.test.ts
  src/features/database/providers/sqlite/tests/value-coercion.test.ts
  src/features/diagnostics/tests/diagnostics-store.test.ts
  src/features/git/tests/git-diff-parser.test.ts
  src/features/git/tests/use-git-diff-data.test.ts
  src/features/github/tests/github-link-utils.test.ts
  src/features/github/tests/github-resource-cache.test.ts
  src/features/keymaps/tests/keybinding-import-export.test.ts
  src/features/panes/tests/pane-tree.test.ts
  src/features/remote/tests/remote-path.test.ts
Due: typescript-check, biome-check

Add remaining workspace updates
  package.json
  scripts/smoke-app.ts
  src-tauri/src/commands/ui/window.rs
  src-tauri/src/main.rs
  src-tauri/tauri.smoke.conf.json
  src/features/editor/stores/buffer-content-factory.ts
  src/features/editor/stores/buffer-session-persistence.ts
  src/features/editor/stores/buffer-store.ts
  src/features/file-system/controllers/store.ts
  src/features/file-system/controllers/workspace-session.ts
  src/features/panes/components/pane-container.tsx
  src/features/panes/types/pane-content.ts
  src/features/tabs/components/tab-bar.tsx
  src/features/web-viewer/components/web-viewer-toolbar.tsx
  src/features/web-viewer/components/web-viewer.tsx
  src/features/web-viewer/hooks/use-embedded-webview.ts
  src/features/web-viewer/stores/web-viewer-navigation-store.ts
  src/features/web-viewer/utils/web-viewer-profile.ts
  src/features/window/stores/session-store.ts
Due: rust-fmt-workspace, typescript-check, biome-check

Fix git sidebar responsive layout
  src/features/git/components/git-branch-manager.tsx
  src/features/git/components/git-project-selector.tsx
  src/features/git/components/git-view.tsx
Due: typescript-check, biome-check

Add Zig syntax capture mappings
  src/features/editor/lib/wasm-parser/tokenizer-worker.ts
  src/features/editor/lib/wasm-parser/tokenizer.ts
Due: typescript-check, biome-check

Fix bundled Zig highlight query
  public/tree-sitter/parsers/zig/highlights.scm
Due: none

Render inlay hints inline with editor text
  src/features/editor/components/code-editor.tsx
  src/features/editor/components/editor.tsx
  src/features/editor/components/layers/highlight-layer.tsx
  src/features/editor/components/layers/primary-cursor-layer.tsx
  src/features/editor/lsp/inlay-hints-overlay.tsx
  src/features/editor/styles/overlay-editor.css
Due: typescript-check, biome-check

Stabilize inlay hint editing
  src/features/editor/components/editor.tsx
  src/features/editor/components/layers/input-layer.tsx
  src/features/editor/components/layers/primary-cursor-layer.tsx
Due: typescript-check, biome-check

Add multi-root workspace folder management
  src/features/ai/components/quick-question-command.tsx
  src/features/file-explorer/components/file-explorer-tree-item.tsx
  src/features/file-explorer/components/file-explorer-tree.tsx
  src/features/file-explorer/hooks/use-file-explorer-context-menu.tsx
  src/features/file-explorer/styles/file-explorer-tree.css
  src/features/file-system/components/project-name-menu.tsx
  src/features/file-system/controllers/store.ts
  src/features/file-system/controllers/workspace-session.ts
  src/features/file-system/tests/workspace-session.test.ts
  src/features/file-system/types/interface.ts
  src/features/github/components/github-auth-status.tsx
  src/features/window/services/auth-api.ts
  src/features/window/stores/session-store.ts
  src/features/window/tests/session-store.test.ts
  src/utils/path-helpers.ts
Due: typescript-check, biome-check

Prepare preview release
  Cargo.lock
  package.json
  src-tauri/Cargo.toml
  src-tauri/tauri.conf.json
Due: biome-check

Fix Linux release CLI install
  .github/workflows/linux-build.yml
  .github/workflows/release.yml
Due: none

Prepare release
  Cargo.lock
  package.json
  src-tauri/Cargo.toml
  src-tauri/tauri.conf.json
Due: biome-check

Fix release scrollbar styling
  src/features/editor/styles/overlay-editor.css
  src/features/terminal/styles/terminal.css
  src/styles/scrollbars.css
Due: none

Fix WebKit scrollbar styling
  src/features/editor/styles/overlay-editor.css
  src/features/terminal/styles/terminal.css
  src/styles/scrollbars.css
Due: none

Improve markdown heading spacing
  src/features/editor/markdown/styles.css
Due: none

Load local PDFs from bytes
  src/features/pdf-viewer/components/pdf-viewer.tsx
Due: typescript-check, biome-check

Preserve terminal view across pane remounts
  src/features/terminal/components/terminal.tsx
  src/features/terminal/stores/terminal-store.ts
  src/features/terminal/tests/terminal-store-snapshot.test.ts
  src/features/terminal/types/terminal.ts
Due: typescript-check, biome-check

Add Windows winget install fallback
  docs/contributing.mdx
  docs/installation.mdx
  scripts/windows/install-athas.ps1
Due: none

Add VS Code recent projects import
  Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/commands/development/mod.rs
  src-tauri/src/commands/development/vscode_recents.rs
  src-tauri/src/main.rs
  src/features/file-system/controllers/recent-folders-store.ts
  src/features/settings/components/tabs/general-settings.tsx
  src/features/window/components/project-picker-dialog.tsx
Due: rust-fmt-workspace, typescript-check, biome-check

Capture terminal output before remount snapshots
  src/features/terminal/components/terminal.tsx
  src/features/terminal/hooks/use-terminal-connection.ts
Due: typescript-check, biome-check

Add database provider sidecar binaries
  crates/database/Cargo.lock
  crates/database/Cargo.toml
  crates/database/src/bin/athas-db-duckdb.rs
  crates/database/src/bin/athas-db-mongodb.rs
  crates/database/src/bin/athas-db-mysql.rs
  crates/database/src/bin/athas-db-postgres.rs
  crates/database/src/bin/athas-db-redis.rs
  crates/database/src/bin/athas-db-sqlite.rs
  crates/database/src/lib.rs
  crates/database/src/sidecar.rs
  src-tauri/src/commands/database/credentials.rs
  src-tauri/src/commands/database/sidecar.rs
Due: rust-fmt-workspace

Path conditions:
  rust-fmt-workspace: any of: \.rs$
  typescript-check: any of: \.(ts|tsx)$
  biome-check: any of: \.(js|jsx|ts|tsx|json)$
