Repository athasdev/athas: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-fmt-workspace, typescript-check, biome-check

.pre-commit-config.yaml:

# Pre-commit hooks configuration for Rust + TypeScript/React project
# See https://pre-commit.com for more information

repos:
  # Rust hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-toml
      - id: check-json
        exclude: 'tsconfig.*\.json$'
      - id: check-merge-conflict

  # Rust formatting only (clippy/check too heavy for CI)
  - repo: local
    hooks:
      - id: rust-fmt-workspace
        name: Rust format (workspace)
        entry: cargo fmt
        args: ['--all', '--check']
        language: system
        files: '\.rs$'
        pass_filenames: false

  # TypeScript/JavaScript with Biome and type checking
  - repo: local
    hooks:
      - id: typescript-check
        name: TypeScript check
        entry: bun
        args: ['typecheck']
        language: system
        files: \.(ts|tsx)$
        pass_filenames: false
      - id: biome-check
        name: Biome check
        entry: bun
        args: ['check', '--write']
        language: system
        files: \.(js|jsx|ts|tsx|json)$
        pass_filenames: false

  # Commit message validation
  - repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
    rev: v9.18.0
    hooks:
      - id: commitlint
        stages: [commit-msg]
        additional_dependencies: ['@commitlint/cli']

Refine dropdown and editor overlay UI
  src/features/ai/components/selectors/unified-agent-selector.tsx
  src/features/editor/components/editor.tsx
  src/features/editor/components/toolbar/find-bar.tsx
  src/features/editor/hooks/use-inline-edit.ts
  src/features/git/components/git-branch-manager.tsx
  src/ui/dropdown.tsx
  src/ui/toast.tsx
Due: typescript-check, biome-check

Format dropdown and toast updates
  src/ui/dropdown.tsx
  src/ui/toast.tsx
Due: typescript-check, biome-check

Restructure diagnostics and github state
  src/features/diagnostics/components/diagnostics-pane.tsx
  src/features/diagnostics/stores/diagnostics-store.ts
  src/features/diagnostics/types/diagnostics.ts
  src/features/github/components/github-prs-view.tsx
  src/features/github/components/pr-status.tsx
  src/features/github/components/pr-viewer.tsx
  src/features/github/stores/github-store.ts
  src/features/github/types/github.ts
Due: typescript-check, biome-check

Refactor shell layout and shared UI components
  src/App.tsx
  src/features/layout/components/bottom-pane/bottom-pane.tsx
  src/features/layout/components/footer/footer.tsx
  src/features/layout/components/main-layout.tsx
  src/features/layout/contexts/toast-context.tsx
  src/features/panes/components/pane-container.tsx
  src/features/settings/components/font-selector.tsx
  src/features/settings/components/tabs/appearance-settings.tsx
  src/features/settings/components/tabs/editor-settings.tsx
  src/features/settings/components/tabs/enterprise-settings.tsx
  src/features/tabs/components/tab-bar-item.tsx
  src/features/terminal/components/terminal-tab-bar-item.tsx
  src/features/vim/components/vim-status-indicator.tsx
  src/features/window/components/account-menu.tsx
  src/features/window/components/custom-title-bar.tsx
  src/features/window/components/menu-bar/menu-item.tsx
  src/features/window/components/menu-bar/menu.tsx
  src/features/window/components/menu-bar/submenu.tsx
  src/features/window/components/menu-bar/window-menu-bar.tsx
  src/features/window/components/project-picker-dialog.tsx
  src/features/window/components/project-tabs.tsx
  src/features/window/components/run-actions-button.tsx
  src/features/window/components/window-resize-border.tsx
  src/features/window/components/window-title-display.tsx
  src/features/window/hooks/use-deep-link.ts
  src/ui/button.tsx
  src/ui/pane.tsx
  src/ui/select.tsx
  src/ui/tabs.tsx
  src/ui/toast-store.ts
  src/ui/tooltip.tsx
Due: typescript-check, biome-check

Update editor workflows and AI interactions
  src/features/ai/components/chat/acp-inline-event.tsx
  src/features/ai/components/chat/ai-chat.tsx
  src/features/ai/components/chat/chat-message.tsx
  src/features/ai/components/chat/chat-messages.tsx
  src/features/ai/components/input/chat-input-bar.tsx
  src/features/ai/components/messages/markdown-renderer.tsx
  src/features/ai/components/selectors/context-selector.tsx
  src/features/editor/components/toolbar/breadcrumb.tsx
  src/features/editor/components/toolbar/editor-status-actions.tsx
  src/features/editor/lsp/lsp-client.ts
  src/features/file-system/controllers/store.ts
  src/features/git/components/git-worktree-manager.tsx
  src/features/remote/remote-connection-view.tsx
  src/features/remote/services/remote-connection-actions.ts
Due: typescript-check, biome-check

Split settings bootstrap and persistence into dedicated modules
  src/App.tsx
  src/features/settings/config/default-settings.ts
  src/features/settings/lib/settings-bootstrap.ts
  src/features/settings/lib/settings-effects.ts
  src/features/settings/lib/settings-normalization.ts
  src/features/settings/lib/settings-persistence.ts
  src/features/settings/store.ts
  src/features/settings/types/settings.ts
  src/hooks/use-app-bootstrap.ts
  src/lib/app-bootstrap.ts
  src/main.tsx
Due: typescript-check, biome-check

Extract extension store helpers and runtime resolution
  src/extensions/registry/extension-store-helpers.ts
  src/extensions/registry/extension-store-runtime.ts
  src/extensions/registry/extension-store-types.ts
  src/extensions/registry/extension-store.ts
Due: typescript-check, biome-check

Reformat settings helper imports
  src/features/settings/lib/settings-bootstrap.ts
  src/features/settings/lib/settings-effects.ts
Due: typescript-check, biome-check

Reformat extension store imports
  src/extensions/registry/extension-store.ts
Due: typescript-check, biome-check

Move extension install and update flows out of the store
  src/extensions/registry/extension-store-lifecycle.ts
  src/extensions/registry/extension-store.ts
Due: typescript-check, biome-check

Reformat extension lifecycle imports
  src/extensions/registry/extension-store-lifecycle.ts
Due: typescript-check, biome-check

Move extension store bootstrap and installed-state loading out
  src/extensions/registry/extension-store-bootstrap.ts
  src/extensions/registry/extension-store.ts
Due: typescript-check, biome-check

Reformat extension store bootstrap imports
  src/extensions/registry/extension-store-bootstrap.ts
  src/extensions/registry/extension-store.ts
Due: typescript-check, biome-check

Fix: wait for response activity before ACP auto-complete
  src/utils/acp-handler.ts
Due: typescript-check, biome-check

Fix: route AI entry through Harness
  src/features/command-palette/components/command-palette.tsx
  src/features/command-palette/constants/settings-actions.tsx
  src/features/command-palette/constants/view-actions.test.tsx
  src/features/command-palette/constants/view-actions.tsx
  src/features/keymaps/commands/command-registry.ts
  src/features/keymaps/defaults/default-keymaps.ts
  src/features/keymaps/utils/registry.ts
  src/features/layout/components/footer/editor-footer-ai-entry.test.ts
  src/features/layout/components/footer/editor-footer-ai-entry.ts
  src/features/layout/components/footer/editor-footer.tsx
  src/features/layout/components/main-layout.tsx
  src/features/layout/components/resizable-pane.tsx
  src/features/settings/components/tabs/enterprise-settings.tsx
  src/features/settings/store.ts
  src/features/window/hooks/use-menu-events-wrapper.ts
  src/features/window/menu-bar/index.tsx
Due: typescript-check, biome-check

Refactor: simplify Harness presentation
  src/features/ai/components/chat/ai-chat.tsx
  src/features/ai/components/chat/chat-header.tsx
  src/features/ai/components/chat/chat-messages.tsx
  src/features/ai/components/chat/harness-session-rail.tsx
  src/features/ai/components/input/chat-input-bar.tsx
Due: typescript-check, biome-check

Docs: update Harness docs and handoff
  TEMP_AGENT_HANDOFF_2026-03-26.md
  docs/ai-agents.mdx
  docs/ai-assistant.mdx
  docs/index.mdx
Due: none

Fix: honor PI_CODING_AGENT_DIR for Pi state
  src-tauri/src/features/ai/acp/bridge.rs
Due: rust-fmt-workspace

Fix: default Harness scopes to Pi
  src/features/ai/hooks/use-chat-store.ts
  src/features/ai/store/persist.ts
  src/features/ai/store/scope-defaults.ts
  src/features/ai/store/store.test.ts
  src/features/ai/store/store.ts
Due: typescript-check, biome-check

Fix: unwind project loading state on failure
  TEMP_AGENT_HANDOFF_2026-03-26.md
  src/features/file-system/controllers/project-loading.test.ts
  src/features/file-system/controllers/project-loading.ts
  src/features/file-system/controllers/store.ts
Due: typescript-check, biome-check

Fix: harden cold-start CLI open handling
  src-tauri/src/commands/development/cli_args.rs
  src-tauri/src/commands/development/mod.rs
  src-tauri/src/main.rs
  src/hooks/use-cli-open.ts
Due: rust-fmt-workspace, typescript-check, biome-check

Docs: note cold-start CLI open verification
  TEMP_AGENT_HANDOFF_2026-03-26.md
Due: none

Refactor: trim Harness UI redundancy
  src/features/ai/components/chat/ai-chat.tsx
  src/features/ai/components/chat/chat-header.tsx
  src/features/ai/components/chat/chat-messages.tsx
  src/features/ai/components/chat/harness-session-rail.tsx
  src/features/ai/components/input/chat-input-bar.tsx
Due: typescript-check, biome-check

Docs: refresh temporary handoff snapshot
  TEMP_AGENT_HANDOFF_2026-03-26.md
Due: none

Fix: surface dead Pi RPC prompt failures
  TEMP_AGENT_HANDOFF_2026-03-26.md
  src-tauri/src/features/ai/acp/bridge.rs
Due: rust-fmt-workspace

Fix: sanitize stale Pi session ids
  TEMP_AGENT_HANDOFF_2026-03-26.md
  src/features/ai/lib/chat-acp-state.test.ts
  src/features/ai/lib/chat-acp-state.ts
Due: typescript-check, biome-check

Fix: tighten Harness entry clarity and restore trust
  src/features/ai/components/chat/ai-chat.tsx
  src/features/ai/components/chat/harness-session-rail.tsx
  src/features/ai/lib/chat-acp-activity.test.ts
  src/features/ai/lib/chat-acp-activity.ts
  src/features/ai/lib/chat-scope.test.ts
  src/features/ai/lib/chat-scope.ts
  src/features/layout/components/empty-editor-state-actions.test.ts
  src/features/layout/components/empty-editor-state-actions.ts
  src/features/layout/components/empty-editor-state.tsx
  src/features/layout/components/footer/editor-footer.tsx
Due: typescript-check, biome-check

Docs: refresh Harness handoff snapshot
  TEMP_AGENT_HANDOFF_2026-03-26.md
Due: none

Docs: refresh Harness handoff snapshot
  TEMP_AGENT_HANDOFF_2026-03-26.md
  src/features/ai/store/store.test.ts
  src/features/ai/store/store.ts
Due: typescript-check, biome-check

fix: resolve Clippy lints in theme.rs and diff.rs
  crates/version-control/src/git/diff.rs
  src-tauri/src/commands/ui/theme.rs
Due: rust-fmt-workspace

fix: apply remaining clippy::sort_by_key lints
  crates/ai/src/acp/config.rs
  src-tauri/src/commands/ui/font.rs
Due: rust-fmt-workspace

Add GitHub issue and actions sidebar entry points
  src/features/github/components/file-diff-view.tsx
  src/features/github/components/github-action-viewer.tsx
  src/features/github/components/github-actions-view.tsx
  src/features/github/components/github-issue-viewer.tsx
  src/features/github/components/github-issues-view.tsx
  src/features/github/components/github-prs-view.tsx
  src/features/github/components/pr-viewer-header.tsx
  src/features/github/components/pr-viewer.tsx
  src/features/panes/components/pane-container.tsx
Due: typescript-check, biome-check

Fix: harden startup Harness restore
  src/features/file-system/controllers/store.ts
  src/features/layout/components/main-layout.tsx
  src/stores/session-store.test.ts
  src/stores/session-store.ts
Due: typescript-check, biome-check

Docs: refresh Harness restore handoff
  TEMP_AGENT_HANDOFF_2026-03-26.md
Due: none

Fix: prevent CI regressions from reaching master
  .github/workflows/ci.yml
  crates/github/src/lib.rs
  package.json
  src/features/ai/components/selectors/ai-model-selector.tsx
  src/features/database/providers/sqlite/components/crud-modals.tsx
  src/features/editor/components/toolbar/editor-status-actions.tsx
  src/features/editor/hooks/use-buffer-switch.ts
  src/features/file-explorer/components/file-explorer-tree.tsx
  src/features/git/components/git-branch-manager.tsx
  src/features/layout/components/footer/footer.tsx
  src/features/layout/components/main-layout.tsx
  src/features/panes/utils/pane-tree.test.ts
  src/features/terminal/components/terminal-tab-bar.tsx
Due: rust-fmt-workspace, typescript-check, biome-check

Fix: hide Harness session activity transcript cards
  TEMP_AGENT_HANDOFF_2026-03-26.md
  src/features/ai/components/chat/chat-messages.tsx
  src/features/ai/lib/chat-transcript-events.test.ts
  src/features/ai/lib/chat-transcript-events.ts
Due: typescript-check, biome-check
