Repository athasdev/athas: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-fmt-workspace, typescript-check, biome-check

.pre-commit-config.yaml:

# Pre-commit hooks configuration for Rust + TypeScript/React project
# See https://pre-commit.com for more information

repos:
  # Rust hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-toml
      - id: check-json
        exclude: 'tsconfig.*\.json$'
      - id: check-merge-conflict

  # Rust formatting only (clippy/check too heavy for CI)
  - repo: local
    hooks:
      - id: rust-fmt-workspace
        name: Rust format (workspace)
        entry: cargo fmt
        args: ['--all', '--check']
        language: system
        files: '\.rs$'
        pass_filenames: false

  # TypeScript/JavaScript with Biome and type checking
  - repo: local
    hooks:
      - id: typescript-check
        name: TypeScript check
        entry: bun
        args: ['typecheck']
        language: system
        files: \.(ts|tsx)$
        pass_filenames: false
      - id: biome-check
        name: Biome check
        entry: bun
        args: ['check', '--write']
        language: system
        files: \.(js|jsx|ts|tsx|json)$
        pass_filenames: false

  # Commit message validation
  - repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
    rev: v9.18.0
    hooks:
      - id: commitlint
        stages: [commit-msg]
        additional_dependencies: ['@commitlint/cli']

Augment ACP agent PATH from user shell for bundled apps
  crates/ai/src/acp/bridge_init.rs
  crates/ai/src/acp/config.rs
Due: rust-fmt-workspace

Open GitHub links with Tauri opener plugin instead of window API
  src/features/github/components/commit-item.tsx
  src/features/github/components/github-action-viewer.tsx
  src/features/github/components/github-issue-viewer.tsx
Due: typescript-check, biome-check

Fix browser view tab persistence, overlay detection, and navigation
  src-tauri/src/commands/ui/window.rs
  src/features/panes/components/pane-container.tsx
  src/features/web-viewer/components/web-viewer-toolbar.tsx
  src/features/web-viewer/components/web-viewer.tsx
  src/features/web-viewer/hooks/use-embedded-webview.ts
Due: rust-fmt-workspace, typescript-check, biome-check

Truncate long branch names in version control sidebar header
  src/features/git/components/git-branch-manager.tsx
Due: typescript-check, biome-check

Add close split button to tab bar and new file action to new tab screen
  src/features/layout/components/empty-editor-state.tsx
  src/features/tabs/components/tab-bar.tsx
Due: typescript-check, biome-check

Always show tab bar in pane containers regardless of buffer count
  src/features/panes/components/pane-container.tsx
Due: typescript-check, biome-check

Fix AI chat error colors, mention dropdown height, and mic error
  src/features/ai/components/input/chat-input-bar.tsx
  src/features/ai/components/mentions/file-mention-dropdown.tsx
  src/features/ai/components/messages/markdown-renderer.tsx
Due: typescript-check, biome-check

Persist terminal tabs across workspace switches
  src/features/editor/stores/buffer-store.ts
  src/features/file-system/controllers/store.ts
  src/features/file-system/controllers/workspace-session.test.ts
  src/features/file-system/controllers/workspace-session.ts
  src/features/panes/types/pane-content.ts
  src/features/window/stores/session-store.ts
Due: typescript-check, biome-check

Centralize API base resolution
  src/extensions/ui/services/ui-extension-generation-service.ts
  src/features/editor/services/editor-autocomplete-service.ts
  src/features/editor/services/editor-inline-edit-service.ts
  src/features/layout/components/footer/footer.tsx
  src/features/telemetry/services/heartbeat.ts
  src/features/window/services/auth-api.ts
  src/features/window/tests/auth-api.test.ts
  src/utils/api-base.ts
Due: typescript-check, biome-check

Polish pull request viewer interactions
  src/features/git/components/git-view.tsx
  src/features/github/components/pr-viewer-header.tsx
  src/features/github/components/pr-viewer.tsx
Due: typescript-check, biome-check

Declare directly imported frontend dependencies
  bun.lock
  package.json
Due: biome-check

fix(windows): allow file tree access for projects outside $HOME
  src-tauri/capabilities/windows-fs-anywhere.json
  src-tauri/tauri.conf.json
Due: biome-check

Add Ollama Cloud support with Bearer token auth
  src/features/ai/services/ai-chat-service.ts
  src/features/ai/services/providers/ai-provider-registry.ts
  src/features/ai/services/providers/ollama-provider.ts
  src/features/ai/types/providers.ts
  src/features/settings/components/tabs/ai-settings.tsx
  src/features/settings/config/search-index.ts
  src/features/settings/lib/settings-effects.ts
Due: typescript-check, biome-check

Add athas-fff-search adapter and Tauri commands
  Cargo.lock
  Cargo.toml
  crates/fff-search/Cargo.toml
  crates/fff-search/src/lib.rs
  src-tauri/Cargo.toml
  src-tauri/src/app_setup.rs
  src-tauri/src/commands/fuzzy.rs
  src-tauri/src/main.rs
Due: rust-fmt-workspace

Wire fff-powered fuzzy search into global search
  src/features/file-system/controllers/store.ts
  src/features/global-search/hooks/use-fff-search.ts
  src/features/global-search/hooks/use-file-search.ts
  src/features/global-search/hooks/use-global-search.ts
  src/features/global-search/lib/rust-api/search.ts
Due: typescript-check, biome-check

Reject suffix-spoofed hosts in extension download validator
  src-tauri/src/commands/extensions.rs
Due: rust-fmt-workspace

Guard the managed Node runtime extractor against tar-slip
  Cargo.lock
  crates/runtime/Cargo.toml
  crates/runtime/src/downloader.rs
Due: rust-fmt-workspace

Restrict and size-cap tool installer binary downloads
  crates/tooling/Cargo.toml
  crates/tooling/src/installer.rs
Due: rust-fmt-workspace

Add security review report covering high-severity findings
  SECURITY-REVIEW.md
Due: none

Quote dirname substitutions in SSH file helpers
  crates/remote/src/lib.rs
Due: rust-fmt-workspace

Sanitize extension-supplied formatter and linter exec configs
  src-tauri/src/commands/editor/exec_guard.rs
  src-tauri/src/commands/editor/format.rs
  src-tauri/src/commands/editor/lint.rs
  src-tauri/src/commands/editor/mod.rs
Due: rust-fmt-workspace

Confine custom fs IPC commands to the user's home directory
  src-tauri/src/commands/project/fs.rs
  src-tauri/src/commands/project/mod.rs
  src-tauri/src/commands/project/path_guard.rs
Due: rust-fmt-workspace

Improve buffer carousel discoverability and interaction
  src/features/panes/components/pane-container.tsx
  src/features/settings/components/settings-section.tsx
  src/features/settings/components/tabs/editor-settings.tsx
  src/features/settings/config/default-settings.ts
  src/features/settings/config/search-index.ts
  src/features/settings/types/settings.ts
Due: typescript-check, biome-check

Fix viewer surface UI issues
  src-tauri/src/commands/ui/window.rs
  src/features/editor/markdown/parser.ts
  src/features/editor/markdown/styles.css
  src/features/web-viewer/hooks/use-embedded-webview.ts
Due: rust-fmt-workspace, typescript-check, biome-check

Embed Linux webviews and surface LSP startup errors
  Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/commands/ui/window.rs
  src/features/editor/hooks/use-lsp-integration.ts
  src/features/editor/lsp/lsp-client.ts
  src/features/editor/lsp/lsp-startup-reporting.test.ts
  src/features/editor/lsp/lsp-startup-reporting.ts
  src/features/web-viewer/hooks/use-embedded-webview.ts
Due: rust-fmt-workspace, typescript-check, biome-check

Refine Git panel grouping and navigation shortcuts
  src/features/git/components/diff/git-diff-text.tsx
  src/features/git/components/status/git-status-panel.tsx
  src/features/git/tests/git-status-panel-state.test.ts
  src/features/git/utils/git-status-panel-state.ts
  src/features/keymaps/commands/command-registry.ts
  src/features/keymaps/defaults/default-keymaps-zoom.test.ts
  src/features/keymaps/defaults/default-keymaps.test.ts
  src/features/keymaps/defaults/default-keymaps.ts
  src/features/window/stores/zoom-store.test.ts
  src/features/window/stores/zoom-store.ts
Due: typescript-check, biome-check

Improve AI model selection and agent session polish
  src/features/ai/components/chat/ai-chat.tsx
  src/features/ai/components/history/sidebar.tsx
  src/features/ai/components/selectors/provider-model-selector.tsx
  src/features/ai/lib/acp-event-timeline.test.ts
  src/features/ai/lib/acp-event-timeline.ts
  src/features/ai/lib/context-buffers.test.ts
  src/features/ai/lib/context-buffers.ts
  src/features/ai/store/store.ts
  src/features/panes/components/empty-editor-state.tsx
  src/features/settings/components/tabs/ai-settings.tsx
  src/features/settings/lib/ai-model-selection.test.ts
  src/features/settings/lib/ai-model-selection.ts
Due: typescript-check, biome-check

Add markdown ordered-list regression test
  src/features/editor/markdown/parser.test.ts
Due: typescript-check, biome-check

Make terminal launch and reconnect commands reliable
  src/features/terminal/components/terminal-container.tsx
  src/features/terminal/hooks/use-terminal-connection.ts
  src/features/terminal/lib/initial-command-dispatcher.test.ts
  src/features/terminal/lib/initial-command-dispatcher.ts
Due: typescript-check, biome-check

Ignore local scratch directories
  .gitignore
Due: none

Fix split diff marking and RPM LSP launch
  crates/lsp/src/client.rs
  src/features/git/components/diff/diff-line-background-layer.tsx
  src/features/git/components/diff/git-diff-line.tsx
  src/features/git/components/diff/git-diff-text.tsx
  src/features/git/tests/split-diff-marking.test.ts
  src/features/git/utils/diff-editor-content.ts
Due: rust-fmt-workspace, typescript-check, biome-check

Remove merged AI settings dead code
  src/features/settings/components/tabs/ai-settings.tsx
Due: typescript-check, biome-check

Clarify Buffer Carousel help affordance
  src-tauri/src/commands/ui/window.rs
  src/features/settings/components/settings-section.tsx
  src/features/settings/components/tabs/ai-settings.tsx
  src/features/settings/components/tabs/editor-settings.tsx
Due: rust-fmt-workspace, typescript-check, biome-check

Fix embedded webview not found errors on multi-window setups
  src-tauri/src/commands/ui/window.rs
  src/features/web-viewer/hooks/use-embedded-webview.ts
Due: rust-fmt-workspace, typescript-check, biome-check

Fix hamburger menu positioning on Wayland/Hyprland
  src/features/window/components/custom-title-bar.tsx
  src/features/window/components/menu-bar/window-menu-bar.tsx
Due: typescript-check, biome-check

Final fix lmao sorry
  src/features/window/components/menu-bar/window-menu-bar.tsx
Due: typescript-check, biome-check

Document release pipeline hardening plan
  docs/release-pipeline-hardening.md
Due: none

Improve Windows dev setup
  .gitignore
  scripts/setup/windows.ps1
Due: none

Move database providers to extensions
  Cargo.lock
  Cargo.toml
  crates/extensions/src/installer.rs
  src-tauri/Cargo.toml
  src-tauri/src/app_setup.rs
  src-tauri/src/commands/database/connection_manager.rs
  src-tauri/src/commands/database/mod.rs
  src-tauri/src/commands/database/sidecar.rs
  src-tauri/src/main.rs
  src/extensions/database/database-provider-extensions.ts
  src/extensions/registry/extension-store-lifecycle.ts
  src/extensions/registry/extension-store.ts
  src/extensions/types/extension-manifest.ts
  src/features/database/components/connection/connection-dialog.tsx
  src/features/database/providers/mongodb/stores/mongodb-store.ts
  src/features/database/providers/redis/stores/redis-store.ts
  src/features/database/providers/sql/create-sql-store.ts
  src/features/database/providers/sqlite/stores/sqlite-store.ts
  src/features/database/services/database-provider-sidecar.ts
  src/features/database/stores/connection-store.ts
  src/features/settings/components/tabs/extensions-settings.tsx
Due: rust-fmt-workspace, typescript-check, biome-check

Extend marketplace contribution schema
  src/extensions/languages/language-packager.ts
  src/extensions/marketplace/marketplace-extensions.ts
  src/extensions/registry/extension-store.ts
  src/extensions/types/extension-manifest.ts
Due: typescript-check, biome-check
