Repository athasdev/athas: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-fmt-workspace, typescript-check, biome-check

.pre-commit-config.yaml:

# Pre-commit hooks configuration for Rust + TypeScript/React project
# See https://pre-commit.com for more information

repos:
  # Rust hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-toml
      - id: check-json
        exclude: 'tsconfig.*\.json$'
      - id: check-merge-conflict

  # Rust formatting only (clippy/check too heavy for CI)
  - repo: local
    hooks:
      - id: rust-fmt-workspace
        name: Rust format (workspace)
        entry: cargo fmt
        args: ['--all', '--check']
        language: system
        files: '\.rs$'
        pass_filenames: false

  # TypeScript/JavaScript with Biome and type checking
  - repo: local
    hooks:
      - id: typescript-check
        name: TypeScript check
        entry: bun
        args: ['typecheck']
        language: system
        files: \.(ts|tsx)$
        pass_filenames: false
      - id: biome-check
        name: Biome check
        entry: bun
        args: ['check', '--write']
        language: system
        files: \.(js|jsx|ts|tsx|json)$
        pass_filenames: false

  # Commit message validation
  - repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
    rev: v9.18.0
    hooks:
      - id: commitlint
        stages: [commit-msg]
        additional_dependencies: ['@commitlint/cli']

Remove CLAUDE.md and ignore bundled grammar files
  .claude/CLAUDE.md
  .gitignore
Due: none

Remove suspense from AI chat
  src/features/layout/components/main-layout.tsx
Due: typescript-check, biome-check

Refactor terminal module and fix auto-create behavior
  src/features/layout/components/bottom-pane/bottom-pane.tsx
  src/features/layout/components/footer/editor-footer.tsx
  src/features/layout/components/main-layout.tsx
  src/features/terminal/components/terminal-container.tsx
  src/features/terminal/components/terminal-tab-bar-item.tsx
  src/features/terminal/components/terminal-tab-bar.tsx
  src/features/terminal/components/terminal.tsx
  src/features/terminal/hooks/use-terminal-addons.ts
  src/features/terminal/hooks/use-terminal-theme.ts
  src/features/terminal/stores/profiles-store.ts
  src/features/terminal/stores/terminal-store.ts
  src/features/terminal/utils/osc-parser.ts
  src/features/window/hooks/use-keyboard-shortcuts.ts
  src/stores/terminal-store.ts
  src/styles.css
Due: typescript-check, biome-check

Add FUNDING.yml
  .github/FUNDING.yml
Due: none

Update README.md
  README.md
  public/screenshot.webp
Due: none

Fix command bar not triggering
  src/features/keymaps/commands/command-context.ts
  src/features/keymaps/commands/file-commands.ts
  src/features/keymaps/defaults/default-keymaps.ts
  src/features/window/hooks/use-keyboard-shortcuts.ts
Due: typescript-check, biome-check

Update logo on README.md
  README.md
  public/icon.png
  public/screenshot.webp
Due: none

Replace screenshot on README.md
  README.md
  public/screenshot.png
  public/screenshot.webp
Due: none

Add terminal font family and appearance settings
  src/features/settings/components/settings-dialog.tsx
  src/features/settings/components/settings-vertical-tabs.tsx
  src/features/settings/components/tabs/terminal-settings.tsx
  src/features/settings/store.ts
  src/features/terminal/components/terminal.tsx
  src/stores/ui-state/types.ts
Due: typescript-check, biome-check

Add letter spacing setting
  src/features/settings/components/tabs/terminal-settings.tsx
  src/features/settings/store.ts
  src/features/terminal/components/terminal.tsx
Due: typescript-check, biome-check

Fix terminal settings layout
  src/features/settings/components/tabs/terminal-settings.tsx
Due: typescript-check, biome-check

Polish terminal settings UX
  src/features/settings/components/tabs/terminal-settings.tsx
Due: typescript-check, biome-check

Integrate WebGL addon for terminal
  bun.lock
  package.json
  src/features/terminal/hooks/use-terminal-addons.ts
Due: typescript-check, biome-check

Refactor settings store to separate terminal settings
  src/features/settings/store.ts
Due: typescript-check, biome-check

Fix terminal font icons with robust fallback
  src/features/terminal/components/terminal.tsx
Due: typescript-check, biome-check

Fix: Correct context menu positioning using createPortal
  src/features/window/components/project-tabs.tsx
Due: typescript-check, biome-check

Fix workspace reset and implement smart terminal session persistence
  src/features/file-system/controllers/store.ts
  src/features/file-system/types/interface.ts
  src/features/terminal/hooks/use-terminal-tabs.ts
  src/features/terminal/types/terminal.ts
  src/features/version-control/git/controllers/git-store.ts
  src/stores/session-store.ts
  src/stores/workspace-tabs-store.ts
Due: typescript-check, biome-check

Feat: Enhance workspace reset and context menu
  src/features/file-system/controllers/store.ts
  src/features/window/components/project-tabs.tsx
Due: typescript-check, biome-check

Fix autosave functionality and dirty state logic
  src/features/editor/components/editor.tsx
  src/features/editor/stores/buffer-store.ts
Due: typescript-check, biome-check

Fix editor rendering and improve extension install UX
  src/extensions/hooks/use-extension-install-prompt.ts
  src/features/editor/components/code-editor.tsx
  src/features/editor/components/editor.tsx
  src/features/editor/components/gutter/gutter.tsx
  src/features/editor/components/layers/git-blame-layer.tsx
  src/features/editor/components/layers/highlight-layer.tsx
  src/features/editor/components/layers/input-layer.tsx
  src/features/editor/components/layers/multi-cursor-layer.tsx
  src/features/editor/styles/line-based.css
  src/features/editor/styles/overlay-editor.css
  src/features/layout/components/main-layout.tsx
  src/features/layout/contexts/toast-context.tsx
  src/features/version-control/git/components/inline-git-blame.tsx
Due: typescript-check, biome-check

Update frontend dependencies
  bun.lock
  package.json
Due: biome-check

Fix type errors in store and wasm-parser loader
  src/features/editor/lib/wasm-parser/loader.ts
  src/features/settings/store.ts
  src/utils/connection-store.ts
Due: typescript-check, biome-check

Add missing preview button to markdown toolbar
  src/features/editor/components/toolbar/breadcrumb.tsx
Due: typescript-check, biome-check

Add auto-update
  .github/workflows/release.yml
  src-tauri/capabilities/main.json
  src-tauri/src/main.rs
  src-tauri/tauri.conf.json
  src/App.tsx
  src/features/editor/hooks/use-tokenizer.ts
  src/features/settings/components/tabs/general-settings.tsx
  src/features/settings/components/update-dialog.tsx
  src/features/settings/hooks/use-auto-update.ts
  src/features/settings/hooks/use-updater.ts
Due: rust-fmt-workspace, typescript-check, biome-check

Bump version to 0.2.5
  package.json
  src-tauri/tauri.conf.json
Due: biome-check

Bump version to 0.2.6
  package.json
  src-tauri/tauri.conf.json
Due: biome-check

Update Cargo.lock to fix version mismatch
  Cargo.lock
Due: none

Update changelog
  CHANGELOG.md
Due: none

Add open folder button to file explorer
  src/features/file-explorer/views/file-tree.css
  src/features/file-explorer/views/file-tree.tsx
  src/features/file-system/controllers/store.ts
  src/features/window/components/project-tabs.tsx
  src/features/window/hooks/use-keyboard-shortcuts.ts
  src/stores/workspace-tabs-store.ts
Due: typescript-check, biome-check

Consolidate keymaps into single command registry
  src/features/keymaps/commands/command-context.ts
  src/features/keymaps/commands/command-registry.ts
  src/features/keymaps/commands/edit-commands.ts
  src/features/keymaps/commands/file-commands.ts
  src/features/keymaps/commands/navigation-commands.ts
  src/features/keymaps/commands/register-commands.ts
  src/features/keymaps/commands/view-commands.ts
  src/features/keymaps/components/keybinding-input.tsx
  src/features/keymaps/components/keybinding-row.tsx
  src/features/keymaps/defaults/default-keymaps.ts
  src/features/keymaps/hooks/use-keybinding-recorder.ts
  src/features/keymaps/hooks/use-keymaps.ts
  src/features/keymaps/init.ts
  src/features/keymaps/stores/store.ts
  src/features/keymaps/types.ts
  src/features/layout/components/main-layout.tsx
  src/features/settings/components/tabs/keyboard-settings.tsx
  src/features/window/hooks/use-keyboard-shortcuts-wrapper.ts
  src/features/window/hooks/use-keyboard-shortcuts.ts
Due: typescript-check, biome-check

Fixed window drag area issue on linux atleast
  src/features/window/custom-title-bar.tsx
Due: typescript-check, biome-check

Remove Storybook
  .storybook/main.ts
  bun.lock
  package.json
  src/features/rendering/VirtualizedList.stories.tsx
Due: typescript-check, biome-check

Remove unnecessary files from root
  .depcheckrc
  .node-version
  package.json
  scripts/setup.ts
Due: typescript-check, biome-check

Fix transition on right pane toggling
  src/features/layout/components/main-layout.tsx
  src/features/layout/components/right-pane/resizable-right-pane.tsx
Due: typescript-check, biome-check

Fix production build issues for terminal and extensions
  src-tauri/src/commands/extensions.rs
  src-tauri/src/terminal/connection.rs
  src-tauri/tauri.conf.json
  src/features/terminal/hooks/use-terminal-theme.ts
  src/styles.css
Due: rust-fmt-workspace, typescript-check, biome-check

Bump version to 0.2.7
  package.json
  src-tauri/tauri.conf.json
Due: biome-check

Fix Windows build failure in WiX bundler
  src-tauri/src/commands/extensions.rs
  src-tauri/src/terminal/connection.rs
  src-tauri/tauri.conf.json
Due: rust-fmt-workspace, biome-check

Fix traffic lights for macOS 26
  src-tauri/tauri.conf.json
  src/features/window/custom-title-bar.tsx
Due: typescript-check, biome-check

Add web viewer
  src-tauri/Cargo.toml
  src-tauri/src/commands/window.rs
  src-tauri/src/main.rs
  src/features/ai/components/chat/ai-chat.tsx
  src/features/ai/types/ai-chat.ts
  src/features/command-palette/components/command-palette.tsx
  src/features/command-palette/constants/view-actions.tsx
  src/features/editor/stores/buffer-store.ts
  src/features/layout/components/main-layout.tsx
  src/features/tabs/types/buffer.ts
  src/features/web-viewer/components/web-viewer.tsx
  src/utils/context-builder.ts
  src/utils/providers/openai-provider.ts
  src/utils/stream-utils.ts
  src/utils/types.ts
  src/utils/web-fetcher.ts
Due: rust-fmt-workspace, typescript-check, biome-check
