Repository athasdev/athas: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-fmt-workspace, typescript-check, biome-check

.pre-commit-config.yaml:

# Pre-commit hooks configuration for Rust + TypeScript/React project
# See https://pre-commit.com for more information

repos:
  # Rust hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-toml
      - id: check-json
        exclude: 'tsconfig.*\.json$'
      - id: check-merge-conflict

  # Rust formatting only (clippy/check too heavy for CI)
  - repo: local
    hooks:
      - id: rust-fmt-workspace
        name: Rust format (workspace)
        entry: cargo fmt
        args: ['--all', '--check']
        language: system
        files: '\.rs$'
        pass_filenames: false

  # TypeScript/JavaScript with Biome and type checking
  - repo: local
    hooks:
      - id: typescript-check
        name: TypeScript check
        entry: bun
        args: ['typecheck']
        language: system
        files: \.(ts|tsx)$
        pass_filenames: false
      - id: biome-check
        name: Biome check
        entry: bun
        args: ['check', '--write']
        language: system
        files: \.(js|jsx|ts|tsx|json)$
        pass_filenames: false

  # Commit message validation
  - repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
    rev: v9.18.0
    hooks:
      - id: commitlint
        stages: [commit-msg]
        additional_dependencies: ['@commitlint/cli']

Prepare release
  Cargo.lock
  package.json
  src-tauri/Cargo.toml
  src-tauri/tauri.conf.json
Due: biome-check

Remove continuous agent bot icons
  src/features/ai/continuous-agents/resource.tsx
Due: typescript-check, biome-check

Bundle Linux tarball runtime libraries
  scripts/release/packaging/linux/tarball.sh
  scripts/release/tests/linux-packaging.test.ts
Due: typescript-check, biome-check

Keep macOS project windows on the main thread
  src-tauri/src/commands/ui/window.rs
  src/features/file-system/tests/folder-window-routing.test.ts
Due: rust-fmt-workspace, typescript-check, biome-check

Unify source control command navigation
  src/features/git/components/git-browse-command.tsx
  src/features/git/components/git-command-surface.tsx
  src/features/git/components/git-remote-manager.tsx
  src/features/git/components/git-tag-manager.tsx
  src/features/git/components/git-view.tsx
  src/features/git/components/source-control-navigation.tsx
  src/features/git/tests/git-browse-command.test.tsx
  src/features/git/tests/source-control-navigation.test.tsx
  src/features/github/components/github-prs-view.tsx
  src/features/github/components/github-sidebar-row.tsx
  src/features/github/components/pr-status.tsx
  src/ui/command.tsx
Due: typescript-check, biome-check

Expand project icon choices
  src/features/collaboration/components/emoji-picker.tsx
  src/features/command-palette/components/command-palette.tsx
  src/features/layout/components/sidebar/project-glyph.tsx
  src/features/window/components/project-custom-icon.tsx
  src/features/window/components/project-icon-picker.tsx
  src/features/window/components/project-picker.tsx
  src/features/window/tests/project-custom-icon.test.tsx
  src/features/window/tests/project-icon-options.test.ts
  src/features/window/tests/project-symbols.test.ts
  src/features/window/utils/project-icons.ts
  src/features/window/utils/project-symbols.ts
  src/utils/emoji-catalog.ts
Due: typescript-check, biome-check

Resolve home-relative SSH keys and expose connection errors
  crates/remote/src/ssh_helpers.rs
  crates/remote/tests/ssh/session.rs
Due: rust-fmt-workspace

Improve pane resizing and workspace persistence
  src/features/panes/components/pane-resize-handle.tsx
  src/features/panes/components/split-view-root.tsx
  src/features/panes/hooks/use-resize-observer.ts
  src/features/panes/tests/pane-resize.test.ts
  src/features/panes/utils/pane-resize.ts
  src/features/workspace/persistence/workspace-session-save-queue.ts
  src/features/workspace/tests/workspace-session-save-queue.test.ts
Due: typescript-check, biome-check

Keep Git diffs responsive and preserve non-text changes
  src/features/git/hooks/use-git-diff-data.ts
  src/features/git/services/working-tree-diff-loader.ts
  src/features/git/tests/use-git-diff-data.test.ts
  src/features/git/tests/working-tree-diff-loader.test.ts
  src/features/git/utils/git-diff-helpers.ts
  src/features/git/utils/working-tree-multi-diff.ts
Due: typescript-check, biome-check

Make GitHub list refreshes reliable
  src/features/github/components/github-actions-view.tsx
  src/features/github/components/github-issues-view.tsx
  src/features/github/hooks/use-github-list.ts
  src/features/github/tests/github-resource-cache.test.ts
  src/features/github/utils/github-data-cache.ts
  src/utils/timed-resource-cache.ts
Due: typescript-check, biome-check

Keep system theme synchronization live
  src-tauri/src/commands/ui/window.rs
  src/features/settings/lib/settings-effects.ts
  src/features/settings/tests/theme-effects.test.ts
Due: rust-fmt-workspace, typescript-check, biome-check

Disambiguate tab paths without duplicate slashes
  src/features/quick-open/tests/file-filtering.test.ts
  src/features/quick-open/tests/fuzzy-search.test.ts
  src/features/tabs/components/tab-bar.tsx
  src/features/tabs/tests/path-shortener.test.ts
  src/features/tabs/utils/path-shortener.ts
Due: typescript-check, biome-check

Verify cached parser bytes before loading
  src/features/editor/lib/wasm-parser/checksum.ts
  src/features/editor/lib/wasm-parser/loader.ts
  src/features/editor/tests/wasm-parser-cache-loading.test.ts
  src/features/editor/tests/wasm-parser-checksum.test.ts
Due: typescript-check, biome-check

Resolve home-relative SSH keys and explain failures
  crates/remote/src/ssh_helpers.rs
  crates/remote/tests/ssh/session.rs
Due: rust-fmt-workspace

Preserve images throughout agent conversations
  crates/ai/src/chat_history.rs
  src/features/ai/components/agent-launch-input.tsx
  src/features/ai/components/chat/ai-chat.tsx
  src/features/ai/components/input/agent-message-queue.tsx
  src/features/ai/components/input/chat-input-bar.tsx
  src/features/ai/integrations/codex/codex-integration-service.ts
  src/features/ai/lib/conversation-history.ts
  src/features/ai/lib/image-attachments.ts
  src/features/ai/services/acp-stream-handler.ts
  src/features/ai/services/ai-chat-history-service.ts
  src/features/ai/services/ai-chat-service.ts
  src/features/ai/services/providers/anthropic-provider.ts
  src/features/ai/services/providers/gemini-provider.ts
  src/features/ai/services/providers/grok-provider.ts
  src/features/ai/services/providers/mistral-provider.ts
  src/features/ai/services/providers/ollama-provider.ts
  src/features/ai/services/providers/openai-compatible-provider.ts
  src/features/ai/services/providers/openai-provider.ts
  src/features/ai/services/providers/openrouter-provider.ts
  src/features/ai/stores/ai-chat/ai-chat-store.types.ts
  src/features/ai/stores/ai-chat/chat-actions.ts
  src/features/ai/tests/acp-stream-handler.test.ts
  src/features/ai/tests/agent-window-state.test.ts
  src/features/ai/tests/ai-chat-history-service.test.ts
  src/features/ai/tests/ai-chat-surface-session.test.ts
  src/features/ai/tests/codex-integration-service.test.ts
  src/features/ai/tests/conversation-history.test.ts
  src/features/ai/tests/image-attachments.test.ts
  src/features/ai/tests/provider-image-payloads.test.ts
  src/features/ai/types/acp.types.ts
  src/features/ai/types/ai-chat.types.ts
  src/features/ai/types/ai-context.types.ts
  src/features/ai/types/messages.types.ts
Due: rust-fmt-workspace, typescript-check, biome-check

Update the Nix wrapper to the current stable release
  nix/package.nix
Due: none

Bundle the typography instead of fetching it
  .gitattributes
  bun.lock
  package.json
  public/fonts/inter-display-400-italic.woff2
  public/fonts/inter-display-400.woff2
  public/fonts/inter-display-500-italic.woff2
  public/fonts/inter-display-500.woff2
  public/fonts/inter-display-600-italic.woff2
  public/fonts/inter-display-600.woff2
  public/fonts/inter-display-700-italic.woff2
  public/fonts/inter-display-700.woff2
  public/fonts/inter-license.txt
  public/fonts/inter-variable-italic.woff2
  public/fonts/inter-variable.woff2
  public/fonts/jetbrains-mono-italic.ttf
  public/fonts/jetbrains-mono-license.txt
  public/fonts/jetbrains-mono.ttf
  src/features/editor/utils/position.ts
  src/features/settings/components/font-selector.tsx
  src/features/settings/config/bundled-fonts.ts
  src/features/settings/config/typography-defaults.ts
  src/features/settings/lib/settings-normalization.ts
  src/features/settings/stores/font.store.ts
  src/features/settings/tests/font-family-resolution.test.ts
  src/features/settings/tests/settings-normalization.test.ts
  src/features/window/hooks/use-font-loading.ts
  src/styles.css
  src/styles/base.css
  src/styles/fonts.css
Due: typescript-check, biome-check

Open definitions in a real editor instead of a peek
  src/features/editor/components/monaco-editor.tsx
  src/features/editor/engines/monaco/editor-opener.ts
  src/features/editor/engines/monaco/lsp-providers.ts
  src/features/editor/engines/monaco/monaco-environment.ts
  src/features/editor/lsp/location-navigation.ts
  src/features/editor/lsp/workspace-edit.ts
  src/features/editor/stores/state.store.ts
  src/features/editor/tests/location-navigation.test.ts
  src/features/editor/tests/monaco-editor-opener.test.ts
  src/features/editor/tests/workspace-edit.test.ts
  src/features/keymaps/commands/navigation-command-actions.ts
Due: typescript-check, biome-check

Give settings a shared workbench layout
  src/features/settings/components/settings-navigation.tsx
  src/features/settings/components/settings-workbench-view.tsx
  src/features/settings/config/settings-tabs.ts
  src/features/settings/tests/settings-ui-contract.test.ts
  src/ui/workbench.tsx
Due: typescript-check, biome-check

Recolor the Athas theme around a cyan-blue accent
  src/extensions/icon-themes/components/themed-file-icon.tsx
  src/extensions/themes/builtin/athas.json
  src/features/editor/markdown/styles.css
  src/styles/theme.css
  src/ui/icons.tsx
Due: typescript-check, biome-check

Group the composer's attachments by kind
  src/features/ai/components/input/chat-input-bar.tsx
  src/features/ai/components/input/composer-attachments.tsx
  src/features/ai/components/mentions/ai-file-selector.tsx
  src/features/ai/components/mentions/file-mention-dropdown.tsx
  src/features/ai/components/selectors/context-selector.tsx
  src/features/ai/tests/chat-input-bar.test.tsx
  src/features/ai/tests/composer-attachment-groups.test.ts
  src/features/ai/utils/composer-attachment-groups.ts
  src/ui/attachment.tsx
Due: typescript-check, biome-check

Speak one vocabulary across the extension surfaces
  src/extensions/tests/extension-detail-view.test.tsx
  src/extensions/tests/extensions-ui-contract.test.ts
  src/extensions/ui/components/extension-catalog-card.tsx
  src/extensions/ui/components/extension-catalog-types.ts
  src/extensions/ui/components/extension-context-menu-items.tsx
  src/extensions/ui/components/extension-detail-view.tsx
  src/extensions/ui/components/extensions-view.tsx
  src/extensions/ui/hooks/use-extension-catalog-actions.ts
Due: typescript-check, biome-check

Drop the unused combobox and resource exports
  src/ui/button.tsx
  src/ui/card.tsx
  src/ui/combobox.tsx
  src/ui/resource.tsx
Due: typescript-check, biome-check

Stop sidebar rows from truncating before they need to
  src/features/ai/components/agent-session-sidebar-item.tsx
  src/features/layout/tests/sidebar-list-action-row.test.tsx
  src/ui/sidebar.tsx
Due: typescript-check, biome-check

Diff agent edits instead of replacing them wholesale
  src/features/ai/lib/acp-diff-output.ts
  src/features/ai/tests/acp-diff-output.test.ts
  src/features/git/tests/line-diff.test.ts
  src/features/git/utils/line-diff.ts
Due: typescript-check, biome-check

Offer an agent session as its own review change set
  src/features/ai/components/chat/ai-chat.tsx
  src/features/ai/lib/agent-session-changes.ts
  src/features/git/types/git-diff.types.ts
  src/features/review/components/review-change-card.tsx
  src/features/review/components/review-hunk-session.tsx
  src/features/review/components/review-sidebar.tsx
  src/features/review/hooks/use-review-change-sets.ts
  src/features/review/lib/review-model.ts
  src/features/review/stores/agent-changes.store.ts
  src/features/review/tests/agent-session-changes.test.ts
  src/features/review/types/review.types.ts
  src/features/review/utils/open-agent-session-diff-buffer.ts
Due: typescript-check, biome-check

Drop the unused ACP dependency from the Tauri crate
  Cargo.lock
  src-tauri/Cargo.toml
Due: none

Share editor content and agent conversations to the web
  src/features/ai/components/chat/chat-header.tsx
  src/features/ai/detached/detached-agents-app.tsx
  src/features/command-palette/constants/file-actions.tsx
  src/features/editor/context-menu/context-menu.tsx
  src/features/editor/context-menu/editor-context-menu-items.tsx
  src/features/editor/tests/editor-context-menu-items.test.tsx
  src/features/sharing/components/share-dialog.tsx
  src/features/sharing/lib/snapshot-content.ts
  src/features/sharing/services/open-share.ts
  src/features/sharing/services/share-api.ts
  src/features/sharing/tests/snapshot-content.test.ts
  src/features/sharing/types/share.types.ts
  src/features/window/services/auth-api.ts
  src/workbench-app.tsx
Due: typescript-check, biome-check

Add live sharing and private cloud sessions
  src/features/ai/components/chat/chat-message.tsx
  src/features/ai/detached/detached-agents-app.tsx
  src/features/command-palette/constants/settings-actions.tsx
  src/features/settings/components/settings-dialog.tsx
  src/features/settings/components/settings-workbench-view.tsx
  src/features/settings/config/search-index.ts
  src/features/settings/config/settings-tabs.ts
  src/features/settings/lib/settings-normalization.ts
  src/features/settings/lib/settings-search.ts
  src/features/settings/types/settings.types.ts
  src/features/sharing/components/share-access-dialog.tsx
  src/features/sharing/components/share-dialog.tsx
  src/features/sharing/components/share-preview.tsx
  src/features/sharing/components/sharing-runtime.tsx
  src/features/sharing/components/sharing-settings.tsx
  src/features/sharing/lib/snapshot-content.ts
  src/features/sharing/services/open-share.ts
  src/features/sharing/services/share-api.ts
  src/features/sharing/services/share-device.ts
  src/features/sharing/tests/settings-dialog.test.ts
  src/features/sharing/tests/snapshot-content.test.ts
  src/features/sharing/types/share.types.ts
  src/features/window/stores/ui-state/modal-slice.ts
  src/features/window/stores/ui-state/types/ui-state.types.ts
  src/ui/dialog.tsx
  src/workbench-app.tsx
Due: typescript-check, biome-check

Hoist the initial window shell drag handler
  src/App.tsx
Due: typescript-check, biome-check

Give the workbench a flat sidebar and pinned page headers
  src/styles/theme.css
  src/styles/utilities.css
  src/ui/dialog.tsx
  src/ui/input.tsx
  src/ui/workbench.tsx
Due: typescript-check, biome-check

Redesign the settings dialog as a two-pane surface
  src/features/ai/integrations/codex/codex-settings.tsx
  src/features/command-palette/constants/settings-actions.tsx
  src/features/settings/components/settings-dialog.tsx
  src/features/settings/components/settings-section.tsx
  src/features/settings/components/settings-workbench-view.tsx
  src/features/settings/components/tabs/account-settings.tsx
  src/features/settings/components/tabs/advanced-settings.tsx
  src/features/settings/components/tabs/ai-settings.tsx
  src/features/settings/components/tabs/collaboration-settings.tsx
  src/features/settings/components/tabs/enterprise-settings.tsx
  src/features/settings/components/tabs/file-tree-settings.tsx
  src/features/settings/components/tabs/general-settings.tsx
  src/features/settings/components/tabs/git-settings.tsx
  src/features/settings/components/tabs/keyboard-settings.tsx
  src/features/settings/components/tabs/terminal-settings.tsx
  src/features/settings/config/search-index.ts
  src/features/settings/config/settings-tabs.ts
  src/features/settings/lib/settings-search.ts
  src/features/sharing/components/sharing-settings.tsx
Due: typescript-check, biome-check

Expose workflow run metadata and re-run controls from the GitHub crate
  crates/github/src/api.rs
  crates/github/src/lib.rs
  crates/github/src/models.rs
  src-tauri/src/commands/version_control/github.rs
  src-tauri/src/main.rs
Due: rust-fmt-workspace

Add workflow run status, log, and change helpers
  src/features/github/tests/github-workflow-logs.test.ts
  src/features/github/tests/github-workflow-run-changes.test.ts
  src/features/github/tests/github-workflow-status.test.ts
  src/features/github/types/github.types.ts
  src/features/github/utils/github-workflow-logs.ts
  src/features/github/utils/github-workflow-run-changes.ts
  src/features/github/utils/github-workflow-status.ts
Due: typescript-check, biome-check
