Repository athasdev/athas: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-fmt-workspace, typescript-check, biome-check

.pre-commit-config.yaml:

# Pre-commit hooks configuration for Rust + TypeScript/React project
# See https://pre-commit.com for more information

repos:
  # Rust hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-toml
      - id: check-json
        exclude: 'tsconfig.*\.json$'
      - id: check-merge-conflict

  # Rust formatting only (clippy/check too heavy for CI)
  - repo: local
    hooks:
      - id: rust-fmt-workspace
        name: Rust format (workspace)
        entry: cargo fmt
        args: ['--all', '--check']
        language: system
        files: '\.rs$'
        pass_filenames: false

  # TypeScript/JavaScript with Biome and type checking
  - repo: local
    hooks:
      - id: typescript-check
        name: TypeScript check
        entry: bun
        args: ['typecheck']
        language: system
        files: \.(ts|tsx)$
        pass_filenames: false
      - id: biome-check
        name: Biome check
        entry: bun
        args: ['check', '--write']
        language: system
        files: \.(js|jsx|ts|tsx|json)$
        pass_filenames: false

  # Commit message validation
  - repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
    rev: v9.18.0
    hooks:
      - id: commitlint
        stages: [commit-msg]
        additional_dependencies: ['@commitlint/cli']

Keep edited prompts above their answers and show every edit as a diff
  .claude/launch.json
  src/features/ai/components/chat/ai-chat.tsx
  src/features/ai/components/chat/chat-message.tsx
  src/features/ai/components/chat/chat-messages.tsx
  src/features/ai/components/messages/tool-call-display.tsx
  src/features/ai/lib/chat-timeline.ts
  src/features/ai/lib/edit-diff-capture.ts
  src/features/ai/tests/chat-timeline.test.ts
  src/features/ai/tests/edit-diff-capture.test.ts
Due: typescript-check, biome-check

Bring the composer selector test up to date with the unified model list
  src/features/ai/tests/composer-agent-selector.test.tsx
Due: typescript-check, biome-check

Run git through the WSL distribution for repositories on WSL shares
  crates/version-control/Cargo.toml
  crates/version-control/src/git/host.rs
  crates/version-control/src/git/mod.rs
  crates/wsl/src/lib.rs
Due: rust-fmt-workspace

Keep sidebar rows hovered while the pointer is on their actions
  src/ui/sidebar.tsx
Due: typescript-check, biome-check

Recognize and operate on git repositories that live inside WSL
  crates/version-control/src/git/branch.rs
  crates/version-control/src/git/commit.rs
  crates/version-control/src/git/staging.rs
  crates/version-control/src/git/status.rs
  crates/version-control/src/git/types.rs
  src-tauri/src/app_setup.rs
  src-tauri/src/commands/version_control/git.rs
  src/features/git/api/git-repo-api.ts
  src/features/git/tests/git-repo-api.test.ts
Due: rust-fmt-workspace, typescript-check, biome-check

feat: complete 4 TODOs - file formatting, images in chat, manifest version, checksum
  src-tauri/src/commands/editor/format.rs
  src/features/ai/components/chat/ai-chat.tsx
  src/features/ai/components/input/chat-input-bar.tsx
  src/features/ai/types/ai-chat.types.ts
  src/features/editor/lib/wasm-parser/loader.ts
Due: rust-fmt-workspace, typescript-check, biome-check

Harden the extension download and staging path
  Cargo.lock
  crates/extensions/Cargo.toml
  crates/extensions/src/installer.rs
Due: rust-fmt-workspace

Keep credentials out of connection strings and git errors
  crates/database/src/connection_manager.rs
  crates/version-control/src/git/remote.rs
Due: rust-fmt-workspace

Confine agent file and terminal access to the workspace
  crates/ai/src/acp/client.rs
  crates/ai/src/acp/workspace_path.rs
Due: rust-fmt-workspace

Block shells and temp paths in tool exec configs
  src-tauri/src/commands/editor/exec_guard.rs
  src-tauri/src/commands/editor/format.rs
  src-tauri/src/commands/editor/lint.rs
Due: rust-fmt-workspace

Cap language server and debug adapter frame sizes
  crates/debugger/src/lib.rs
  crates/lsp/src/client.rs
Due: rust-fmt-workspace

Quote debugger args and terminal drops unconditionally
  src/features/debugger/services/debug-adapter-events.ts
  src/features/debugger/tests/debugger-command.test.ts
  src/features/debugger/utils/debugger-command.ts
  src/features/terminal/tests/terminal-file-drop.test.ts
  src/features/terminal/utils/terminal-file-drop.ts
Due: typescript-check, biome-check

feat: add file-based formatting, chat image support, and parser manifest versioning
  src-tauri/src/commands/editor/format.rs
  src/features/ai/components/chat/ai-chat.tsx
  src/features/ai/components/input/chat-input-bar.tsx
  src/features/ai/types/ai-chat.types.ts
  src/features/editor/lib/wasm-parser/loader.ts
Due: rust-fmt-workspace, typescript-check, biome-check

Fix TypeScript errors and formatting
  src/features/ai/components/chat/ai-chat.tsx
  src/features/ai/components/input/chat-input-bar.tsx
  src/features/ai/types/ai-chat.types.ts
  src/features/editor/lib/wasm-parser/loader.ts
Due: typescript-check, biome-check

Standardize workbench interactions and surfaces
  src/extensions/ui/components/extension-diff-preview.tsx
  src/extensions/ui/components/extension-view-renderer.tsx
  src/features/ai/components/chat/chat-activity-line.tsx
  src/features/docker/components/docker-resource-rows.tsx
  src/features/git/components/diff/git-diff-text.tsx
  src/features/global-search/components/search-excerpt-code.tsx
  src/features/layout/components/bottom-pane/bottom-pane.tsx
  src/features/layout/components/resizable-pane.tsx
  src/features/layout/components/sidebar/activity-bar.tsx
  src/styles/base.css
  src/styles/window-transparency.css
  src/ui/accordion.tsx
  src/ui/combobox.tsx
  src/ui/command.tsx
  src/ui/context-menu.tsx
  src/ui/dropdown.tsx
  src/ui/hover-card.tsx
  src/ui/menubar.tsx
  src/ui/select.tsx
  src/ui/sidebar.tsx
Due: typescript-check, biome-check

Unify multibuffer navigation and sidebar controls
  src/features/diagnostics/components/diagnostics-pane.tsx
  src/features/diagnostics/components/diagnostics-toolbar.tsx
  src/features/editor/components/multibuffer/multibuffer-file-header.tsx
  src/features/editor/components/multibuffer/multibuffer-file-stepper.tsx
  src/features/editor/components/multibuffer/multibuffer-navigator-toggle.tsx
  src/features/editor/components/multibuffer/multibuffer-workspace.tsx
  src/features/editor/components/toolbar/breadcrumb.tsx
  src/features/editor/tests/multibuffer-file-header.test.tsx
  src/features/editor/tests/multibuffer-file-keyboard.test.tsx
  src/features/editor/tests/multibuffer-file-stepper.test.tsx
  src/features/file-explorer/components/file-explorer-tree.tsx
  src/features/file-explorer/components/file-navigator-sidebar.tsx
  src/features/file-explorer/components/file-results-workspace.tsx
  src/features/file-explorer/tests/file-results-workspace.test.tsx
  src/features/git/components/diff/git-diff-editor-stack.tsx
  src/features/git/components/diff/review-workspace.tsx
  src/features/git/components/git-view.tsx
  src/features/git/components/status/git-status-file-item.tsx
  src/features/git/components/status/git-status-panel.tsx
  src/features/git/hooks/use-git-diff-actions.ts
  src/features/git/tests/diff-viewer-pane-isolation.test.tsx
  src/features/git/tests/git-status-row-stability.test.tsx
  src/features/git/tests/git-status-sections.test.tsx
  src/features/git/tests/review-workspace.test.tsx
  src/features/git/types/git-diff.types.ts
  src/features/github/components/github-pr-viewer.tsx
  src/features/github/components/pr-files-panel.tsx
  src/features/github/tests/pr-files-panel.test.tsx
  src/features/global-search/components/global-search-buffer.tsx
  src/features/global-search/components/global-search-results.tsx
  src/features/global-search/components/global-search-toolbar.tsx
  src/features/global-search/components/search-excerpt-results.tsx
  src/features/global-search/tests/search-excerpt-virtualization.test.ts
  src/features/global-search/utils/search-excerpt-virtualization.ts
  src/features/settings/config/default-settings.ts
  src/ui/checkbox.tsx
Due: typescript-check, biome-check

Move databases and workspaces into standard sidebars
  extensions/official/duckdb/icon.svg
  extensions/official/mongodb/icon.svg
  extensions/official/mysql/icon.svg
  extensions/official/postgres/icon.svg
  extensions/official/redis/icon.svg
  extensions/official/sqlite/icon.svg
  src/extensions/tests/extension-browser-catalog.test.ts
  src/extensions/ui/components/build-extension-catalog.ts
  src/features/command-palette/components/command-palette.tsx
  src/features/command-palette/constants/database-actions.tsx
  src/features/command-palette/types/view.types.ts
  src/features/database/components/connection/connection-dialog.tsx
  src/features/database/components/database-sidebar.tsx
  src/features/database/tests/database-sidebar.test.tsx
  src/features/keymaps/commands/command-registry.ts
  src/features/layout/components/main-layout.tsx
  src/features/layout/components/sidebar/activity-bar.tsx
  src/features/layout/components/sidebar/sidebar-pane.tsx
  src/features/layout/hooks/use-activity-navigation-items.tsx
  src/features/layout/tests/sidebar-pane-utils.test.ts
  src/features/layout/utils/sidebar-pane-utils.ts
  src/features/workspace/team/components/workspace-management-view.tsx
  src/features/workspace/team/components/workspace-sidebar.tsx
  src/features/workspace/team/config/workspace-sections.tsx
  src/features/workspace/team/hooks/use-workspace-selection.ts
  src/features/workspace/team/services/open-workspace-management.ts
  src/features/workspace/tests/workspace-sidebar.test.tsx
  src/ui/brand-marks.tsx
Due: typescript-check, biome-check

Align outline filtering and hover states
  src/features/outline/components/outline-sidebar.tsx
  src/features/outline/components/outline-symbol-row.tsx
  src/features/outline/tests/outline-sidebar.test.tsx
Due: typescript-check, biome-check

Add an agent context sidebar
  src/features/ai/components/chat/chat-header.tsx
  src/features/ai/components/panel/agent-context-sidebar.tsx
  src/features/ai/intelligence/services/intelligence-agent.ts
  src/features/ai/lib/agent-session-context.ts
  src/features/ai/tests/agent-session-context.test.ts
  src/features/layout/components/sidebar/sidebar-pane.tsx
  src/features/layout/utils/sidebar-pane-utils.ts
  src/ui/icons.tsx
Due: typescript-check, biome-check

Run terminal commands from the chat composer
  crates/ai/src/workspace_command.rs
  src-tauri/src/commands/ai/intelligence.rs
  src-tauri/src/main.rs
  src/features/ai/components/agent-launch-input.tsx
  src/features/ai/components/chat/chat-activity-line.tsx
  src/features/ai/components/chat/chat-messages.tsx
  src/features/ai/components/chat/chat-terminal-command.tsx
  src/features/ai/components/input/chat-input-bar.tsx
  src/features/ai/services/chat-terminal-command.ts
  src/features/ai/tests/chat-terminal-command.test.tsx
  src/features/ai/tests/composer-ime.test.tsx
  src/features/ai/types/ai-chat.types.ts
  src/features/ai/utils/composer-terminal-command.ts
  src/ui/composer.tsx
Due: rust-fmt-workspace, typescript-check, biome-check

Reduce rendering work and expose performance experiments
  bun.lock
  package.json
  scripts/vite/react-compiler.ts
  scripts/vite/tests/react-compiler.test.tsx
  src/features/ai/components/chat/chat-messages.tsx
  src/features/editor/components/monaco-editor.tsx
  src/features/editor/components/monaco-readonly-view.tsx
  src/features/editor/engines/monaco/use-monaco-editor-settings.ts
  src/features/editor/engines/monaco/use-webgpu-support.ts
  src/features/editor/markdown/code-highlight.ts
  src/features/editor/notebook/notebook-code-cell-editor.tsx
  src/features/editor/tests/markdown-code-highlight.test.ts
  src/features/git/services/working-tree-diff-loader.ts
  src/features/keymaps/commands/command-registry.ts
  src/features/layout/components/main-layout.tsx
  src/features/layout/components/performance-monitor.tsx
  src/features/layout/components/sidebar/sidebar-pane.tsx
  src/features/layout/tests/sidebar-activity.test.tsx
  src/features/settings/components/tabs/advanced-settings.tsx
  src/features/settings/stores/performance-experiments.store.ts
  src/ui/message-scroller.tsx
  src/utils/tests/yield-to-main.test.ts
  src/utils/yield-to-main.ts
  tsconfig.node.json
  vite.config.ts
Due: typescript-check, biome-check

Avoid retrying rejected cloud session payloads
  src/features/sharing/components/sharing-runtime.tsx
  src/features/sharing/services/share-api.ts
  src/features/sharing/tests/sharing-runtime.test.ts
Due: typescript-check, biome-check

Fix frontend formatting to unblock CI
  src/features/editor/hooks/use-lsp-integration.ts
  src/features/editor/lsp/lsp-client.ts
  src/features/editor/tests/lsp-document-sync.test.ts
  src/features/file-explorer/lib/visible-file-tree-rows.ts
  src/features/file-system/stores/file-system.store.ts
  src/features/file-system/tests/subtree-preload-queue.test.ts
Due: typescript-check, biome-check

fix(linux): fall back to --no-sandbox when userns sandboxing is unavailable
  Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/bootstrap/linux.rs
  src-tauri/src/commands/development/cli_args.rs
Due: rust-fmt-workspace

Remove class names whose styles no longer exist
  src/extensions/ui/components/extension-diff-preview.tsx
  src/features/ai/components/input/chat-input-bar.tsx
  src/features/editor/components/html/html-preview.tsx
  src/features/file-explorer/components/file-explorer-tree-item.tsx
  src/features/file-explorer/components/file-explorer-tree.tsx
  src/features/file-explorer/components/file-explorer-viewport.tsx
  src/features/git/components/diff/git-diff-hunk-header.tsx
  src/features/git/components/diff/git-diff-line.tsx
  src/features/git/components/diff/git-diff-text.tsx
  src/features/global-search/components/search-excerpt-code.tsx
  src/features/sidebar/components/sidebar-tree.tsx
Due: typescript-check, biome-check

Fix drop targets and focus rings that used missing styles
  src/features/file-explorer/components/file-explorer-tree-item.tsx
  src/features/file-explorer/components/file-explorer-tree.tsx
  src/features/github/components/github-inline-editors.tsx
  src/features/panes/components/pane-resize-handle.tsx
Due: typescript-check, biome-check

Replace one-off class values with theme tokens
  src/features/ai/components/agent-session-sidebar-item.tsx
  src/features/ai/components/messages/markdown-renderer.tsx
  src/features/database/providers/redis/redis-viewer.tsx
  src/features/editor/markdown/markdown-preview.tsx
  src/features/editor/notebook/notebook-editor.tsx
  src/features/file-explorer/components/file-explorer-viewport.tsx
  src/features/git/components/diff/git-diff-image.tsx
  src/features/git/components/git-tag-manager.tsx
  src/features/panes/components/split-drop-overlay.tsx
  src/styles/theme.css
  src/styles/utilities.css
  src/ui/checkbox.tsx
  src/ui/command.tsx
  src/ui/input.tsx
  src/ui/textarea.tsx
Due: typescript-check, biome-check

Keep custom utilities when merging classes
  src/utils/cn.ts
Due: typescript-check, biome-check

Enforce the design system with @shadcn/lint
  AGENTS.md
  bun.lock
  package.json
  scripts/check/design-advisory.json
  scripts/check/design-system.ts
  src/features/editor/components/selection/editor-selection-agent-action.tsx
  vite.config.ts
Due: typescript-check, biome-check

Use shadcn scroll-fade and shimmer utilities
  src/styles.css
  src/styles/shadcn-effects.css
  src/styles/utilities.css
  src/ui/message-scroller.tsx
  src/ui/shimmer.tsx
Due: typescript-check, biome-check

Rewrite Tailwind classes to their canonical form
  bun.lock
  package.json
  src/extensions/ui/components/extension-view-renderer.tsx
  src/features/file-explorer/components/file-explorer-tree-item.tsx
  src/features/github/delivery/components/github-delivery-viewer.tsx
  src/features/github/delivery/components/release-assets.tsx
  src/features/sidebar/components/sidebar-tree.tsx
  src/features/tabs/components/tab-bar.tsx
  src/features/window/tests/title-bar-controls.test.ts
  src/ui/button.tsx
  src/ui/composer.tsx
  src/ui/dropdown.tsx
  src/ui/sidebar.tsx
  src/ui/slider.tsx
  src/ui/workbench.tsx
  vite.config.ts
Due: typescript-check, biome-check

Move class merging to the cn package
  bun.lock
  package.json
  src/utils/cn.ts
Due: typescript-check, biome-check

Give coding agents the shadcn skill and MCP server
  .claude/skills/shadcn/SKILL.md
  .claude/skills/shadcn/agents/openai.yml
  .claude/skills/shadcn/assets/shadcn-small.png
  .claude/skills/shadcn/assets/shadcn.png
  .claude/skills/shadcn/cli.md
  .claude/skills/shadcn/customization.md
  .claude/skills/shadcn/evals/evals.json
  .claude/skills/shadcn/mcp.md
  .claude/skills/shadcn/registry.md
  .claude/skills/shadcn/rules/base-vs-radix.md
  .claude/skills/shadcn/rules/chat.md
  .claude/skills/shadcn/rules/composition.md
  .claude/skills/shadcn/rules/forms.md
  .claude/skills/shadcn/rules/icons.md
  .claude/skills/shadcn/rules/styling.md
  .mcp.json
  skills-lock.json
  vite.config.ts
Due: typescript-check, biome-check

Style chat markdown with shadcn Typeset
  src/features/ai/components/messages/markdown-renderer.tsx
  src/styles.css
  src/styles/typeset-presets.css
  src/styles/typeset.css
  src/styles/utilities.css
  src/ui/text-link.tsx
Due: typescript-check, biome-check

Style previews and GitHub markdown with Typeset
  scripts/check/design-advisory.json
  src/features/editor/markdown/markdown-preview.tsx
  src/features/editor/markdown/styles.css
  src/features/editor/notebook/notebook-editor.tsx
  src/features/github/components/github-markdown.tsx
  src/features/github/styles/github-markdown.css
  src/features/onboarding/components/release-notes-content.tsx
  src/styles/typeset-presets.css
Due: typescript-check, biome-check

Add the shadcn Questionnaire primitive
  bun.lock
  package.json
  src/ui/questionnaire.tsx
Due: typescript-check, biome-check

Answer agent questions through ACP elicitation
  Cargo.lock
  crates/ai/src/acp/bridge.rs
  crates/ai/src/acp/bridge_commands.rs
  crates/ai/src/acp/bridge_init.rs
  crates/ai/src/acp/client.rs
  crates/ai/src/acp/types.rs
  src-tauri/src/commands/ai/acp.rs
  src-tauri/src/main.rs
  src/features/ai/components/chat/acp-question-prompt.tsx
  src/features/ai/components/chat/ai-chat.tsx
  src/features/ai/hooks/use-acp-questions.ts
  src/features/ai/lib/acp-elicitation.ts
  src/features/ai/services/acp-stream-handler.ts
  src/features/ai/services/agent-native-notifications.ts
  src/features/ai/tests/acp-elicitation.test.ts
  src/features/ai/tests/acp-stream-handler.test.ts
  src/features/ai/types/acp.types.ts
Due: rust-fmt-workspace, typescript-check, biome-check
