Repository athasdev/athas: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-fmt-workspace, typescript-check, biome-check

.pre-commit-config.yaml:

# Pre-commit hooks configuration for Rust + TypeScript/React project
# See https://pre-commit.com for more information

repos:
  # Rust hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-toml
      - id: check-json
        exclude: 'tsconfig.*\.json$'
      - id: check-merge-conflict

  # Rust formatting only (clippy/check too heavy for CI)
  - repo: local
    hooks:
      - id: rust-fmt-workspace
        name: Rust format (workspace)
        entry: cargo fmt
        args: ['--all', '--check']
        language: system
        files: '\.rs$'
        pass_filenames: false

  # TypeScript/JavaScript with Biome and type checking
  - repo: local
    hooks:
      - id: typescript-check
        name: TypeScript check
        entry: bun
        args: ['typecheck']
        language: system
        files: \.(ts|tsx)$
        pass_filenames: false
      - id: biome-check
        name: Biome check
        entry: bun
        args: ['check', '--write']
        language: system
        files: \.(js|jsx|ts|tsx|json)$
        pass_filenames: false

  # Commit message validation
  - repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
    rev: v9.18.0
    hooks:
      - id: commitlint
        stages: [commit-msg]
        additional_dependencies: ['@commitlint/cli']

Improve fallback positioning in getScreenCenter
  src/features/file-system/controllers/platform.ts
Due: typescript-check, biome-check

Create extension marketplace structure
  Cargo.lock
  docs/EXTENSION_SETUP.md
  scripts/setup-lsp-servers.sh
  src-tauri/Cargo.toml
  src-tauri/src/commands/extensions.rs
  src-tauri/src/commands/lsp.rs
  src-tauri/src/commands/mod.rs
  src-tauri/src/lsp/client.rs
  src-tauri/src/lsp/config.rs
  src-tauri/src/lsp/manager.rs
  src-tauri/src/main.rs
  src-tauri/tauri.conf.json
  src/App.tsx
  src/extensions/README.md
  src/extensions/bundled/.gitignore
  src/extensions/bundled/rust/extension.json
  src/extensions/bundled/rust/lsp/.gitkeep
  src/extensions/bundled/typescript/extension.json
  src/extensions/bundled/typescript/lsp/.gitkeep
  src/extensions/loader/extension-loader.ts
  src/extensions/marketplace/services/extension-downloader.ts
  src/extensions/marketplace/types/marketplace.ts
  src/extensions/registry/extension-registry.ts
  src/extensions/types/extension-manifest.ts
  src/features/diagnostics/diagnostics-store.ts
  src/features/editor/lsp/lsp-client.ts
  src/features/editor/stores/buffer-store.ts
  src/features/extensions/components/extensions-view.tsx
  src/features/layout/components/bottom-pane/bottom-pane.tsx
  src/features/layout/components/footer/editor-footer.tsx
  src/features/layout/components/main-layout.tsx
Due: rust-fmt-workspace, typescript-check, biome-check

Remove welcome screen and CLI install prompt
  src/App.tsx
  src/extensions/themes/builtin/athas.json
  src/features/settings/store.ts
  src/features/window/cli-install-prompt.tsx
  src/features/window/custom-title-bar.tsx
  src/features/window/welcome-screen.tsx
  src/styles.css
Due: typescript-check, biome-check

Remove welcome screen and CLI install prompt (#397)
  src/App.tsx
  src/extensions/themes/builtin/athas.json
  src/features/settings/store.ts
  src/features/window/cli-install-prompt.tsx
  src/features/window/custom-title-bar.tsx
  src/features/window/welcome-screen.tsx
  src/styles.css
Due: typescript-check, biome-check

Fixed some issues and bugs
  src/features/vim/core/core/grammar/compat.ts
  src/features/vim/core/core/grammar/executor.ts
  src/features/vim/core/core/grammar/tokens.ts
  src/features/vim/core/operators/delete-operator.ts
  src/features/vim/core/operators/yank-operator.ts
  src/features/vim/hooks/use-vim-keyboard.ts
  src/features/vim/stores/vim-editing.ts
  src/features/vim/stores/vim-store.ts
Due: typescript-check, biome-check

Add drag & drop support to project tabs
  docs/project-tabs.md
  src/features/editor/stores/buffer-store.ts
  src/features/file-system/components/project-name-menu.tsx
  src/features/file-system/controllers/platform.ts
  src/features/file-system/controllers/store.ts
  src/features/file-system/types/interface.ts
  src/features/layout/components/sidebar/main-sidebar.tsx
  src/features/tabs/components/tab-bar-item.tsx
  src/features/tabs/components/tab-bar.tsx
  src/features/tabs/components/tab-drag-preview.tsx
  src/features/window/components/project-tabs-context-menu.tsx
  src/features/window/components/project-tabs.tsx
  src/features/window/custom-title-bar.tsx
  src/features/window/menu-bar/menu-item.tsx
  src/hooks/use-platform.ts
  src/stores/project-store.ts
  src/stores/workspace-tabs-store.ts
  src/utils/platform.ts
Due: typescript-check, biome-check

Add root folder to file-tree by default
  src/features/file-system/controllers/store.ts
  src/features/layout/components/sidebar/main-sidebar.tsx
Due: typescript-check, biome-check

Add workspace restoration logic
  docs/project-tabs.md
  src/features/file-system/controllers/platform.ts
  src/features/file-system/controllers/store.ts
  src/features/file-system/types/interface.ts
  src/features/layout/components/main-layout.tsx
  src/features/window/components/project-tabs.tsx
  src/hooks/use-context-menu.ts
  src/hooks/use-folder-drop.ts
  src/ui/context-menu.tsx
Due: typescript-check, biome-check

Add project tabs for multi-workspace support (#398)
  docs/project-tabs.md
  src/features/editor/stores/buffer-store.ts
  src/features/file-system/components/project-name-menu.tsx
  src/features/file-system/controllers/platform.ts
  src/features/file-system/controllers/store.ts
  src/features/file-system/types/interface.ts
  src/features/layout/components/main-layout.tsx
  src/features/layout/components/sidebar/main-sidebar.tsx
  src/features/tabs/components/tab-bar-item.tsx
  src/features/tabs/components/tab-bar.tsx
  src/features/tabs/components/tab-drag-preview.tsx
  src/features/window/components/project-tabs-context-menu.tsx
  src/features/window/components/project-tabs.tsx
  src/features/window/custom-title-bar.tsx
  src/features/window/menu-bar/menu-item.tsx
  src/hooks/use-context-menu.ts
  src/hooks/use-folder-drop.ts
  src/hooks/use-platform.ts
  src/stores/project-store.ts
  src/stores/workspace-tabs-store.ts
  src/ui/context-menu.tsx
  src/utils/platform.ts
Due: typescript-check, biome-check

Fix Windows build errors in CLI and search commands
  .rules
  src-tauri/src/commands/cli.rs
  src-tauri/src/commands/window.rs
Due: rust-fmt-workspace

Add missing steps for Windows development setup docs
  docs/contributing/setup/windows.md
Due: none

Fix Windows build errors in CLI and search commands (#399)
  .rules
  docs/contributing/setup/windows.md
  src-tauri/src/commands/cli.rs
  src-tauri/src/commands/window.rs
Due: rust-fmt-workspace

Bump version to 0.2.4
  package.json
  src-tauri/tauri.conf.json
Due: biome-check

Add GPT-5 models to providers
  src/features/ai/types/providers.ts
Due: typescript-check, biome-check

Add GPT-5 family models to providers.ts (#401)
  src/features/ai/types/providers.ts
Due: typescript-check, biome-check

Add support for nested file paths when creating new files (#367)
  src/features/file-system/controllers/store.ts
Due: typescript-check, biome-check

Remove unused import path::Path on cli.rs
  src-tauri/src/commands/cli.rs
  src-tauri/src/lsp/client.rs
Due: rust-fmt-workspace

Remove unused import path::Path on cli.rs (#402)
  src-tauri/src/commands/cli.rs
  src-tauri/src/lsp/client.rs
Due: rust-fmt-workspace

Add 4.x model family
  src/features/ai/types/providers.ts
Due: typescript-check, biome-check

Fix native menu bar toggle and startup behavior on Linux
  src-tauri/src/main.rs
  src-tauri/src/menu.rs
  src/features/settings/components/tabs/theme-settings.tsx
Due: rust-fmt-workspace, typescript-check, biome-check

Fix command palette native menu bar toggle to sync with backend
  src/features/command-palette/constants/view-actions.tsx
Due: typescript-check, biome-check

Fix native menu bar behavior on Linux (#406)
  src-tauri/src/main.rs
  src-tauri/src/menu.rs
  src/features/command-palette/constants/view-actions.tsx
  src/features/settings/components/tabs/theme-settings.tsx
Due: rust-fmt-workspace, typescript-check, biome-check

Update Windows download file format from .msi to .exe
  .github/workflows/release.yml
Due: none

Fix SSH resource leaks by properly closing SFTP handles and channels
  src-tauri/src/ssh.rs
Due: rust-fmt-workspace

Fix SSH resource leaks by properly closing SFTP handles and channels
  package.json
Due: biome-check

Fix pre-commit command syntax in package.json
  package.json
Due: biome-check

Fix the formatting in the rust files
  src-tauri/src/ssh.rs
Due: rust-fmt-workspace

Fixing up some memory leaks in the frontend, made possible by Cursor.com
  src/features/terminal/components/terminal-container.tsx
  src/features/terminal/components/terminal.tsx
  src/features/version-control/git/components/git-commit-history.tsx
  src/features/window/hooks/use-keyboard-shortcuts.ts
  src/features/window/hooks/use-menu-events.ts
  src/stores/app-store.ts
Due: typescript-check, biome-check

Making sure you can exit out of a terminal
  src/features/terminal/components/terminal-container.tsx
  src/features/terminal/components/terminal-session.tsx
  src/features/terminal/components/terminal.tsx
Due: typescript-check, biome-check

Fix workspace switcher not restoring opened file
  src/features/editor/stores/buffer-store.ts
  src/features/file-system/controllers/store.ts
  src/stores/session-store.ts
Due: typescript-check, biome-check

Refactor terminal tabs and enhance search UI
  README.md
  docs/contributing/terminal-architecture.md
  docs/terminal.md
  src/features/terminal/components/terminal-container.tsx
  src/features/terminal/components/terminal-search.tsx
  src/features/terminal/components/terminal-tab-bar-item.tsx
  src/features/terminal/components/terminal-tab-bar.tsx
  src/features/terminal/components/terminal-tab-context-menu.tsx
  src/features/terminal/components/terminal.tsx
  src/features/terminal/hooks/use-terminal-tabs.ts
  src/features/terminal/types/terminal.ts
  src/stores/terminal-profiles-store.ts
Due: typescript-check, biome-check

Update Windows download file format from .msi to .exe (#408)
  .github/workflows/release.yml
Due: none

Remove trailing tab character from claude-opus-4-1 model ID
  src/features/ai/types/providers.ts
Due: typescript-check, biome-check

Add Claude4.x model family (#405)
  src/features/ai/types/providers.ts
Due: typescript-check, biome-check

Fix SSH resource leaks by properly closing SFTP handles and channels (#410)
  src-tauri/src/ssh.rs
Due: rust-fmt-workspace

Fix frontend memory leaks in React components
  src/features/terminal/components/terminal-container.tsx
  src/features/terminal/components/terminal.tsx
  src/features/version-control/git/components/git-commit-history.tsx
  src/features/window/hooks/use-keyboard-shortcuts.ts
  src/features/window/hooks/use-menu-events.ts
  src/stores/app-store.ts
Due: typescript-check, biome-check
