Repository athasdev/athas: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-fmt-workspace, typescript-check, biome-check

.pre-commit-config.yaml:

# Pre-commit hooks configuration for Rust + TypeScript/React project
# See https://pre-commit.com for more information

repos:
  # Rust hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-toml
      - id: check-json
        exclude: 'tsconfig.*\.json$'
      - id: check-merge-conflict

  # Rust formatting only (clippy/check too heavy for CI)
  - repo: local
    hooks:
      - id: rust-fmt-workspace
        name: Rust format (workspace)
        entry: cargo fmt
        args: ['--all', '--check']
        language: system
        files: '\.rs$'
        pass_filenames: false

  # TypeScript/JavaScript with Biome and type checking
  - repo: local
    hooks:
      - id: typescript-check
        name: TypeScript check
        entry: bun
        args: ['typecheck']
        language: system
        files: \.(ts|tsx)$
        pass_filenames: false
      - id: biome-check
        name: Biome check
        entry: bun
        args: ['check', '--write']
        language: system
        files: \.(js|jsx|ts|tsx|json)$
        pass_filenames: false

  # Commit message validation
  - repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
    rev: v9.18.0
    hooks:
      - id: commitlint
        stages: [commit-msg]
        additional_dependencies: ['@commitlint/cli']

Fix syntax highlighting broken after update from older versions
  src/features/editor/extensions/builtin/syntax-highlighting.ts
  src/features/editor/hooks/use-tokenizer.ts
Due: typescript-check, biome-check

Handle macOS text replacement input in terminal
  src/features/terminal/components/terminal.tsx
Due: typescript-check, biome-check

Fix menu not closing when clicking outside on Windows
  src/features/window/menu-bar/index.tsx
Due: typescript-check, biome-check

Allow creating new files without an open folder
  src/features/editor/stores/buffer-store.ts
  src/features/file-system/controllers/store.ts
  src/stores/app-store.ts
Due: typescript-check, biome-check

Add provider SVG icons to all AI model selectors
  src/features/ai/components/icons/provider-icons.tsx
  src/features/ai/components/selectors/model-provider-selector.tsx
  src/features/ai/components/selectors/model-selector-dropdown.tsx
  src/features/ai/components/selectors/unified-agent-selector.tsx
  src/features/editor/components/inline-edit-model-selector.tsx
  src/features/settings/components/tabs/ai-settings.tsx
  src/ui/dropdown.tsx
  src/ui/searchable-model-dropdown.tsx
Due: typescript-check, biome-check

Unify AI provider and model selection into a single dropdown
  src/features/ai/components/selectors/ai-model-selector.tsx
  src/features/ai/components/selectors/model-provider-selector.tsx
  src/features/ai/components/selectors/model-selector-dropdown.tsx
  src/features/ai/components/selectors/unified-agent-selector.tsx
  src/features/settings/components/tabs/ai-settings.tsx
  src/ui/searchable-model-dropdown.tsx
Due: typescript-check, biome-check

Rename Go to File to Quick Open across menus and commands
  src-tauri/src/main.rs
  src-tauri/src/menu.rs
  src/features/ai/components/mentions/file-mention-dropdown.tsx
  src/features/command-palette/constants/navigation-actions.tsx
  src/features/global-search/utils/file-filtering.ts
  src/features/quick-open/utils/file-filtering.ts
  src/features/settings/config/search-index.ts
  src/features/window/hooks/use-menu-events-wrapper.ts
  src/features/window/hooks/use-menu-events.ts
  src/features/window/menu-bar/index.tsx
Due: rust-fmt-workspace, typescript-check, biome-check

Default AI provider to Anthropic, small coding models
  src/features/ai/types/providers.ts
  src/features/editor/components/editor.tsx
  src/features/layout/components/footer/editor-footer.tsx
  src/features/settings/components/tabs/ai-settings.tsx
  src/features/settings/store.ts
Due: typescript-check, biome-check

Add sticky gutter and lock horizontal scroll on file preview
  src/features/global-search/components/file-preview.tsx
Due: typescript-check, biome-check

Fix diff viewer hunk accordions and git pane section layout
  src/features/git/components/commit-history.tsx
  src/features/git/components/diff/text.tsx
  src/features/git/components/stash/panel.tsx
  src/features/git/components/view.tsx
  src/features/git/hooks/use-diff-view.ts
Due: typescript-check, biome-check

Fix syntax highlighting token precedence and add XML support
  public/tree-sitter/parsers/markdown/highlights.scm
  src/features/editor/components/editor.tsx
  src/features/editor/components/layers/git-blame-layer.tsx
  src/features/editor/lib/wasm-parser/extension-assets.ts
  src/features/editor/lib/wasm-parser/tokenizer.ts
  src/features/editor/markdown/language-map.ts
  src/features/editor/utils/language-id.ts
Due: typescript-check, biome-check

Fix broken editor state on file switch and refactor editor into hooks
  src/features/editor/components/editor.tsx
  src/features/editor/components/layers/input-layer.tsx
  src/features/editor/hooks/use-buffer-switch.ts
  src/features/editor/hooks/use-editor-keydown.ts
  src/features/editor/hooks/use-editor-scroll.ts
  src/features/editor/hooks/use-inline-edit.ts
  src/features/editor/hooks/use-tokenizer.ts
  src/features/editor/stores/state-store.ts
  src/features/editor/stores/ui-store.ts
Due: typescript-check, biome-check

Fix terminal font rendering on Windows with platform-aware fallbacks
  src/features/terminal/components/terminal.tsx
  src/features/terminal/utils/resolve-font.ts
Due: typescript-check, biome-check

Add adjustable UI font size and icon scaling
  src/features/settings/components/font-style-injector.tsx
  src/features/settings/components/tabs/appearance-settings.tsx
  src/features/settings/config/search-index.ts
  src/features/settings/lib/appearance-bootstrap.ts
  src/features/settings/lib/ui-font-size.test.ts
  src/features/settings/lib/ui-font-size.ts
  src/features/settings/store.ts
  src/styles/theme.css
  src/ui/dropdown.tsx
  src/ui/input.tsx
  src/ui/number-input.tsx
Due: typescript-check, biome-check

Fix Windows file drop handling and reduce file tree lag on large repos
  src/features/file-explorer/components/file-tree.tsx
  src/features/layout/components/main-layout.tsx
  src/features/panes/components/pane-container.tsx
  src/utils/dropped-file-paths.test.ts
  src/utils/dropped-file-paths.ts
Due: typescript-check, biome-check

Add file and folder opening from CLI and deep links
  src-tauri/src/commands/development/cli.rs
  src-tauri/src/commands/development/cli_args.rs
  src-tauri/src/commands/development/mod.rs
  src-tauri/src/main.rs
  src/App.tsx
  src/hooks/use-cli-open.ts
  src/hooks/use-deep-link.ts
  src/utils/open-request.test.ts
  src/utils/open-request.ts
Due: rust-fmt-workspace, typescript-check, biome-check

Use bundled parser assets for language extension installs
  src/extensions/languages/language-packager.test.ts
  src/extensions/languages/language-packager.ts
Due: typescript-check, biome-check

Add configurable Ollama endpoint URL
  src/features/settings/components/tabs/ai-settings.tsx
  src/features/settings/config/search-index.ts
  src/features/settings/store.ts
  src/utils/providers/index.ts
  src/utils/providers/ollama-provider.ts
Due: typescript-check, biome-check

Fix model selector search and enlarge provider labels
  src/features/ai/components/selectors/ai-model-selector.tsx
Due: typescript-check, biome-check

Make model selector search full-width and show all models
  src/features/ai/components/selectors/ai-model-selector.tsx
Due: typescript-check, biome-check

Make provider headers clickable in model selector
  src/features/ai/components/selectors/ai-model-selector.tsx
Due: typescript-check, biome-check

Refactor model selector provider actions into pill buttons
  src/features/ai/components/selectors/ai-model-selector.tsx
Due: typescript-check, biome-check

Add inline Ollama URL editor and update provider icons
  src/features/ai/components/icons/provider-icons.tsx
  src/features/ai/components/selectors/ai-model-selector.tsx
Due: typescript-check, biome-check

Flatten inline editors in model selector to match search style
  src/features/ai/components/selectors/ai-model-selector.tsx
Due: typescript-check, biome-check

Fix Save button styling in model selector inline editors
  src/features/ai/components/selectors/ai-model-selector.tsx
Due: typescript-check, biome-check

Fix language servers not activating after installation
  src-tauri/src/commands/development/tools.rs
  src-tauri/src/features/tools/installer.rs
  src/extensions/registry/extension-store.ts
  src/features/editor/lsp/lsp-client.ts
Due: rust-fmt-workspace, typescript-check, biome-check

Fix CLI script containing macOS commands on Linux
  src-tauri/src/commands/development/cli.rs
  src-tauri/src/main.rs
Due: rust-fmt-workspace

Fix stale highlighted text after deleting content in new files
  src/features/binary-viewer/components/binary-file-viewer.tsx
  src/features/editor/components/editor.tsx
  src/features/global-search/components/file-preview.tsx
Due: typescript-check, biome-check

Improve Problems pane UX and diagnostics quick actions
  src-tauri/src/commands/development/lsp.rs
  src-tauri/src/lsp/client.rs
  src-tauri/src/lsp/manager.rs
  src-tauri/src/main.rs
  src/features/diagnostics/diagnostics-pane.tsx
  src/features/diagnostics/stores/diagnostics-store.ts
  src/features/diagnostics/types.ts
  src/features/editor/lsp/lsp-client.ts
  src/features/layout/components/bottom-pane/bottom-pane.tsx
  src/features/layout/components/main-layout.tsx
  src/ui/context-menu.tsx
Due: rust-fmt-workspace, typescript-check, biome-check

Fix clippy warnings in Rust codebase
  src-tauri/src/commands/development/cli_args.rs
  src-tauri/src/features/tools/installer.rs
Due: rust-fmt-workspace

Bump version to 0.4.3
  package.json
  src-tauri/tauri.conf.json
Due: biome-check

Fix syntax highlighting broken in production builds
  src-tauri/tauri.conf.json
Due: biome-check

Bump version to 0.4.4
  package.json
  src-tauri/tauri.conf.json
Due: biome-check

Overhaul SQLite database viewer with security fixes and new features
  docs/database-viewer.mdx
  docs/meta.json
  src-tauri/src/commands/database/sqlite.rs
  src-tauri/src/main.rs
  src/features/database/models/common.types.ts
  src/features/database/models/provider.types.ts
  src/features/database/providers/sqlite/components/cell-renderer.test.ts
  src/features/database/providers/sqlite/components/cell-renderer.tsx
  src/features/database/providers/sqlite/components/data-grid.tsx
  src/features/database/providers/sqlite/components/filter-bar.test.ts
  src/features/database/providers/sqlite/components/filter-bar.tsx
  src/features/database/providers/sqlite/components/pagination-controls.tsx
  src/features/database/providers/sqlite/components/query-bar.tsx
  src/features/database/providers/sqlite/components/schema-view.tsx
  src/features/database/providers/sqlite/components/table-sidebar.tsx
  src/features/database/providers/sqlite/components/table-toolbar.tsx
  src/features/database/providers/sqlite/hooks/use-cell-copy.ts
  src/features/database/providers/sqlite/hooks/use-column-resize.test.ts
  src/features/database/providers/sqlite/hooks/use-column-resize.ts
  src/features/database/providers/sqlite/hooks/use-fk-navigation.ts
  src/features/database/providers/sqlite/sqlite-viewer.tsx
  src/features/database/providers/sqlite/stores/sqlite-store.ts
  src/features/database/providers/sqlite/types/index.ts
Due: rust-fmt-workspace, typescript-check, biome-check

Fix hard-coded index bound in mention dropdown navigation
  src/components/ai-chat/ai-chat-input-bar.tsx
  src/stores/ai-chat/store.ts
  src/stores/ai-chat/types.ts
Due: typescript-check, biome-check

Chore: prune deprecated AI models
  src/features/ai/types/providers.ts
  src/features/settings/store.ts
Due: typescript-check, biome-check

Fix: migrate deprecated AI model selections
  src/features/ai/types/providers.ts
  src/features/editor/hooks/use-inline-edit.ts
  src/features/layout/components/footer/editor-footer.tsx
  src/features/settings/components/tabs/ai-settings.tsx
  src/features/settings/store.ts
Due: typescript-check, biome-check

Feat: toggle sidebar tabs
  src/features/layout/components/sidebar/sidebar-pane-selector.tsx
  src/features/layout/components/sidebar/sidebar-pane-utils.test.ts
  src/features/layout/components/sidebar/sidebar-pane-utils.ts
  src/features/window/custom-title-bar.tsx
Due: typescript-check, biome-check

Fix: make sidebar recovery obvious
  src/features/layout/components/main-layout.tsx
  src/features/layout/components/resizable-pane-utils.test.ts
  src/features/layout/components/resizable-pane-utils.ts
  src/features/layout/components/resizable-pane.tsx
Due: typescript-check, biome-check

Add Linux UI test launcher
  docs/contributing.mdx
  package.json
  scripts/linux/athas-ui-test.sh
Due: biome-check
