Repository athasdev/athas: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-fmt-workspace, typescript-check, biome-check

rust-fmt-workspace:
  name: Rust format (workspace)
  entry: cargo fmt
  args:
  - --all
  - --check
  language: system
  pass_filenames: false

typescript-check:
  name: TypeScript check
  entry: bun
  args:
  - typecheck
  language: system
  pass_filenames: false

biome-check:
  name: Biome check
  entry: bun
  args:
  - check
  - --write
  language: system
  pass_filenames: false

Clear editor selection after typing
  src/features/editor/components/editor.tsx
Due: typescript-check, biome-check

Preserve workspace state across project switches
  src/features/file-system/controllers/store.ts
  src/features/terminal/lib/terminal-session-storage.ts
  src/features/terminal/tests/terminal-session-storage.test.ts
  src/features/window/stores/workspace-pane-session.ts
  src/features/window/tests/workspace-ui-session.test.ts
Due: typescript-check, biome-check

Isolate AI chats by workspace
  crates/ai/src/chat_history.rs
  src/features/ai/components/chat/chat-header.tsx
  src/features/ai/components/multi-agents-sidebar-view.tsx
  src/features/ai/lib/ai-workspace-scope.ts
  src/features/ai/services/ai-chat-history-service.ts
  src/features/ai/store/store.ts
  src/features/ai/tests/ai-workspace-scope.test.ts
  src/features/ai/types/ai-chat.ts
Due: rust-fmt-workspace, typescript-check, biome-check

Refine terminal tabs and sidebar routing
  src/features/layout/components/footer/footer.tsx
  src/features/layout/components/sidebar/main-sidebar.tsx
  src/features/layout/hooks/use-sidebar-pane-controller.ts
  src/features/terminal/components/terminal-tab-bar-item.tsx
  src/features/terminal/components/terminal-tab-bar.tsx
Due: typescript-check, biome-check

Fix terminal tab renaming
  src/features/tabs/components/tab-bar.tsx
  src/features/tabs/components/tab-context-menu.tsx
  src/features/terminal/components/terminal-container.tsx
  src/features/terminal/components/terminal-tab-bar.tsx
  src/features/terminal/hooks/use-terminal-tabs.ts
  src/features/terminal/lib/terminal-session-storage.ts
  src/features/terminal/types/terminal.ts
Due: typescript-check, biome-check

Stabilize Windows language tool installs
  crates/tooling/src/installer.rs
Due: rust-fmt-workspace

Polish explorer collapse behavior and terminal paste warnings
  src/features/file-explorer/components/file-explorer-tree-item.tsx
  src/features/file-explorer/components/file-explorer-tree.tsx
  src/features/file-explorer/hooks/use-file-explorer-context-menu.tsx
  src/features/file-explorer/styles/file-explorer-tree.css
  src/features/settings/components/tabs/terminal-settings.tsx
  src/features/settings/config/default-settings.ts
  src/features/settings/config/search-index.ts
  src/features/settings/types/settings.ts
  src/features/terminal/components/terminal.tsx
Due: typescript-check, biome-check

Route reopen-closed-tab through handleFileSelect for type-aware open
  src/features/editor/stores/buffer-store.ts
Due: typescript-check, biome-check

Track all reopenable tabs and toast on empty reopen
  src/features/editor/stores/buffer-store.ts
Due: typescript-check, biome-check

Fix reopen-closed-tab for previews and diffs
  src/features/editor/stores/buffer-store.ts
Due: typescript-check, biome-check

Polish pane split drag and drop
  src/features/file-explorer/hooks/use-file-explorer-drag-drop.ts
  src/features/layout/components/main-layout.tsx
  src/features/panes/components/pane-container.tsx
  src/features/panes/components/split-drop-overlay.tsx
  src/features/tabs/components/tab-bar.tsx
  src/features/tabs/utils/internal-tab-drag.ts
Due: typescript-check, biome-check

Fix escape gating for terminal tab drags
  src/features/terminal/components/terminal-tab-bar.tsx
Due: typescript-check, biome-check

Fix pane container and tab bar for current UI APIs
  src/features/panes/components/pane-container.tsx
  src/features/tabs/components/tab-bar.tsx
Due: typescript-check, biome-check

Format reopened buffer store
  src/features/editor/stores/buffer-store.ts
Due: typescript-check, biome-check

Format explorer collapse files
  src/features/file-explorer/components/file-explorer-tree.tsx
  src/features/file-explorer/hooks/use-file-explorer-context-menu.tsx
Due: typescript-check, biome-check

Fix side terminal tab resizing
  src/features/terminal/components/terminal-tab-bar.tsx
  src/features/terminal/tests/terminal-tab-sidebar-resize.test.ts
  src/features/terminal/utils/terminal-tab-sidebar-resize.ts
Due: typescript-check, biome-check

Prepare preview release
  Cargo.lock
  package.json
  src-tauri/Cargo.toml
  src-tauri/tauri.conf.json
Due: biome-check

Fix editor selection layer ordering
  src/features/editor/components/layers/selection-layer.tsx
  src/features/editor/styles/overlay-editor.css
Due: typescript-check, biome-check

Handle extension errors and patch files
  src/features/editor/tests/language-id.test.ts
  src/features/file-system/controllers/store.ts
  src/features/settings/components/tabs/extensions-settings.tsx
Due: typescript-check, biome-check

Fix editor font, scrollbar, and runtime detection issues
  crates/runtime/src/lib.rs
  src/features/editor/styles/overlay-editor.css
  src/features/settings/lib/font-family-resolution.ts
  src/features/settings/tests/font-family-resolution.test.ts
  src/features/settings/tests/settings-normalization.test.ts
Due: rust-fmt-workspace, typescript-check, biome-check

Remove shared caches from release workflow
  .github/workflows/release.yml
Due: none

Route select all to active editor
  src-tauri/src/app_setup.rs
  src-tauri/src/menu.rs
  src/features/window/hooks/use-menu-events-wrapper.ts
  src/features/window/hooks/use-menu-events.ts
Due: rust-fmt-workspace, typescript-check, biome-check

Fix multiline selection rendering
  src/features/editor/tests/selection-boxes.test.ts
  src/features/editor/utils/selection-boxes.ts
Due: typescript-check, biome-check

Fix font resolution test formatting
  src/features/settings/tests/font-family-resolution.test.ts
Due: typescript-check, biome-check

Fix full-line editor selection rendering
  src/features/editor/components/editor.tsx
  src/features/editor/components/layers/selection-layer.tsx
  src/features/editor/tests/selection-boxes.test.ts
  src/features/editor/utils/selection-boxes.ts
Due: typescript-check, biome-check

Align editor selection and cursor layers
  src/features/editor/components/editor.tsx
  src/features/editor/components/large-editor-surface.tsx
  src/features/editor/hooks/use-large-editor-input.ts
  src/features/editor/styles/overlay-editor.css
Due: typescript-check, biome-check

Add built-in CodeSnap code screenshot tab
  Cargo.lock
  bun.lock
  docs/superpowers/plans/2026-05-12-codesnap-implementation.md
  package.json
  src-tauri/Cargo.toml
  src-tauri/capabilities/main.json
  src/features/codesnap/components/codesnap-tab.tsx
  src/features/codesnap/components/preview-frame.tsx
  src/features/codesnap/components/shutter-bar.tsx
  src/features/codesnap/components/width-handle.tsx
  src/features/codesnap/index.ts
  src/features/codesnap/lib/build-default-filename.test.ts
  src/features/codesnap/lib/build-default-filename.ts
  src/features/codesnap/lib/build-token-spans.test.ts
  src/features/codesnap/lib/build-token-spans.ts
  src/features/codesnap/lib/export.ts
  src/features/codesnap/lib/font-embed.ts
  src/features/codesnap/lib/render-png.ts
  src/features/codesnap/lib/snapshot-from-selection.test.ts
  src/features/codesnap/lib/snapshot-from-selection.ts
  src/features/codesnap/lib/triggers.ts
  src/features/codesnap/stores/codesnap-store.ts
  src/features/codesnap/styles/preview-frame.css
  src/features/codesnap/types.ts
  src/features/command-palette/components/command-palette.tsx
  src/features/command-palette/constants/codesnap-actions.tsx
  src/features/editor/components/editor.tsx
  src/features/editor/context-menu/editor-context-menu-items.tsx
  src/features/editor/lib/wasm-parser/tokenizer-worker-client.ts
  src/features/editor/lib/wasm-parser/tokenizer-worker.ts
  src/features/editor/lib/wasm-parser/worker-protocol.ts
  src/features/editor/stores/buffer-content-factory.ts
  src/features/editor/stores/buffer-store.ts
  src/features/keymaps/defaults/default-keymaps.ts
  src/features/panes/components/pane-container.tsx
  src/features/panes/types/pane-content.ts
  src/features/settings/config/default-settings.ts
  src/features/settings/types/settings.ts
Due: typescript-check, biome-check

Clarify CodeSnap spec from review feedback
  .gitignore
  docs/superpowers/specs/2026-05-12-codesnap-design.md
Due: none

Make CodeSnap live-track selection and resolve language by path
  src/features/codesnap/components/codesnap-tab.tsx
  src/features/codesnap/lib/triggers.ts
  src/features/codesnap/styles/preview-frame.css
  src/features/editor/lib/wasm-parser/tokenizer-worker-client.ts
  src/features/editor/lib/wasm-parser/tokenizer-worker.ts
  src/features/editor/lib/wasm-parser/worker-protocol.ts
  src/features/settings/config/default-settings.ts
Due: typescript-check, biome-check

Remove CodeSnap implementation plan and design spec docs
  docs/superpowers/plans/2026-05-12-codesnap-implementation.md
  docs/superpowers/specs/2026-05-12-codesnap-design.md
Due: none

Fix current line and selection alignment
  src/features/editor/components/editor.tsx
  src/features/editor/components/layers/current-line-layer.tsx
  src/features/editor/styles/overlay-editor.css
  src/features/editor/tests/editor-scroll.test.ts
  src/features/editor/utils/scroll-layers.ts
Due: typescript-check, biome-check

Fix textarea selection focus handling
  src/features/editor/components/editor.tsx
  src/features/editor/components/layers/word-highlight-layer.tsx
  src/features/editor/hooks/use-editor-cursor-selection.ts
  src/features/editor/hooks/use-editor-mouse-interactions.ts
  src/features/editor/hooks/use-editor-textarea-input.ts
  src/features/editor/tests/selection-ranges.test.ts
  src/features/editor/utils/selection-ranges.ts
Due: typescript-check, biome-check

Make editor match highlights non-cursor-like
  src/features/editor/styles/overlay-editor.css
Due: none

Use editor layout for mouse hit testing
  src/features/editor/components/editor.tsx
  src/features/editor/hooks/use-editor-mouse-interactions.ts
Due: typescript-check, biome-check

Delete settings.json
  .claude/settings.json
Due: biome-check

Fix editor viewport fidelity and references buffer
  src/features/editor/components/editor.tsx
  src/features/editor/components/layers/highlight-layer.tsx
  src/features/editor/components/layers/primary-cursor-layer.tsx
  src/features/editor/components/layers/selection-layer.tsx
  src/features/editor/config/constants.ts
  src/features/editor/hooks/use-editor-scroll.ts
  src/features/editor/hooks/use-tokenization-scheduler.ts
  src/features/editor/hooks/use-tokenizer.ts
  src/features/editor/hooks/use-viewport-lines.ts
  src/features/editor/stores/buffer-content-factory.ts
  src/features/editor/stores/buffer-store.ts
  src/features/editor/styles/overlay-editor.css
  src/features/editor/tests/buffer-preview-pane.test.ts
  src/features/editor/tests/large-file.test.ts
  src/features/editor/tests/position.test.ts
  src/features/editor/tests/selection-boxes.test.ts
  src/features/editor/tests/use-tokenizer.test.ts
  src/features/editor/tests/use-viewport-lines.test.ts
  src/features/editor/utils/large-file.ts
  src/features/editor/utils/position.ts
  src/features/editor/utils/selection-boxes.ts
  src/features/file-system/controllers/store.ts
  src/features/keymaps/commands/navigation-command-actions.ts
  src/features/layout/components/bottom-pane/bottom-pane.tsx
  src/features/panes/components/pane-container.tsx
  src/features/panes/types/pane-content.ts
  src/features/references/components/references-buffer.tsx
  src/features/references/components/references-pane.tsx
  src/features/tabs/components/tab-bar-item.tsx
Due: typescript-check, biome-check

Replace editor surface with Monaco
  bun.lock
  package.json
  src/features/editor/components/code-editor.tsx
  src/features/editor/components/monaco-editor.tsx
  src/features/editor/monaco/language.ts
  src/features/editor/monaco/monaco-environment.ts
  src/features/editor/styles/monaco-editor.css
Due: typescript-check, biome-check

Path conditions:
  rust-fmt-workspace: any of: \.rs$
  typescript-check: any of: \.(ts|tsx)$
  biome-check: any of: \.(js|jsx|ts|tsx|json)$
