Repository athasdev/athas: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-fmt-workspace, typescript-check, biome-check

.pre-commit-config.yaml:

# Pre-commit hooks configuration for Rust + TypeScript/React project
# See https://pre-commit.com for more information

repos:
  # Rust hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-toml
      - id: check-json
        exclude: 'tsconfig.*\.json$'
      - id: check-merge-conflict

  # Rust formatting only (clippy/check too heavy for CI)
  - repo: local
    hooks:
      - id: rust-fmt-workspace
        name: Rust format (workspace)
        entry: cargo fmt
        args: ['--all', '--check']
        language: system
        files: '\.rs$'
        pass_filenames: false

  # TypeScript/JavaScript with Biome and type checking
  - repo: local
    hooks:
      - id: typescript-check
        name: TypeScript check
        entry: bun
        args: ['typecheck']
        language: system
        files: \.(ts|tsx)$
        pass_filenames: false
      - id: biome-check
        name: Biome check
        entry: bun
        args: ['check', '--write']
        language: system
        files: \.(js|jsx|ts|tsx|json)$
        pass_filenames: false

  # Commit message validation
  - repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
    rev: v9.18.0
    hooks:
      - id: commitlint
        stages: [commit-msg]
        additional_dependencies: ['@commitlint/cli']

Fractal refactor editor/core/text-editor/line-based-editor.tsx
  src/components/editor/core/text-editor/line-based-editor/editor-layers.tsx
  src/components/editor/core/text-editor/line-based-editor/index.tsx
Due: typescript-check, biome-check

Fractal refactor editor/core/text-editor
  src/components/editor/core/text-editor/editor-layers.tsx
  src/components/editor/core/text-editor/index.tsx
  src/components/editor/core/text-editor/keyboard-shortcuts.ts
  src/components/editor/core/text-editor/line-based-editor.tsx
Due: typescript-check, biome-check

Add certificate import and notarization to GitHub Actions
  .github/workflows/release.yml
Due: none

Add release automation system
  docs/RELEASING.md
  package.json
  scripts/release.ts
Due: typescript-check, biome-check

Bump version to 0.2.2
  package.json
  src-tauri/tauri.conf.json
Due: biome-check

Fix git status rows for nested paths and stage directories correctly
  src-tauri/src/commands/git/staging.rs
  src/version-control/git/views/git-status-panel.tsx
Due: rust-fmt-workspace, typescript-check, biome-check

Implement multi-register system and grammar parser
  src/stores/vim-store.ts
  src/stores/vim/grammar/ast.ts
  src/stores/vim/grammar/compat.ts
  src/stores/vim/grammar/executor.ts
  src/stores/vim/grammar/motion-kind.ts
  src/stores/vim/grammar/normalize.ts
  src/stores/vim/grammar/parser.ts
  src/stores/vim/grammar/tokens.ts
  src/stores/vim/grammar/trie.ts
  src/stores/vim/index.ts
Due: typescript-check, biome-check

Cleanup leftover files
  docs/RELEASING.md
  test-sample.db
  test.sqlite
Due: none

WIP
  src/hooks/use-vim-keyboard.ts
  src/stores/vim-editing.ts
  src/stores/vim-store.ts
  src/stores/vim/grammar/ast.ts
  src/stores/vim/grammar/compat.ts
  src/stores/vim/grammar/executor.ts
  src/stores/vim/grammar/normalize.ts
  src/stores/vim/grammar/parser.ts
  src/stores/vim/operators/delete-operator.ts
  src/stores/vim/operators/yank-operator.ts
Due: typescript-check, biome-check

Replace expandable commits with hover previews for improved UX
  src/version-control/git/views/git-commit-history.tsx
Due: typescript-check, biome-check

Fix(nested-files): add validation, error handling and await
  src/file-system/controllers/store.ts
Due: typescript-check, biome-check

FIX: duplicate folder creation and block backslash-based path traversal
  src/file-system/controllers/store.ts
Due: typescript-check, biome-check

Fix git status rows for nested paths and stage directories correctly (#379)
  src-tauri/src/commands/git/staging.rs
  src/version-control/git/views/git-status-panel.tsx
Due: rust-fmt-workspace, typescript-check, biome-check

Improves editor rendering accuracy
  src/components/editor/rendering/editor-viewport.tsx
  src/hooks/use-editor-layout.ts
  src/stores/app-store.ts
  src/stores/buffer-store.ts
  src/utils/editor-position.ts
  src/utils/line-endings.ts
Due: typescript-check, biome-check

Improves editor scrollbar behavior and styling
  src/components/editor/editor-stylesheet.tsx
  src/components/editor/rendering/editor-viewport.tsx
  src/stores/zoom-store.ts
  src/utils/editor-position.ts
Due: typescript-check, biome-check

Removes scrollbar gutter settings
  src/components/editor/rendering/editor-viewport.tsx
Due: typescript-check, biome-check

Fixed horizontal scrollbar functionality
  src/components/editor/rendering/editor-viewport.tsx
Due: typescript-check, biome-check

Add LLM rules file and create symlinks
  .clinerules
  .cursorrules
  .rules
  .windsurfrules
  CLAUDE.md
  GEMINI.md
  docs/llm-rules.md
Due: none

Update documentation folder structure
  CHANGELOG.md
  CONTRIBUTING.md
  README.md
  docs/README.md
  docs/contributing/architecture.md
  docs/contributing/code-style.md
  docs/contributing/llm-rules.md
  docs/contributing/releasing.md
  docs/contributing/setup/linux.md
  docs/contributing/setup/macos.md
  docs/contributing/setup/windows.md
  docs/customization/themes.md
Due: none

Implement multi-register system and grammar parser
  src/features/vim/core/index.ts
Due: typescript-check, biome-check

Fixed the conflicts
  src/features/vim/core/index.ts
Due: typescript-check, biome-check

Refactor import path for utility functions in viewport component
  src/features/editor/components/rendering/viewport.tsx
Due: typescript-check, biome-check

Add custom scrollbar styles for editor and tab bar
  src/features/tabs/components/tab-bar-item.tsx
  src/features/tabs/components/tab-bar.tsx
  src/features/tabs/utils/path-shortener.ts
  src/styles.css
Due: typescript-check, biome-check

Style tab bar scrollbars and calc tab display names from paths
  src/features/tabs/components/tab-bar-item.tsx
  src/features/tabs/components/tab-bar.tsx
  src/features/tabs/utils/path-shortener.ts
  src/styles.css
Due: typescript-check, biome-check

Remove duplicate editor
  src/features/editor/components/editor-overlay.tsx
  src/features/editor/components/editor.tsx
  src/features/editor/components/highlight-layer.tsx
  src/features/editor/hooks/use-cursor.ts
  src/features/editor/hooks/use-gutter-scroll.ts
  src/features/editor/utils/adaptive-debounce.ts
Due: typescript-check, biome-check

Standardize styling and theming
  .rules
  docs/customization/themes.md
  src/extensions/themes/builtin/athas.toml
  src/extensions/themes/builtin/catppuccin.toml
  src/extensions/themes/builtin/contrast-themes.toml
  src/extensions/themes/builtin/dracula.toml
  src/extensions/themes/builtin/example-custom-theme.toml
  src/extensions/themes/builtin/github.toml
  src/extensions/themes/builtin/nord.toml
  src/extensions/themes/builtin/one-dark.toml
  src/extensions/themes/builtin/solarized.toml
  src/extensions/themes/builtin/tokyo-night.toml
  src/extensions/themes/builtin/vitesse.toml
  src/extensions/themes/builtin/vscode.toml
  src/extensions/themes/theme-registry.ts
  src/features/editor/components/editor-overlay.tsx
  src/features/editor/components/gutter.tsx
  src/features/editor/components/highlight-layer.tsx
  src/features/editor/components/input-layer.tsx
  src/features/editor/styles/overlay-editor.css
  src/features/editor/styles/token-theme.css
  src/styles.css
Due: typescript-check, biome-check

Migrate themes from toml to JSON structure
  .rules
  docs/customization/themes.md
  src/extensions/themes/builtin/athas.json
  src/extensions/themes/builtin/athas.toml
  src/extensions/themes/builtin/catppuccin.json
  src/extensions/themes/builtin/catppuccin.toml
  src/extensions/themes/builtin/contrast-themes.json
  src/extensions/themes/builtin/contrast-themes.toml
  src/extensions/themes/builtin/dracula.json
  src/extensions/themes/builtin/dracula.toml
  src/extensions/themes/builtin/example-custom-theme.json
  src/extensions/themes/builtin/example-custom-theme.toml
  src/extensions/themes/builtin/github.json
  src/extensions/themes/builtin/github.toml
  src/extensions/themes/builtin/nord.json
  src/extensions/themes/builtin/nord.toml
  src/extensions/themes/builtin/one-dark.json
  src/extensions/themes/builtin/one-dark.toml
  src/extensions/themes/builtin/solarized.json
  src/extensions/themes/builtin/solarized.toml
  src/extensions/themes/builtin/tokyo-night.json
  src/extensions/themes/builtin/tokyo-night.toml
  src/extensions/themes/builtin/vitesse.json
  src/extensions/themes/builtin/vitesse.toml
  src/extensions/themes/builtin/vscode.json
  src/extensions/themes/builtin/vscode.toml
  src/extensions/themes/theme-loader.ts
  src/features/command-palette/components/theme-selector.tsx
  src/features/settings/components/tabs/theme-settings.tsx
  src/utils/theme-upload.ts
Due: typescript-check, biome-check

Initial Visual mode
  src/features/vim/components/vim-status-indicator.tsx
  src/features/vim/core/core/grammar/ast.ts
  src/features/vim/core/core/grammar/executor.ts
  src/features/vim/core/core/grammar/normalize.ts
  src/features/vim/core/core/grammar/parser.ts
  src/features/vim/hooks/use-vim-keyboard.ts
  src/features/vim/stores/vim-store.ts
Due: typescript-check, biome-check

Fixed some more commands now
  src/features/vim/core/core/grammar/executor.ts
  src/features/vim/core/core/grammar/parser.ts
Due: typescript-check, biome-check

Improves tokenization and editor performance
  src-tauri/src/commands/tokens.rs
  src/features/editor/stores/view-store.ts
  src/features/editor/utils/large-file.ts
  src/features/version-control/git/controllers/use-git-gutter.ts
Due: rust-fmt-workspace, typescript-check, biome-check

Add re-rendering to EditorOverlay
  src/features/editor/completion/completion-dropdown.tsx
  src/features/editor/completion/completion-store.ts
  src/features/editor/components/breadcrumb.tsx
  src/features/editor/components/code-editor.tsx
  src/features/editor/components/editor-overlay.tsx
  src/features/editor/components/find-bar.tsx
  src/features/editor/components/gutter.tsx
  src/features/editor/components/highlight-layer.tsx
  src/features/editor/components/input-layer.tsx
  src/features/editor/config/constants.ts
  src/features/editor/context-menu/context-menu.tsx
  src/features/editor/extensions/api.ts
  src/features/editor/extensions/builtin/basic-editing.ts
  src/features/editor/extensions/builtin/syntax-highlighting.ts
  src/features/editor/extensions/manager.ts
  src/features/editor/extensions/types.ts
  src/features/editor/hooks/use-clipboard.ts
  src/features/editor/hooks/use-layout.ts
  src/features/editor/hooks/use-lsp-integration.ts
  src/features/editor/hooks/use-tokenizer.ts
  src/features/editor/hooks/use-viewport-lines.ts
  src/features/editor/lsp/hover-tooltip.tsx
  src/features/editor/lsp/lsp-client.ts
  src/features/editor/lsp/lsp-store.ts
  src/features/editor/lsp/use-hover.ts
  src/features/editor/search/search-store.ts
  src/features/editor/stores/buffer-store.ts
  src/features/editor/stores/decorations-store.ts
  src/features/editor/stores/state-store.ts
  src/features/editor/stores/ui-store.ts
  src/features/editor/stores/view-store.ts
  src/features/editor/styles/overlay-editor.css
  src/features/editor/utils/html.ts
  src/features/editor/utils/logger.ts
  src/features/editor/utils/position.ts
Due: typescript-check, biome-check

Add window positioning for folder dialogs
  src-tauri/capabilities/main.json
  src/features/file-system/controllers/platform.ts
Due: typescript-check, biome-check
