Repository athasdev/athas: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-fmt-workspace, typescript-check, biome-check

rust-fmt-workspace:
  name: Rust format (workspace)
  entry: cargo fmt
  args:
  - --all
  - --check
  language: system
  pass_filenames: false

typescript-check:
  name: TypeScript check
  entry: bun
  args:
  - typecheck
  language: system
  pass_filenames: false

biome-check:
  name: Biome check
  entry: bun
  args:
  - check
  - --write
  language: system
  pass_filenames: false

Revert "Add Linux UI test launcher"
  docs/contributing.mdx
  package.json
  scripts/linux/athas-ui-test.sh
Due: biome-check

Prune deprecated AI models (#558)
  src/features/ai/types/providers.ts
  src/features/editor/hooks/use-inline-edit.ts
  src/features/layout/components/footer/editor-footer.tsx
  src/features/settings/components/tabs/ai-settings.tsx
  src/features/settings/store.ts
Due: typescript-check, biome-check

Toggle sidebar tabs (#559)
  src/features/layout/components/sidebar/sidebar-pane-selector.tsx
  src/features/layout/components/sidebar/sidebar-pane-utils.test.ts
  src/features/layout/components/sidebar/sidebar-pane-utils.ts
  src/features/window/custom-title-bar.tsx
Due: typescript-check, biome-check

Make sidebar recovery obvious (#560)
  src/features/layout/components/main-layout.tsx
  src/features/layout/components/resizable-pane-utils.test.ts
  src/features/layout/components/resizable-pane-utils.ts
  src/features/layout/components/resizable-pane.tsx
Due: typescript-check, biome-check

Fix: clamp git actions menu to viewport
  src/features/git/components/actions-menu-position.test.ts
  src/features/git/components/actions-menu-position.ts
  src/features/git/components/actions-menu.tsx
  src/features/git/components/view.tsx
Due: typescript-check, biome-check

Fix: resolve GitHub CLI auth from config dir
  src-tauri/src/commands/vcs/github.rs
Due: rust-fmt-workspace

Fix: route deep file tree expansion through controller
  src/features/file-explorer/components/file-tree.tsx
  src/features/file-explorer/lib/visible-file-tree-rows.test.ts
  src/features/file-explorer/lib/visible-file-tree-rows.ts
  src/features/file-explorer/types/index.ts
Due: typescript-check, biome-check

Fix: stop git gutter diffing on every keystroke
  src/features/git/hooks/use-gutter.ts
Due: typescript-check, biome-check

Fix compact menu overlay in compact mode
  src/features/window/custom-title-bar.tsx
  src/features/window/menu-bar/index.tsx
Due: typescript-check, biome-check

Fix Ollama endpoint validation and model loading
  src-tauri/src/commands/ai/mod.rs
  src-tauri/src/commands/ai/ollama.rs
  src-tauri/src/main.rs
  src/features/ai/components/selectors/ai-model-selector.tsx
  src/features/settings/components/tabs/ai-settings.tsx
  src/utils/ollama.test.ts
  src/utils/ollama.ts
  src/utils/providers/ollama-provider.ts
Due: rust-fmt-workspace, typescript-check, biome-check

Fix Rust formatting for Ollama probe tests
  src-tauri/src/commands/ai/ollama.rs
Due: rust-fmt-workspace

Add Windows release signing workflow
  .github/workflows/release.yml
  docs/contributing.mdx
  scripts/windows/prepare-tauri-signing.mjs
Due: none

Resolve GitHub CLI auth from config dir (#563)
  src-tauri/src/commands/vcs/github.rs
Due: rust-fmt-workspace

Remove extra icon themes
  src/extensions/bundled/icon-themes/material/extension.json
  src/extensions/bundled/icon-themes/minimal/extension.json
  src/extensions/bundled/icon-themes/seti/extension.json
  src/extensions/core/providers/icon-theme-provider.ts
  src/extensions/core/store.ts
  src/extensions/icon-themes/builtin/manifest.json
  src/extensions/icon-themes/icon-theme-initializer.ts
  src/features/settings/components/tabs/extensions-settings.tsx
  src/stores/icon-theme-store.ts
Due: typescript-check, biome-check

Improve Ollama connectivity checks
  src/features/ai/components/selectors/ai-model-selector.tsx
  src/features/settings/components/tabs/ai-settings.tsx
  src/utils/providers/ollama-provider.ts
Due: typescript-check, biome-check

Refine Git changes view and diff presentation
  src/features/git/components/diff/header.tsx
  src/features/git/components/diff/line.tsx
  src/features/git/components/diff/text.tsx
  src/features/git/components/status/file-item.tsx
  src/features/git/components/status/panel.tsx
  src/features/git/components/view.tsx
Due: typescript-check, biome-check

Polish remote project picker and tabs
  src/features/window/components/project-picker-dialog.tsx
  src/features/window/components/project-tabs.tsx
Due: typescript-check, biome-check

Persist workspace terminal and chat sessions
  src/features/ai/store/store.ts
  src/features/ai/store/types.ts
  src/features/editor/components/external-editor-terminal.tsx
  src/features/file-system/controllers/store.ts
  src/features/terminal/components/terminal-container.tsx
  src/features/terminal/components/terminal-search.tsx
  src/features/terminal/components/terminal-session.tsx
  src/features/terminal/components/terminal-tab-bar-item.tsx
  src/features/terminal/components/terminal-tab-bar.tsx
  src/features/terminal/components/terminal-tab-context-menu.tsx
  src/features/terminal/components/terminal.tsx
  src/stores/session-store.ts
Due: typescript-check, biome-check

Fix shortcut routing and warm sidebar toggles
  src-tauri/src/menu.rs
  src/features/keymaps/commands/command-registry.ts
  src/features/keymaps/defaults/default-keymaps.ts
  src/features/layout/components/main-layout.tsx
  src/features/layout/components/resizable-pane.tsx
  src/features/window/menu-bar/index.tsx
Due: rust-fmt-workspace, typescript-check, biome-check

Disable Claude co-authoring by default
  .claude/settings.json
Due: biome-check

Simplify package scripts and strengthen release checks
  package.json
  scripts/check-all-ts.sh
  scripts/pre-release-check.ts
  scripts/release.ts
Due: typescript-check, biome-check

Align release metadata and standardize Bun scripts
  CONTRIBUTING.md
  Cargo.lock
  docs/contributing.mdx
  scripts/benchmark-suite.ts
  scripts/postinstall.ts
  scripts/pre-release-check.ts
  scripts/release.ts
  scripts/setup.ts
  src-tauri/Cargo.toml
Due: typescript-check, biome-check

Fix type regressions from UI cleanup
  src/features/remote/connection-dialog.tsx
  src/features/remote/connection-list.tsx
  src/ui/select.tsx
Due: typescript-check, biome-check

Enhance web viewer with history, new tab page, device preview, and AI integration
  src/features/ai/lib/acp-ui-intents.ts
  src/features/ai/types/acp.ts
  src/features/command-palette/constants/view-actions.tsx
  src/features/settings/components/settings-dialog.tsx
  src/features/settings/components/settings-vertical-tabs.tsx
  src/features/settings/components/tabs/web-viewer-settings.tsx
  src/features/web-viewer/components/device-toolbar.tsx
  src/features/web-viewer/components/history-panel.tsx
  src/features/web-viewer/components/new-tab-page.tsx
  src/features/web-viewer/components/toolbar.tsx
  src/features/web-viewer/components/web-viewer.tsx
  src/features/web-viewer/constants/device-presets.ts
  src/features/web-viewer/constants/index.ts
  src/features/web-viewer/hooks/use-web-viewer-navigation.ts
  src/features/web-viewer/hooks/use-web-viewer-shortcuts.ts
  src/features/web-viewer/hooks/use-webview-lifecycle.ts
  src/features/web-viewer/stores/web-viewer-store.ts
  src/features/web-viewer/types/index.ts
  src/features/web-viewer/utils/url.ts
  src/stores/ui-state/types.ts
  src/utils/acp-handler.ts
Due: typescript-check, biome-check

Improve terminal sizing, search, and settings
  src/features/settings/components/tabs/terminal-settings.tsx
  src/features/settings/config/search-index.ts
  src/features/settings/store.ts
  src/features/terminal/components/terminal-container.tsx
  src/features/terminal/components/terminal-search.tsx
  src/features/terminal/components/terminal-session.tsx
  src/features/terminal/components/terminal-tab.tsx
  src/features/terminal/components/terminal.tsx
  src/ui/number-input.tsx
Due: typescript-check, biome-check

Refactor select and menu primitives across the app
  bun.lock
  package.json
  src-tauri/tauri.conf.json
  src/features/ai/components/selectors/ai-model-selector.tsx
  src/features/ai/components/selectors/mode-selector.tsx
  src/features/ai/components/selectors/session-mode-selector.tsx
  src/features/window/components/account-menu.tsx
  src/features/window/custom-title-bar.tsx
  src/ui/button.tsx
  src/ui/context-menu.tsx
  src/ui/dropdown.tsx
  src/ui/font-selector.tsx
  src/ui/menu.tsx
  src/ui/select.tsx
Due: typescript-check, biome-check

Add Git settings and reset controls across the app
  src/features/editor/components/editor.tsx
  src/features/file-explorer/components/file-tree.tsx
  src/features/git/components/actions-menu.tsx
  src/features/git/components/status/file-item.tsx
  src/features/git/components/status/panel.tsx
  src/features/git/components/view.tsx
  src/features/git/hooks/use-diff-view.ts
  src/features/settings/components/settings-dialog.tsx
  src/features/settings/components/settings-vertical-tabs.tsx
  src/features/settings/components/tabs/ai-settings.tsx
  src/features/settings/components/tabs/appearance-settings.tsx
  src/features/settings/components/tabs/editor-settings.tsx
  src/features/settings/components/tabs/features-settings.tsx
  src/features/settings/components/tabs/file-tree-settings.tsx
  src/features/settings/components/tabs/git-settings.tsx
  src/features/settings/components/tabs/language-settings.tsx
  src/stores/ui-state/types.ts
  src/ui/section.tsx
Due: typescript-check, biome-check

Route terminal find through the keymap system
  src/features/keymaps/commands/command-registry.ts
  src/features/keymaps/defaults/default-keymaps.ts
  src/features/terminal/components/terminal-container.tsx
Due: typescript-check, biome-check

Migrate issue triage to GitHub issue types
  .github/ISSUE_TEMPLATE/01-bug.yml
  .github/ISSUE_TEMPLATE/02-feature.yml
  .github/ISSUE_TEMPLATE/03-enhancement.yml
  .github/ISSUE_TEMPLATE/04-docs.yml
  .github/ISSUE_TEMPLATE/05-question.yml
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/PULL_REQUEST_TEMPLATE.md
  src/features/command-palette/constants/settings-actions.tsx
  src/features/settings/components/tabs/general-settings.tsx
  src/features/window/hooks/use-menu-events-wrapper.ts
Due: typescript-check, biome-check

Update Claude workspace settings
  .claude/settings.json
  .claude/skills/documentation.md
Due: biome-check

Remove issue title prefixes from templates
  .github/ISSUE_TEMPLATE/01-bug.yml
  .github/ISSUE_TEMPLATE/02-feature.yml
  .github/ISSUE_TEMPLATE/03-enhancement.yml
  .github/ISSUE_TEMPLATE/04-docs.yml
  .github/ISSUE_TEMPLATE/05-question.yml
Due: none

Fix: clamp git actions menu to viewport (#562)
  src/features/git/components/actions-menu-position.test.ts
  src/features/git/components/actions-menu-position.ts
  src/features/git/components/actions-menu.tsx
  src/features/git/components/view.tsx
Due: typescript-check, biome-check

Add prerelease release flow
  .github/workflows/release.yml
  package.json
  scripts/pre-release-check.ts
  scripts/release.ts
Due: typescript-check, biome-check

Add what's new release notes tab
  src/App.tsx
  src/features/command-palette/components/command-palette.tsx
  src/features/command-palette/constants/settings-actions.tsx
  src/features/command-palette/models/action.types.ts
  src/features/keymaps/commands/command-registry.ts
  src/features/settings/hooks/use-updater.ts
  src/features/settings/lib/whats-new.ts
  src/features/settings/stores/whats-new-store.ts
Due: typescript-check, biome-check

Add auto-scroll during drag selection
  src/features/editor/components/editor.tsx
  src/features/editor/hooks/use-drag-scroll.ts
Due: typescript-check, biome-check

Fix scroll jump when drag selection stops
  src/features/editor/hooks/use-drag-scroll.ts
  src/features/editor/stores/state-store.ts
Due: typescript-check, biome-check

Add feature structure policy
  .rules
  docs/contributing.mdx
Due: none

Path conditions:
  rust-fmt-workspace: any of: \.rs$
  typescript-check: any of: \.(ts|tsx)$
  biome-check: any of: \.(js|jsx|ts|tsx|json)$
