Repository athasdev/athas: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-fmt-workspace, typescript-check, biome-check

.pre-commit-config.yaml:

# Pre-commit hooks configuration for Rust + TypeScript/React project
# See https://pre-commit.com for more information

repos:
  # Rust hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-toml
      - id: check-json
        exclude: 'tsconfig.*\.json$'
      - id: check-merge-conflict

  # Rust formatting only (clippy/check too heavy for CI)
  - repo: local
    hooks:
      - id: rust-fmt-workspace
        name: Rust format (workspace)
        entry: cargo fmt
        args: ['--all', '--check']
        language: system
        files: '\.rs$'
        pass_filenames: false

  # TypeScript/JavaScript with Biome and type checking
  - repo: local
    hooks:
      - id: typescript-check
        name: TypeScript check
        entry: bun
        args: ['typecheck']
        language: system
        files: \.(ts|tsx)$
        pass_filenames: false
      - id: biome-check
        name: Biome check
        entry: bun
        args: ['check', '--write']
        language: system
        files: \.(js|jsx|ts|tsx|json)$
        pass_filenames: false

  # Commit message validation
  - repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
    rev: v9.18.0
    hooks:
      - id: commitlint
        stages: [commit-msg]
        additional_dependencies: ['@commitlint/cli']

Update theming and AI/editor interaction flow
  index.html
  src/extensions/loader/extension-loader.ts
  src/extensions/themes/builtin/athas.json
  src/extensions/themes/theme-initializer.ts
  src/extensions/themes/theme-loader.ts
  src/features/ai/components/chat/ai-chat.tsx
  src/features/ai/components/chat/chat-messages.tsx
  src/features/ai/components/input/chat-input-bar.tsx
  src/features/ai/components/mentions/slash-command-dropdown.tsx
  src/features/ai/components/messages/tool-call-display.tsx
  src/features/ai/lib/acp-event-timeline.ts
  src/features/ai/lib/acp-ui-intents.ts
  src/features/ai/lib/tool-call-state.ts
  src/features/ai/types/chat-ui.ts
  src/features/editor/stores/settings-store.ts
  src/features/file-explorer/components/file-icon.tsx
  src/features/file-explorer/components/file-tree-item.tsx
  src/features/file-explorer/components/file-tree.tsx
  src/features/git/components/actions-menu.tsx
  src/features/git/components/branch-manager.tsx
  src/features/git/components/commit-history.tsx
  src/features/git/components/inline-blame.tsx
  src/features/git/components/remote-manager.tsx
  src/features/git/components/stash/manager.tsx
  src/features/git/components/stash/modal.tsx
  src/features/git/components/status/file-item.tsx
  src/features/git/components/status/panel.tsx
  src/features/git/components/tag-manager.tsx
  src/features/git/components/view.tsx
  src/features/github/components/github-prs-view.tsx
  src/features/github/components/pr-status.tsx
  src/features/layout/components/sidebar/main-sidebar.tsx
  src/features/layout/components/sidebar/search-view.tsx
  src/features/layout/components/sidebar/sidebar-pane-selector.tsx
  src/features/settings/lib/appearance-bootstrap.ts
  src/features/settings/store.ts
  src/features/window/custom-title-bar.tsx
  src/main.tsx
Due: typescript-check, biome-check

Refresh editor and terminal tab design
  src/features/tabs/components/new-tab-menu.tsx
  src/features/tabs/components/tab-bar-item.tsx
  src/features/tabs/components/tab-bar.tsx
  src/features/tabs/components/tab-drag-preview.tsx
  src/features/terminal/components/terminal-tab-bar-item.tsx
  src/features/terminal/components/terminal-tab-bar.tsx
Due: typescript-check, biome-check

Refactor GitHub PR viewer loading and commit rendering
  src/features/github/components/pr-viewer.tsx
  src/features/github/store.ts
Due: typescript-check, biome-check

File explorer: hide .DS_Store and use Athas delete dialog
  src/features/file-explorer/components/file-tree.tsx
  src/features/file-system/controllers/store.ts
  src/features/file-system/controllers/utils.ts
Due: typescript-check, biome-check

Refactor AI message rendering and related UI components
  src/extensions/core/store.ts
  src/features/ai/components/chat/chat-messages.tsx
  src/features/ai/components/messages/markdown-renderer.tsx
  src/features/ai/components/messages/tool-call-display.tsx
  src/features/editor/markdown/prism-languages.ts
  src/features/git/components/status/file-item.tsx
  src/features/global-search/components/file-preview.tsx
Due: typescript-check, biome-check

Update docs links and consolidate contributing docs
  docs/contributing.mdx
  docs/index.mdx
  docs/meta.json
  docs/minimap.mdx
  docs/releasing.mdx
  docs/setup-contributing/linux.mdx
  docs/setup-contributing/macos.mdx
  docs/setup-contributing/meta.json
  docs/setup-contributing/windows.mdx
  docs/workspaces.mdx
Due: biome-check

Fix pre-release clippy checks and add 0.4.1 changelog
  CHANGELOG.md
  src-tauri/src/commands/fuzzy.rs
  src-tauri/src/features/ai/acp/bridge.rs
  src-tauri/src/features/tools/installer.rs
  src-tauri/src/main.rs
Due: rust-fmt-workspace

Remove root changelog file from editor repo
  CHANGELOG.md
Due: none

Bump version to 0.4.1
  package.json
  src-tauri/tauri.conf.json
Due: biome-check

Fix release workflow token fallback and build deps
  .github/workflows/release.yml
Due: none

Fix deploy-docs secret guard expression
  .github/workflows/release.yml
Due: none

Remove invalid secrets if guard in release workflow
  .github/workflows/release.yml
Due: none

Remove sidebar search pane in favor of global search dialog
  src/features/command-palette/constants/navigation-actions.tsx
  src/features/file-system/controllers/store.ts
  src/features/keymaps/commands/command-registry.ts
  src/features/layout/components/sidebar/main-sidebar.tsx
  src/features/layout/components/sidebar/search-view.tsx
  src/features/layout/components/sidebar/sidebar-pane-selector.tsx
  src/features/layout/types/search.ts
  src/features/window/custom-title-bar.tsx
  src/stores/search-results-store.ts
  src/stores/search-view-store.ts
  src/stores/ui-state/view-slice.ts
Due: typescript-check, biome-check

Extract runtime and tools into workspace packages
  Cargo.lock
  Cargo.toml
  src-tauri/Cargo.toml
  src-tauri/packages/runtime-core/Cargo.toml
  src-tauri/packages/runtime-core/src/lib.rs
  src-tauri/packages/tooling-core/Cargo.toml
  src-tauri/packages/tooling-core/src/lib.rs
  src-tauri/packages/tooling-core/src/registry.rs
  src-tauri/packages/tooling-core/src/types.rs
  src-tauri/src/features/runtime/bun.rs
  src-tauri/src/features/runtime/downloader.rs
  src-tauri/src/features/runtime/mod.rs
  src-tauri/src/features/runtime/node.rs
  src-tauri/src/features/tools/installer.rs
  src-tauri/src/features/tools/mod.rs
  src-tauri/src/logger.rs
  src-tauri/src/lsp/client.rs
Due: rust-fmt-workspace

Add framer-motion animations to dropdowns, modals, and command bar
  bun.lock
  src/features/ai/components/api-key-modal.tsx
  src/features/ai/components/mentions/file-mention-dropdown.tsx
  src/features/ai/components/mentions/slash-command-dropdown.tsx
  src/features/ai/components/selectors/model-selector-dropdown.tsx
  src/features/command-bar/components/command-bar.tsx
  src/features/command-bar/components/file-list-item.tsx
  src/features/command-bar/hooks/use-command-bar.ts
  src/features/command-bar/hooks/use-keyboard-navigation.ts
  src/features/database/providers/sqlite/components/crud-modals.tsx
  src/features/editor/completion/completion-dropdown.tsx
  src/features/git/components/stash/modal.tsx
  src/features/settings/components/settings-dialog.tsx
  src/features/window/components/project-picker-dialog.tsx
  src/ui/command.tsx
  src/ui/context-menu.tsx
  src/ui/dialog.tsx
  src/ui/dropdown.tsx
  src/ui/searchable-model-dropdown.tsx
  src/ui/section.tsx
Due: typescript-check, biome-check

Replace Prism with tree-sitter for markdown code block highlighting
  src/features/ai/components/messages/markdown-renderer.tsx
  src/features/editor/markdown/language-map.ts
  src/features/editor/markdown/parser.ts
  src/features/editor/markdown/prism-languages.ts
  src/features/editor/markdown/styles.css
Due: typescript-check, biome-check

Add syntax-highlighted file preview to global search
  src/features/global-search/components/file-preview.tsx
  src/features/global-search/hooks/use-file-preview.ts
Due: typescript-check, biome-check

Add binary file viewer with WASM metadata and hex preview
  src/features/binary-viewer/components/binary-file-viewer.tsx
  src/features/editor/stores/buffer-store.ts
  src/features/file-system/controllers/file-utils.ts
  src/features/file-system/controllers/store.ts
  src/features/panes/components/pane-container.tsx
Due: typescript-check, biome-check

Bundle tree-sitter parsers and remove CDN fallback
  .gitignore
  package.json
  public/tree-sitter/parsers/bash/highlights.scm
  public/tree-sitter/parsers/c/highlights.scm
  public/tree-sitter/parsers/c_sharp/highlights.scm
  public/tree-sitter/parsers/cpp/highlights.scm
  public/tree-sitter/parsers/css/highlights.scm
  public/tree-sitter/parsers/dart/highlights.scm
  public/tree-sitter/parsers/elisp/highlights.scm
  public/tree-sitter/parsers/elixir/highlights.scm
  public/tree-sitter/parsers/go/highlights.scm
  public/tree-sitter/parsers/html/highlights.scm
  public/tree-sitter/parsers/java/highlights.scm
  public/tree-sitter/parsers/javascript/highlights.scm
  public/tree-sitter/parsers/json/highlights.scm
  public/tree-sitter/parsers/kotlin/highlights.scm
  public/tree-sitter/parsers/lua/highlights.scm
  public/tree-sitter/parsers/markdown/highlights.scm
  public/tree-sitter/parsers/objc/highlights.scm
  public/tree-sitter/parsers/ocaml/highlights.scm
  public/tree-sitter/parsers/php/highlights.scm
  public/tree-sitter/parsers/python/highlights.scm
  public/tree-sitter/parsers/rescript/highlights.scm
  public/tree-sitter/parsers/ruby/highlights.scm
  public/tree-sitter/parsers/rust/highlights.scm
  public/tree-sitter/parsers/scala/highlights.scm
  public/tree-sitter/parsers/solidity/highlights.scm
  public/tree-sitter/parsers/swift/highlights.scm
  public/tree-sitter/parsers/systemrdl/highlights.scm
  public/tree-sitter/parsers/tlaplus/highlights.scm
  public/tree-sitter/parsers/toml/highlights.scm
  public/tree-sitter/parsers/tsx/highlights.scm
  public/tree-sitter/parsers/typescript/highlights.scm
  public/tree-sitter/parsers/vue/highlights.scm
  public/tree-sitter/parsers/yaml/highlights.scm
  public/tree-sitter/parsers/zig/highlights.scm
  scripts/install-bundled-lsp.ts
  scripts/postinstall.ts
  scripts/pre-release-check.ts
  src/features/editor/lib/wasm-parser/extension-assets.ts
Due: typescript-check, biome-check

Update docs, release workflow, and misc platform utils
  .github/workflows/release.yml
  docs/extension-development.mdx
  docs/meta.json
  docs/syntax-highlighting.mdx
  src-tauri/appimage-hooks/AppRun.wrapped
  src-tauri/capabilities/main.json
  src/features/editor/utils/language-id.ts
  src/features/file-system/controllers/platform.ts
Due: typescript-check, biome-check

Add binary file preview to command bar and global search
  src/features/global-search/components/file-preview.tsx
Due: typescript-check, biome-check

Simplify binary preview and add SQLite file support
  src/features/global-search/components/file-preview.tsx
Due: typescript-check, biome-check

Delete VirtualizedList.tsx
  src/features/rendering/VirtualizedList.tsx
Due: typescript-check, biome-check

Fix git pane layout: fill available space, reduce gaps, hide scrollbars
  src/features/git/components/commit-history.tsx
  src/features/git/components/stash/panel.tsx
  src/features/git/components/status/panel.tsx
  src/features/git/components/view.tsx
Due: typescript-check, biome-check

Implement accordion layout for git pane sections
  src/features/git/components/commit-history.tsx
  src/features/git/components/stash/panel.tsx
  src/features/git/components/view.tsx
Due: typescript-check, biome-check

Make stash and history panels mutually exclusive
  src/features/git/components/view.tsx
Due: typescript-check, biome-check

Rename command-bar to quick-open
  docs/meta.json
  docs/quick-open.mdx
  src/features/ai/components/mentions/file-mention-dropdown.tsx
  src/features/ai/components/selectors/context-selector.tsx
  src/features/command-palette/components/command-palette.tsx
  src/features/command-palette/constants/navigation-actions.tsx
  src/features/global-search/components/content-global-search.tsx
  src/features/global-search/hooks/use-global-search.ts
  src/features/keymaps/commands/command-registry.ts
  src/features/layout/components/main-layout.tsx
  src/features/quick-open/components/empty-state.tsx
  src/features/quick-open/components/file-count-badge.tsx
  src/features/quick-open/components/file-list-item.tsx
  src/features/quick-open/components/quick-open.tsx
  src/features/quick-open/constants/ignored-patterns.ts
  src/features/quick-open/constants/keyboard-keys.ts
  src/features/quick-open/constants/limits.ts
  src/features/quick-open/hooks/use-file-loader.ts
  src/features/quick-open/hooks/use-file-search.ts
  src/features/quick-open/hooks/use-keyboard-navigation.ts
  src/features/quick-open/hooks/use-quick-open.ts
  src/features/quick-open/types/quick-open.ts
  src/features/quick-open/utils/file-filtering.ts
  src/features/quick-open/utils/fuzzy-search.ts
  src/features/settings/components/tabs/appearance-settings.tsx
  src/features/settings/config/search-index.ts
  src/features/settings/store.ts
  src/features/vim/stores/vim-commands.ts
  src/features/window/hooks/use-menu-events-wrapper.ts
  src/stores/ui-state/modal-slice.ts
  src/styles/layout.css
Due: typescript-check, biome-check

Update model selector icon and refine GitHub PRs layout
  src/features/editor/components/inline-edit-model-selector.tsx
  src/features/github/components/github-prs-view.tsx
Due: typescript-check, biome-check

Fix syntax highlighting for YAML, JSX, and add SQL support
  public/tree-sitter/parsers/dart/highlights.scm
  public/tree-sitter/parsers/kotlin/highlights.scm
  public/tree-sitter/parsers/sql/highlights.scm
  public/tree-sitter/parsers/swift/highlights.scm
  public/tree-sitter/parsers/tsx/highlights.scm
  public/tree-sitter/parsers/yaml/highlights.scm
  scripts/pre-release-check.ts
  src/features/editor/lib/wasm-parser/tokenizer.ts
  src/features/editor/utils/language-id.ts
Due: typescript-check, biome-check

Rebuild all tree-sitter parsers from source to fix WASM ABI mismatch
  bun.lock
  package.json
  scripts/postinstall.ts
Due: typescript-check, biome-check

Bump version to 0.4.2
  package.json
  src-tauri/tauri.conf.json
Due: biome-check

Skip AppImage bundling on Linux to fix linuxdeploy failure
  .github/workflows/release.yml
Due: none

Fix file/folder dialog extending beyond screen (#546)
  src/ui/dialog.tsx
Due: typescript-check, biome-check

Replace window zoom with component-level zoom (#544)
  src/App.tsx
  src/features/command-palette/constants/settings-actions.tsx
  src/features/command-palette/constants/view-actions.tsx
  src/features/keymaps/commands/command-registry.ts
  src/features/keymaps/utils/matcher.ts
  src/features/layout/components/zoom-indicator.tsx
  src/features/settings/components/tabs/editor-settings.tsx
  src/features/settings/config/search-index.ts
  src/features/settings/store.ts
  src/features/web-viewer/components/web-viewer.tsx
  src/features/window/hooks/use-scroll.ts
  src/stores/zoom-store.ts
  src/styles/utilities.css
  src/utils/fit-viewport.ts
Due: typescript-check, biome-check

Add frontmatter to syntax-highlighting docs page
  docs/syntax-highlighting.mdx
Due: none

Fix branch name truncation in git sidebar
  src/features/git/components/branch-manager.tsx
  src/features/git/components/view.tsx
Due: typescript-check, biome-check

Fix PR menu not detecting auth failures from GitHub API
  src/features/github/components/github-prs-view.tsx
  src/features/github/store.ts
Due: typescript-check, biome-check

Fix syntax highlighting broken after update from older versions
  src/features/editor/extensions/builtin/syntax-highlighting.ts
  src/features/editor/hooks/use-tokenizer.ts
Due: typescript-check, biome-check
