Repository athasdev/athas: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-fmt-workspace, typescript-check, biome-check

.pre-commit-config.yaml:

# Pre-commit hooks configuration for Rust + TypeScript/React project
# See https://pre-commit.com for more information

repos:
  # Rust hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-toml
      - id: check-json
        exclude: 'tsconfig.*\.json$'
      - id: check-merge-conflict

  # Rust formatting only (clippy/check too heavy for CI)
  - repo: local
    hooks:
      - id: rust-fmt-workspace
        name: Rust format (workspace)
        entry: cargo fmt
        args: ['--all', '--check']
        language: system
        files: '\.rs$'
        pass_filenames: false

  # TypeScript/JavaScript with Biome and type checking
  - repo: local
    hooks:
      - id: typescript-check
        name: TypeScript check
        entry: bun
        args: ['typecheck']
        language: system
        files: \.(ts|tsx)$
        pass_filenames: false
      - id: biome-check
        name: Biome check
        entry: bun
        args: ['check', '--write']
        language: system
        files: \.(js|jsx|ts|tsx|json)$
        pass_filenames: false

  # Commit message validation
  - repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
    rev: v9.18.0
    hooks:
      - id: commitlint
        stages: [commit-msg]
        additional_dependencies: ['@commitlint/cli']

Improve autocompletion behavior and fix LSP issues
  src-tauri/src/commands/fuzzy.rs
  src-tauri/src/lsp/manager.rs
  src/extensions/bundled/rust/extension.json
  src/extensions/registry/extension-registry.ts
  src/features/editor/completion/completion-dropdown.tsx
  src/features/editor/components/editor.tsx
  src/features/editor/config/constants.ts
  src/features/editor/hooks/use-lsp-integration.ts
  src/features/editor/lsp/lsp-store.ts
  src/features/editor/stores/ui-store.ts
  src/utils/fuzzy-matcher.tsx
Due: rust-fmt-workspace, typescript-check, biome-check

Improve autocompletion behavior and fix LSP issues (#493)
  src-tauri/src/commands/fuzzy.rs
  src-tauri/src/lsp/manager.rs
  src/extensions/bundled/rust/extension.json
  src/extensions/registry/extension-registry.ts
  src/features/editor/completion/completion-dropdown.tsx
  src/features/editor/components/editor.tsx
  src/features/editor/config/constants.ts
  src/features/editor/hooks/use-lsp-integration.ts
  src/features/editor/lsp/lsp-store.ts
  src/features/editor/stores/ui-store.ts
  src/utils/fuzzy-matcher.tsx
Due: rust-fmt-workspace, typescript-check, biome-check

Add auto-refresh for externally created/deleted files
  src/features/file-system/controllers/file-watcher-store.ts
  src/features/file-system/controllers/store.ts
Due: typescript-check, biome-check

Fix git blame not appearing after file switch
  src/features/editor/components/layers/git-blame-layer.tsx
  src/features/version-control/git/controllers/use-blame.ts
Due: typescript-check, biome-check

Fix duplicate LSP server creation due to race condition
  src/features/editor/lsp/lsp-client.ts
Due: typescript-check, biome-check

Fix duplicate LSP server creation due to race condition (#496)
  src/features/editor/lsp/lsp-client.ts
Due: typescript-check, biome-check

Add auto-refresh for externally created/deleted files (#494)
  src/features/file-system/controllers/file-watcher-store.ts
  src/features/file-system/controllers/store.ts
Due: typescript-check, biome-check

Fix git blame not appearing after file switch (#495)
  src/features/editor/components/layers/git-blame-layer.tsx
  src/features/version-control/git/controllers/use-blame.ts
Due: typescript-check, biome-check

Tighten shell scope and cleanup capabilities
  src-tauri/capabilities/main.json
  src-tauri/capabilities/pdf-allow.json
  src-tauri/tauri.conf.json
Due: biome-check

Fix: Prevent command injection in ssh fallback commands
  src-tauri/src/ssh.rs
Due: rust-fmt-workspace

Add collapse all button to file tree root folder
  src/features/file-explorer/components/file-tree-item.tsx
  src/features/file-explorer/components/file-tree.tsx
Due: typescript-check, biome-check

Fix command palette not finding all files
  src/features/command-bar/constants/limits.ts
  src/features/command-bar/hooks/use-file-search.ts
  src/features/global-search/constants/limits.ts
  src/features/global-search/hooks/use-file-search.ts
Due: typescript-check, biome-check

Fix search highlighting in editor
  src/features/editor/components/code-editor.tsx
  src/features/editor/components/editor.tsx
  src/features/editor/components/layers/search-highlight-layer.tsx
Due: typescript-check, biome-check

Add native PDF viewer with external open support (#492)
  bun.lock
  package.json
  src-tauri/capabilities/default.json
  src-tauri/capabilities/main.json
  src-tauri/src/commands/project/fs.rs
  src-tauri/src/main.rs
  src/features/editor/stores/buffer-store.ts
  src/features/file-system/controllers/file-utils.ts
  src/features/file-system/controllers/store.ts
  src/features/layout/components/main-layout.tsx
  src/features/pdf-viewer/components/pdf-viewer-footer.tsx
  src/features/pdf-viewer/components/pdf-viewer.tsx
Due: rust-fmt-workspace, typescript-check, biome-check

Prevent command injection in SSH fallback commands (#498)
  src-tauri/src/ssh.rs
Due: rust-fmt-workspace

Fix command palette not finding all files (#500)
  src/features/command-bar/constants/limits.ts
  src/features/command-bar/hooks/use-file-search.ts
  src/features/global-search/constants/limits.ts
  src/features/global-search/hooks/use-file-search.ts
Due: typescript-check, biome-check

Fix search highlighting in editor (#501)
  src/features/editor/components/code-editor.tsx
  src/features/editor/components/editor.tsx
  src/features/editor/components/layers/search-highlight-layer.tsx
Due: typescript-check, biome-check

Remove Rust from bundled registry
  src/extensions/bundled/rust/extension.json
  src/extensions/bundled/rust/lsp/.gitkeep
  src/extensions/languages/language-registry.ts
  src/extensions/languages/rust-extension.ts
  src/extensions/registry/extension-registry.ts
  src/extensions/registry/extension-store.ts
Due: typescript-check, biome-check

fix: Use absolute positioning for previewer layout
  src/features/image-viewer/components/image-viewer-footer.tsx
  src/features/image-viewer/components/image-viewer.tsx
  src/features/pdf-viewer/components/pdf-viewer.tsx
  src/hooks/use-resize-observer.ts
Due: typescript-check, biome-check

Fix tokenization flicker regression from 33cfdf7
  src/features/editor/components/editor.tsx
Due: typescript-check, biome-check

Fix file tree git status not updating on save
  src/features/file-explorer/components/file-tree.tsx
Due: typescript-check, biome-check

Add new tree-sitter CDN and automatic extension reloading
  .gitignore
  src/extensions/languages/language-packager.ts
  src/extensions/registry/extension-store.ts
  src/features/editor/extensions/manager.ts
Due: typescript-check, biome-check

Add configurable command bar file limit and improve fuzzy search
  src/features/command-bar/constants/limits.ts
  src/features/command-bar/hooks/use-file-loader.ts
  src/features/command-bar/utils/fuzzy-search.ts
  src/features/file-system/controllers/store.ts
  src/features/settings/components/tabs/general-settings.tsx
  src/features/settings/config/search-index.ts
  src/features/settings/store.ts
Due: typescript-check, biome-check

Fix terminal corruption with multi-byte UTF-8 characters
  Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/terminal/connection.rs
Due: rust-fmt-workspace

Fix nvim cursor normal mode and insert
  src/features/editor/components/editor.tsx
  src/features/editor/components/layers/vim-cursor-layer.tsx
  src/features/vim/hooks/use-vim-keyboard.ts
  src/features/vim/stores/vim-editing.ts
Due: typescript-check, biome-check

Fix terminal corruption with multi-byte UTF-8 characters (#508)
  Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/terminal/connection.rs
Due: rust-fmt-workspace

Add Cmd+hover definition link highlighting
  src-tauri/src/commands/development/lsp.rs
  src-tauri/src/lsp/client.rs
  src-tauri/src/lsp/manager.rs
  src-tauri/src/main.rs
  src/features/editor/components/code-editor.tsx
  src/features/editor/components/editor.tsx
  src/features/editor/components/layers/definition-link-layer.tsx
  src/features/editor/hooks/use-lsp-integration.ts
  src/features/editor/lsp/use-definition-link.ts
  src/features/editor/lsp/use-go-to-definition.ts
  src/features/editor/stores/ui-store.ts
Due: rust-fmt-workspace, typescript-check, biome-check

Add Cmd+hover definition link highlighting (#510)
  src-tauri/src/commands/development/lsp.rs
  src-tauri/src/lsp/client.rs
  src-tauri/src/lsp/manager.rs
  src-tauri/src/main.rs
  src/features/editor/components/code-editor.tsx
  src/features/editor/components/editor.tsx
  src/features/editor/components/layers/definition-link-layer.tsx
  src/features/editor/hooks/use-lsp-integration.ts
  src/features/editor/lsp/use-definition-link.ts
  src/features/editor/lsp/use-go-to-definition.ts
  src/features/editor/stores/ui-store.ts
Due: rust-fmt-workspace, typescript-check, biome-check

Fix nvim cursor normal mode and insert (#509)
  src/features/editor/components/editor.tsx
  src/features/editor/components/layers/vim-cursor-layer.tsx
  src/features/vim/hooks/use-vim-keyboard.ts
  src/features/vim/stores/vim-editing.ts
Due: typescript-check, biome-check

Add configurable command bar file limit and improve fuzzy search (#507)
  src/features/command-bar/constants/limits.ts
  src/features/command-bar/hooks/use-file-loader.ts
  src/features/command-bar/utils/fuzzy-search.ts
  src/features/file-system/controllers/store.ts
  src/features/settings/components/tabs/general-settings.tsx
  src/features/settings/config/search-index.ts
  src/features/settings/store.ts
Due: typescript-check, biome-check

Fix file tree git status not updating on save (#505)
  src/features/editor/components/editor.tsx
  src/features/file-explorer/components/file-tree.tsx
Due: typescript-check, biome-check

Improve PDF & image zoom controls (#503)
  src/features/image-viewer/components/image-viewer-footer.tsx
  src/features/image-viewer/components/image-viewer.tsx
  src/features/pdf-viewer/components/pdf-viewer.tsx
  src/hooks/use-resize-observer.ts
Due: typescript-check, biome-check

Fix bugs scroll position changing buffers
  src/features/editor/components/editor.tsx
  src/features/editor/components/layers/input-layer.tsx
  src/features/editor/hooks/use-center-cursor.ts
  src/features/editor/lsp/use-go-to-definition.ts
  src/features/editor/stores/state-store.ts
Due: typescript-check, biome-check

Hide autocomplete panel on cursor navigation and buffer switch
  src/features/editor/hooks/use-lsp-integration.ts
Due: typescript-check, biome-check

Implement jump list for Go to Definition navigation
  src/features/editor/components/toolbar/breadcrumb.tsx
  src/features/editor/lsp/use-go-to-definition.ts
  src/features/editor/stores/jump-list-store.ts
  src/features/editor/utils/jump-navigation.ts
  src/features/keymaps/commands/command-registry.ts
  src/features/keymaps/defaults/default-keymaps.ts
Due: typescript-check, biome-check

Fix scroll position bugs and implement jump list navigation (#512)
  src/features/editor/components/editor.tsx
  src/features/editor/components/layers/input-layer.tsx
  src/features/editor/components/toolbar/breadcrumb.tsx
  src/features/editor/hooks/use-center-cursor.ts
  src/features/editor/hooks/use-lsp-integration.ts
  src/features/editor/lsp/use-go-to-definition.ts
  src/features/editor/stores/jump-list-store.ts
  src/features/editor/stores/state-store.ts
  src/features/editor/utils/jump-navigation.ts
  src/features/keymaps/commands/command-registry.ts
  src/features/keymaps/defaults/default-keymaps.ts
Due: typescript-check, biome-check

Update CHANGELOG for v0.3.2
  CHANGELOG.md
Due: none

Bump version to 0.3.2
  package.json
  src-tauri/tauri.conf.json
Due: biome-check

Revamp git interface with advanced stashing and layout improvements
  src-tauri/src/commands/vcs/git/stash.rs
  src/features/file-system/controllers/file-watcher-store.ts
  src/features/version-control/git/components/actions-menu.tsx
  src/features/version-control/git/components/commit-history.tsx
  src/features/version-control/git/components/file-item.tsx
  src/features/version-control/git/components/stash-message-modal.tsx
  src/features/version-control/git/components/stash-panel.tsx
  src/features/version-control/git/components/status-panel.tsx
  src/features/version-control/git/components/view.tsx
  src/features/version-control/git/controllers/git.ts
  src/features/version-control/git/controllers/store.ts
Due: rust-fmt-workspace, typescript-check, biome-check

Enhance web viewer with devtools, zoom, and improved design
  src-tauri/src/commands/ui/window.rs
  src-tauri/src/main.rs
  src/features/web-viewer/components/web-viewer.tsx
Due: rust-fmt-workspace, typescript-check, biome-check
