Repository athasdev/athas: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-fmt-workspace, typescript-check, biome-check

rust-fmt-workspace:
  name: Rust format (workspace)
  entry: cargo fmt
  args:
  - --all
  - --check
  language: system
  pass_filenames: false

typescript-check:
  name: TypeScript check
  entry: bun
  args:
  - typecheck
  language: system
  pass_filenames: false

biome-check:
  name: Biome check
  entry: bun
  args:
  - check
  - --write
  language: system
  pass_filenames: false

Fix find-in-file search navigation and highlight positioning
  src/features/editor/components/code-editor.tsx
  src/features/editor/components/editor.tsx
  src/features/editor/components/layers/search-highlight-layer.tsx
  src/features/editor/styles/overlay-editor.css
Due: typescript-check, biome-check

Add planning mode feature to AI agent pane
  src/features/ai/components/chat/chat-message.tsx
  src/features/ai/components/chat/chat-messages.tsx
  src/features/ai/components/messages/plan-block-display.tsx
  src/features/ai/components/messages/plan-step-display.tsx
  src/features/ai/lib/plan-parser.ts
  src/utils/context-builder.ts
Due: typescript-check, biome-check

Improve AI chat UI with proper markdown rendering and polish
  src/features/ai/components/chat/chat-message.tsx
  src/features/ai/components/messages/markdown-renderer.tsx
  src/features/ai/components/messages/tool-call-display.tsx
  src/features/ai/components/selectors/chat-mode-selector.tsx
Due: typescript-check, biome-check

Fix language extension system and add extension updates
  src/extensions/installer/extension-installer.ts
  src/extensions/registry/extension-store.ts
  src/features/editor/extensions/manager.ts
  src/features/editor/hooks/use-tokenizer.ts
  src/features/editor/lib/wasm-parser/cache-indexeddb.ts
  src/features/editor/lib/wasm-parser/tokenizer.ts
  src/features/settings/components/tabs/extensions-settings.tsx
Due: typescript-check, biome-check

Fix PR markdown rendering and update AI provider models
  src/features/ai/types/providers.ts
  src/features/editor/markdown/parser.ts
  src/features/github/components/github-markdown.tsx
  src/features/github/components/pr-viewer.tsx
Due: typescript-check, biome-check

Fix changelog date ordering
  CHANGELOG.md
Due: none

Fix chat layout and add reasoning
  src-tauri/capabilities/main.json
  src/features/ai/components/chat/ai-chat.tsx
  src/features/ai/components/chat/chat-header.tsx
  src/features/ai/components/chat/chat-messages.tsx
  src/features/ai/components/history/sidebar.tsx
  src/features/ai/components/input/chat-input-bar.tsx
  src/features/ai/types/ai-chat.ts
  src/features/settings/components/tabs/ai-settings.tsx
  src/features/settings/store.ts
  src/hooks/use-deep-link.ts
  src/utils/ai-chat.ts
  src/utils/kairo-auth.ts
  src/utils/kairo-reasoning.ts
  src/utils/stream-utils.ts
Due: typescript-check, biome-check

Kairo code now works in athas
  src-tauri/src/commands/ai/acp.rs
  src-tauri/src/features/ai/acp/bridge.rs
  src-tauri/src/features/ai/acp/client.rs
  src-tauri/src/features/ai/acp/config.rs
  src/features/ai/components/chat/ai-chat.tsx
  src/features/ai/components/chat/chat-header.tsx
  src/features/ai/components/chat/chat-messages.tsx
  src/features/ai/types/ai-chat.ts
  src/utils/acp-handler.ts
  src/utils/ai-chat.ts
  src/utils/kairo-auth.ts
  src/utils/stream-utils.ts
Due: rust-fmt-workspace, typescript-check, biome-check

Quick format
  src-tauri/src/features/runtime/types.rs
  src-tauri/src/features/tools/registry.rs
  src-tauri/src/features/tools/types.rs
Due: rust-fmt-workspace

Add model reasoning dropdown
  src-tauri/src/features/ai/acp/client.rs
  src-tauri/src/features/ai/acp/types.rs
  src/features/ai/components/chat/ai-chat.tsx
  src/features/ai/components/messages/tool-call-display.tsx
  src/features/ai/types/acp.ts
  src/features/ai/types/ai-chat.ts
  src/utils/acp-handler.ts
  src/utils/ai-chat.ts
Due: rust-fmt-workspace, typescript-check, biome-check

Tool calling UI
  src/features/ai/components/chat/ai-chat.tsx
  src/utils/acp-handler.ts
Due: typescript-check, biome-check

Fix optional parameter handling in tool callback functions
  src/features/ai/components/chat/ai-chat.tsx
Due: typescript-check, biome-check

Plan mode for Kairo Code
  src/features/ai/components/chat/ai-chat.tsx
  src/features/file-explorer/components/file-tree-item.tsx
  src/features/github/components/pr-viewer.tsx
  src/features/window/custom-title-bar.tsx
  src/utils/acp-handler.ts
  src/utils/ai-chat.ts
Due: typescript-check, biome-check

Remove debug logging for Kairo tool events and SSE parser
  src-tauri/src/features/ai/acp/client.rs
  src/utils/acp-handler.ts
  src/utils/stream-utils.ts
Due: rust-fmt-workspace, typescript-check, biome-check

Quick format fix
  src-tauri/src/features/ai/acp/client.rs
Due: rust-fmt-workspace

I wasn't on nightly my bad
  src-tauri/src/features/runtime/types.rs
  src-tauri/src/features/tools/types.rs
Due: rust-fmt-workspace

Remove unused exports from the public API
  src-tauri/src/features/mod.rs
  src-tauri/src/features/tools/mod.rs
Due: rust-fmt-workspace

Add runtime language catalog and CDN deploy pipeline
  README.md
  bun.lock
  extensions/go/extension.json
  extensions/index.json
  extensions/registry.json
  extensions/typescript/highlights.scm
  package.json
  scripts/build-extensions-index.ts
  scripts/deploy-extensions-cdn.ts
  src-tauri/src/commands/development/tools.rs
  src-tauri/src/features/tools/installer.rs
  src-tauri/src/features/tools/registry.rs
  src/extensions/languages/language-packager.ts
  src/extensions/registry/extension-registry.ts
  src/extensions/registry/extension-store.ts
  src/extensions/types/extension-manifest.ts
  src/features/editor/hooks/use-tokenizer.ts
  vite.config.ts
Due: rust-fmt-workspace, typescript-check, biome-check

Fix editor tab sync, hover lifecycle, and open-file reliability
  src-tauri/src/lsp/client.rs
  src-tauri/src/lsp/manager.rs
  src-tauri/src/menu.rs
  src/features/command-bar/components/file-list-item.tsx
  src/features/editor/completion/completion-dropdown.css
  src/features/editor/completion/completion-dropdown.tsx
  src/features/editor/components/code-editor.tsx
  src/features/editor/components/editor.tsx
  src/features/editor/components/gutter/gutter.tsx
  src/features/editor/components/layers/definition-link-layer.tsx
  src/features/editor/components/layers/input-layer.tsx
  src/features/editor/hooks/use-layout.ts
  src/features/editor/hooks/use-lsp-integration.ts
  src/features/editor/lsp/hover-tooltip.css
  src/features/editor/lsp/hover-tooltip.tsx
  src/features/editor/lsp/lsp-client.ts
  src/features/editor/lsp/use-definition-link.ts
  src/features/editor/lsp/use-hover.ts
  src/features/editor/stores/buffer-store.ts
  src/features/file-explorer/components/file-tree-item.tsx
  src/features/file-explorer/components/file-tree.tsx
  src/features/file-system/controllers/store.ts
  src/features/keymaps/commands/command-registry.ts
  src/features/keymaps/defaults/default-keymaps.ts
  src/features/panes/components/pane-container.tsx
  src/features/tabs/components/tab-bar-item.tsx
Due: rust-fmt-workspace, typescript-check, biome-check

Refactor SQLite viewer and optimize global search previews
  src/features/database/providers/sqlite/sqlite-viewer.tsx
  src/features/database/providers/sqlite/stores/sqlite-store.ts
  src/features/global-search/components/content-global-search.tsx
  src/features/global-search/components/file-list-item.tsx
  src/features/global-search/components/file-preview.tsx
  src/features/global-search/components/search-match-item.tsx
  src/features/global-search/constants/limits.ts
  src/features/global-search/hooks/use-content-search.ts
  src/features/global-search/hooks/use-file-preview.ts
  src/features/global-search/hooks/use-global-search.ts
Due: typescript-check, biome-check

Refresh theme system and align terminal and UI styling
  src/extensions/core/providers/theme-provider.ts
  src/extensions/core/store.ts
  src/extensions/loader/extension-loader.ts
  src/extensions/themes/builtin/vitesse.json
  src/extensions/themes/theme-initializer.ts
  src/extensions/themes/theme-loader.ts
  src/features/editor/stores/settings-store.ts
  src/features/settings/components/font-style-injector.tsx
  src/features/settings/store.ts
  src/features/terminal/hooks/use-terminal-theme.ts
  src/styles.css
  src/styles/base.css
  src/styles/layout.css
  src/styles/theme.css
  src/ui/command.tsx
  src/ui/context-menu.tsx
  src/ui/dialog.tsx
  src/ui/dropdown.tsx
  src/ui/font-selector.tsx
  src/ui/input.tsx
  src/ui/toast.tsx
  src/ui/tooltip.tsx
  src/utils/theme-upload.ts
Due: typescript-check, biome-check

Run docs and extensions workflows only on release events
  .github/workflows/bun.yml
  .github/workflows/deploy.yml
  .github/workflows/docs.yml
  .github/workflows/extensions-index.yml
  .github/workflows/sync-docs.yml
  .rules
  .windsurfrules
  docs/package.json
Due: biome-check

Fix AppImage build by removing invalid files configuration
  src-tauri/tauri.conf.json
Due: biome-check

Add comment about NO_STRIP=1 for future Ubuntu versions
  .github/workflows/release.yml
Due: none

Update ACP backend integration
  src-tauri/src/commands/ai/acp.rs
  src-tauri/src/features/ai/acp/bridge.rs
  src-tauri/src/features/ai/acp/client.rs
  src-tauri/src/features/ai/acp/config.rs
  src-tauri/src/features/ai/acp/types.rs
  src-tauri/src/main.rs
Due: rust-fmt-workspace

Update AI chat UI and ACP frontend types
  src/features/ai/components/chat/ai-chat.tsx
  src/features/ai/components/chat/chat-header.tsx
  src/features/ai/components/chat/chat-message.tsx
  src/features/ai/components/chat/chat-messages.tsx
  src/features/ai/components/input/chat-input-bar.tsx
  src/features/ai/components/mentions/file-mention-dropdown.tsx
  src/features/ai/components/mentions/slash-command-dropdown.tsx
  src/features/ai/components/messages/plan-block-display.tsx
  src/features/ai/components/messages/plan-step-display.tsx
  src/features/ai/components/messages/tool-call-display.tsx
  src/features/ai/components/selectors/chat-mode-selector.tsx
  src/features/ai/components/selectors/context-selector.tsx
  src/features/ai/components/selectors/model-selector-dropdown.tsx
  src/features/ai/components/selectors/session-mode-selector.tsx
  src/features/ai/types/acp.ts
  src/features/ai/types/ai-chat.ts
  src/utils/acp-handler.ts
  src/utils/context-builder.ts
  src/utils/types.ts
Due: typescript-check, biome-check

Update editor syntax highlighting and LSP integration
  extensions/cpp/highlights.scm
  src/features/editor/extensions/builtin/syntax-highlighting.ts
  src/features/editor/hooks/use-lsp-integration.ts
  src/features/editor/hooks/use-tokenizer.ts
  src/features/editor/lib/wasm-parser/loader.ts
  src/features/editor/lsp/lsp-client.ts
  src/features/editor/lsp/use-hover.ts
  src/features/editor/stores/buffer-store.ts
Due: typescript-check, biome-check

Update Git API and status commands
  src-tauri/src/commands/vcs/git/status.rs
  src/features/git/api/blame.ts
  src/features/git/api/branches.ts
  src/features/git/api/commits.ts
  src/features/git/api/diff.ts
  src/features/git/api/repo.ts
  src/features/git/api/stash.ts
  src/features/git/api/status.ts
Due: rust-fmt-workspace, typescript-check, biome-check

Update database viewer and layout components
  src/features/database/providers/sqlite/components/context-menus.tsx
  src/features/database/providers/sqlite/components/crud-modals.tsx
  src/features/database/providers/sqlite/sqlite-viewer.tsx
  src/features/file-explorer/components/file-tree.tsx
  src/features/file-system/controllers/file-watcher-store.ts
  src/features/layout/components/footer/editor-footer.tsx
  src/features/layout/components/main-layout.tsx
  src/features/layout/components/resizable-pane.tsx
Due: typescript-check, biome-check

Update settings, tabs, and window UI components
  src/features/settings/components/settings-dialog.tsx
  src/features/settings/components/settings-vertical-tabs.tsx
  src/features/tabs/components/new-tab-menu.tsx
  src/features/tabs/components/tab-bar-item.tsx
  src/features/tabs/components/tab-bar.tsx
  src/features/window/components/account-menu.tsx
  src/features/window/components/project-tabs.tsx
  src/features/window/custom-title-bar.tsx
  src/features/window/menu-bar/index.tsx
  src/features/window/menu-bar/menu-item.tsx
  src/features/window/menu-bar/menu.tsx
  src/features/window/menu-bar/submenu.tsx
  src/ui/context-menu.tsx
  src/ui/dropdown.tsx
  src/ui/section.tsx
Due: typescript-check, biome-check

Update README.md
  README.md
Due: none

Fix editor view reset when switching to uncached files
  src/features/editor/stores/state-store.ts
Due: typescript-check, biome-check

Remove GitHub Copilot integration
  src/features/ai/components/github-copilot-settings.tsx
  src/features/layout/components/main-layout.tsx
  src/features/settings/config/search-index.ts
  src/stores/ui-state/view-slice.ts
Due: typescript-check, biome-check

Improve large-file virtual scrolling performance
  src/features/editor/components/editor.tsx
  src/features/editor/components/gutter/gutter.tsx
  src/features/editor/components/layers/search-highlight-layer.tsx
  src/features/editor/config/constants.ts
  src/features/editor/hooks/use-tokenizer.ts
  src/features/editor/hooks/use-viewport-lines.ts
Due: typescript-check, biome-check

fix memory leak, reduce I/O, parallelize extensions, add code splitting + mimalloc + LTO
  Cargo.toml
  src-tauri/Cargo.toml
  src-tauri/src/main.rs
  src/App.tsx
  src/extensions/loader/extension-loader.ts
  src/features/editor/stores/buffer-store.ts
  src/features/panes/components/pane-container.tsx
  src/stores/app-store.ts
Due: rust-fmt-workspace, typescript-check, biome-check

Add auth, autocomplete, and extension validation tests
  package.json
  src-tauri/src/commands/extensions.rs
  src-tauri/src/extensions/installer.rs
  src/features/editor/hooks/use-autocomplete.test.ts
  src/features/editor/hooks/use-autocomplete.ts
  src/utils/auth-api.test.ts
  src/utils/auth-api.ts
Due: rust-fmt-workspace, typescript-check, biome-check

Path conditions:
  rust-fmt-workspace: any of: \.rs$
  typescript-check: any of: \.(ts|tsx)$
  biome-check: any of: \.(js|jsx|ts|tsx|json)$
