Repository athasdev/athas: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-fmt-workspace, typescript-check, biome-check

rust-fmt-workspace:
  name: Rust format (workspace)
  entry: cargo fmt
  args:
  - --all
  - --check
  language: system
  pass_filenames: false

typescript-check:
  name: TypeScript check
  entry: bun
  args:
  - typecheck
  language: system
  pass_filenames: false

biome-check:
  name: Biome check
  entry: bun
  args:
  - check
  - --write
  language: system
  pass_filenames: false

Fix ACP workspace cwd handling
  crates/ai/src/acp/bridge.rs
  crates/ai/src/acp/bridge_init.rs
  crates/ai/src/acp/client.rs
  crates/ai/src/acp/mod.rs
  crates/ai/src/acp/types.rs
  crates/ai/src/acp/workspace_path.rs
  src/features/ai/lib/acp-file-uri.ts
  src/features/ai/lib/acp-workspace-path.ts
  src/features/ai/services/acp-stream-handler.ts
  src/features/ai/tests/acp-file-uri.test.ts
  src/features/ai/tests/acp-workspace-path.test.ts
  src/features/ai/types/acp.types.ts
Due: rust-fmt-workspace, typescript-check, biome-check

Use Athas context menu in Monaco editor
  src-tauri/src/app_setup.rs
  src-tauri/src/menu.rs
  src/features/command-palette/constants/view-actions.tsx
  src/features/keymaps/commands/window-command-actions.ts
  src/features/settings/components/tabs/appearance-settings.tsx
  src/features/settings/config/search-index.ts
  src/features/window/components/title-bar/custom-title-bar.tsx
  src/features/window/components/window-menu-bar.tsx
Due: rust-fmt-workspace, typescript-check, biome-check

Use Athas context menu in Monaco editor
  src/extensions/loader/extension-loader.ts
  src/extensions/themes/theme-initializer.ts
  src/features/athas-editor/components/editor.tsx
  src/features/editor/components/monaco-editor.tsx
  src/features/editor/context-menu/editor-context-menu-items.tsx
  src/features/editor/extensions/api.ts
  src/features/editor/monaco/monaco-environment.ts
  src/features/editor/tests/editor-api.test.ts
  src/features/editor/tests/editor-context-menu-items.test.tsx
  src/features/editor/types/editor-extension.types.ts
  src/features/keymaps/commands/editor-command-actions.ts
Due: typescript-check, biome-check

Refine AI context picker
  src/features/ai/components/agent-launcher.tsx
  src/features/ai/components/input/chat-input-bar.tsx
  src/features/ai/components/selectors/context-selector.tsx
  src/features/global-search/components/file-list-item.tsx
  src/features/layout/components/main-layout.tsx
Due: typescript-check, biome-check

Truncate AI composer selectors
  src/features/ai/components/selectors/model-selector.tsx
  src/features/ai/components/selectors/provider-selector.tsx
Due: typescript-check, biome-check

Fix OS synced theme resolution
  src/features/command-palette/components/command-palette.tsx
  src/features/editor/monaco/use-monaco-editor-settings.ts
  src/features/editor/stores/settings.store.ts
  src/features/settings/lib/settings-bootstrap.ts
  src/features/settings/lib/settings-effects.ts
  src/features/settings/lib/theme-resolution.ts
  src/features/settings/stores/settings.store.ts
  src/features/settings/tests/theme-resolution.test.ts
  src/features/window/hooks/use-menu-events-wrapper.ts
Due: typescript-check, biome-check

Sync custom AI model selection
  src/features/settings/lib/ai-model-selection.ts
  src/features/settings/stores/settings.store.ts
  src/features/settings/tests/ai-model-selection.test.ts
Due: typescript-check, biome-check

Tighten AI composer selector triggers
  src/features/ai/components/input/chat-composer-control-styles.ts
  src/features/ai/components/selectors/model-selector.tsx
  src/features/ai/components/selectors/provider-selector.tsx
Due: typescript-check, biome-check

Sync Monaco with active theme changes
  src/features/editor/components/monaco-editor.tsx
  src/features/editor/monaco/theme.ts
  src/features/editor/notebook/notebook-code-cell-editor.tsx
Due: typescript-check, biome-check

Fix Windows PowerShell terminal profiles
  crates/terminal/src/connection.rs
  crates/terminal/src/shell.rs
Due: rust-fmt-workspace

Fix extensionless Node LSP launch
  crates/lsp/src/client.rs
Due: rust-fmt-workspace

Keep file search from stealing the caret
  src/features/editor/components/code-editor.tsx
  src/features/editor/stores/ui.store.ts
  src/features/editor/tests/search-replace.test.ts
Due: typescript-check, biome-check

Improve secondary file navigators
  src/features/diagnostics/components/diagnostics-pane.tsx
  src/features/file-explorer/components/file-navigator-sidebar.tsx
  src/features/git/components/diff/git-diff-editor-stack.tsx
  src/features/github/components/github-pr-viewer.tsx
  src/features/github/components/pr-files-panel.tsx
Due: typescript-check, biome-check

Refine GitHub Actions log viewer
  src/features/github/components/github-action-viewer.tsx
Due: typescript-check, biome-check

Align Athas editor caret rendering
  src/features/athas-editor/components/editor.tsx
  src/features/athas-editor/components/layers/primary-cursor-layer.tsx
Due: typescript-check, biome-check

Resolve Git repositories from workspace subfolders
  src/features/git/api/git-branches-api.ts
  src/features/git/api/git-commits-api.ts
  src/features/git/api/git-remotes-api.ts
  src/features/git/api/git-repo-api.ts
  src/features/git/api/git-stash-api.ts
  src/features/git/api/git-status-api.ts
  src/features/git/api/git-tags-api.ts
  src/features/git/api/git-worktrees-api.ts
  src/features/git/tests/git-repo-api.test.ts
  src/features/git/tests/git-worktrees-api.test.ts
Due: typescript-check, biome-check

Fix Windows window transparency bleed
  src-tauri/src/commands/ui/window.rs
  src/features/window/hooks/use-platform-setup.ts
  src/styles/layout.css
Due: rust-fmt-workspace, typescript-check, biome-check

Fix notebook execution and sidebar repo controls
  src-tauri/src/commands/editor/notebook.rs
  src/features/editor/notebook/notebook-editor.tsx
  src/features/editor/notebook/notebook-model.ts
  src/features/editor/notebook/rmarkdown-chunks.ts
  src/features/editor/tests/rmarkdown-chunks.test.ts
  src/features/git/components/git-project-selector.tsx
  src/features/git/components/git-view.tsx
  src/features/github/components/github-prs-view.tsx
  src/features/keymaps/utils/editor-keyboard-target.ts
Due: rust-fmt-workspace, typescript-check, biome-check

Harden extension tool runtime resolution
  crates/lsp/src/utils.rs
  crates/tooling/src/installer.rs
  crates/tooling/src/registry.rs
  crates/tooling/src/types.rs
  extensions/official/lua/extension.json
  extensions/official/ocaml/extension.json
  extensions/official/scala/extension.json
  extensions/official/swift/extension.json
  src-tauri/src/commands/ai/acp.rs
  src/extensions/languages/full-extensions.ts
  src/extensions/registry/extension-store-runtime.test.ts
  src/extensions/registry/extension-store-runtime.ts
  src/extensions/types/extension-manifest.ts
  src/features/extensions/scripts/validate.ts
Due: rust-fmt-workspace, typescript-check, biome-check

Fix Athas editor edit stability
  src/features/athas-editor/components/editor.tsx
  src/features/athas-editor/hooks/use-editor-textarea-input.ts
  src/features/athas-editor/utils/editor-key-edits.ts
  src/features/athas-editor/utils/lsp-completion-keys.ts
  src/features/editor/tests/athas-lsp-completion-keys.test.ts
  src/features/editor/tests/editor-key-edits.test.ts
Due: typescript-check, biome-check

Fix terminal sideview resizing
  src/features/panes/components/pane-resize-handle.tsx
  src/features/terminal/components/terminal-host.tsx
  src/features/terminal/components/terminal-slot.tsx
  src/features/terminal/components/terminal-tab-bar.tsx
  src/features/terminal/components/terminal-tab.tsx
  src/features/terminal/components/terminal.tsx
  src/features/terminal/styles/terminal.css
Due: typescript-check, biome-check

Stabilize file tree active row reveal
  src/features/file-explorer/hooks/use-file-explorer-visible-rows.ts
  src/features/file-explorer/tests/file-explorer-visible-rows.test.ts
Due: typescript-check, biome-check

Open editor links externally
  src/bootstrap/use-app-bootstrap.ts
  src/features/editor/monaco/monaco-environment.ts
  src/features/window/hooks/use-external-navigation-guard.ts
  src/features/window/tests/external-navigation.test.ts
  src/features/window/utils/external-navigation.ts
Due: typescript-check, biome-check

Add language server bulk controls
  src/features/athas-editor/components/toolbar/editor-status-actions.tsx
  src/features/command-palette/components/command-palette.tsx
  src/features/command-palette/constants/advanced-actions.tsx
  src/features/editor/components/toolbar/editor-status-actions.tsx
  src/features/editor/lsp/lsp-client.ts
  src/features/keymaps/commands/command-registry.ts
  src/features/keymaps/commands/lsp-command-actions.ts
Due: typescript-check, biome-check

Deploy extensions on master pushes
  .github/workflows/extensions.yml
Due: none

Use native macOS menu roles
  Cargo.lock
  src-tauri/src/menu.rs
Due: rust-fmt-workspace

Polish breadcrumb back action
  src/features/athas-editor/components/toolbar/file-path-breadcrumb.tsx
  src/features/editor/components/toolbar/file-path-breadcrumb.tsx
Due: typescript-check, biome-check

Move Athas editor engine to feature flags
  src/features/editor/components/code-editor.tsx
  src/features/settings/components/tabs/editor-settings.tsx
  src/features/settings/config/default-settings.ts
  src/features/settings/config/features.ts
  src/features/settings/config/search-index.ts
  src/features/settings/lib/settings-normalization.ts
  src/features/settings/tests/settings-normalization.test.ts
  src/features/settings/types/feature.types.ts
Due: typescript-check, biome-check

Persist R Markdown chunk outputs
  src/features/editor/components/code-editor.tsx
Due: typescript-check, biome-check

Limit inline code lenses to local actions
  src/features/editor/components/code-editor.tsx
  src/features/editor/lsp/code-lens-overlay.tsx
Due: typescript-check, biome-check

Prepare release
  Cargo.lock
  package.json
  src-tauri/Cargo.toml
  src-tauri/tauri.conf.json
Due: biome-check

Fix extension CI checks
  .github/workflows/extensions.yml
  src/features/extensions/scripts/bun-env.d.ts
Due: typescript-check, biome-check

Format editor context menu files
  src/features/editor/components/monaco-editor.tsx
  src/features/editor/context-menu/editor-context-menu-items.tsx
  src/features/editor/notebook/notebook-code-cell-editor.tsx
  src/features/editor/tests/editor-context-menu-items.test.tsx
Due: typescript-check, biome-check

Deploy extensions over SSH
  .github/workflows/extensions.yml
Due: none

Match DuckDB package metadata
  extensions/official/duckdb/extension.json
Due: biome-check

Standardize diff viewer visuals
  src/features/athas-editor/components/diff/inline-diff.tsx
  src/features/git/components/diff/diff-line-background-layer.tsx
  src/features/git/components/diff/git-diff-hunk-header.tsx
  src/features/git/components/diff/git-diff-line.tsx
  src/features/git/components/diff/git-diff-text.tsx
  src/features/git/tests/git-diff-parser.test.ts
  src/features/git/types/git-diff.types.ts
  src/features/git/utils/diff-viewer-visuals.ts
  src/features/git/utils/git-diff-helpers.ts
  src/features/github/components/diff-line-display.tsx
  src/features/github/components/file-diff-view.tsx
Due: typescript-check, biome-check

Align diff gutters and separators
  src/features/git/components/diff/git-diff-hunk-header.tsx
  src/features/git/components/diff/git-diff-line.tsx
  src/features/github/components/diff-line-display.tsx
Due: typescript-check, biome-check

Move notifications into feature module
  src/features/keymaps/commands/view-command-actions.ts
  src/features/layout/components/footer/footer.tsx
  src/features/notifications/components/notification-icon.tsx
  src/features/notifications/components/notification-list-item.tsx
  src/features/notifications/components/notifications-command.tsx
  src/features/notifications/components/notifications-trigger.tsx
  src/features/notifications/constants/notifications-events.ts
  src/features/notifications/types/notifications.types.ts
  src/features/notifications/utils/notification-formatters.ts
Due: typescript-check, biome-check

Fix searchable select keyboard navigation
  src/ui/select.tsx
Due: typescript-check, biome-check

Path conditions:
  rust-fmt-workspace: any of: \.rs$
  typescript-check: any of: \.(ts|tsx)$
  biome-check: any of: \.(js|jsx|ts|tsx|json)$
