Repository athasdev/athas: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-fmt-workspace, typescript-check, biome-check

.pre-commit-config.yaml:

# Pre-commit hooks configuration for Rust + TypeScript/React project
# See https://pre-commit.com for more information

repos:
  # Rust hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-toml
      - id: check-json
        exclude: 'tsconfig.*\.json$'
      - id: check-merge-conflict

  # Rust formatting only (clippy/check too heavy for CI)
  - repo: local
    hooks:
      - id: rust-fmt-workspace
        name: Rust format (workspace)
        entry: cargo fmt
        args: ['--all', '--check']
        language: system
        files: '\.rs$'
        pass_filenames: false

  # TypeScript/JavaScript with Biome and type checking
  - repo: local
    hooks:
      - id: typescript-check
        name: TypeScript check
        entry: bun
        args: ['typecheck']
        language: system
        files: \.(ts|tsx)$
        pass_filenames: false
      - id: biome-check
        name: Biome check
        entry: bun
        args: ['check', '--write']
        language: system
        files: \.(js|jsx|ts|tsx|json)$
        pass_filenames: false

  # Commit message validation
  - repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
    rev: v9.18.0
    hooks:
      - id: commitlint
        stages: [commit-msg]
        additional_dependencies: ['@commitlint/cli']

Keep search index and trace commands off the main thread
  src-tauri/src/commands/development/tools.rs
  src-tauri/src/commands/fuzzy.rs
  src-tauri/src/commands/project/fs.rs
  src/features/file-system/stores/file-system.store.ts
Due: rust-fmt-workspace, typescript-check, biome-check

Paint opened files before the work that can wait
  src/features/editor/components/code-editor.css
  src/features/editor/components/code-editor.tsx
  src/features/editor/components/codemirror-editor.tsx
  src/features/editor/components/stylesheet.tsx
  src/features/editor/engines/codemirror/features/breakpoints.ts
  src/features/editor/engines/codemirror/features/codemirror-breakpoints.tsx
  src/features/editor/engines/codemirror/features/codemirror-features.tsx
  src/features/editor/engines/codemirror/features/lsp-diagnostics.tsx
  src/features/editor/engines/codemirror/features/minimap/codemirror-minimap.tsx
  src/features/editor/engines/codemirror/host.ts
  src/features/editor/engines/codemirror/view-options.ts
  src/features/editor/hooks/use-performance.ts
  src/features/editor/services/editor-language-preload.ts
  src/features/editor/services/file-open-benchmark.ts
  src/features/editor/tests/codemirror-editor.test.tsx
  src/features/editor/tests/codemirror-extension-batch.test.tsx
  src/features/file-explorer/components/file-explorer-viewport.tsx
  src/features/file-explorer/hooks/use-file-explorer-sync.ts
  src/features/panes/components/pane-container.tsx
  src/features/tabs/components/tab-bar.tsx
  src/ui/tab-bar.tsx
  src/utils/after-paint.ts
Due: typescript-check, biome-check

Lay out inline edit as an instruction row and a quiet action row
  src/features/ai/components/selectors/model-connection-picker.tsx
  src/features/ai/inline-edit/components/inline-edit-popover.tsx
  src/ui/button.tsx
Due: typescript-check, biome-check

Keep both sides of partially staged files in git diff stats
  crates/version-control/src/git/diff.rs
Due: rust-fmt-workspace

Cover remote file operations in Rust tests
  crates/remote/src/file_ops.rs
  scripts/check/rust-coverage.sh
Due: rust-fmt-workspace

Share workbench navigation shortcuts with toolbar inputs
  src/features/browser/utils/browser-key-bindings.ts
  src/features/keymaps/hooks/use-keymaps.ts
  src/features/keymaps/utils/workbench-navigation-commands.ts
Due: typescript-check, biome-check

Show a snapshot of browser pages under workbench popups
  Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/browser.rs
  src-tauri/src/main.rs
  src/bindings/commands.ts
  src/features/browser/components/browser-view.tsx
  src/features/browser/services/browser-tab-manager.ts
  src/features/browser/stores/browser-tab.store.ts
  src/features/browser/tests/browser-tab-manager.test.ts
  src/features/browser/utils/browser-occlusion.ts
Due: rust-fmt-workspace, typescript-check, biome-check

Keep the close split button visible in the tab bar
  src/features/tabs/components/tab-bar.tsx
Due: typescript-check, biome-check

Add a stream layout for the source control and GitHub sidebars
  src/features/git/stream/stream-header.tsx
  src/features/git/stream/stream-primitives.tsx
  src/features/git/stream/stream-refs.tsx
  src/features/git/stream/stream-view.tsx
  src/features/git/stream/use-source-control-model.ts
  src/features/github/components/github-actions-view.tsx
  src/features/github/components/github-issues-view.tsx
  src/features/github/components/github-prs-view.tsx
  src/features/github/components/github-sidebar-row.tsx
  src/features/github/delivery/components/github-delivery-list.tsx
  src/features/layout/components/sidebar/sidebar-pane.tsx
  src/features/layout/tests/sidebar-activity.test.tsx
  src/features/sidebar/components/stream/stream-list.tsx
  src/features/sidebar/components/stream/stream-tabs.tsx
Due: typescript-check, biome-check

Match LSP documents to their workspace by path segment
  src/features/editor/lsp/lsp-client.ts
  src/features/editor/tests/lsp-client-lifecycle.test.ts
Due: typescript-check, biome-check

Name duplicated files consistently across local, remote and WSL
  src/features/file-system/stores/file-system.store.ts
  src/features/file-system/tests/file-system-store.test.ts
Due: typescript-check, biome-check

Cover extension runtime and command actions with tests
  src/extensions/tests/extension-registry.test.ts
  src/extensions/tests/extension-store.test.ts
  src/extensions/tests/ui-extension-host.test.ts
  src/features/keymaps/tests/editor-command-actions.test.ts
  src/features/keymaps/tests/navigation-command-actions.test.ts
  vite.config.ts
Due: typescript-check, biome-check

Use UI text tokens in the stream sidebars
  src/features/git/stream/stream-header.tsx
  src/features/git/stream/stream-primitives.tsx
  src/features/git/stream/stream-view.tsx
  src/features/github/components/github-prs-view.tsx
  src/features/sidebar/components/stream/stream-list.tsx
  src/features/sidebar/components/stream/stream-tabs.tsx
Due: typescript-check, biome-check

Prepare release
  Cargo.lock
  package.json
  src-tauri/Cargo.toml
  src-tauri/tauri.conf.json
Due: biome-check

Stop calling the removed postinstall script in workflows
  .github/workflows/ci.yml
  .github/workflows/e2e.yml
  .github/workflows/linux-build.yml
  .github/workflows/release.yml
  .github/workflows/test-build.yml
  bun.lock
  package.json
Due: biome-check

Unblock CI on Linux and in the editor focus test
  src-tauri/src/browser.rs
  src/features/editor/tests/codemirror-editor.test.tsx
Due: rust-fmt-workspace, typescript-check, biome-check

Keep the secure store valid when windows save at once
  src-tauri/src/secure_storage.rs
Due: rust-fmt-workspace

Use the production API in dev builds by default
  .env.example
Due: none

Show editor text in bundled builds again
  scripts/release/tests/tauri-security.test.ts
  src-tauri/tauri.conf.json
Due: typescript-check, biome-check

Give the shell integration refresh test its own directory
  crates/terminal/src/shell_integration.rs
Due: rust-fmt-workspace

Match the hosted model list to the Cloudflare catalog
  src/extensions/ui/services/ui-extension-generation-service.ts
  src/features/ai/intelligence/services/intelligence-completion-service.ts
  src/features/ai/types/providers.types.ts
  src/features/settings/components/ai/athas-plan-section.tsx
  src/features/settings/lib/settings-normalization.ts
Due: typescript-check, biome-check

Drop the traffic light inset in macOS full screen
  src/features/window/components/title-bar/title-bar.tsx
  src/styles/theme.css
Due: typescript-check, biome-check

Make Athas easier to install, update and launch
  .github/workflows/package-managers.yml
  README.md
  scripts/release/assets/cli.mjs
  scripts/release/package-managers.mjs
  scripts/release/package-managers/manifests.mjs
  scripts/release/tests/package-managers.test.ts
  src-tauri/src/commands/app_update.rs
  src-tauri/src/commands/development/cli.rs
  src-tauri/src/commands/development/cli_args.rs
  src-tauri/tauri.windows.conf.json
  src-tauri/windows/installer-hooks.nsh
  src/features/ai/components/mcp/mcp-server-settings.tsx
  src/features/ai/services/mcp-install-link.ts
  src/features/ai/services/providers/openrouter-provider.ts
  src/features/ai/stores/pending-mcp-install.store.ts
  src/features/ai/tests/mcp-install-link.test.ts
  src/features/ai/tests/openrouter-provider.test.ts
  src/features/onboarding/components/onboarding-view.tsx
  src/features/window/hooks/use-deep-link.ts
  src/features/window/tests/deep-link.test.ts
Due: rust-fmt-workspace, typescript-check, biome-check

Keep MCP install links out of the window feature's imports
  src/features/ai/components/mcp/mcp-server-settings.tsx
  src/features/ai/stores/pending-mcp-install.store.ts
  src/features/window/hooks/use-deep-link.ts
  src/features/window/stores/pending-mcp-install-link.store.ts
  src/features/window/tests/deep-link.test.ts
Due: typescript-check, biome-check
