Repository athasdev/athas: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-fmt-workspace, typescript-check, biome-check

rust-fmt-workspace:
  name: Rust format (workspace)
  entry: cargo fmt
  args:
  - --all
  - --check
  language: system
  pass_filenames: false

typescript-check:
  name: TypeScript check
  entry: bun
  args:
  - typecheck
  language: system
  pass_filenames: false

biome-check:
  name: Biome check
  entry: bun
  args:
  - check
  - --write
  language: system
  pass_filenames: false

Disable window transparency by default
  index.html
  src-tauri/src/commands/ui/window.rs
  src/features/settings/config/default-settings.ts
  src/features/settings/tests/default-settings.test.ts
  src/styles/window-transparency.css
Due: rust-fmt-workspace, typescript-check, biome-check

Reduce workspace file-open contention
  src-tauri/src/commands/project/fs.rs
  src/features/editor/engines/monaco/prepare-language.ts
  src/features/file-system/stores/file-system.store.ts
Due: rust-fmt-workspace, typescript-check, biome-check

Isolate the npx Codex adapter workspace
  crates/ai/src/acp/bridge_init.rs
Due: rust-fmt-workspace

Format toast option arguments
  src/features/command-palette/components/theme-selector.tsx
  src/features/file-explorer/hooks/use-file-explorer-context-menu.tsx
  src/features/settings/components/tabs/appearance-settings.tsx
Due: typescript-check, biome-check

Refine workspace chrome interactions
  src/features/file-explorer/components/file-navigator-sidebar.tsx
  src/features/file-system/stores/file-system.store.ts
  src/features/layout/components/bottom-pane/bottom-pane.tsx
  src/features/layout/components/resizable-pane.tsx
  src/features/layout/components/resize-handle-effect.css
  src/features/layout/components/resize-handle-effect.tsx
  src/features/layout/components/sidebar/main-sidebar.tsx
  src/features/layout/components/sidebar/project-carousel.css
  src/features/panes/components/pane-resize-handle.tsx
  src/features/settings/config/default-settings.ts
  src/features/settings/config/features.ts
  src/features/settings/stores/settings.store.ts
  src/features/settings/tests/features-config.test.ts
  src/features/settings/types/feature.types.ts
  src/features/window/stores/workspace-tabs.store.ts
  src/features/workspace/services/workspace-lifecycle.ts
Due: typescript-check, biome-check

Polish the update split control
  src/features/layout/components/app-update-control.tsx
  src/ui/button-group.tsx
Due: typescript-check, biome-check

Use the maintained Codex ACP adapter
  crates/ai/src/acp/bridge_init.rs
  crates/ai/src/acp/config.rs
  extensions/official/codex-cli/extension.json
Due: rust-fmt-workspace, biome-check

Refresh OpenAI model metadata
  src/features/ai/services/providers/openai-provider.ts
  src/features/ai/tests/openai-provider-models.test.ts
  src/features/ai/types/providers.types.ts
Due: typescript-check, biome-check

Unwrap fenced assistant prose
  src/features/ai/components/messages/markdown-renderer.tsx
  src/features/ai/lib/assistant-markdown.ts
  src/features/ai/tests/markdown-renderer-normalization.test.ts
Due: typescript-check, biome-check

Correct the Ayu Dark palette
  src/extensions/bundled/themes/ayu/extension.json
  src/extensions/themes/builtin/ayu.json
Due: biome-check

Constrain GitHub sidebar rows
  src/features/github/components/github-sidebar-row.tsx
Due: typescript-check, biome-check

Restore command list scrolling
  src/ui/command.tsx
Due: typescript-check, biome-check

Keep activity rail expansion global
  src/features/layout/components/main-layout.tsx
  src/features/settings/config/default-settings.ts
  src/features/settings/lib/settings-sync.ts
  src/features/settings/types/settings.types.ts
  src/features/window/components/title-bar/title-bar.tsx
  src/features/window/stores/ui-state/panel-slice.ts
Due: typescript-check, biome-check

Center collapsed activity rail controls
  src/features/layout/components/sidebar/main-sidebar.tsx
Due: typescript-check, biome-check

Render assistant messages without frames
  src/styles/base.css
  src/ui/bubble.tsx
Due: typescript-check, biome-check

Add copy action to assistant messages
  src/features/ai/components/chat/chat-message.tsx
Due: typescript-check, biome-check

Add user message editing for supported agents
  src/features/ai/components/chat/ai-chat.tsx
  src/features/ai/components/chat/chat-message.tsx
  src/features/ai/components/chat/chat-messages.tsx
  src/features/ai/hooks/use-chat-store.ts
  src/features/ai/stores/ai-chat.store.ts
  src/features/ai/types/ai-chat-store.types.ts
Due: typescript-check, biome-check

Balance macOS title bar spacing
  src/features/window/components/title-bar/title-bar-project-area.tsx
  src/features/window/components/title-bar/title-bar.tsx
  src/styles/theme.css
Due: typescript-check, biome-check

Isolate Agent sessions across surfaces
  src/features/ai/components/agent-launcher.tsx
  src/features/ai/components/agent-tab.tsx
  src/features/ai/components/chat/agent-shortcuts.tsx
  src/features/ai/components/chat/ai-chat.tsx
  src/features/ai/components/chat/chat-header.tsx
  src/features/ai/components/chat/chat-message.tsx
  src/features/ai/components/chat/chat-messages.tsx
  src/features/ai/components/input/chat-input-bar.tsx
  src/features/ai/components/mentions/file-mention-dropdown.tsx
  src/features/ai/components/mentions/slash-command-dropdown.tsx
  src/features/ai/components/messages/markdown-renderer.tsx
  src/features/ai/components/selectors/agent-selector.tsx
  src/features/ai/components/selectors/mode-selector.tsx
  src/features/ai/hooks/use-chat-store.ts
  src/features/ai/lib/skill-events.ts
  src/features/ai/stores/ai-chat.store.ts
  src/features/ai/tests/ai-chat-surface-session.test.ts
  src/features/ai/types/ai-chat-store.types.ts
  src/features/ai/types/ai-chat.types.ts
  src/features/layout/components/main-layout.tsx
  src/features/layout/components/sidebar/main-sidebar.tsx
Due: typescript-check, biome-check

Prevent Git blame signature crashes
  crates/version-control/src/git/blame.rs
Due: rust-fmt-workspace

Sync stable releases to the website
  .github/workflows/sync-www-release.yml
Due: none

Harden Linux runtime packaging
  scripts/release/packaging/linux/native.sh
  scripts/release/packaging/linux/tarball.sh
  scripts/release/tests/linux-packaging.test.ts
  src-tauri/appimage-hooks/AppRun.wrapped
  src-tauri/src/bootstrap/linux.rs
  src-tauri/src/commands/development/cli_args.rs
  src-tauri/tauri.linux.conf.json
Due: rust-fmt-workspace, typescript-check, biome-check

Standardize settings layout and typography
  src/features/layout/components/bottom-pane/bottom-pane.tsx
  src/features/layout/components/resizable-pane.tsx
  src/features/layout/components/resize-handle-effect.css
  src/features/layout/components/resize-handle-effect.tsx
  src/features/panes/components/pane-resize-handle.tsx
  src/features/settings/components/custom-theme-creator-dialog.tsx
  src/features/settings/components/font-selector.tsx
  src/features/settings/components/settings-dialog.tsx
  src/features/settings/components/settings-section.tsx
  src/features/settings/components/settings-vertical-tabs.tsx
  src/features/settings/components/tabs/account-settings.tsx
  src/features/settings/components/tabs/advanced-settings.tsx
  src/features/settings/components/tabs/ai-settings.tsx
  src/features/settings/components/tabs/appearance-settings.tsx
  src/features/settings/components/tabs/collaboration-settings.tsx
  src/features/settings/components/tabs/editor-settings.tsx
  src/features/settings/components/tabs/enterprise-settings.tsx
  src/features/settings/components/tabs/file-tree-settings.tsx
  src/features/settings/components/tabs/general-settings.tsx
  src/features/settings/components/tabs/git-settings.tsx
  src/features/settings/components/tabs/keyboard-settings.tsx
  src/features/settings/components/tabs/terminal-settings.tsx
  src/features/settings/components/typed-confirm-action.tsx
  src/features/settings/config/default-settings.ts
  src/features/settings/config/features.ts
  src/features/settings/lib/settings-normalization.ts
  src/features/settings/tests/features-config.test.ts
  src/features/settings/tests/settings-normalization.test.ts
  src/features/settings/tests/settings-ui-contract.test.ts
  src/features/settings/tests/ui-typography-contract.test.ts
  src/features/settings/types/feature.types.ts
  src/styles/base.css
  src/styles/theme.css
Due: typescript-check, biome-check

Compact the AI composer controls
  src/features/ai/components/chat/ai-chat.tsx
  src/features/ai/components/input/chat-input-bar.tsx
  src/features/ai/components/input/composer-attached-panel.tsx
  src/features/ai/components/mentions/ai-file-selector.tsx
  src/features/ai/components/mentions/file-mention-dropdown.tsx
  src/features/ai/components/mentions/slash-command-dropdown.tsx
  src/features/ai/components/selectors/agent-selector.tsx
  src/features/ai/components/selectors/model-selector.tsx
  src/features/ai/components/selectors/provider-selector.tsx
  src/features/ai/components/skills/skills-command.tsx
Due: typescript-check, biome-check

Add project-aware run actions
  src/features/layout/components/sidebar/main-sidebar.tsx
  src/features/layout/components/sidebar/sidebar-pane-selector.tsx
  src/features/layout/stores/sidebar.store.ts
  src/features/layout/tests/project-carousel.test.ts
  src/features/layout/utils/project-carousel.ts
  src/features/run-actions/components/run-action-dialog.tsx
  src/features/run-actions/components/run-action-row.tsx
  src/features/run-actions/components/run-actions-button.tsx
  src/features/run-actions/hooks/use-run-action-discovery.ts
  src/features/run-actions/stores/run-actions.store.ts
  src/features/run-actions/tests/run-action-discovery.test.ts
  src/features/run-actions/types/run-action.types.ts
  src/features/run-actions/utils/run-action-discovery.ts
  src/features/window/components/project-picker.tsx
  src/features/window/components/run-actions-button.tsx
  src/features/window/components/title-bar/project-tabs.tsx
  src/features/window/components/title-bar/title-bar.tsx
Due: typescript-check, biome-check

Update managed Bun and frontend dependencies
  .github/workflows/ci.yml
  .github/workflows/extensions.yml
  .github/workflows/linux-build.yml
  .github/workflows/nightly-preview-release.yml
  .github/workflows/release-preflight.yml
  .github/workflows/release.yml
  Cargo.lock
  bun.lock
  crates/runtime/Cargo.toml
  crates/runtime/src/bun.rs
  package.json
  scripts/setup/linux.sh
  scripts/setup/macos.sh
  scripts/setup/windows.ps1
Due: rust-fmt-workspace, biome-check

Bound extension loading concurrency
  src/extensions/loader/extension-load-orchestrator.ts
  src/extensions/loader/extension-loader.ts
  src/extensions/tests/extension-load-orchestrator.test.ts
Due: typescript-check, biome-check

Improve project and session workflows
  crates/ai/src/chat_history.rs
  crates/version-control/src/git/remote.rs
  src-tauri/src/commands/ai/chat_history.rs
  src-tauri/src/commands/version_control/git.rs
  src-tauri/src/main.rs
  src/features/ai/components/chat/chat-header.tsx
  src/features/ai/components/history/sidebar.tsx
  src/features/ai/services/ai-chat-history-service.ts
  src/features/ai/stores/ai-chat.store.ts
  src/features/ai/tests/ai-chat-surface-session.test.ts
  src/features/ai/types/ai-chat-store.types.ts
  src/features/ai/types/ai-chat.types.ts
  src/features/file-system/stores/file-system.store.ts
  src/features/window/components/new-project-content.tsx
  src/features/window/components/project-picker.tsx
  src/features/window/lib/new-project-model.ts
  src/features/window/tests/new-project-model.test.ts
  src/features/workspace/services/workspace-lifecycle.ts
  src/features/workspace/services/workspace-prewarm.ts
  src/features/workspace/tests/workspace-lifecycle.test.ts
  src/features/workspace/tests/workspace-prewarm.test.ts
  src/features/workspace/tests/workspace-scoped-stores.test.ts
Due: rust-fmt-workspace, typescript-check, biome-check

Fix Windows preview release linking
  src-tauri/build.rs
Due: rust-fmt-workspace

Fix Windows chrome controls
  src-tauri/capabilities/main.json
  src/features/window/components/title-bar/window-controls.tsx
  src/features/window/components/window-menu-bar.tsx
  src/ui/menubar.tsx
Due: typescript-check, biome-check

Reveal tab bar actions on hover
  src/features/tabs/components/tab-bar.tsx
Due: typescript-check, biome-check

Fix Windows new window shortcut
  src-tauri/src/commands/ui/window.rs
  src/features/keymaps/commands/command-registry.ts
  src/features/keymaps/commands/window-command-actions.ts
  src/features/keymaps/defaults/default-keymaps.ts
  src/features/keymaps/defaults/keybinding-presets.ts
  src/features/keymaps/tests/default-keymaps.test.ts
  src/features/keymaps/tests/native-menu-accelerators.test.ts
  src/features/window/components/window-menu-bar.tsx
  src/features/window/hooks/use-menu-events-wrapper.ts
Due: rust-fmt-workspace, typescript-check, biome-check

Enable Windows window transparency
  src-tauri/src/commands/ui/window.rs
  src-tauri/src/main.rs
  src/features/settings/lib/settings-effects.ts
  src/styles/window-transparency.css
Due: rust-fmt-workspace, typescript-check, biome-check

Fix Windows Git Bash terminals
  crates/terminal/src/connection.rs
  crates/terminal/src/shell.rs
Due: rust-fmt-workspace

Path conditions:
  rust-fmt-workspace: any of: \.rs$
  typescript-check: any of: \.(ts|tsx)$
  biome-check: any of: \.(js|jsx|ts|tsx|json)$
