Repository athasdev/athas: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-fmt-workspace, typescript-check, biome-check

.pre-commit-config.yaml:

# Pre-commit hooks configuration for Rust + TypeScript/React project
# See https://pre-commit.com for more information

repos:
  # Rust hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-toml
      - id: check-json
        exclude: 'tsconfig.*\.json$'
      - id: check-merge-conflict

  # Rust formatting only (clippy/check too heavy for CI)
  - repo: local
    hooks:
      - id: rust-fmt-workspace
        name: Rust format (workspace)
        entry: cargo fmt
        args: ['--all', '--check']
        language: system
        files: '\.rs$'
        pass_filenames: false

  # TypeScript/JavaScript with Biome and type checking
  - repo: local
    hooks:
      - id: typescript-check
        name: TypeScript check
        entry: bun
        args: ['typecheck']
        language: system
        files: \.(ts|tsx)$
        pass_filenames: false
      - id: biome-check
        name: Biome check
        entry: bun
        args: ['check', '--write']
        language: system
        files: \.(js|jsx|ts|tsx|json)$
        pass_filenames: false

  # Commit message validation
  - repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
    rev: v9.18.0
    hooks:
      - id: commitlint
        stages: [commit-msg]
        additional_dependencies: ['@commitlint/cli']

Keep button geometry consistent across variants
  src/features/ai/tests/button-geometry.test.ts
  src/ui/button.tsx
Due: typescript-check, biome-check

Support personal tokens and GitHub CLI credentials
  crates/github/src/api.rs
  crates/github/src/gh_cli.rs
  crates/github/src/lib.rs
  src-tauri/src/commands/version_control/github.rs
  src-tauri/src/commands/version_control/github_token.rs
  src-tauri/src/commands/version_control/mod.rs
  src-tauri/src/main.rs
  src/features/github/components/github-auth-status.tsx
  src/features/github/services/github-credential-service.ts
  src/features/github/tests/github-credential-service.test.ts
  src/features/settings/components/tabs/git-settings.tsx
  src/features/settings/components/tabs/github-credentials.tsx
  src/features/settings/config/default-settings.ts
  src/features/settings/config/search-index.ts
  src/features/settings/types/settings.types.ts
Due: rust-fmt-workspace, typescript-check, biome-check

Use consistent provider artwork for agent sessions
  src/extensions/ui/components/extension-catalog-icon.tsx
  src/features/ai/components/icons/agent-session-icon.tsx
  src/features/ai/components/icons/provider-icons.tsx
  src/features/ai/lib/agent-options.ts
  src/features/ai/lib/agent-session-icon.ts
  src/features/ai/services/providers/ai-provider-icon-registry.ts
  src/features/ai/tests/agent-session-icon.test.ts
  src/features/tabs/components/tab-bar-item.tsx
  src/ui/brand-marks.tsx
  src/ui/icons.tsx
Due: typescript-check, biome-check

Keep agent session history and metadata consistent
  src/features/ai/components/agent-start-view.tsx
  src/features/ai/components/chat/chat-header.tsx
  src/features/ai/components/history/chat-history-dropdown.tsx
  src/features/ai/lib/agent-session-list.ts
  src/features/ai/lib/open-new-agent-chat.ts
  src/features/ai/stores/ai-chat/ai-chat-store.types.ts
  src/features/ai/stores/ai-chat/chat-actions.ts
  src/features/ai/tests/agent-session-list.test.ts
  src/features/ai/tests/agent-start-view.test.tsx
  src/features/ai/tests/ai-chat-surface-session.test.ts
  src/features/ai/tests/open-new-agent-chat.test.ts
  src/features/layout/components/sidebar/activity-agent-history.tsx
Due: typescript-check, biome-check

Simplify agent and model selection in the composer
  src/features/ai/components/chat/ai-chat.tsx
  src/features/ai/components/input/chat-input-bar.tsx
  src/features/ai/components/input/chat-preferences-menu.tsx
  src/features/ai/components/input/composer-agent-selector.tsx
  src/features/ai/tests/chat-input-bar.test.tsx
  src/features/ai/tests/composer-agent-selector.test.tsx
  src/features/ai/types/ai-chat.types.ts
Due: typescript-check, biome-check

Add return controls for detached agent sessions
  src/features/ai/detached/agent-window-placeholder.tsx
  src/features/ai/detached/agent-window-service.ts
  src/features/ai/detached/detached-agents-app.tsx
  src/features/window/components/title-bar/title-bar.tsx
Due: typescript-check, biome-check

Group secondary activity views under More
  src/features/layout/components/sidebar/activity-navigation.tsx
  src/features/layout/tests/activity-navigation.test.tsx
Due: typescript-check, biome-check

Add file terminal and agent actions to the tab bar
  src/features/tabs/components/new-tab-menu.tsx
  src/features/tabs/components/tab-bar.tsx
Due: typescript-check, biome-check

Share the detached window shell across agents and resources
  src-tauri/src/commands/ui/window.rs
  src/App.tsx
  src/features/ai/detached/agent-window-service.ts
  src/features/ai/detached/agent-window-state.ts
  src/features/ai/detached/detached-agent-window.tsx
  src/features/ai/detached/detached-agents-app.tsx
  src/features/ai/tests/agent-window-service.test.ts
  src/features/ai/tests/agent-window-state.test.ts
  src/features/panes/components/pane-container.tsx
  src/features/panes/components/resource-buffer-view.tsx
  src/features/window/detached/detached-resource-service.ts
  src/features/window/detached/detached-resource-window.tsx
  src/features/window/detached/detached-window-owner.ts
  src/features/window/detached/detached-window-protocol.ts
  src/features/window/detached/detached-window-shell.tsx
  src/features/window/detached/use-detached-window.ts
  src/features/window/tests/detached-window-protocol.test.ts
  src/features/window/utils/window-open-request.ts
  src/main.tsx
Due: rust-fmt-workspace, typescript-check, biome-check

Render block content and alerts inside Markdown quotes
  src/features/editor/markdown/parser.ts
  src/features/editor/markdown/styles.css
  src/features/editor/tests/markdown-parser.test.ts
  src/features/github/styles/github-markdown.css
Due: typescript-check, biome-check

Rebuild GitHub resource views on shared shell primitives
  crates/github/src/api.rs
  crates/github/src/lib.rs
  crates/github/src/models.rs
  crates/github/src/tests.rs
  src/extensions/ui/components/extension-detail-view.tsx
  src/features/ai/continuous-agents/resource.tsx
  src/features/github/components/comment-item.tsx
  src/features/github/components/github-action-viewer.tsx
  src/features/github/components/github-actions-view.tsx
  src/features/github/components/github-chips.tsx
  src/features/github/components/github-create-view.tsx
  src/features/github/components/github-inline-editors.tsx
  src/features/github/components/github-issue-viewer.tsx
  src/features/github/components/github-issues-view.tsx
  src/features/github/components/github-metadata-pickers.tsx
  src/features/github/components/github-pr-header.tsx
  src/features/github/components/github-pr-inline-action.tsx
  src/features/github/components/github-pr-sidebar.tsx
  src/features/github/components/github-pr-viewer-header.tsx
  src/features/github/components/github-pr-viewer.tsx
  src/features/github/components/github-prs-view.tsx
  src/features/github/components/github-sidebar-row.tsx
  src/features/github/components/pr-activity-panel.tsx
  src/features/github/components/pr-status.tsx
  src/features/github/components/pr-timeline.tsx
  src/features/github/delivery/components/deployment-details.tsx
  src/features/github/delivery/components/github-delivery-list.tsx
  src/features/github/delivery/components/github-delivery-viewer.tsx
  src/features/github/delivery/components/release-assets.tsx
  src/features/github/delivery/components/release-details.tsx
  src/features/github/delivery/components/release-editor.tsx
  src/features/github/services/github-pr-store-service.ts
  src/features/github/tests/github-pr-header.test.tsx
  src/features/github/types/github.types.ts
  src/features/github/utils/github-pr-viewer-utils.ts
  src/features/github/utils/open-in-new-window.ts
  src/features/workspace/team/components/workspace-environments.tsx
  src/ui/combobox.tsx
  src/ui/resource.tsx
  src/ui/sidebar.tsx
Due: rust-fmt-workspace, typescript-check, biome-check

Drop the resource header title and let resource windows stand alone
  src-tauri/src/commands/ui/window.rs
  src/features/ai/continuous-agents/resource.tsx
  src/features/github/components/github-action-viewer.tsx
  src/features/github/components/github-create-view.tsx
  src/features/github/components/github-issue-viewer.tsx
  src/features/github/components/github-pr-header.tsx
  src/features/github/components/github-pr-viewer.tsx
  src/features/github/delivery/components/github-delivery-viewer.tsx
  src/features/window/detached/detached-resource-service.ts
  src/features/window/detached/detached-resource-window.tsx
  src/features/window/detached/detached-window-owner.ts
  src/features/window/detached/detached-window-protocol.ts
  src/features/window/detached/use-detached-window.ts
  src/features/window/tests/detached-window-protocol.test.ts
  src/ui/resource.tsx
Due: rust-fmt-workspace, typescript-check, biome-check

Move pull request tabs under the summary and align the page
  src/features/ai/continuous-agents/resource.tsx
  src/features/github/components/github-action-viewer.tsx
  src/features/github/components/github-chips.tsx
  src/features/github/components/github-create-view.tsx
  src/features/github/components/github-issue-viewer.tsx
  src/features/github/components/github-metadata-pickers.tsx
  src/features/github/components/github-pr-header.tsx
  src/features/github/components/github-pr-sidebar.tsx
  src/features/github/components/github-pr-skeleton.tsx
  src/features/github/components/github-pr-tabs.tsx
  src/features/github/components/github-pr-viewer.tsx
  src/features/github/delivery/components/deployment-details.tsx
  src/features/github/delivery/components/github-delivery-viewer.tsx
  src/features/github/delivery/components/release-details.tsx
  src/features/github/tests/github-pr-tabs.test.tsx
  src/ui/button.tsx
  src/ui/resource.tsx
  src/ui/skeleton.tsx
Due: typescript-check, biome-check

Fold merge status into the pull request toolbar
  crates/github/src/api.rs
  crates/github/src/models.rs
  src/features/github/components/comment-item.tsx
  src/features/github/components/github-comment-composer.tsx
  src/features/github/components/github-inline-editors.tsx
  src/features/github/components/github-issue-viewer.tsx
  src/features/github/components/github-markdown-editor.tsx
  src/features/github/components/github-pr-inline-action.tsx
  src/features/github/components/github-pr-sidebar.tsx
  src/features/github/components/github-pr-viewer.tsx
  src/features/github/components/pr-status.tsx
  src/features/github/components/pr-timeline.tsx
  src/features/github/types/github.types.ts
  src/features/github/utils/github-pr-viewer-utils.ts
  src/features/panes/components/resource-buffer-view.tsx
  src/features/window/detached/detached-resource-window.tsx
  src/ui/resource.tsx
Due: rust-fmt-workspace, typescript-check, biome-check

Make buttons and badges pills and turn accent into a solid button
  src/features/github/components/github-pr-tabs.tsx
  src/features/github/components/github-pr-viewer.tsx
  src/features/github/components/pr-commits-dropdown.tsx
  src/ui/badge.tsx
  src/ui/button.tsx
  src/ui/resource.tsx
Due: typescript-check, biome-check

Separate CLI agents from API model selection
  src/features/ai/components/chat/ai-chat.tsx
  src/features/ai/components/input/chat-input-bar.tsx
  src/features/ai/components/input/composer-agent-selector.tsx
  src/features/ai/hooks/use-agent-options.ts
  src/features/ai/hooks/use-chat-store.ts
  src/features/ai/lib/agent-request-timeout.ts
  src/features/ai/stores/agent-catalog.store.ts
  src/features/ai/stores/ai-chat/ai-chat-store.types.ts
  src/features/ai/stores/ai-chat/chat-actions.ts
  src/features/ai/stores/ai-chat/provider-actions.ts
  src/features/ai/tests/composer-agent-selector.test.tsx
  src/features/ai/types/ai-chat.types.ts
Due: typescript-check, biome-check

Centralize notification settings
  src/features/command-palette/constants/settings-actions.tsx
  src/features/settings/components/settings-navigation.tsx
  src/features/settings/components/settings-workbench-view.tsx
  src/features/settings/components/tabs/ai-settings.tsx
  src/features/settings/components/tabs/git-settings.tsx
  src/features/settings/components/tabs/notifications-settings.tsx
  src/features/settings/components/tabs/terminal-settings.tsx
  src/features/settings/config/default-settings.ts
  src/features/settings/config/search-index.ts
  src/features/settings/config/settings-tabs.ts
  src/features/settings/lib/settings-normalization.ts
  src/features/settings/lib/settings-search.ts
  src/features/settings/tests/default-settings.test.ts
  src/features/settings/tests/settings-search.test.ts
  src/features/settings/tests/settings-tabs.test.ts
  src/features/settings/tests/settings-ui-contract.test.ts
  src/features/settings/types/settings.types.ts
  src/features/window/stores/ui-state/types/ui-state.types.ts
  src/ui/workbench.tsx
Due: typescript-check, biome-check

Remove feature toggles from advanced settings
  src/features/settings/components/tabs/advanced-settings.tsx
  src/features/settings/config/features.ts
  src/features/settings/config/search-index.ts
  src/features/settings/tests/features-config.test.ts
  src/features/settings/types/feature.types.ts
Due: typescript-check, biome-check

Let keyboard settings scroll with the page
  src/features/settings/components/tabs/keyboard-settings.tsx
Due: typescript-check, biome-check

Improve GitHub comment drafting and submission
  src/features/github/components/github-comment-composer.tsx
  src/features/github/components/github-issue-viewer.tsx
  src/features/github/components/github-pr-viewer.tsx
  src/features/github/components/pr-timeline.tsx
  src/features/github/tests/github-comment-composer.test.tsx
Due: typescript-check, biome-check

Make sidebar navigation controls more compact
  src/features/file-explorer/components/file-explorer-tree.tsx
  src/features/layout/components/sidebar/activity-navigation.tsx
Due: typescript-check, biome-check

Open terminals and tools in standalone windows
  src-tauri/src/app_setup.rs
  src-tauri/src/commands/development/cli.rs
  src-tauri/src/commands/development/cli_args.rs
  src-tauri/src/commands/development/cli_windows.rs
  src-tauri/src/commands/development/mod.rs
  src-tauri/src/commands/ui/window.rs
  src-tauri/src/main.rs
  src-tauri/src/terminal.rs
  src/App.tsx
  src/features/command-palette/constants/window-actions.tsx
  src/features/tabs/components/new-tab-menu.tsx
  src/features/terminal/components/terminal-tab-context-menu.tsx
  src/features/window/detached/detached-window-protocol.ts
  src/features/window/detached/standalone-content-service.ts
  src/features/window/detached/standalone-content-window.tsx
  src/features/window/detached/use-detached-window.ts
  src/features/window/hooks/use-cli-open.ts
  src/features/window/tests/cli-open.test.ts
  src/features/window/tests/detached-window-protocol.test.ts
  src/features/window/tests/window-open-request.test.ts
  src/features/window/utils/create-app-window.ts
  src/features/window/utils/window-open-request.ts
Due: rust-fmt-workspace, typescript-check, biome-check

Limit CI notifications to relevant activity
  crates/github/src/api.rs
  crates/github/src/models.rs
  src/features/github/components/github-actions-watcher.tsx
  src/features/github/services/github-workflow-notifications.ts
  src/features/github/tests/github-workflow-relevance.test.ts
  src/features/github/types/github.types.ts
  src/features/github/utils/github-workflow-relevance.ts
  src/features/settings/components/tabs/notifications-settings.tsx
  src/features/settings/config/search-index.ts
Due: rust-fmt-workspace, typescript-check, biome-check

Run CLI commands against the development app
  package.json
  scripts/cli.ts
Due: typescript-check, biome-check

Align detached window titles and backgrounds
  src/features/window/components/title-bar/title-bar.tsx
  src/features/window/detached/detached-window-shell.tsx
  src/styles/window-transparency.css
Due: typescript-check, biome-check

Fix Markdown rendering in GitHub comments
  src/features/editor/markdown/parser.ts
  src/features/editor/markdown/styles.css
  src/features/github/components/github-markdown.tsx
  src/features/github/styles/github-markdown.css
  src/features/github/tests/github-comment-markdown.test.tsx
  src/features/github/utils/github-markdown-content.ts
Due: typescript-check, biome-check

Make the Git commit composer compact
  src/features/git/commit-composer/components/git-commit-panel.tsx
  src/features/git/commit-composer/tests/git-commit-panel.test.tsx
  src/features/git/components/git-view.tsx
Due: typescript-check, biome-check

Disable elastic scrolling across app views
  src/features/ai/components/input/composer-attachments.tsx
  src/features/ai/components/mentions/ai-file-selector.tsx
  src/features/debugger/components/debugger-view.tsx
  src/features/editor/markdown/styles.css
  src/features/github/styles/github-markdown-editor.css
  src/features/layout/components/sidebar/activity-bar.tsx
  src/features/outline/components/outline-sidebar.tsx
  src/features/panes/components/pane-container.tsx
  src/features/tabs/components/tab-bar.tsx
  src/features/terminal/components/terminal-tab-bar.tsx
  src/styles/base.css
  src/styles/scrollbars.css
  src/ui/combobox.tsx
  src/ui/command.tsx
  src/ui/dropdown.tsx
  src/ui/message-scroller.tsx
  src/ui/popover.tsx
  src/ui/scroll-area.tsx
  src/ui/select.tsx
  src/ui/sidebar.tsx
Due: typescript-check, biome-check

Keep changed-file scrolling smooth and stable
  src/features/git/components/git-view.tsx
  src/features/git/components/status/git-status-panel.tsx
  src/features/git/tests/git-status-row-stability.test.tsx
  src/features/git/utils/git-status-model.ts
  src/styles/scrollbars.css
  src/ui/scroll-area.tsx
Due: typescript-check, biome-check

Unify navigation rows with shared primitives
  src/features/debugger/components/debugger-panels.tsx
  src/features/git/components/git-commit-history.tsx
  src/features/git/tests/git-commit-history-navigation.test.tsx
  src/features/references/components/references-pane.tsx
  src/features/references/tests/references-pane.test.tsx
Due: typescript-check, biome-check

Use selective LD_PRELOAD to keep bundled libraries in sync with the host distro
  scripts/release/packaging/linux/tarball.sh
  scripts/release/tests/linux-packaging.test.ts
Due: typescript-check, biome-check

Limit Linux host overrides to integration libraries
  scripts/release/packaging/linux/tarball.sh
  scripts/release/tests/linux-packaging.test.ts
  scripts/release/tests/linux-tarball-launcher.test.ts
Due: typescript-check, biome-check

Prefer host integration libraries in Linux tarballs
  scripts/release/packaging/linux/tarball.sh
  scripts/release/tests/linux-packaging.test.ts
  scripts/release/tests/linux-tarball-launcher.test.ts
Due: typescript-check, biome-check

Show agent tool calls as a clean timeline with inline diffs
  crates/ai/src/chat_history.rs
  src/features/ai/components/chat/acp-permission-prompt.tsx
  src/features/ai/components/chat/ai-chat.tsx
  src/features/ai/components/chat/chat-message.tsx
  src/features/ai/components/messages/tool-call-display.tsx
  src/features/ai/intelligence/services/intelligence-agent-permissions.ts
  src/features/ai/intelligence/services/intelligence-agent-session.ts
  src/features/ai/intelligence/services/intelligence-agent.ts
  src/features/ai/lib/acp-diff-output.ts
  src/features/ai/lib/assistant-timeline.ts
  src/features/ai/lib/tool-call-state.ts
  src/features/ai/lib/tool-call-summary.ts
  src/features/ai/services/acp-stream-handler.ts
  src/features/ai/services/ai-chat-history-service.ts
  src/features/ai/tests/assistant-timeline.test.ts
  src/features/ai/tests/tool-call-state.test.ts
  src/features/ai/tests/tool-call-summary.test.ts
  src/features/ai/types/acp.types.ts
  src/features/ai/types/ai-chat.types.ts
Due: rust-fmt-workspace, typescript-check, biome-check

Scope HTTP abort signals to the request lifetime
  athas.workspace.json
  src/extensions/ui/services/extension-host-services.ts
  src/extensions/ui/services/ui-extension-generation-service.ts
  src/features/ai/intelligence/services/intelligence-sdk-model.ts
  src/features/ai/intelligence/services/intelligence-settings-api.ts
  src/features/ai/intelligence/services/intelligence-text-service.ts
  src/features/ai/services/ai-chat-service.ts
  src/features/ai/services/providers/athas-provider.ts
  src/features/ai/services/providers/ollama-provider.ts
  src/features/ai/services/providers/openai-compatible-provider.ts
  src/features/ai/services/providers/openai-provider.ts
  src/features/ai/services/providers/provider-fetch.ts
  src/features/github/services/github-token-service.ts
  src/features/telemetry/services/telemetry.ts
  src/features/views/services/view-data-service.ts
  src/features/window/services/auth-api.ts
  src/utils/tauri-fetch.ts
  src/utils/tests/tauri-fetch.test.ts
Due: typescript-check, biome-check

Patch audited dependencies and add an audit job to CI
  .cargo/audit.toml
  .github/workflows/ci.yml
  Cargo.lock
  bun.lock
  package.json
Due: biome-check
