Repository athasdev/athas: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-fmt-workspace, typescript-check, biome-check

rust-fmt-workspace:
  name: Rust format (workspace)
  entry: cargo fmt
  args:
  - --all
  - --check
  language: system
  pass_filenames: false

typescript-check:
  name: TypeScript check
  entry: bun
  args:
  - typecheck
  language: system
  pass_filenames: false

biome-check:
  name: Biome check
  entry: bun
  args:
  - check
  - --write
  language: system
  pass_filenames: false

Add a browser build of the workbench for the website demo
  .gitignore
  package.json
  src/features/web-demo/bootstrap/web-demo-entry.ts
  src/features/web-demo/data/demo-project.ts
  src/features/web-demo/services/demo-backend.ts
  src/features/web-demo/services/demo-network.ts
  vite.web-demo.config.ts
  web-demo.html
Due: typescript-check, biome-check

Return the formatted file for file-output formatters
  src-tauri/src/commands/editor/format.rs
Due: rust-fmt-workspace

Move SQL helper tests below the helpers
  crates/database/src/sql_common.rs
Due: rust-fmt-workspace

Clear the DOMPurify audit advisory
  bun.lock
  package.json
Due: biome-check

Move remaining inline tests below their items
  crates/runtime/src/lib.rs
  src-tauri/src/commands/project/fs.rs
  src-tauri/src/commands/ui/window.rs
Due: rust-fmt-workspace

Apply window materials through Tauri's effects API
  Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/commands/ui/window.rs
Due: rust-fmt-workspace

Add end-to-end tests that drive the built app
  .github/workflows/e2e.yml
  bun.lock
  e2e/README.md
  e2e/fixtures/sample-project/README.md
  e2e/fixtures/sample-project/notes.txt
  e2e/fixtures/sample-project/src/greeting.ts
  e2e/specs/command-palette.e2e.ts
  e2e/specs/editor.e2e.ts
  e2e/specs/terminal.e2e.ts
  e2e/specs/workbench.e2e.ts
  e2e/support/app.ts
  e2e/support/paths.ts
  e2e/tsconfig.json
  e2e/wdio.conf.ts
  package.json
  src-tauri/tauri.e2e.conf.json
Due: typescript-check, biome-check

Update DOMPurify past the in-place sanitize advisory
  bun.lock
  package.json
Due: biome-check

Keep database SQL helpers above their tests
  crates/database/src/sql_common.rs
Due: rust-fmt-workspace

Run end-to-end tests on selenium-webdriver and bun test
  .github/workflows/e2e.yml
  bun.lock
  e2e/README.md
  e2e/run.ts
  e2e/specs/command-palette.e2e.ts
  e2e/specs/editor.e2e.ts
  e2e/specs/terminal.e2e.ts
  e2e/specs/workbench.e2e.ts
  e2e/support/app-process.ts
  e2e/support/app.ts
  e2e/support/driver.ts
  e2e/support/session.ts
  e2e/support/setup.ts
  e2e/tsconfig.json
  package.json
Due: typescript-check, biome-check

Attach msedgedriver to the app in Windows end-to-end tests
  .github/workflows/e2e.yml
  e2e/README.md
  e2e/support/driver.ts
  e2e/support/session.ts
  e2e/support/windows-attach.ts
  e2e/tests/windows-config.test.ts
  e2e/tsconfig.json
  package.json
  src-tauri/tauri.e2e.windows.conf.json
Due: typescript-check, biome-check

Keep e2e process logs open until the process closes
  e2e/support/driver.ts
  e2e/support/process-log.ts
  e2e/support/windows-attach.ts
Due: typescript-check, biome-check

Prepare the e2e fixture and helpers for wider coverage
  e2e/README.md
  e2e/fixtures/sample-project/src/farewell.ts
  e2e/support/app.ts
  e2e/support/paths.ts
Due: typescript-check, biome-check

Cover settings and theme switching in e2e tests
  e2e/specs/settings.e2e.ts
  e2e/specs/theme.e2e.ts
Due: typescript-check, biome-check

Cover Quick Open and global search in e2e tests
  e2e/specs/global-search.e2e.ts
  e2e/specs/quick-open.e2e.ts
Due: typescript-check, biome-check

Cover tabs, split editors, and closing tabs in e2e tests
  e2e/specs/tabs.e2e.ts
Due: typescript-check, biome-check

Cover the Git view and file explorer edits in e2e tests
  e2e/specs/file-explorer.e2e.ts
  e2e/specs/git.e2e.ts
Due: typescript-check, biome-check

Reopen LSP documents after a stop and keep virtual buffers clean
  src/features/editor/lsp/lsp-client.ts
  src/features/editor/stores/buffer.store.ts
Due: typescript-check, biome-check

Block Windows shell names and program launchers in tool configs
  src-tauri/src/commands/editor/exec_guard.rs
Due: rust-fmt-workspace

Report exact image sizes in the image editor
  src/features/viewer/image/editor/utils/image-file-utils.ts
  src/features/viewer/image/tests/image-file-utils.test.ts
Due: typescript-check, biome-check

Stop leaking language servers when a file is reopened
  crates/lsp/src/manager_state.rs
Due: rust-fmt-workspace

Cover the project file watcher end to end
  Cargo.lock
  crates/project/Cargo.toml
  crates/project/src/lib.rs
Due: rust-fmt-workspace

Pin macOS keybinding semantics in keymap tests
  src/features/keymaps/tests/keybinding-import-export.test.ts
  src/features/keymaps/tests/macos-platform-mock.ts
  src/features/keymaps/tests/matcher.test.ts
Due: typescript-check, biome-check

Cover notification history, badge, and GitHub feed with tests
  src/features/notifications/tests/native-notification-badge.test.tsx
  src/features/notifications/tests/notification-formatters.test.ts
  src/features/notifications/tests/notification-recorder.test.tsx
  src/features/notifications/tests/notifications-command.test.tsx
  src/features/notifications/tests/notifications-store.test.ts
  src/features/notifications/tests/use-github-notifications.test.tsx
Due: typescript-check, biome-check

Cover integration startup, marketplace, and store helpers with tests
  src/extensions/tests/extension-local-state.test.ts
  src/extensions/tests/extension-runtime.test.ts
  src/extensions/tests/extension-store-helpers.test.ts
  src/extensions/tests/language-extension-installation.test.ts
  src/extensions/tests/marketplace-contributions.test.ts
Due: typescript-check, biome-check

Raise frontend coverage thresholds
  vite.config.ts
Due: typescript-check, biome-check

Cover LSP client framing, routing and server state
  crates/lsp/src/client.rs
  crates/lsp/src/lib.rs
  crates/lsp/src/manager.rs
  crates/lsp/src/manager_state.rs
  crates/lsp/src/manager_support.rs
  crates/lsp/src/test_support.rs
  crates/lsp/src/types.rs
Due: rust-fmt-workspace

Import heavy command modules statically in tests
  src/features/editor/tests/editor-api.test.ts
  src/features/editor/tests/editor-revert-file.test.ts
  src/features/editor/tests/editor-save-all.test.ts
  src/features/editor/tests/markdown-preview-interaction.test.tsx
  src/features/keymaps/tests/file-command-actions.test.ts
  src/features/vim/tests/vim-commands.test.ts
Due: typescript-check, biome-check

Measure Rust test coverage in CI
  .github/workflows/ci.yml
  package.json
  scripts/check/rust-coverage.sh
  scripts/check/rust.sh
Due: biome-check

Run frontend unit tests in CI
  .github/workflows/ci.yml
  bun.lock
  package.json
  src/features/editor/tests/markdown-preview-interaction.test.tsx
Due: typescript-check, biome-check

Copy CSV previews with the detected delimiter
  src/features/viewer/csv/components/csv-preview.tsx
  src/features/viewer/csv/lib/csv-utils.ts
  src/features/viewer/csv/tests/csv-export.test.ts
Due: typescript-check, biome-check

Evaluate == and != in keybinding when clauses
  src/features/keymaps/tests/when-clause.test.ts
  src/features/keymaps/utils/context.ts
Due: typescript-check, biome-check

Measure frontend test coverage and fail on drops
  .github/workflows/ci.yml
  .gitignore
  bun.lock
  package.json
  scripts/check.sh
  scripts/check/coverage-summary.ts
  scripts/check/tests/coverage-summary.test.ts
  vite.config.ts
Due: typescript-check, biome-check

Show rebound shortcuts in the command palette
  src/features/command-palette/components/command-palette.tsx
  src/features/keymaps/tests/effective-keymaps.test.ts
  src/features/keymaps/utils/effective-keymaps.ts
Due: typescript-check, biome-check

Path conditions:
  rust-fmt-workspace: any of: \.rs$
  typescript-check: any of: \.(ts|tsx)$
  biome-check: any of: \.(js|jsx|ts|tsx|json)$
