Repository athasdev/athas: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-fmt-workspace, typescript-check, biome-check

.pre-commit-config.yaml:

# Pre-commit hooks configuration for Rust + TypeScript/React project
# See https://pre-commit.com for more information

repos:
  # Rust hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-toml
      - id: check-json
        exclude: 'tsconfig.*\.json$'
      - id: check-merge-conflict

  # Rust formatting only (clippy/check too heavy for CI)
  - repo: local
    hooks:
      - id: rust-fmt-workspace
        name: Rust format (workspace)
        entry: cargo fmt
        args: ['--all', '--check']
        language: system
        files: '\.rs$'
        pass_filenames: false

  # TypeScript/JavaScript with Biome and type checking
  - repo: local
    hooks:
      - id: typescript-check
        name: TypeScript check
        entry: bun
        args: ['typecheck']
        language: system
        files: \.(ts|tsx)$
        pass_filenames: false
      - id: biome-check
        name: Biome check
        entry: bun
        args: ['check', '--write']
        language: system
        files: \.(js|jsx|ts|tsx|json)$
        pass_filenames: false

  # Commit message validation
  - repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
    rev: v9.18.0
    hooks:
      - id: commitlint
        stages: [commit-msg]
        additional_dependencies: ['@commitlint/cli']

Show single tool call locations and open them at their line
  src/features/ai/components/chat/acp-permission-prompt.tsx
  src/features/ai/components/messages/tool-call-display.tsx
  src/features/ai/components/messages/tool-locations.tsx
  src/features/ai/lib/acp-tool-location-tree.ts
  src/features/ai/lib/open-tool-location.ts
  src/features/ai/tests/acp-tool-location-tree.test.ts
Due: typescript-check, biome-check

Let the editor follow the agent while it works
  crates/ai/src/acp/client.rs
  crates/ai/src/acp/replay.rs
  crates/ai/src/acp/types.rs
  src/features/ai/components/chat/ai-chat.tsx
  src/features/ai/components/input/chat-input-bar.tsx
  src/features/ai/components/input/follow-agent-toggle.tsx
  src/features/ai/lib/agent-follow.ts
  src/features/ai/services/acp-stream-handler.ts
  src/features/ai/services/agent-follow-service.ts
  src/features/ai/stores/agent-follow.store.ts
  src/features/ai/tests/agent-follow.test.ts
  src/features/ai/types/acp.types.ts
  src/features/command-palette/constants/advanced-actions.tsx
  src/features/editor/components/monaco-editor.tsx
  src/features/editor/stores/state.store.ts
  src/features/settings/components/tabs/ai-settings.tsx
  src/features/settings/config/default-settings.ts
  src/features/settings/config/search-index.ts
  src/features/settings/lib/settings-normalization.ts
  src/features/settings/types/settings.types.ts
  src/ui/icons.tsx
Due: rust-fmt-workspace, typescript-check, biome-check

Tell the chat what an agent write replaced
  crates/ai/src/acp/client.rs
  crates/ai/src/acp/file_access.rs
  crates/ai/src/acp/replay.rs
  crates/ai/src/acp/types.rs
  src/features/ai/services/acp-stream-handler.ts
  src/features/ai/types/acp.types.ts
Due: rust-fmt-workspace, typescript-check, biome-check

Work out agent edit hunks and how to keep or reject them
  src/features/ai/lib/agent-edit-hunks.ts
  src/features/ai/tests/agent-edit-hunks.test.ts
  src/features/ai/types/agent-edits.types.ts
Due: typescript-check, biome-check

Keep a log of each chat's unreviewed agent edits
  src/features/ai/components/chat/ai-chat.tsx
  src/features/ai/services/agent-edits-service.ts
  src/features/ai/stores/agent-edits.store.ts
  src/features/ai/tests/agent-edit-hunks.test.ts
  src/features/ai/tests/agent-edits-service.test.ts
Due: typescript-check, biome-check

Review agent edits hunk by hunk from the chat
  src/features/ai/components/chat/agent-edits-review.tsx
  src/features/ai/components/input/agent-edits-bar.tsx
  src/features/ai/components/input/chat-input-bar.tsx
  src/features/ai/lib/agent-edit-hunks.ts
  src/features/ai/tests/agent-edit-hunks.test.ts
  src/features/ai/tests/agent-edits-review.test.tsx
  src/workbench-app.tsx
Due: typescript-check, biome-check

Add command palette entries for agent edit review
  src/features/ai/stores/agent-edits.store.ts
  src/features/ai/tests/agent-edits-review.test.tsx
  src/features/command-palette/constants/advanced-actions.tsx
Due: typescript-check, biome-check

Never let a bare yes or no pick an "always" permission option
  crates/ai/src/acp/client.rs
Due: rust-fmt-workspace

Notify about agent prompts in chats the user is not looking at
  src-tauri/capabilities/main.json
  src/features/ai/components/chat/ai-chat.tsx
  src/features/ai/lib/visible-agent-chats.ts
  src/features/ai/services/agent-native-notifications.ts
  src/features/ai/tests/agent-native-notifications.test.ts
  src/features/settings/components/tabs/notifications-settings.tsx
  src/features/settings/config/default-settings.ts
  src/features/settings/config/search-index.ts
  src/features/settings/lib/settings-normalization.ts
  src/features/settings/tests/settings-normalization.test.ts
  src/features/settings/types/settings.types.ts
Due: typescript-check, biome-check

Mark agent tabs and sessions that are waiting on the user
  src/features/ai/components/agent-attention-dot.tsx
  src/features/ai/components/agent-session-sidebar-item.tsx
  src/features/ai/components/chat/ai-chat.tsx
  src/features/ai/hooks/use-chat-attention.ts
  src/features/ai/lib/chat-attention.ts
  src/features/ai/stores/agent-attention.store.ts
  src/features/ai/tests/chat-attention.test.ts
  src/features/ai/types/chat-attention.types.ts
  src/features/layout/components/sidebar/activity-agent-history.tsx
  src/features/tabs/components/tab-bar-item.tsx
Due: typescript-check, biome-check

Keep agent permission prompts when a chat's tab is in the background
  src/features/ai/components/chat/acp-permission-prompt.tsx
  src/features/ai/components/chat/ai-chat.tsx
  src/features/ai/detached/detached-agent-window.tsx
  src/features/ai/hooks/use-acp-event-sync.ts
  src/features/ai/hooks/use-chat-attention.ts
  src/features/ai/services/acp-event-sync.ts
  src/features/ai/stores/agent-attention.store.ts
  src/features/ai/stores/agent-permissions.store.ts
  src/features/ai/stores/ai-chat/chat-actions.ts
  src/features/ai/tests/agent-permissions-store.test.ts
  src/features/ai/tests/chat-attention.test.ts
  src/features/ai/types/agent-permission.types.ts
  src/workbench-app.tsx
Due: typescript-check, biome-check

Let the user pick again when the sign-in tab is closed early
  src/features/ai/lib/acp-terminal-auth.ts
  src/features/ai/tests/acp-terminal-auth.test.ts
Due: typescript-check, biome-check

Mark the chat behind a startup sign-in or a sessionless question
  src/features/ai/hooks/use-chat-attention.ts
  src/features/ai/lib/chat-attention.ts
  src/features/ai/services/acp-event-sync.ts
  src/features/ai/services/acp-stream-handler.ts
  src/features/ai/stores/acp-auth.store.ts
  src/features/ai/stores/acp-questions.store.ts
  src/features/ai/tests/acp-stream-handler.test.ts
  src/features/ai/tests/chat-attention.test.ts
  src/features/ai/types/chat-attention.types.ts
Due: typescript-check, biome-check

Stop a finished turn from clearing the next turn's Stop handle
  src/features/ai/components/chat/ai-chat.tsx
  src/features/ai/lib/run-abort-controller.ts
  src/features/ai/tests/run-abort-controller.test.ts
Due: typescript-check, biome-check

Share one agent process for a folder opened through a symlink
  crates/ai/src/acp/bridge.rs
  crates/ai/src/acp/sessions.rs
Due: rust-fmt-workspace

Forget the oldest failed session loads on each agent connection
  crates/ai/src/acp/replay.rs
Due: rust-fmt-workspace

Hold queued messages being edited and ignore a double Send now
  src/features/ai/components/chat/ai-chat.tsx
  src/features/ai/components/input/agent-message-queue.tsx
  src/features/ai/components/input/chat-input-bar.tsx
  src/features/ai/lib/agent-queue-controls.ts
  src/features/ai/stores/ai-chat/ai-chat-store.types.ts
  src/features/ai/stores/ai-chat/chat-actions.ts
  src/features/ai/tests/agent-message-queue.test.tsx
  src/features/ai/types/ai-chat.types.ts
Due: typescript-check, biome-check

Keep each chat's agent mode and options across app launches
  crates/ai/src/chat_history.rs
  src/features/ai/lib/chat-session-settings.ts
  src/features/ai/services/acp-event-sync.ts
  src/features/ai/services/acp-stream-handler.ts
  src/features/ai/services/ai-chat-history-service.ts
  src/features/ai/stores/ai-chat/acp-actions.ts
  src/features/ai/stores/ai-chat/ai-chat-store.types.ts
  src/features/ai/stores/ai-chat/chat-actions.ts
  src/features/ai/tests/acp-mcp-server-startup.test.ts
  src/features/ai/tests/acp-session-restore.test.ts
  src/features/ai/tests/acp-stream-handler.test.ts
  src/features/ai/tests/chat-session-settings.test.ts
  src/features/ai/types/ai-chat.types.ts
Due: rust-fmt-workspace, typescript-check, biome-check

Close a chat's agent session when its last tab closes
  src/features/ai/hooks/use-agent-tab-session-release.ts
  src/features/ai/lib/agent-tab-session-release.ts
  src/features/ai/stores/ai-chat/acp-actions.ts
  src/features/ai/tests/agent-tab-session-release.test.ts
  src/workbench-app.tsx
Due: typescript-check, biome-check

Start a new agent message where the agent says one starts
  crates/ai/src/acp/client.rs
  crates/ai/src/acp/replay.rs
  crates/ai/src/acp/types.rs
  src/features/ai/lib/acp-session-history.ts
  src/features/ai/services/acp-stream-handler.ts
  src/features/ai/tests/acp-session-history.test.ts
  src/features/ai/tests/acp-stream-handler.test.ts
  src/features/ai/types/acp.types.ts
Due: rust-fmt-workspace, typescript-check, biome-check

Give agents the workspace's other folders as session roots
  crates/ai/src/acp/bridge.rs
  crates/ai/src/acp/bridge_commands.rs
  crates/ai/src/acp/bridge_init.rs
  crates/ai/src/acp/client.rs
  crates/ai/src/acp/workspace_path.rs
  src-tauri/src/commands/ai/acp.rs
  src/features/ai/lib/acp-additional-directories.ts
  src/features/ai/services/acp-stream-handler.ts
  src/features/ai/tests/acp-additional-directories.test.ts
Due: rust-fmt-workspace, typescript-check, biome-check

Send prompt files with their real type and embed selections
  src/features/ai/lib/acp-mime-type.ts
  src/features/ai/lib/acp-prompt.ts
  src/features/ai/services/acp-stream-handler.ts
  src/features/ai/tests/acp-prompt.test.ts
  src/features/ai/utils/ai-context-builder.ts
Due: typescript-check, biome-check

Report how a killed agent terminal really exited
  crates/ai/src/acp/client.rs
  crates/ai/src/acp/terminal_state.rs
Due: rust-fmt-workspace

Show agent terminal output inside the tool call
  crates/ai/src/acp/client.rs
  crates/ai/src/acp/replay.rs
  crates/ai/src/acp/terminal_state.rs
  crates/ai/src/acp/types.rs
  src/features/ai/components/messages/tool-call-display.tsx
  src/features/ai/lib/acp-terminal-output.ts
  src/features/ai/services/acp-event-sync.ts
  src/features/ai/stores/acp-terminals.store.ts
  src/features/ai/tests/acp-terminal-output.test.ts
  src/features/ai/tests/acp-terminals-store.test.ts
  src/features/ai/types/acp.types.ts
  src/features/ai/types/ai-chat.types.ts
Due: rust-fmt-workspace, typescript-check, biome-check

Show commands the Claude and Codex adapters run themselves
  crates/ai/src/acp/bridge_init.rs
  crates/ai/src/acp/client.rs
  crates/ai/src/acp/mod.rs
  crates/ai/src/acp/terminal_meta.rs
  src/features/ai/lib/acp-session-history.ts
  src/features/ai/tests/acp-session-history.test.ts
Due: rust-fmt-workspace, typescript-check, biome-check

Show agent notices in the chat
  crates/ai/Cargo.toml
  crates/ai/src/acp/bridge_init.rs
  crates/ai/src/acp/client.rs
  crates/ai/src/acp/replay.rs
  crates/ai/src/acp/types.rs
  src/features/ai/components/chat/acp-inline-event.tsx
  src/features/ai/components/chat/ai-chat.tsx
  src/features/ai/components/chat/chat-activity-line.tsx
  src/features/ai/lib/acp-notices.ts
  src/features/ai/services/acp-event-sync.ts
  src/features/ai/stores/acp-notices.store.ts
  src/features/ai/tests/acp-notices.test.ts
  src/features/ai/types/acp.types.ts
  src/features/ai/types/chat-ui.types.ts
Due: rust-fmt-workspace, typescript-check, biome-check

Save agent terminal output with the chat
  src/features/ai/services/ai-chat-history-service.ts
  src/features/ai/tests/ai-chat-history-service.test.ts
Due: typescript-check, biome-check

Show the tokens each agent turn used
  crates/ai/Cargo.toml
  crates/ai/src/acp/bridge_prompt.rs
  crates/ai/src/acp/types.rs
  crates/ai/src/chat_history.rs
  src/features/ai/components/chat/ai-chat.tsx
  src/features/ai/components/chat/chat-message.tsx
  src/features/ai/lib/acp-usage.ts
  src/features/ai/lib/assistant-response.ts
  src/features/ai/services/acp-stream-handler.ts
  src/features/ai/services/ai-chat-history-service.ts
  src/features/ai/tests/acp-stream-handler.test.ts
  src/features/ai/tests/acp-usage.test.ts
  src/features/ai/tests/ai-chat-history-service.test.ts
  src/features/ai/types/acp.types.ts
  src/features/ai/types/agent-completion.types.ts
  src/features/ai/types/ai-chat.types.ts
Due: rust-fmt-workspace, typescript-check, biome-check

Redact API keys and tokens in the ACP inspector
  crates/ai/src/acp/bridge_init.rs
  crates/ai/src/acp/mod.rs
  crates/ai/src/acp/traffic.rs
  crates/ai/src/acp/traffic_secrets.rs
Due: rust-fmt-workspace

Send ACP inspector lines in batches
  crates/ai/src/acp/traffic.rs
  src/features/ai/acp-inspector/hooks/use-acp-traffic.ts
  src/features/ai/acp-inspector/types/acp-traffic.types.ts
Due: rust-fmt-workspace, typescript-check, biome-check

Render only the visible rows of the ACP inspector log
  src/features/ai/acp-inspector/components/acp-traffic-log.tsx
  src/features/ai/tests/acp-inspector-panels.test.tsx
Due: typescript-check, biome-check

Coalesce agent terminal output before sending it to the chat
  crates/ai/src/acp/client.rs
  crates/ai/src/acp/mod.rs
  crates/ai/src/acp/terminal_events.rs
Due: rust-fmt-workspace

Keep terminal output that ends before its tool call appears
  src/features/ai/components/chat/ai-chat.tsx
  src/features/ai/lib/acp-terminal-output.ts
  src/features/ai/tests/acp-terminal-output.test.ts
Due: typescript-check, biome-check

Tell the Codex ACP adapter apart from the Codex integration
  crates/ai/src/acp/registry/catalog.rs
Due: rust-fmt-workspace

Remember agent versions instead of running --version on every list
  crates/ai/src/acp/bridge.rs
  crates/ai/src/acp/config.rs
  src-tauri/src/commands/ai/acp.rs
Due: rust-fmt-workspace

Start the agent on its own to browse its sessions
  crates/ai/src/acp/bridge.rs
  crates/ai/src/acp/bridge_commands.rs
  src-tauri/src/commands/ai/acp.rs
  src-tauri/src/main.rs
  src/features/ai/components/history/agent-sessions-dialog.tsx
  src/features/ai/lib/open-agent-sessions.ts
  src/features/ai/services/acp-stream-handler.ts
  src/features/ai/tests/open-agent-sessions.test.ts
  src/features/command-palette/components/command-palette.tsx
  src/features/command-palette/constants/advanced-actions.tsx
Due: rust-fmt-workspace, typescript-check, biome-check

Drop Athas's own context from imported user messages
  src/features/ai/lib/acp-prompt.ts
  src/features/ai/lib/acp-session-history.ts
  src/features/ai/tests/acp-prompt.test.ts
  src/features/ai/tests/acp-session-history.test.ts
Due: typescript-check, biome-check

Delete a rejected agent-created file even with unsaved edits
  src/features/ai/services/agent-edits-service.ts
  src/features/ai/tests/agent-edits-service.test.ts
Due: typescript-check, biome-check

Keep agent edit review consistent when two chats edit one file
  src/features/ai/services/agent-edits-service.ts
  src/features/ai/tests/agent-edits-service.test.ts
Due: typescript-check, biome-check

Keep or reject agent hunks from the editor
  src/features/ai/lib/agent-edit-lenses.ts
  src/features/ai/tests/agent-edit-lenses.test.ts
  src/features/editor/components/monaco-editor.tsx
  src/features/editor/engines/monaco/agent-edits-code-lens.ts
Due: typescript-check, biome-check
