Repository athasdev/athas: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-fmt-workspace, typescript-check, biome-check

rust-fmt-workspace:
  name: Rust format (workspace)
  entry: cargo fmt
  args:
  - --all
  - --check
  language: system
  pass_filenames: false

typescript-check:
  name: TypeScript check
  entry: bun
  args:
  - typecheck
  language: system
  pass_filenames: false

biome-check:
  name: Biome check
  entry: bun
  args:
  - check
  - --write
  language: system
  pass_filenames: false

Keep empty panes visually quiet
  src/features/panes/components/pane-container.tsx
  src/features/panes/tests/pane-container.test.tsx
Due: typescript-check, biome-check

Bound Codex session menus
  crates/ai/src/codex/server.rs
  src-tauri/src/commands/ai/codex.rs
  src/features/ai/components/input/chat-preferences-menu.tsx
  src/features/ai/integrations/codex/codex-composer-catalog.ts
  src/features/ai/integrations/codex/codex-types.ts
  src/features/ai/tests/codex-composer-catalog.test.ts
  src/ui/dropdown.tsx
Due: rust-fmt-workspace, typescript-check, biome-check

Load selected Codex conversations
  src/features/ai/integrations/codex/codex-thread-history.ts
  src/features/ai/lib/open-codex-thread.ts
  src/features/ai/stores/ai-chat/ai-chat-store.types.ts
  src/features/ai/stores/ai-chat/chat-actions.ts
  src/features/ai/tests/codex-thread-history.test.ts
  src/features/ai/tests/open-codex-thread.test.ts
Due: typescript-check, biome-check

Use full width for activity rows
  src/features/ai/components/agent-session-sidebar-item.tsx
  src/features/layout/components/sidebar/sidebar-history.tsx
  src/features/layout/components/sidebar/worktree-item.tsx
  src/ui/sidebar.tsx
Due: typescript-check, biome-check

Remove menu density variants
  src/design-system/menu.ts
  src/features/editor/components/toolbar/breadcrumb.tsx
  src/features/github/components/github-notifications-menu.tsx
  src/features/terminal/components/terminal-tab-bar.tsx
  src/features/window/components/account-menu.tsx
  src/ui/combobox.tsx
  src/ui/context-menu.tsx
  src/ui/dropdown.tsx
  src/ui/search.tsx
  src/ui/select.tsx
Due: typescript-check, biome-check

Expose terminal actions directly
  src/features/layout/components/sidebar/sidebar-history.tsx
Due: typescript-check, biome-check

Manage projects from the switcher
  src/features/layout/components/sidebar/main-sidebar.tsx
  src/features/layout/components/sidebar/project-switcher-items.ts
  src/features/layout/components/sidebar/sidebar-projects.tsx
  src/features/layout/tests/project-switcher-items.test.ts
  src/ui/dropdown.tsx
Due: typescript-check, biome-check

Unify AI composer context wiring
  src/features/ai/components/agent-launch-input.tsx
  src/features/ai/components/chat/ai-chat.tsx
  src/features/ai/hooks/use-composer-context-selection.ts
  src/features/ai/tests/composer-context-selection.test.ts
Due: typescript-check, biome-check

Open the remote form from the project switcher
  src/features/keymaps/commands/file-command-actions.ts
  src/features/layout/components/sidebar/main-sidebar.tsx
  src/features/layout/components/sidebar/sidebar-projects.tsx
  src/features/remote/components/connection-form.tsx
  src/features/window/components/project-picker.tsx
  src/features/window/components/title-bar/title-bar.tsx
  src/features/window/stores/ui-state/modal-slice.ts
  src/features/window/tests/project-picker-state.test.ts
Due: typescript-check, biome-check

Centralize file search policy
  src/features/ai/components/input/chat-input-bar.tsx
  src/features/ai/components/mentions/ai-file-selector.tsx
  src/features/ai/components/mentions/file-mention-dropdown.tsx
  src/features/file-search/constants/file-search-limits.ts
  src/features/file-search/tests/categorize-file-search-results.test.ts
  src/features/file-search/tests/file-search-filtering.test.ts
  src/features/file-search/tests/sorted-search-results.test.ts
  src/features/file-search/types/file-search.types.ts
  src/features/file-search/utils/categorize-file-search-results.ts
  src/features/file-search/utils/file-search-filtering.ts
  src/features/file-search/utils/sorted-search-results.ts
  src/features/global-search/constants/ignored-patterns.ts
  src/features/global-search/constants/limits.ts
  src/features/global-search/hooks/use-file-search.ts
  src/features/global-search/hooks/use-keyboard-navigation.ts
  src/features/global-search/services/provider-content-search.ts
  src/features/global-search/types/global-search.types.ts
  src/features/global-search/utils/file-filtering.ts
  src/features/quick-open/components/file-list-item.tsx
  src/features/quick-open/constants/ignored-patterns.ts
  src/features/quick-open/constants/limits.ts
  src/features/quick-open/hooks/use-file-loader.ts
  src/features/quick-open/hooks/use-file-search.ts
  src/features/quick-open/hooks/use-keyboard-navigation.ts
  src/features/quick-open/utils/file-filtering.ts
Due: typescript-check, biome-check

Separate collapsed Activity navigation
  src/features/layout/components/main-layout.tsx
  src/features/layout/components/sidebar/activity-navigation.tsx
  src/features/layout/components/sidebar/main-sidebar.tsx
  src/features/layout/components/sidebar/sidebar-history.tsx
  src/features/layout/components/sidebar/sidebar-pane-selector.tsx
  src/features/layout/components/sidebar/sidebar-pane.tsx
  src/features/layout/hooks/use-activity-navigation-items.tsx
  src/features/layout/tests/activity-navigation.test.tsx
Due: typescript-check, biome-check

Remove redundant secondary menus
  src/features/ai/components/agent-start-view.tsx
  src/features/ai/tests/agent-start-view.test.tsx
  src/features/layout/components/app-update-control.tsx
  src/features/layout/components/sidebar/worktree-item.tsx
  src/features/views/components/views-sidebar.tsx
Due: typescript-check, biome-check

Unify editor command execution
  src-tauri/src/commands/editor/extension_command.rs
  src-tauri/src/commands/editor/format.rs
  src-tauri/src/commands/editor/lint.rs
  src-tauri/src/commands/editor/mod.rs
Due: rust-fmt-workspace

Separate Activity sidebar responsibilities
  src/features/ai/components/agent-session-sidebar-item.tsx
  src/features/layout/components/main-layout.tsx
  src/features/layout/components/sidebar/activity-agent-history.tsx
  src/features/layout/components/sidebar/activity-pinned-items.tsx
  src/features/layout/components/sidebar/activity-sidebar-menu.tsx
  src/features/layout/components/sidebar/activity-sidebar.tsx
  src/features/layout/components/sidebar/activity-terminal-history.tsx
  src/features/layout/components/sidebar/activity-worktree-history.tsx
  src/features/layout/components/sidebar/sidebar-history.tsx
  src/features/layout/components/sidebar/worktree-item.tsx
  src/features/layout/hooks/use-activity-sidebar-resize.ts
  src/features/layout/hooks/use-activity-sidebar-section.ts
  src/features/layout/hooks/use-activity-terminal-items.ts
  src/features/views/components/views-sidebar.tsx
  src/ui/sidebar.tsx
Due: typescript-check, biome-check

Unify managed runtime contracts
  crates/runtime/src/bun.rs
  crates/runtime/src/downloader.rs
  crates/runtime/src/lib.rs
  crates/runtime/src/node.rs
  crates/runtime/src/runtime_version.rs
Due: rust-fmt-workspace

Trim agent session context actions
  src/features/layout/components/sidebar/activity-agent-history.tsx
Due: typescript-check, biome-check

Centralize workspace session encoding
  src/features/editor/stores/buffer-session-persistence.ts
  src/features/file-system/controllers/workspace-session.ts
  src/features/file-system/stores/file-system.store.ts
  src/features/file-system/tests/workspace-session.test.ts
  src/features/window/stores/session.store.ts
  src/features/workspace/persistence/workspace-session-codec.ts
  src/features/workspace/persistence/workspace-session-repository.ts
  src/features/workspace/tests/workspace-session-codec.test.ts
  src/features/workspace/types/workspace-session.types.ts
Due: typescript-check, biome-check

Unify sidebar ownership contracts
  src/design-system/menu.ts
  src/features/database/components/table-sidebar.tsx
  src/features/docker/components/docker-sidebar.tsx
  src/features/file-explorer/components/file-explorer-tree.tsx
  src/features/file-explorer/components/file-navigator-sidebar.tsx
  src/features/git/components/git-commit-files-panel.tsx
  src/features/git/components/git-view.tsx
  src/features/git/components/status/git-status-panel.tsx
  src/features/github/components/github-sidebar-row.tsx
  src/features/layout/components/sidebar/activity-agent-history.tsx
  src/features/layout/components/sidebar/activity-project-dots.tsx
  src/features/layout/components/sidebar/activity-project-switcher.tsx
  src/features/layout/components/sidebar/activity-sidebar.tsx
  src/features/layout/components/sidebar/project-glyph.tsx
  src/features/layout/components/sidebar/sidebar-pane.tsx
  src/features/layout/hooks/use-activity-project-carousel.ts
  src/features/layout/tests/activity-project-switcher.test.tsx
  src/features/outline/components/outline-sidebar.tsx
  src/features/views/components/views-sidebar.tsx
  src/ui/dropdown.tsx
  src/ui/sidebar.tsx
Due: typescript-check, biome-check

Extract workspace directory providers
  src/features/file-system/services/workspace-resource-provider.ts
  src/features/file-system/stores/file-system.store.ts
  src/features/file-system/tests/workspace-resource-provider.test.ts
Due: typescript-check, biome-check

Let sidebar controls size project icons
  src/features/layout/components/sidebar/project-glyph.tsx
Due: typescript-check, biome-check

Remove UI semantic contract checker
  package.json
  scripts/check/frontend.sh
  scripts/check/tests/ui-semantic-contracts.test.ts
  scripts/check/ui-semantic-contracts.ts
Due: typescript-check, biome-check

Route workspace file reads through providers
  src/features/file-system/services/workspace-resource-provider.ts
  src/features/file-system/stores/file-system.store.ts
  src/features/file-system/tests/workspace-resource-provider.test.ts
Due: typescript-check, biome-check

Unify buffer open lifecycle
  src/features/editor/stores/buffer.store.ts
  src/features/editor/tests/buffer-open-lifecycle.test.ts
Due: typescript-check, biome-check

Extract Docker inventory controller
  src/features/docker/components/docker-sidebar.tsx
  src/features/docker/hooks/use-docker-inventory.ts
  src/features/docker/tests/docker-inventory-controller.test.ts
Due: typescript-check, biome-check

Extract Docker log stream controller
  src/features/docker/components/docker-sidebar.tsx
  src/features/docker/hooks/use-docker-container-logs.ts
  src/features/docker/tests/docker-container-logs-controller.test.ts
Due: typescript-check, biome-check

Extract Docker file browser controller
  src/features/docker/components/docker-sidebar.tsx
  src/features/docker/hooks/use-docker-container-files.ts
  src/features/docker/tests/docker-container-files-controller.test.ts
Due: typescript-check, biome-check

Extract Docker registry controller
  src/features/docker/components/docker-sidebar.tsx
  src/features/docker/hooks/use-docker-registry.ts
  src/features/docker/tests/docker-registry-controller.test.ts
Due: typescript-check, biome-check

Extract Docker container archive parser
  src-tauri/src/commands/development/docker.rs
  src-tauri/src/commands/development/docker/container_files.rs
  src-tauri/src/commands/development/docker/tests.rs
Due: rust-fmt-workspace

Extract Docker JSONC normalization
  src-tauri/src/commands/development/docker.rs
  src-tauri/src/commands/development/docker/jsonc.rs
Due: rust-fmt-workspace

Extract Docker project configuration policy
  src-tauri/src/commands/development/docker.rs
  src-tauri/src/commands/development/docker/project_config.rs
  src-tauri/src/commands/development/docker/tests.rs
Due: rust-fmt-workspace

Extract Docker devcontainer configuration
  src-tauri/src/commands/development/docker.rs
  src-tauri/src/commands/development/docker/devcontainer.rs
  src-tauri/src/commands/development/docker/tests.rs
Due: rust-fmt-workspace

Extract Docker process runner
  src-tauri/src/commands/development/docker.rs
  src-tauri/src/commands/development/docker/process.rs
Due: rust-fmt-workspace

Extract closed buffer history policy
  src/features/editor/stores/buffer-closed-history.ts
  src/features/editor/stores/buffer.store.ts
Due: typescript-check, biome-check

Extract file open resource coordination
  src/features/file-system/controllers/file-open-path.ts
  src/features/file-system/services/file-open-resource.ts
  src/features/file-system/stores/file-system.store.ts
  src/features/file-system/tests/file-open-path.test.ts
  src/features/file-system/tests/file-open-resource.test.ts
Due: typescript-check, biome-check

Extract workspace buffer restoration
  src/features/file-system/services/workspace-session-buffer-restore.ts
  src/features/file-system/stores/file-system.store.ts
  src/features/file-system/tests/workspace-session-buffer-restore.test.ts
Due: typescript-check, biome-check

Extract workspace folder restoration
  src/features/file-system/services/workspace-session-folder-restore.ts
  src/features/file-system/stores/file-system.store.ts
  src/features/file-system/tests/workspace-session-folder-restore.test.ts
Due: typescript-check, biome-check

Unify workspace buffer snapshots
  src/features/editor/stores/buffer-session-persistence.ts
  src/features/file-system/stores/file-system.store.ts
  src/features/workspace/persistence/workspace-session-codec.ts
  src/features/workspace/tests/workspace-session-codec.test.ts
Due: typescript-check, biome-check

Extract Docker image dialog
  src/features/docker/components/docker-image-dialog.tsx
  src/features/docker/components/docker-sidebar.tsx
Due: typescript-check, biome-check

Extract Docker container detail panel
  src/features/docker/components/docker-container-detail.tsx
  src/features/docker/components/docker-sidebar.tsx
Due: typescript-check, biome-check

Extract Docker registry section
  src/features/docker/components/docker-registry-section.tsx
  src/features/docker/components/docker-sidebar.tsx
Due: typescript-check, biome-check

Path conditions:
  rust-fmt-workspace: any of: \.rs$
  typescript-check: any of: \.(ts|tsx)$
  biome-check: any of: \.(js|jsx|ts|tsx|json)$
