Repository athasdev/athas: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-fmt-workspace, typescript-check, biome-check

.pre-commit-config.yaml:

# Pre-commit hooks configuration for Rust + TypeScript/React project
# See https://pre-commit.com for more information

repos:
  # Rust hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-toml
      - id: check-json
        exclude: 'tsconfig.*\.json$'
      - id: check-merge-conflict

  # Rust formatting only (clippy/check too heavy for CI)
  - repo: local
    hooks:
      - id: rust-fmt-workspace
        name: Rust format (workspace)
        entry: cargo fmt
        args: ['--all', '--check']
        language: system
        files: '\.rs$'
        pass_filenames: false

  # TypeScript/JavaScript with Biome and type checking
  - repo: local
    hooks:
      - id: typescript-check
        name: TypeScript check
        entry: bun
        args: ['typecheck']
        language: system
        files: \.(ts|tsx)$
        pass_filenames: false
      - id: biome-check
        name: Biome check
        entry: bun
        args: ['check', '--write']
        language: system
        files: \.(js|jsx|ts|tsx|json)$
        pass_filenames: false

  # Commit message validation
  - repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
    rev: v9.18.0
    hooks:
      - id: commitlint
        stages: [commit-msg]
        additional_dependencies: ['@commitlint/cli']

Add runtime manager and language tools infrastructure
  src-tauri/src/commands/development/mod.rs
  src-tauri/src/commands/development/runtime.rs
  src-tauri/src/commands/development/tools.rs
  src-tauri/src/features/mod.rs
  src-tauri/src/features/runtime/bun.rs
  src-tauri/src/features/runtime/mod.rs
  src-tauri/src/features/tools/installer.rs
  src-tauri/src/features/tools/mod.rs
  src-tauri/src/features/tools/registry.rs
  src-tauri/src/features/tools/types.rs
Due: rust-fmt-workspace

Add Lua and Rust language support with CDN improvements
  src/extensions/languages/language-packager.ts
  src/extensions/languages/language-provider.ts
  src/extensions/languages/language-registry.ts
  src/extensions/languages/lua-extension.ts
  src/extensions/languages/rust-extension.ts
Due: typescript-check, biome-check

Add find/replace, minimap, and multi-cursor improvements
  src/features/editor/components/code-editor.tsx
  src/features/editor/components/editor.tsx
  src/features/editor/components/layers/multi-cursor-layer.tsx
  src/features/editor/components/minimap/minimap-canvas.tsx
  src/features/editor/components/minimap/minimap.tsx
  src/features/editor/components/toolbar/find-bar.tsx
  src/features/editor/stores/minimap-store.ts
  src/features/editor/stores/ui-store.ts
  src/features/editor/utils/search.ts
Due: typescript-check, biome-check

Fix tokenizer bypass by checking extension installation
  src/features/editor/hooks/use-tokenizer.ts
Due: typescript-check, biome-check

Update Discord invite link
  README.md
Due: none

Add new tab view
  src/features/ai/components/agent-tab.tsx
  src/features/editor/stores/buffer-store.ts
  src/features/layout/components/empty-editor-state.tsx
  src/features/layout/components/main-layout.tsx
  src/features/tabs/components/global-new-tab-menu.tsx
  src/features/tabs/components/new-tab-menu.tsx
  src/features/tabs/components/tab-bar-item.tsx
  src/features/tabs/components/tab-bar.tsx
  src/features/tabs/types/buffer.ts
  src/features/terminal/components/terminal-tab.tsx
  src/features/terminal/components/terminal.tsx
  src/features/terminal/stores/custom-actions-store.ts
  src/features/terminal/styles/terminal.css
  src/features/web-viewer/components/web-viewer.tsx
Due: typescript-check, biome-check

Update viewport adjustments to account for zoom level
  src/App.tsx
  src/utils/fit-viewport.ts
Due: typescript-check, biome-check

Fix sidebar toggle performance by using CSS visibility
  src/features/layout/components/main-layout.tsx
  src/features/layout/components/sidebar/main-sidebar.tsx
Due: typescript-check, biome-check

Revamped Git Interface (#515)
  src-tauri/src/commands/vcs/git/stash.rs
  src/features/file-system/controllers/file-watcher-store.ts
  src/features/layout/components/main-layout.tsx
  src/features/layout/components/sidebar/main-sidebar.tsx
  src/features/version-control/git/components/actions-menu.tsx
  src/features/version-control/git/components/commit-history.tsx
  src/features/version-control/git/components/file-item.tsx
  src/features/version-control/git/components/stash-message-modal.tsx
  src/features/version-control/git/components/stash-panel.tsx
  src/features/version-control/git/components/status-panel.tsx
  src/features/version-control/git/components/view.tsx
  src/features/version-control/git/controllers/git.ts
  src/features/version-control/git/controllers/store.ts
Due: rust-fmt-workspace, typescript-check, biome-check

Fix terminal toggle keybinding (cmd + `) not working on macOs
  src-tauri/src/menu.rs
  src/features/keymaps/utils/matcher.ts
Due: rust-fmt-workspace, typescript-check, biome-check

Use system WebKitGTK in AppImage to fix EGL errors
  src-tauri/appimage-hooks/AppRun.wrapped
  src-tauri/appimage-hooks/linuxdeploy-plugin-gtk.sh
  src-tauri/tauri.conf.json
Due: biome-check

Add keyboard shortcuts for web viewer
  src-tauri/src/commands/ui/window.rs
  src-tauri/src/main.rs
  src/features/web-viewer/components/web-viewer.tsx
Due: rust-fmt-workspace, typescript-check, biome-check

Improve ACP agent protocol handling
  src-tauri/packages/interceptor/src/proxy.rs
  src-tauri/src/commands/ai/acp.rs
  src-tauri/src/features/ai/acp/bridge.rs
  src-tauri/src/features/ai/acp/client.rs
  src-tauri/src/features/ai/acp/config.rs
  src-tauri/src/features/ai/acp/types.rs
Due: rust-fmt-workspace

Enhance AI chat with permission handling and ACP events
  src/features/ai/components/chat/ai-chat.tsx
  src/features/ai/components/chat/chat-header.tsx
  src/features/ai/components/chat/chat-message.tsx
  src/features/ai/components/chat/chat-messages.tsx
  src/features/ai/components/input/chat-input-bar.tsx
  src/features/ai/components/selectors/model-provider-selector.tsx
  src/features/ai/components/selectors/model-selector-dropdown.tsx
  src/features/ai/hooks/use-chat-store.ts
  src/features/ai/store/store.ts
  src/features/ai/store/types.ts
  src/features/ai/types/ai-chat.ts
  src/features/ai/types/providers.ts
  src/utils/acp-handler.ts
  src/utils/ai-chat.ts
Due: typescript-check, biome-check

Add split view editor panes
  src/features/editor/components/code-editor.tsx
  src/features/editor/stores/buffer-store.ts
  src/features/file-explorer/hooks/use-drag-drop.ts
  src/features/layout/components/main-layout.tsx
  src/features/layout/components/resizable-pane.tsx
  src/features/panes/components/pane-container.tsx
  src/features/panes/components/pane-resize-handle.tsx
  src/features/panes/components/split-view-root.tsx
  src/features/panes/constants/pane.ts
  src/features/panes/hooks/use-pane-keyboard.ts
  src/features/panes/stores/pane-store.ts
  src/features/panes/types/pane.ts
  src/features/panes/utils/pane-tree.ts
  src/features/tabs/components/tab-bar.tsx
  src/features/tabs/components/tab-context-menu.tsx
  src/features/web-viewer/components/web-viewer.tsx
  src/features/window/hooks/use-menu-events-wrapper.ts
  src/vite-env.d.ts
Due: typescript-check, biome-check

Clean up logging and add initialization guards
  src/features/ai/components/chat/ai-chat.tsx
  src/features/editor/hooks/use-lsp-initialization.ts
  src/features/file-system/controllers/store.ts
  src/features/git/hooks/use-gutter.ts
  src/features/keymaps/init.ts
  src/stores/font-store.ts
  src/utils/providers/ollama-provider.ts
Due: typescript-check, biome-check

Fix backdrop click handling in theme selectors
  src/features/command-palette/components/icon-theme-selector.tsx
  src/features/command-palette/components/theme-selector.tsx
  src/ui/command.tsx
Due: typescript-check, biome-check

Resolve file selection bug and standardize backdrop closing (#518)
  src/features/command-bar/components/command-bar.tsx
  src/features/command-bar/hooks/use-command-bar.ts
  src/features/command-palette/components/icon-theme-selector.tsx
  src/features/command-palette/components/theme-selector.tsx
  src/features/vim/components/vim-command-bar.tsx
  src/ui/command.tsx
Due: typescript-check, biome-check

Update viewport adjustments to account for zoom level (#519)
  src/App.tsx
  src/utils/fit-viewport.ts
Due: typescript-check, biome-check

Fix terminal toggle keybinding (cmd + `) not working on MacOS (#522)
  src-tauri/src/menu.rs
  src/features/keymaps/utils/matcher.ts
Due: rust-fmt-workspace, typescript-check, biome-check

Use system WebKitGTK in AppImage to fix EGL errors on Linux (#523)
  src-tauri/appimage-hooks/AppRun.wrapped
  src-tauri/appimage-hooks/linuxdeploy-plugin-gtk.sh
  src-tauri/tauri.conf.json
Due: biome-check

Open terminal in current folder context
  src/features/editor/stores/buffer-store.ts
  src/features/file-explorer/components/file-tree.tsx
  src/features/panes/components/pane-container.tsx
  src/features/tabs/components/tab-context-menu.tsx
  src/features/terminal/components/terminal-tab.tsx
  src/features/terminal/components/terminal.tsx
Due: typescript-check, biome-check

Fix right sidebar slow opening when terminal is open
  src/App.tsx
  src/features/layout/components/main-layout.tsx
  src/styles.css
Due: typescript-check, biome-check

Add minimap toggle setting with keyboard shortcut and theme-aware colors
  docs/customization/minimap.md
  src/features/editor/components/editor.tsx
  src/features/editor/components/minimap/minimap-canvas.tsx
  src/features/editor/stores/minimap-store.ts
  src/features/keymaps/commands/command-registry.ts
  src/features/keymaps/defaults/default-keymaps.ts
  src/features/settings/components/tabs/editor-settings.tsx
  src/features/settings/config/search-index.ts
  src/features/settings/store.ts
Due: typescript-check, biome-check

Fix custom actions store functions lost after localStorage hydration
  src/features/terminal/stores/custom-actions-store.ts
Due: typescript-check, biome-check

Add file copy/cut/paste with cross-window clipboard sharing
  src-tauri/src/commands/project/clipboard.rs
  src-tauri/src/commands/project/fs.rs
  src-tauri/src/commands/project/mod.rs
  src-tauri/src/main.rs
  src/App.tsx
  src/features/file-explorer/components/file-tree-item.tsx
  src/features/file-explorer/components/file-tree.tsx
  src/features/file-explorer/stores/file-clipboard-listener.ts
  src/features/file-explorer/stores/file-clipboard-store.ts
  src/features/file-explorer/types/index.ts
Due: rust-fmt-workspace, typescript-check, biome-check

Rename minimap doc and add Workspaces page
  docs/minimap.md
  docs/workspaces.md
Due: none

Fix lines splitting by using a regex for newlines
  src/features/editor/utils/lines.ts
Due: typescript-check, biome-check

Consolidate platform detection into single source of truth
  src/extensions/core/registry.ts
  src/extensions/languages/full-extensions.ts
  src/extensions/registry/extension-registry.ts
  src/features/file-explorer/components/file-tree.tsx
  src/features/file-system/controllers/platform.ts
  src/features/keymaps/commands/command-registry.ts
  src/features/keymaps/hooks/use-keybinding-recorder.ts
  src/features/keymaps/utils/command-to-action.tsx
  src/features/keymaps/utils/parser.ts
  src/features/keymaps/utils/platform.ts
  src/features/layout/components/bottom-pane/bottom-pane.tsx
  src/features/panes/hooks/use-pane-keyboard.ts
  src/features/window/custom-title-bar.tsx
  src/features/window/hooks/use-platform-setup.ts
  src/features/window/menu-bar/menu-item.tsx
  src/features/window/window-resize-border.tsx
  src/hooks/use-platform.ts
  src/utils/platform.ts
Due: typescript-check, biome-check

Remove +/- prefix symbols from diff views
  src/features/editor/components/diff/inline-diff.tsx
  src/features/git/components/diff/line.tsx
Due: typescript-check, biome-check

Support commit and stash diff paths in diff viewer
  src/features/git/components/diff/viewer.tsx
  src/features/git/hooks/use-diff-data.ts
Due: typescript-check, biome-check

Modularize styles.css into feature-based modules
  src/styles.css
  src/styles/base.css
  src/styles/fonts.css
  src/styles/layout.css
  src/styles/scrollbars.css
  src/styles/theme.css
  src/styles/tokens.css
  src/styles/utilities.css
Due: none

Add authentication
  src-tauri/capabilities/main.json
  src-tauri/src/commands/ai/auth.rs
  src-tauri/src/commands/ai/mod.rs
  src-tauri/src/commands/ui/window.rs
  src-tauri/src/main.rs
  src/App.tsx
  src/features/window/components/account-menu.tsx
  src/features/window/custom-title-bar.tsx
  src/hooks/use-deep-link.ts
  src/stores/auth-store.ts
  src/utils/auth-api.ts
Due: rust-fmt-workspace, typescript-check, biome-check

Fix app freeze when viewing large commit diffs
  src/features/git/components/diff/header.tsx
  src/features/git/components/diff/hunk-header.tsx
  src/features/git/components/diff/multi-file.tsx
  src/features/git/components/diff/text.tsx
  src/features/git/components/inline-blame.tsx
  src/features/git/components/view.tsx
  src/features/git/hooks/use-diff-data.ts
  src/features/git/types/diff.ts
  src/features/git/utils/diff-helpers.ts
Due: typescript-check, biome-check

Add .editorconfig integration
  Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/commands/editor/editorconfig.rs
  src-tauri/src/commands/editor/mod.rs
  src-tauri/src/main.rs
  src/features/editor/api/editorconfig.ts
  src/features/editor/components/editor.tsx
  src/features/editor/hooks/use-resolved-settings.ts
  src/features/editor/stores/editorconfig-store.ts
Due: rust-fmt-workspace, typescript-check, biome-check

Fix extension store not remembering installed extensions
  src/extensions/registry/extension-store.ts
  src/features/editor/stores/buffer-store.ts
Due: typescript-check, biome-check

Fix lines splitting by using a regex for newlines (#524)
  src/features/editor/utils/lines.ts
Due: typescript-check, biome-check

Clean up settings tabs and expose missing controls
  src/features/settings/components/tabs/advanced-settings.tsx
  src/features/settings/components/tabs/ai-settings.tsx
  src/features/settings/components/tabs/general-settings.tsx
  src/features/settings/config/features.ts
  src/features/settings/store.ts
Due: typescript-check, biome-check
