Repository athasdev/athas: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-fmt-workspace, typescript-check, biome-check

.pre-commit-config.yaml:

# Pre-commit hooks configuration for Rust + TypeScript/React project
# See https://pre-commit.com for more information

repos:
  # Rust hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-toml
      - id: check-json
        exclude: 'tsconfig.*\.json$'
      - id: check-merge-conflict

  # Rust formatting only (clippy/check too heavy for CI)
  - repo: local
    hooks:
      - id: rust-fmt-workspace
        name: Rust format (workspace)
        entry: cargo fmt
        args: ['--all', '--check']
        language: system
        files: '\.rs$'
        pass_filenames: false

  # TypeScript/JavaScript with Biome and type checking
  - repo: local
    hooks:
      - id: typescript-check
        name: TypeScript check
        entry: bun
        args: ['typecheck']
        language: system
        files: \.(ts|tsx)$
        pass_filenames: false
      - id: biome-check
        name: Biome check
        entry: bun
        args: ['check', '--write']
        language: system
        files: \.(js|jsx|ts|tsx|json)$
        pass_filenames: false

  # Commit message validation
  - repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
    rev: v9.18.0
    hooks:
      - id: commitlint
        stages: [commit-msg]
        additional_dependencies: ['@commitlint/cli']

Add CLI deep link scheme fallbacks
  src-tauri/src/commands/development/cli.rs
Due: rust-fmt-workspace

Add terminal Nerd Font fallbacks
  src/features/settings/components/tabs/terminal-settings.tsx
  src/features/terminal/tests/resolve-font.test.ts
  src/features/terminal/utils/resolve-font.ts
  src/features/terminal/utils/terminal-fonts.ts
Due: typescript-check, biome-check

Allow embedded webview focus restore
  src-tauri/capabilities/main.json
Due: biome-check

Add local history and fix editor undo redo
  src-tauri/src/commands/project/local_history.rs
  src-tauri/src/commands/project/mod.rs
  src-tauri/src/main.rs
  src/features/command-palette/components/command-palette.tsx
  src/features/command-palette/constants/file-actions.tsx
  src/features/command-palette/models/view.types.ts
  src/features/editor/components/toolbar/breadcrumb.tsx
  src/features/editor/components/toolbar/file-path-breadcrumb.tsx
  src/features/editor/extensions/api.ts
  src/features/editor/stores/editor-app-store.ts
  src/features/editor/stores/history-store.ts
  src/features/editor/tests/history-store.test.ts
  src/features/file-explorer/hooks/use-file-explorer-context-menu.tsx
  src/features/keymaps/commands/command-registry.ts
  src/features/local-history/api/local-history-api.ts
  src/features/local-history/components/local-history-command.tsx
  src/features/local-history/store/local-history-store.ts
  src/features/local-history/utils/local-history-diff.ts
  src/features/local-history/utils/open-local-history.ts
  src/features/vim/stores/vim-editing.ts
Due: rust-fmt-workspace, typescript-check, biome-check

Keep editor cursor visible while moving
  src/features/editor/components/layers/multi-cursor-layer.tsx
  src/features/editor/components/layers/primary-cursor-layer.tsx
  src/features/editor/components/layers/vim-cursor-layer.tsx
Due: typescript-check, biome-check

Add editor view layout for wrapped overlays
  src/features/editor/components/editor.tsx
  src/features/editor/components/layers/input-layer.tsx
  src/features/editor/components/layers/primary-cursor-layer.tsx
  src/features/editor/components/layers/search-highlight-layer.tsx
  src/features/editor/components/layers/selection-layer.tsx
  src/features/editor/components/layers/vim-cursor-layer.tsx
  src/features/editor/tests/selection-boxes.test.ts
  src/features/editor/tests/view-layout.test.ts
  src/features/editor/utils/selection-boxes.ts
  src/features/editor/view-model/view-layout.ts
Due: typescript-check, biome-check

Use view layout for wrapped multi cursors
  src/features/editor/components/editor.tsx
  src/features/editor/components/layers/multi-cursor-layer.tsx
Due: typescript-check, biome-check

Use view layout for wrapped editor hints
  src/features/editor/components/editor.tsx
  src/features/editor/components/layers/definition-link-layer.tsx
Due: typescript-check, biome-check

Resolve wrapped editor mouse positions through view layout
  src/features/editor/components/code-editor.tsx
  src/features/editor/components/editor.tsx
  src/features/editor/hooks/use-lsp-integration.ts
  src/features/editor/lsp/use-definition-link.ts
  src/features/editor/lsp/use-go-to-definition.ts
  src/features/editor/lsp/use-hover.ts
  src/features/editor/tests/view-layout.test.ts
  src/features/editor/view-model/view-layout.ts
Due: typescript-check, biome-check

Use view layout for wrapped model-position overlays
  src/features/editor/components/code-editor.tsx
  src/features/editor/components/editor.tsx
  src/features/editor/components/layers/git-blame-layer.tsx
  src/features/editor/lsp/rename-input.tsx
  src/features/editor/lsp/signature-help-tooltip.tsx
  src/features/editor/view-model/view-layout.ts
Due: typescript-check, biome-check

Use view layout for wrapped code lenses
  src/features/editor/components/code-editor.tsx
  src/features/editor/lsp/code-lens-overlay.tsx
Due: typescript-check, biome-check

Use view layout for wrapped editor navigation
  src/features/editor/components/code-editor.tsx
  src/features/editor/components/editor.tsx
  src/features/editor/hooks/use-inline-edit.ts
Due: typescript-check, biome-check

Group editor typing into undo stops
  src/features/editor/history/undo-grouping.ts
  src/features/editor/stores/editor-app-store.ts
  src/features/editor/stores/history-store.ts
  src/features/editor/tests/history-store.test.ts
  src/features/editor/tests/undo-grouping.test.ts
Due: typescript-check, biome-check

Support nested gitignore in file tree
  src/features/file-explorer/components/file-explorer-tree.tsx
  src/features/file-explorer/lib/file-tree-gitignore.ts
  src/features/file-explorer/tests/file-tree-gitignore.test.ts
  src/features/settings/components/tabs/file-tree-settings.tsx
  src/features/settings/config/search-index.ts
Due: typescript-check, biome-check

Route macOS menu undo through editor history
  src/features/window/hooks/use-menu-events-wrapper.ts
Due: typescript-check, biome-check

Preserve editor undo base content
  src/features/editor/components/code-editor.tsx
  src/features/editor/components/editor.tsx
  src/features/editor/stores/editor-app-store.ts
  src/features/editor/stores/state-store.ts
Due: typescript-check, biome-check

Bypass native textarea undo in editor
  src/features/editor/components/editor.tsx
  src/features/editor/components/layers/input-layer.tsx
Due: typescript-check, biome-check

Fix command palette shortcut handling
  src-tauri/src/app_setup.rs
  src-tauri/src/commands/ui/window.rs
  src-tauri/src/menu.rs
  src/features/keymaps/hooks/use-keymaps.ts
  src/features/keymaps/tests/native-menu-accelerators.test.ts
  src/features/keymaps/utils/native-menu-accelerators.ts
  src/features/window/components/menu-bar/window-menu-bar.tsx
Due: rust-fmt-workspace, typescript-check, biome-check

Align editor undo grouping with model edits
  src/features/editor/components/editor.tsx
  src/features/editor/components/layers/input-layer.tsx
  src/features/editor/history/undo-grouping.ts
  src/features/editor/tests/undo-grouping.test.ts
Due: typescript-check, biome-check

Simplify help menu
  src-tauri/src/app_setup.rs
  src-tauri/src/menu.rs
  src/features/window/components/menu-bar/window-menu-bar.tsx
  src/features/window/hooks/use-menu-events-wrapper.ts
  src/features/window/hooks/use-menu-events.ts
Due: rust-fmt-workspace, typescript-check, biome-check

Store cursor state in editor undo groups
  src/features/editor/components/code-editor.tsx
  src/features/editor/components/editor.tsx
  src/features/editor/extensions/api.ts
  src/features/editor/extensions/types.ts
  src/features/editor/history/undo-grouping.ts
  src/features/editor/stores/editor-app-store.ts
  src/features/editor/stores/state-store.ts
  src/features/editor/tests/undo-grouping.test.ts
Due: typescript-check, biome-check

Expand application menus
  src-tauri/src/app_setup.rs
  src-tauri/src/menu.rs
  src/features/keymaps/utils/native-menu-accelerators.ts
  src/features/window/components/menu-bar/window-menu-bar.tsx
  src/features/window/hooks/use-menu-events-wrapper.ts
  src/features/window/hooks/use-menu-events.ts
Due: rust-fmt-workspace, typescript-check, biome-check

Stabilize editor undo history
  src/features/editor/history/undo-group-tracker.ts
  src/features/editor/hooks/use-editor-keydown.ts
  src/features/editor/stores/editor-app-store.ts
  src/features/editor/tests/undo-group-tracker.test.ts
Due: typescript-check, biome-check

Fix JavaScript LSP TypeScript dependency
  crates/tooling/src/installer.rs
Due: rust-fmt-workspace

Harden language server startup and formatting
  crates/lsp/src/client.rs
  crates/lsp/src/manager.rs
  crates/tooling/src/installer.rs
  crates/tooling/src/registry.rs
  crates/tooling/src/types.rs
  src-tauri/src/commands/ai/acp.rs
  src-tauri/src/commands/development/lsp/commands.rs
  src-tauri/src/commands/development/lsp/types.rs
  src-tauri/src/main.rs
  src/extensions/languages/language-packager.ts
  src/extensions/registry/extension-store-runtime.test.ts
  src/extensions/registry/extension-store-runtime.ts
  src/extensions/types/extension-manifest.ts
  src/features/editor/formatter/formatter-service.ts
  src/features/editor/lsp/lsp-client.ts
  src/features/editor/stores/editor-app-store.ts
Due: rust-fmt-workspace, typescript-check, biome-check

Standardize syntax highlighting assets
  public/tree-sitter/parsers/dockerfile/highlights.scm
  public/tree-sitter/parsers/dockerfile/parser.wasm
  public/tree-sitter/parsers/elm/highlights.scm
  public/tree-sitter/parsers/elm/parser.wasm
  public/tree-sitter/parsers/graphql/highlights.scm
  public/tree-sitter/parsers/graphql/parser.wasm
  public/tree-sitter/parsers/protobuf/highlights.scm
  public/tree-sitter/parsers/protobuf/parser.wasm
  public/tree-sitter/parsers/ql/highlights.scm
  public/tree-sitter/parsers/ql/parser.wasm
  public/tree-sitter/parsers/terraform/highlights.scm
  public/tree-sitter/parsers/terraform/parser.wasm
  public/tree-sitter/parsers/xml/highlights.scm
  public/tree-sitter/parsers/xml/parser.wasm
  src/extensions/languages/language-packager.ts
  src/extensions/registry/extension-store-lifecycle.ts
  src/extensions/registry/extension-store-runtime.ts
  src/features/editor/components/editor.tsx
  src/features/editor/extensions/builtin/syntax-highlighting.ts
  src/features/editor/hooks/use-tokenizer.ts
  src/features/editor/lib/wasm-parser/capture-map.ts
  src/features/editor/lib/wasm-parser/extension-assets.ts
  src/features/editor/lib/wasm-parser/loader.ts
  src/features/editor/lib/wasm-parser/tokenizer-worker-client.ts
  src/features/editor/lib/wasm-parser/tokenizer-worker.ts
  src/features/editor/lib/wasm-parser/tokenizer.ts
  src/features/editor/lib/wasm-parser/types.ts
  src/features/editor/lsp/hover-tooltip-highlight.ts
  src/features/editor/tests/extension-assets.test.ts
  src/features/editor/tests/language-id.test.ts
  src/features/editor/utils/language-id.ts
Due: typescript-check, biome-check

Fix AI context selector crash
  src/features/ai/components/mentions/ai-file-selector.tsx
  src/features/ai/components/selectors/context-selector.tsx
  src/ui/command.tsx
Due: typescript-check, biome-check

Prepare preview release
  Cargo.lock
  package.json
  src-tauri/Cargo.toml
  src-tauri/tauri.conf.json
Due: biome-check

Add OpenAI-compatible AI provider support
  src/features/ai/components/input/chat-input-bar.tsx
  src/features/ai/components/selectors/model-selector.tsx
  src/features/ai/services/ai-chat-service.ts
  src/features/ai/services/providers/ai-provider-registry.ts
  src/features/ai/services/providers/openai-compatible-provider.ts
  src/features/ai/types/providers.ts
  src/features/editor/components/inline-edit-model-selector.tsx
  src/features/editor/hooks/use-inline-edit.ts
  src/features/editor/services/editor-autocomplete-service.ts
  src/features/settings/components/tabs/ai-settings.tsx
  src/features/settings/config/default-settings.ts
  src/features/settings/config/search-index.ts
  src/features/settings/lib/settings-effects.ts
  src/features/settings/lib/settings-normalization.ts
  src/features/settings/lib/settings-sync.ts
  src/features/settings/tests/settings-normalization.test.ts
  src/features/settings/types/settings.ts
Due: typescript-check, biome-check

Improve extension marketplace installation
  Cargo.lock
  Cargo.toml
  crates/ai/src/acp/bridge.rs
  crates/ai/src/acp/config.rs
  crates/ai/src/acp/types.rs
  crates/database/Cargo.toml
  crates/database/src/sidecar.rs
  crates/extensions/src/installer.rs
  src-tauri/Cargo.toml
  src-tauri/src/commands/ai/acp.rs
  src-tauri/src/commands/database/sidecar.rs
  src-tauri/src/main.rs
  src/extensions/database/database-provider-extensions.ts
  src/extensions/marketplace/marketplace-extensions.ts
  src/extensions/registry/extension-store-lifecycle.ts
  src/extensions/registry/extension-store.ts
  src/extensions/types/extension-manifest.ts
  src/features/ai/components/chat/ai-chat.tsx
  src/features/ai/components/multi-agents-sidebar-view.tsx
  src/features/ai/components/selectors/agent-selector.tsx
  src/features/ai/services/ai-chat-service.ts
  src/features/ai/types/ai-chat.ts
  src/features/ai/types/providers.ts
  src/features/database/components/connection/connection-dialog.tsx
  src/features/settings/components/tabs/ai-settings.tsx
  src/features/settings/components/tabs/extensions-settings.tsx
  src/features/window/hooks/use-deep-link.ts
  src/features/window/tests/deep-link.test.ts
  src/features/window/utils/window-open-request.ts
Due: rust-fmt-workspace, typescript-check, biome-check

Bypass stale extension CDN cache
  src/extensions/marketplace/marketplace-extensions.ts
  src/extensions/registry/extension-store-lifecycle.ts
Due: typescript-check, biome-check

Gate database providers behind features
  crates/database/Cargo.toml
  crates/database/src/connection_manager.rs
  crates/database/src/providers/mod.rs
  crates/database/src/sidecar.rs
  src-tauri/Cargo.toml
Due: rust-fmt-workspace

Clean up database feature warnings
  crates/database/src/connection_manager.rs
  crates/database/src/sidecar.rs
Due: rust-fmt-workspace

Remove database provider feature warnings
  crates/database/src/connection_manager.rs
  crates/database/src/sidecar.rs
Due: rust-fmt-workspace

Fix Linux Wayland window resize
  src-tauri/capabilities/main.json
  src/features/window/components/window-resize-border.tsx
Due: typescript-check, biome-check

Fix Linux Wayland window resize (#665)
  src-tauri/capabilities/main.json
  src/features/window/components/window-resize-border.tsx
Due: typescript-check, biome-check

Add native Linux package builds
  .gitignore
  package.json
  scripts/release/package-linux-native.sh
  src-tauri/build.rs
  src/extensions/marketplace/marketplace-extensions.ts
Due: rust-fmt-workspace, typescript-check, biome-check

Fix clippy release warnings
  crates/database/src/sidecar.rs
  crates/debugger/src/lib.rs
  crates/version-control/src/git/stash.rs
  src-tauri/src/commands/ai/acp.rs
  src-tauri/src/commands/ui/window.rs
Due: rust-fmt-workspace

Stabilize terminal mount across pane moves and splits
  src/features/layout/components/main-layout.tsx
  src/features/panes/components/pane-container.tsx
  src/features/terminal/components/terminal-container.tsx
  src/features/terminal/components/terminal-host.tsx
  src/features/terminal/components/terminal-session.tsx
  src/features/terminal/components/terminal-slot.tsx
  src/features/terminal/components/terminal-tab.tsx
  src/features/terminal/components/terminal.tsx
  src/features/terminal/hooks/use-terminal-connection.ts
  src/features/terminal/stores/terminal-slots-store.ts
  src/features/terminal/stores/terminal-store.ts
  src/features/terminal/tests/terminal-store-snapshot.test.ts
  src/features/terminal/types/terminal.ts
Due: typescript-check, biome-check

Prepare release
  Cargo.lock
  package.json
  src-tauri/Cargo.toml
  src-tauri/tauri.conf.json
Due: biome-check
