Repository athasdev/athas: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-fmt-workspace, typescript-check, biome-check

rust-fmt-workspace:
  name: Rust format (workspace)
  entry: cargo fmt
  args:
  - --all
  - --check
  language: system
  pass_filenames: false

typescript-check:
  name: TypeScript check
  entry: bun
  args:
  - typecheck
  language: system
  pass_filenames: false

biome-check:
  name: Biome check
  entry: bun
  args:
  - check
  - --write
  language: system
  pass_filenames: false

Feat: hydrate Pi native runtime controls
  TEMP_AGENT_HANDOFF_2026-03-26.md
  src-tauri/pi-native-host/index.mjs
  src-tauri/pi-native-host/session-runtime.mjs
  src-tauri/pi-native-host/session-runtime.test.js
  src-tauri/src/commands/ai/pi_native.rs
  src-tauri/src/features/ai/mod.rs
  src-tauri/src/features/ai/pi_native/bridge.rs
  src-tauri/src/features/ai/pi_native/mod.rs
  src-tauri/src/features/ai/pi_native/types.rs
  src-tauri/src/main.rs
  src/features/ai/components/chat/ai-chat.tsx
  src/features/ai/components/input/chat-input-bar.tsx
  src/features/ai/components/selectors/pi-native-runtime-controls.tsx
  src/features/ai/hooks/use-chat-store.ts
  src/features/ai/lib/harness-runtime.test.ts
  src/features/ai/lib/harness-runtime.ts
  src/features/ai/store/store.ts
  src/features/ai/store/types.ts
  src/features/ai/types/ai-chat.ts
  src/utils/pi-native-handler.ts
Due: rust-fmt-workspace, typescript-check, biome-check

Fix: handle pi-native slash commands and permissions
  src/utils/pi-native-handler.test.ts
  src/utils/pi-native-handler.ts
  src/utils/pi-native-prompt.ts
Due: typescript-check, biome-check

Docs: refresh pi-native permission handoff
  TEMP_AGENT_HANDOFF_2026-03-26.md
Due: none

Feat: add Harness session UX actions
  src/features/ai/components/chat/ai-chat.tsx
  src/features/ai/components/chat/chat-header.tsx
  src/features/ai/components/chat/harness-session-rail.tsx
  src/features/ai/lib/harness-session-actions.test.ts
  src/features/ai/lib/harness-session-actions.ts
Due: typescript-check, biome-check

Fix: seed recent Pi session chats before sync
  src/features/ai/components/chat/ai-chat.tsx
  src/features/ai/store/store.test.ts
  src/features/ai/store/store.ts
  src/features/ai/store/types.ts
Due: typescript-check, biome-check

Docs: refresh pi-native session UX handoff
  TEMP_AGENT_HANDOFF_2026-03-26.md
Due: none

Refactor: add shared AI chat surface layout
  src/features/ai/lib/chat-surface-layout.test.ts
  src/features/ai/lib/chat-surface-layout.ts
Due: typescript-check, biome-check

Refactor: restyle AI chat shell around composer
  src/features/ai/components/chat/ai-chat.tsx
  src/features/ai/components/chat/chat-header.tsx
  src/features/ai/components/chat/chat-message.tsx
  src/features/ai/components/chat/chat-messages.tsx
  src/features/ai/components/chat/harness-session-rail.tsx
  src/features/ai/components/input/chat-input-bar.tsx
  src/features/ai/components/selectors/chat-mode-selector.tsx
  src/features/ai/components/selectors/context-selector.tsx
  src/features/ai/components/selectors/unified-agent-selector.tsx
Due: typescript-check, biome-check

Docs: refresh AI chat redesign handoff
  TEMP_AGENT_HANDOFF_2026-03-26.md
Due: none

Docs: add AI chat revamp prompts
  docs/ai-chat-ui-revamp-prompts.md
Due: none

Fix: restore pi-native metadata from transcripts
  docs/ai-assistant.mdx
  src-tauri/pi-native-host/session-transcript.mjs
  src-tauri/pi-native-host/session-transcript.test.js
  src-tauri/src/features/ai/pi_native/types.rs
  src/features/ai/components/chat/ai-chat.tsx
  src/features/ai/components/selectors/session-mode-selector.tsx
  src/features/ai/lib/harness-runtime.test.ts
  src/features/ai/lib/pi-native-restore.test.ts
  src/features/ai/lib/pi-native-restore.ts
  src/ui/dropdown.tsx
  src/utils/pi-native-handler.ts
Due: rust-fmt-workspace, typescript-check, biome-check

Fix: clear pi-native session identity on forks
  docs/ai-assistant.mdx
  src/features/ai/lib/chat-acp-state.test.ts
  src/features/ai/lib/chat-acp-state.ts
  src/features/ai/lib/harness-runtime.test.ts
Due: typescript-check, biome-check

Fix: reuse open pi-native harness sessions
  src/features/ai/components/chat/ai-chat.tsx
  src/features/ai/lib/pi-native-restore.test.ts
  src/features/ai/lib/pi-native-restore.ts
Due: typescript-check, biome-check

Fix: rebind pi-native routes on chat switch
  docs/ai-assistant.mdx
  src/utils/pi-native-handler.test.ts
  src/utils/pi-native-handler.ts
Due: typescript-check, biome-check

Feat: preserve pi-native lineage on restore
  docs/ai-assistant.mdx
  src/features/ai/components/chat/ai-chat.tsx
  src/features/ai/lib/pi-native-restore.test.ts
  src/features/ai/lib/pi-native-restore.ts
  src/features/ai/store/store.test.ts
  src/features/ai/store/store.ts
  src/features/ai/store/types.ts
Due: typescript-check, biome-check

Feat: add pi-native session resource reload
  src-tauri/pi-native-host/index.mjs
  src-tauri/pi-native-host/session-runtime.mjs
  src-tauri/pi-native-host/session-runtime.test.js
  src-tauri/src/commands/ai/pi_native.rs
  src-tauri/src/features/ai/pi_native/bridge.rs
  src-tauri/src/main.rs
Due: rust-fmt-workspace, biome-check

Feat: reload active pi-native session caches
  src/features/settings/lib/pi-settings-runtime.test.ts
  src/features/settings/lib/pi-settings-runtime.ts
  src/utils/pi-native-handler.test.ts
  src/utils/pi-native-handler.ts
Due: typescript-check, biome-check

Feat: auto-refresh shared pi settings state
  src-tauri/pi-native-host/pi-settings.test.js
  src/features/settings/components/tabs/pi-settings-panel.tsx
Due: typescript-check, biome-check

Docs: document shared pi refresh behavior
  docs/ai-assistant.mdx
Due: none

Fix: restore native footer mode controls
  docs/ai-assistant.mdx
  src/features/ai/components/input/chat-input-bar.tsx
  src/features/ai/components/selectors/pi-native-runtime-controls.tsx
  src/features/ai/components/selectors/session-mode-selector.tsx
  src/ui/dropdown.tsx
Due: typescript-check, biome-check

Fix: limit pi-native auto-reconcile to default Harness
  src/features/ai/components/chat/ai-chat.tsx
  src/features/ai/lib/pi-native-restore.test.ts
  src/features/ai/lib/pi-native-restore.ts
Due: typescript-check, biome-check

Fix: start explicit Harness sessions fresh
  src-tauri/pi-native-host/index.mjs
  src-tauri/pi-native-host/session-listing.mjs
  src-tauri/pi-native-host/session-listing.test.js
  src-tauri/src/commands/ai/pi_native.rs
  src-tauri/src/features/ai/pi_native/bridge.rs
  src/utils/pi-native-handler.test.ts
  src/utils/pi-native-handler.ts
Due: rust-fmt-workspace, typescript-check, biome-check

Fix: sync legacy Pi default aliases
  src-tauri/pi-native-host/pi-settings.mjs
  src-tauri/pi-native-host/pi-settings.test.js
Due: biome-check

Fix: preserve explicit pi-native route sessions
  src-tauri/pi-native-host/index.mjs
  src-tauri/pi-native-host/session-listing.mjs
  src-tauri/pi-native-host/session-listing.test.js
Due: biome-check

Fix: restore Harness backend from current settings
  src-tauri/src/features/ai/acp/bridge.rs
  src-tauri/src/features/ai/acp/config.rs
  src/features/ai/lib/harness-entry-backend.test.ts
  src/features/ai/lib/harness-entry-backend.ts
  src/features/file-system/controllers/store.ts
  src/features/settings/store.ts
Due: rust-fmt-workspace, typescript-check, biome-check

Docs: note Pi backend restore and legacy defaults
  docs/ai-assistant.mdx
Due: none

Docs: remove temporary AI chat handoff files
  TEMP_AGENT_HANDOFF_2026-03-26.md
  docs/ai-chat-ui-revamp-prompts.md
Due: none

Refactor: polish AI chat shell
  src/features/ai/components/chat/chat-header.tsx
  src/features/ai/components/chat/chat-message.tsx
  src/features/ai/components/chat/chat-messages.tsx
  src/features/ai/components/chat/harness-session-rail.tsx
  src/features/ai/components/input/chat-input-bar.tsx
  src/features/ai/components/messages/markdown-renderer.tsx
  src/features/ai/components/selectors/chat-mode-selector.tsx
  src/features/ai/components/selectors/context-selector.tsx
  src/features/ai/components/selectors/unified-agent-selector.tsx
  src/features/ai/lib/chat-surface-layout.ts
Due: typescript-check, biome-check

Chore: ignore local AI scaffolding
  .gitignore
Due: none

Improve split pane resize recovery
  src/features/panes/components/pane-resize-handle.tsx
  src/features/panes/constants/pane.ts
Due: typescript-check, biome-check

Auto-rebalance collapsed split panes
  src/features/panes/components/pane-resize-handle.tsx
  src/features/panes/components/split-view-root.tsx
  src/features/panes/constants/pane.ts
  src/features/panes/utils/pane-tree.test.ts
  src/features/panes/utils/pane-tree.ts
Due: typescript-check, biome-check

Format split rebalance pane files
  src/features/panes/components/split-view-root.tsx
  src/features/panes/utils/pane-tree.test.ts
Due: typescript-check, biome-check

Make generic splits open empty panes
  src/features/panes/hooks/use-pane-keyboard.ts
  src/features/panes/stores/pane-store.test.ts
  src/features/tabs/components/tab-bar.tsx
  src/features/window/components/menu-bar/window-menu-bar.tsx
  src/features/window/hooks/use-menu-events-wrapper.ts
Due: typescript-check, biome-check

Format split semantics store test
  src/features/panes/stores/pane-store.test.ts
Due: typescript-check, biome-check

Polish split-pane UI and fix empty pane tab bar
  src/features/layout/components/main-layout.tsx
  src/features/panes/components/pane-container.tsx
  src/features/panes/components/pane-resize-handle.tsx
  src/features/panes/components/split-view-root.tsx
  src/features/tabs/components/tab-bar-item.tsx
  src/features/tabs/components/tab-bar.tsx
Due: typescript-check, biome-check

Clean up Harness session rail UI
  src/features/ai/components/chat/ai-chat.tsx
  src/features/ai/components/chat/harness-session-rail.tsx
  src/features/ai/components/input/chat-input-bar.tsx
  src/features/ai/components/selectors/session-mode-selector.tsx
Due: typescript-check, biome-check

Format Harness rail cleanup
  src/features/ai/components/chat/ai-chat.tsx
Due: typescript-check, biome-check

Path conditions:
  rust-fmt-workspace: any of: \.rs$
  typescript-check: any of: \.(ts|tsx)$
  biome-check: any of: \.(js|jsx|ts|tsx|json)$
