Repository athasdev/athas: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-fmt-workspace, typescript-check, biome-check

rust-fmt-workspace:
  name: Rust format (workspace)
  entry: cargo fmt
  args:
  - --all
  - --check
  language: system
  pass_filenames: false

typescript-check:
  name: TypeScript check
  entry: bun
  args:
  - typecheck
  language: system
  pass_filenames: false

biome-check:
  name: Biome check
  entry: bun
  args:
  - check
  - --write
  language: system
  pass_filenames: false

Cover command palette history and quick open ranking with tests
  src/features/command-palette/tests/action-history-store.test.ts
  src/features/command-palette/tests/command-palette-results.test.ts
  src/features/quick-open/tests/use-file-search.test.tsx
  src/features/quick-open/tests/use-symbol-search.test.tsx
Due: typescript-check, biome-check

Cover keybinding parsing, merging, and dispatch with tests
  src/features/keymaps/tests/effective-keymaps.test.ts
  src/features/keymaps/tests/keymaps-store.test.ts
  src/features/keymaps/tests/matcher.test.ts
  src/features/keymaps/tests/parser.test.ts
  src/features/keymaps/tests/registry.test.ts
  src/features/keymaps/tests/use-keymaps.test.tsx
Due: typescript-check, biome-check

Cover viewer zoom, image edits, CSV, and binary parsing with tests
  src/features/viewer/binary/tests/binary-metadata.test.ts
  src/features/viewer/csv/tests/csv-utils.test.ts
  src/features/viewer/image/tests/image-aspect-ratio.test.ts
  src/features/viewer/image/tests/use-image-operations.test.tsx
  src/features/viewer/tests/use-viewer-zoom.test.tsx
Due: typescript-check, biome-check

Pin the wire format of extension install events
  crates/extensions/src/types.rs
Due: rust-fmt-workspace

Check that shell-quoted remote paths reach sh verbatim
  crates/remote/src/ssh_helpers.rs
Due: rust-fmt-workspace

Allow committing and unstaging in a new repository
  crates/version-control/src/git/commit.rs
  crates/version-control/src/git/staging.rs
  crates/version-control/tests/git_workflows.rs
Due: rust-fmt-workspace

Cover fff search limits, roots and grep details
  crates/fff-search/tests/search_service.rs
Due: rust-fmt-workspace

Reject extension ids that start with a dot
  crates/extensions/src/installer.rs
Due: rust-fmt-workspace

Resolve SSH config options the way OpenSSH does
  crates/remote/src/ssh_helpers.rs
Due: rust-fmt-workspace

Cover staging deleted files
  crates/version-control/tests/git_workflows.rs
Due: rust-fmt-workspace

Fix remote listings that fall back to ls
  crates/remote/src/file_ops.rs
Due: rust-fmt-workspace

Keep pipe characters in stash messages
  crates/version-control/src/git/stash.rs
  crates/version-control/tests/git_workflows.rs
Due: rust-fmt-workspace

Test git commands against temporary repositories
  crates/version-control/tests/git_workflows.rs
Due: rust-fmt-workspace

Harden untrusted input at process, file, and protocol boundaries (#757)
  Cargo.lock
  crates/database/src/connection_manager.rs
  crates/debugger/src/lib.rs
  crates/extensions/Cargo.toml
  crates/extensions/src/installer.rs
  crates/lsp/src/client.rs
  crates/version-control/src/git/host.rs
  crates/version-control/src/git/remote.rs
  src-tauri/src/commands/editor/exec_guard.rs
  src-tauri/src/commands/editor/format.rs
  src-tauri/src/commands/editor/lint.rs
  src/features/debugger/tests/debugger-command.test.ts
  src/features/terminal/components/terminal.tsx
  src/features/terminal/tests/terminal-file-drop.test.ts
  src/features/terminal/utils/terminal-file-drop.ts
Due: rust-fmt-workspace, typescript-check, biome-check

Raise the Rust line coverage floor
  scripts/check/rust-coverage.sh
Due: none

Retry e2e clicks the UI intercepts while it settles
  e2e/support/app.ts
Due: typescript-check, biome-check

Detect keybinding conflicts across the effective keymap
  src/features/keymaps/hooks/use-keybinding-conflicts.ts
  src/features/keymaps/tests/keybinding-conflicts.test.ts
  src/features/keymaps/utils/effective-keymaps.ts
  src/features/keymaps/utils/keybinding-conflicts.ts
Due: typescript-check, biome-check

Remove shortcut collisions from the shipped keymaps
  src/features/keymaps/defaults/default-keymaps.ts
  src/features/keymaps/defaults/keybinding-presets.ts
  src/features/keymaps/tests/keybinding-conflicts.test.ts
Due: typescript-check, biome-check

Read LSP headers case-insensitively
  crates/lsp/src/client.rs
  crates/lsp/src/test_support.rs
Due: rust-fmt-workspace

Fail LSP requests that race a server exit
  crates/lsp/src/client.rs
Due: rust-fmt-workspace

Keep quick-open tests in the tests folder
  src/features/quick-open/tests/use-workspace-symbol-search.test.ts
  src/features/quick-open/utils/file-filtering.test.ts
Due: typescript-check, biome-check

Remove the unused command palette view registry
  src/features/command-palette/components/command-palette.tsx
  src/features/command-palette/services/command-palette-view-registry.tsx
  src/features/command-palette/types/view.types.ts
Due: typescript-check, biome-check

Revert the e2e click retry
  e2e/support/app.ts
Due: typescript-check, biome-check

Build the Flatpak with Flathub's builder app
  .github/workflows/linux-build.yml
  .github/workflows/release.yml
  scripts/release/packaging/linux/flatpak.sh
  scripts/release/tests/linux-packaging.test.ts
Due: typescript-check, biome-check

Install Flatpak build dependencies with the host flatpak
  scripts/release/packaging/linux/flatpak.sh
Due: none

Point the Flatpak builder app at the host installation
  scripts/release/packaging/linux/flatpak.sh
  scripts/release/tests/linux-packaging.test.ts
Due: typescript-check, biome-check

Add a terminal agent CLI that ships beside the desktop app
  .github/workflows/linux-build.yml
  .github/workflows/release.yml
  .gitignore
  Cargo.lock
  Cargo.toml
  crates/agent-cli/Cargo.toml
  crates/agent-cli/src/agent.rs
  crates/agent-cli/src/lib.rs
  crates/agent-cli/src/main.rs
  crates/agent-cli/src/session.rs
  crates/agent-cli/src/tui.rs
  crates/ai/src/chat_history.rs
  crates/ai/src/runtime.rs
  package.json
  scripts/build-agent-sidecar.ts
  scripts/cli.ts
  scripts/release/packaging/linux/native.sh
  scripts/release/packaging/linux/tarball.sh
  scripts/smoke/run.ts
  src-tauri/Cargo.toml
  src-tauri/src/app_setup.rs
  src-tauri/src/commands/development/cli.rs
  src-tauri/src/commands/development/cli_args.rs
  src-tauri/src/main.rs
  src-tauri/tauri.agent.conf.json
  src-tauri/tauri.conf.json
  src/features/window/hooks/use-cli-open.ts
Due: rust-fmt-workspace, typescript-check, biome-check

Prepare the e2e fixture and helpers for wider coverage
  e2e/README.md
  e2e/fixtures/sample-project/src/farewell.ts
  e2e/support/app.ts
  e2e/support/paths.ts
Due: typescript-check, biome-check

Cover tabs, split editors, and closing tabs in e2e tests
  e2e/specs/tabs.e2e.ts
Due: typescript-check, biome-check

Cover settings and theme switching in e2e tests
  e2e/specs/settings.e2e.ts
  e2e/specs/theme.e2e.ts
Due: typescript-check, biome-check

Cover Quick Open and global search in e2e tests
  e2e/specs/global-search.e2e.ts
  e2e/specs/quick-open.e2e.ts
Due: typescript-check, biome-check

Cover the Git view and file explorer edits in e2e tests
  e2e/specs/file-explorer.e2e.ts
  e2e/specs/git.e2e.ts
Due: typescript-check, biome-check

Cover the main workbench flows in e2e tests (#768)
  e2e/README.md
  e2e/fixtures/sample-project/src/farewell.ts
  e2e/specs/file-explorer.e2e.ts
  e2e/specs/git.e2e.ts
  e2e/specs/global-search.e2e.ts
  e2e/specs/quick-open.e2e.ts
  e2e/specs/settings.e2e.ts
  e2e/specs/tabs.e2e.ts
  e2e/specs/theme.e2e.ts
  e2e/support/app.ts
  e2e/support/paths.ts
Due: typescript-check, biome-check

Return the formatted file for file-output formatters (#765)
  src-tauri/src/commands/editor/format.rs
Due: rust-fmt-workspace

Ask about unsaved changes once when closing tabs and windows
  src/features/layout/components/main-layout.tsx
  src/features/tabs/components/pending-buffer-close-dialog.tsx
  src/features/tabs/components/tab-bar-item.tsx
  src/features/tabs/components/tab-bar.tsx
  src/features/tabs/tests/pending-buffer-close-dialog.test.tsx
  src/features/window/components/unsaved-changes-dialog.tsx
  src/features/window/components/window-close-guard.tsx
  src/features/window/services/window-close-session.ts
  src/features/window/tests/unsaved-changes-dialog.test.tsx
  src/features/window/tests/window-close-guard.test.tsx
  src/features/window/tests/window-close-session.test.ts
  src/ui/dialog.tsx
Due: typescript-check, biome-check

Ask before trusting an unknown SSH host key
  crates/remote/src/ssh_helpers.rs
  crates/remote/src/ssh_host_trust.rs
  src-tauri/src/commands/project/remote.rs
  src/features/remote/components/password-prompt-dialog.tsx
  src/features/remote/services/remote-connection-actions.ts
  src/features/remote/services/remote-connection-client.ts
  src/features/remote/services/remote-host-trust.ts
  src/features/remote/tests/remote-command-registration.test.ts
  src/features/remote/tests/remote-host-trust-dialog.test.tsx
  src/features/remote/tests/remote-host-trust.test.ts
  src/features/remote/utils/remote-errors.ts
Due: rust-fmt-workspace, typescript-check, biome-check

Refuse to overwrite files that changed on disk
  Cargo.lock
  crates/project/Cargo.toml
  crates/project/src/file_mutations.rs
  crates/project/src/lib.rs
  crates/project/src/shell_file_mutations.rs
  crates/remote/Cargo.toml
  crates/remote/src/file_ops.rs
  crates/remote/src/lib.rs
  crates/remote/src/sftp_atomic_rename.rs
  crates/remote/tests/ssh/session.rs
  crates/wsl/Cargo.toml
  crates/wsl/src/lib.rs
  src-tauri/src/commands/project/fs.rs
  src-tauri/src/commands/project/wsl.rs
  src-tauri/src/main.rs
  src/bindings/commands.ts
  src/features/editor/services/buffer-store-owner.ts
  src/features/editor/services/editor-save-service.ts
  src/features/editor/stores/editor-app.store.ts
  src/features/editor/tests/editor-save-all.test.ts
  src/features/editor/tests/editor-save-and-close.test.ts
  src/features/file-search/lib/file-search-api.ts
  src/features/file-system/controllers/file-utils.ts
  src/features/file-system/controllers/platform.ts
  src/features/file-system/controllers/remote-workspace.ts
  src/features/file-system/services/workspace-resource-provider.ts
  src/features/file-system/stores/file-system.store.ts
  src/features/file-system/tests/file-open-resource.test.ts
  src/features/file-system/tests/platform-directory-paths.test.ts
  src/features/file-system/tests/platform-text-writes.test.ts
  src/features/file-system/tests/workspace-resource-provider.test.ts
  src/features/file-system/types/interface.types.ts
  src/features/keymaps/commands/file-command-actions.ts
  src/features/keymaps/tests/file-command-actions.test.ts
  src/features/panes/services/pane-content-save-service.ts
  src/features/panes/types/pane-content.types.ts
  src/features/workspace/persistence/workspace-session-save-queue.ts
  src/features/workspace/runtime/workspace-runtime-registry.ts
  src/features/workspace/tests/workspace-session-save-queue.test.ts
Due: rust-fmt-workspace, typescript-check, biome-check

Apply LSP workspace edits only where they were made
  crates/lsp/src/client.rs
  crates/lsp/src/manager.rs
  crates/lsp/src/manager_state.rs
  src-tauri/src/commands/development/lsp/commands.rs
  src/features/diagnostics/components/diagnostics-pane.tsx
  src/features/editor/engines/monaco/lsp-providers.ts
  src/features/editor/lsp/lsp-client.ts
  src/features/editor/lsp/use-rename.ts
  src/features/editor/lsp/workspace-edit.ts
  src/features/editor/tests/lsp-document-sync.test.ts
  src/features/editor/tests/lsp-workspace-edit-ownership.test.ts
  src/features/editor/tests/monaco-lsp-completion.test.ts
  src/features/editor/tests/monaco-refactoring.test.ts
  src/features/editor/tests/rename-lifecycle.test.tsx
  src/features/editor/tests/workspace-edit-application.test.ts
  src/features/editor/tests/workspace-edit.test.ts
Due: rust-fmt-workspace, typescript-check, biome-check

Path conditions:
  rust-fmt-workspace: any of: \.rs$
  typescript-check: any of: \.(ts|tsx)$
  biome-check: any of: \.(js|jsx|ts|tsx|json)$
